@{
    ViewBag.Title = "WDXJ_CZ";
    Layout = "~/Areas/Business/Views/Shared/QT.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/HTGL/WDZJ/WDXJ_CZ.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/HTGL/WDZJ/WDXJ_CZ.js")"></script>
</head>
<body>
    <div class="div_head">
        <table>
            <tr>
                <td>
                    <span class="span_content_info_left" style="font-weight: 700">充值金额：</span>
                </td>
                <td>
                    <input class="input_content" id="inputCZJE" type="text" placeholder="请输入充值金额">
                </td>
                <td>
                    <span class="span_content_info_dy">元</span>
                </td>
                <td>
                    <span class="span_content_info" id="span_content_info_czje"></span>
                </td>
            </tr>
        </table>
    </div>
    <div class="div_content">
        <table>
            <tr>
                <td>
                    <span class="span_content_info_left" style="font-weight: 700">选择支付方式：</span>
                </td>
            </tr>
        </table>
    </div>
    <div class="div_content" style="margin-top: 0px;">
        <div class="divstep" id="divDSFPTZF" style="width: 140px;">
            <span class="spanstep" id="spanDSFPTZF">第三方平台支付</span>
            <em class="emstep" id="emDSFPTZF" style="width: 140px;"></em>
        </div>
        <div class="divstep" id="divWYZF">
            <span class="spanstep" id="spanWYZF">网银支付</span>
            <em class="emstep" id="emWYZF"></em>
        </div>
        <div class="divstep" id="divKJZF">
            <span class="spanstep" id="spanKJZF">快捷支付</span>
            <em class="emstep" id="emKJZF"></em>
        </div>
        <div class="divstep" id="divYHHK">
            <span class="spanstep" id="spanYHHK">银行汇款</span>
            <em class="emstep" id="emYHHK"></em>
        </div>
        <div class="divstep">
            <span class="spanstep" id="spanOther">&nbsp;</span>
            <em class="emstep" id="emOther" style="width: 460px;"></em>
        </div>
    </div>
    <div id="div_main_info" class="div_main_info">
        <div class="div_main_info_body" id="div_main_info_body_dsfptzf">
        </div>
        <div class="div_main_info_body" id="div_main_info_body_wyzf" style="display: block; height: 170px;">
        </div>
        <div class="div_main_info_body" id="div_main_info_body_kjzf" style="display: block; height: 340px;">
        </div>
        <div class="div_main_info_body" id="div_main_info_body_yhhk" style="display: block; height: 340px;">
            <div class="div_main_info_body_yhhk_yhk">
                <div class="div_main_info_body_yhhk_yhk_inner">
                    <img class="img_main_info_body_yhhk_yhk" src="@Url.Content("~/Areas/Business/Css/images/WDZJ/wdxj_cz_yhhk_jsyh.png")"/>
                    <em class="em_main_info_body_yhhk_yhk"></em>
                    <span class="span_main_info_body_yhhk_yhk_hh">6217&nbsp;&nbsp;0018&nbsp;&nbsp;2001&nbsp;&nbsp;1722&nbsp;&nbsp;869</span>
                    <span class="span_main_info_body_yhhk_yhk_gs">户&nbsp;&nbsp;头：福建天问信息技术有限公司</span>
                    <span class="span_main_info_body_yhhk_yhk_gs">开户行：建设银行古田路支行</span>
                </div>
            </div>
            <div class="div_main_info_body_yhhk div_main_info_body_yhhk_title">第一步</div>
            <div class="div_main_info_body_yhhk div_main_info_body_yhhk_text">银行汇款，为了方便查账，请尽量在汇款后多加几元或几角。</div>
            <div class="div_main_info_body_yhhk div_main_info_body_yhhk_title">第二步</div>
            <div class="div_main_info_body_yhhk div_main_info_body_yhhk_text div_main_info_body_yhhk_text_lxkf">请您在汇款成功后与客服联系：<span class="span_main_info_body_yhhk_text_lxkf">about.infotownlet.com</span></div>
            <div class="div_main_info_body_yhhk div_main_info_body_yhhk_text">告知 需要充值的账户类型、汇款的金额、汇款人姓名、汇出银行（需精确到支行）、汇入银行、58用户名等信息。</div>
            <div class="div_main_info_body_yhhk div_main_info_body_yhhk_title">第三步</div>
            <div class="div_main_info_body_yhhk div_main_info_body_yhhk_text">58客服人员确认汇款到账，并为您指定的58用户名进行充值。</div>
        </div>
        <div id="div_bottom">
            <div class="div_main_info_body" style="height: 50px;">
                <input class="input_main_info_ljzf" id="input_main_info_ljzf" value="立即支付" type="button" />
            </div>
            <div class="div_main_info_body">
                <table>
                    <tr>
                        <td>
                            <input class="input_main_info_body_bottom" id="input_main_info_body_bottom" type="checkbox" />
                        </td>
                        <td>
                            <span class="span_main_info_body_bottom">已阅读并同意</span>
                        </td>
                        <td>
                            <span class="span_main_info_body_bottom span_main_info_body_bottom_xy" id="span_main_info_body_bottom_xy">《信息小镇现金服务协议》</span>
                        </td>
                    </tr>
                </table>
            </div>
            <em class="em_main_info_body_split" id="em_main_info_body_split"></em>
            <div class="div_main_info_body_wxts">
                <span style="font-size: 12px; font-weight: 700;">温馨提示</span>
            </div>
            <div class="div_main_info_body_wxts">
                <span class="span_main_info_body_wxlj">充值、支付帮助中心</span>
            </div>
            <div class="div_main_info_body_wxts">
                <span class="span_main_info_body_wxlj">如何开通网银?</span>
            </div>
            <div class="div_main_info_body_wxts">
                <span class="span_main_info_body_wxts" style="color:#333">网银使用须知</span>
            </div>
            <div class="div_main_info_body_wxts">
                <span class="span_main_info_body_wxts">1.尽量使用ie浏览器&nbsp;&nbsp;&nbsp;&nbsp;2.过程中请勿按浏览器“后退”键&nbsp;&nbsp;&nbsp;&nbsp;3.提交支付后，将转入银行的网站，请根据页面提示操作 </span>
            </div>
            <div class="div_main_info_body_wxts">
                <span class="span_main_info_body_wxts" style="color:#333">如果提交后页面打不开，可以尝试</span>
            </div>
            <div class="div_main_info_body_wxts">
                <span class="span_main_info_body_wxts">1.过3分钟后再刷新页面&nbsp;&nbsp;&nbsp;&nbsp;2.清理IE缓存&nbsp;&nbsp;&nbsp;&nbsp;3.卸载3721或google工具条&nbsp;&nbsp;&nbsp;&nbsp;4.换个浏览器或换个上网环境 </span>
            </div>
        </div>
    </div>
</body>
</html>
