.divFWCZ {
    width: 900px;
    text-align: left;
    padding-top: 2px;
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 62px;
    position: relative;
    display: block;
}

.divLeft {
    color: gray;
    text-align: right;
    margin-left: 100px;
    display: inline;
    font-size: 14px;
}

.divRight {
    display: inline;
    margin-left: 30px;
    position: relative;
}

.labelFWCZ {
    font-weight: normal;
    font-size: 14px;
}

.iFWCZ {
    width: 18px;
    height: 18px;
    cursor: pointer;
    border: none !important;
}

.spanFWQK {
    display: inline-block;
    width: 105px;
    height: 30px;
    text-align: center;
    margin-top: 4px;
}

.divFWQKArrow {
    background-image: url(../Css/images/arrow_down.png);
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.inputFWLX {
    width: 100px;
    margin-top: 1px;
    border: none;
    height: 30px;
    text-align: center;
}

.spanFWLX {
    border: 1px solid #cccccc;
    display: inline-block;
    width: 128px;
    height: 34px;
    border-radius: 4px;
    font-size: 14px;
}

.spanFWLXOut {
    display: inline-block;
    width: 128px;
    height: 34px;
}

.spanFWLXIn {
    border: 1px solid #cccccc;
    display: inline-block;
    width: 128px;
    height: 34px;
    border-radius: 4px;
    font-size: 14px;
}

.divdropdown {
    float: left;
    width: 129px;
}

.uldropdown {
    border-radius: 4px;
    text-align: center;
    width: 128px;
    display: inline-block;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding-left: 0px;
    height: 205px;
}

.lidropdown {
    height: 34px;
    text-align: left;
    display: block;
    padding-left: 6px;
    line-height: 34px;
    font-size: 14px;
    cursor: pointer;
    color: #999999;
    background: #FFFFFF;
}

    .lidropdown:hover {
        background: #ececec;
        color: #333333;
    }

.required {
    color: #fd634f;
    display: inline-block;
    width: 20px;
    height: 36px;
    font-family: "宋体", "SimSun";
}

.liFWPZ {
    display: inline-block;
    width: 105px;
    height: 30px;
    text-align: left;
    margin-top: 4px;
    cursor: pointer;
}

.ulFWPZ {
    display: inline-block;
    padding-left: 0;
}

.divSplit {
    width: 900px;
    text-align: center;
    padding-top: 2px;
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 70px;
    position: relative;
}

.spanSplit {
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 40px;
    display: block;
    color: #333333;
}

.emSplit {
    width: 900px;
    height: 1px;
    float: left;
    background: #cccccc;
}

.inputLXRXX {
    width: 472px;
    padding: 6px 12px;
    color: #999999;
}

.SRK:focus {
    border: 1px solid #5bc0de;
    color: #333333 !important;
}

.ui-state-active {
    background: #5bc0de !important;
    border: 1px solid #5bc0de !important;
}

.ui-datepicker {
    width: 400px !important;
}

.file {
    float: left;
    width: 195px;
    height: 145px;
    opacity: 0;
    cursor: pointer;
}

.divUploadOut {
    width: 195px;
    height: 145px;
    display: inline-block;
    border: 1px solid #cccccc;
    background-image: url(../Css/images/upload_small2.png);
}

.Warn {
    font-size: 14px;
    color: #fd634f;
    margin-left: 220px;
    z-index: 999;
    position: relative;
}

.Info {
    font-size: 14px;
    color: #5bc0de;
    margin-left: 220px;
    z-index: 999;
    position: relative;
}

.imgTip {
    width: 18px;
    height: 18px;
    margin-right: 2px;
}

.liImg {
    display: inline-block;
    width: 150px;
    height: 146px;
    position: relative;
    float: left;
    margin-right: 10px;
}

.divImg {
    width: 150px;
    height: 146px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 4px;
    overflow: hidden;
    cursor: move;
}

.toolbar_wrap {
    width: 150px;
    height: 146px;
    position: absolute;
    top: 20px;
    left: 0;
    cursor: move;
    display: none;
}

.toolbar_wrap:hover {
    display: block;
    width: 150px;
    height: 146px;
    position: absolute;
    top: 20px;
    left: 0;
    cursor: move;
}

.opacity {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #000;
    opacity: 0.3;
    z-index: 900;
}

.toolbar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    z-index: 901;
    cursor: default;
}

.edit {
    background-image: url(../Css/images/edit.png);
        width: 20px;
    height: 20px;
    position: absolute;
    text-decoration: none;
    right: 22px;
    top: 0;
    cursor: pointer;
}

.delete {
    background-image: url(../Css/images/delete.png);
    width: 20px;
    height: 20px;
    position: absolute;
    text-decoration: none;
    right: 0;
    top: 0;
    cursor: pointer;
}
