.divFWCZ {
    width: 900px;
    text-align: center;
    padding-top: 2px;
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 50px;
}

.divLeft {
    color: gray;
    text-align: right;
    margin-left: 100px;
   display: inline
}

.divRight {
    display: inline;
    margin-left: 30px;
}

.labelFWCZ {
    font-weight: normal;
}

.iFWCZ {
    width: 16px;
    height: 16px;
    background-image: url(http://localhost/XiaoZhen1Qu/Areas/Business/Css/images/icon.png) ;
    /*background-position: -67px -57px;*/
    background-position: -67px -0px;
    cursor: pointer;
}