.LBFirst {
    font-size: 14px;
    width: 150px;
    font-weight: bold;
}

.LB {
    cursor: pointer;
    font-size: 14px;
    width: 150px;
    height: 60px;
    vertical-align: middle;
}

    .LB:hover {
        color: #5bc0de;
    }

.divLB {
    width: 900px;
    text-align: center;
    padding-top: 2px;
    font-size: 15px;
    margin-left: 10px;
}

.DLText {
    background-color: #5bc0de;
    font-size: 14px;
    padding-top: 3px;
    color: white;
    float: left;
    height: 28px;
    width: 180px;
}

.trXL {
    border-bottom: 1px #f1f1f1 solid;
}