.input_text {
    width:80%;
}

tr {
    text-align: center !important;
    border-top: 0px !important;
}

td {
    text-align: center !important;
    border: 0px !important;
}

.title {
    font-family: "宋体";
    font-size: 30px;
    
}

.form-control {
    display: inline !important;
}