.input_text {
    width:300px;
}

tr {
    text-align: center !important;
    border-top: 0px !important;
}

td {
    text-align: center !important;
    border: 0px !important;
}

.title {
    font-family: "宋体";
    font-size: 30px;
    
}

.form-control {
    display: inline !important;
}

.error {
    border-color: #a94442;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075)
    box-shadow：inset 0px 1px 1px rgba(0,0,0,0.075)
    color：#999
}

#YHMInfo {
    font-family:微软雅黑 !important;
    vertical-align:middle !important;
    text-align:left !important;
}