.div_head {
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    vertical-align: middle;
}

.div_head_left {
    float: left;
    width: 120px;
    margin-top: 5px;
}

.div_head_right {
    float: right;
    width: 1080px;
    margin-top: 5px;
}

.img_head_left {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 25px;
    float: left;
    width: 155px;
    height: 55px;
}

.span_head_left {
    width: 100%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 17px;
    float: left;
    cursor: default;
}

.ul_head_right {
    width: 450px;
    height: 80px;
    display: block;
    float: left;
    margin-top: 20px;
    vertical-align: middle;
}

.li_head_right {
    width: 130px;
    color: white;
    height: 40px;
    font-size: 16px;
    display: inline;
    margin-left: 30px;
    cursor: pointer;
}

.div_split {
    width: 100%;
    height: 30px;
}

.div_body_text {
    width: 100%;
    line-height: 28px;
}

.div_bottom {
    border-top: 1px solid #cccccc;
    display: block;
    text-align: center;
    height: 100px;
    color: #333;
    padding-top: 15px;
    font-family: Microsoft YaHei, SimHei, Arial, Helvetica, sans-serif;
    margin-top: 20px;
    background-color: #000;
    opacity: 0.5;
    color: #fff;
    line-height: 34px;
}

.span_div_bottom_inner {
    font-size: 14px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simhei;
}

    .span_div_bottom_inner:hover {
        cursor: pointer;
        text-decoration: underline;
    }

.em_div_bottom_inner {
    width: 1px;
    background-color: #fff;
    height: 9px;
    margin: 2px 5px 0px 5px;
    display: inline-block;
}

.span_fbxx {
    width: 90px;
    height: 34px;
    border: 1px solid #fff;
    float: right;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    padding: 3px 12px;
    margin-top: 19px;
    cursor: pointer;
}

.input_spaninput {
    width: 120px;
    margin-top: 1px;
    border: none;
    height: 30px;
    text-align: center;
}

.span_spaninput_out {
    border: none;
    display: inline-block;
    width: 500px;
    height: 40px;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 100px;
    float: left;
}

.span_spaninput_in {
    border: 1px solid #5bc0de;
    display: inline-block;
    width: 410px;
    height: 40px;
    font-size: 14px;
    padding: 6px 12px;
}

.spaninput_fontcolor {
    color: #333333;
}

.span_ss {
    width: 90px;
    height: 40px;
    background: #5bc0de;
    float: right;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    padding: 6px 26px;
    cursor: pointer;
}

.span_fbxx {
    width: 180px;
    border: 1px solid #5bc0de;
    height: 40px;
    background: #5bc0de;
    float: left;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    padding-top: 6px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 100px;
}

.span_fbxx:hover {
    background: #31b0d5;
}

:-ms-input-placeholder.span_spaninput_in {
    color: #999;
}
