body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #eeeff1;
}

.div_head {
    background-color: #ffffff;
    width: 1200px;
    height: 100px;
    padding-top: 10px;
}

.div_head_nav {
    background-color: #ffffff;
    width: 1200px;
    height: 39px;
}

.ul_head_nav {
    height: 39px;
    display: block;
    padding: 0;
    width: 100%;
    border-bottom: 2px solid #5bc0de;
}

.li_head_nav {
    background: #ffffff;
    text-align: center;
    color: #5bc0de;
    height: 37px;
    font-size: 16px;
    font-weight: 700;
    float: left;
    display: inline-block;
    padding: 6px 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    
}

.span_head_nav {
    cursor: pointer;
}

.i_head_nav {
    background-image: url(images/head_nav_down.png);
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: 5px;
}

.div_head_left {
    float: left;
    width: 120px;
    margin-top: 5px;
}

.div_head_right {
    float: right;
    width: 1080px;
    margin-top: 5px;
}

.img_head_left {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 25px;
    float: left;
    width: 155px;
    height: 55px;
}

.span_head_left {
    width: 100%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 17px;
    float: left;
    cursor: default;
}

.ul_head_right {
    width: 450px;
    height: 80px;
    display: block;
    float: left;
    margin-top: 20px;
    vertical-align: middle;
}

.li_head_right {
    width: 130px;
    color: white;
    height: 40px;
    font-size: 16px;
    display: inline;
    margin-left: 30px;
    cursor: pointer;
}

.div_body_text {
    width: 100%;
    line-height: 28px;
}

.div_bottom {
    border-top: 1px solid #cccccc;
    display: block;
    text-align: center;
    height: 100px;
    color: #333;
    padding-top: 15px;
    font-family: Microsoft YaHei, SimHei, Arial, Helvetica, sans-serif;
    margin-top: 20px;
    background-color: #000;
    opacity: 0.5;
    color: #fff;
    line-height: 34px;
}

.span_div_bottom_inner {
    font-size: 14px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simhei;
}

    .span_div_bottom_inner:hover {
        cursor: pointer;
        text-decoration: underline;
    }

.em_div_bottom_inner {
    width: 1px;
    background-color: #fff;
    height: 9px;
    margin: 2px 5px 0px 5px;
    display: inline-block;
}

.span_fbxx {
    width: 90px;
    height: 34px;
    border: 1px solid #fff;
    float: right;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    padding: 3px 12px;
    margin-top: 19px;
    cursor: pointer;
}

.input_spaninput {
    width: 120px;
    margin-top: 1px;
    border: none;
    height: 30px;
    text-align: center;
}

.div_head_right_ss {
    display: inline-block;
    width: 600px;
    height: 80px;
    float: left;
    margin-left: 200px;
}

.span_spaninput_out {
    border: none;
    display: block;
    width: 500px;
    height: 40px;
    font-size: 14px;
    margin-top: 10px;
}

.span_spaninput_in {
    border: 1px solid #5bc0de;
    display: inline-block;
    width: 410px;
    height: 40px;
    font-size: 14px;
    padding: 6px 12px;
}

.spaninput_fontcolor {
    color: #333333;
}

.span_head_right_ss {
    font-size: 12px;
    color: #999;
    cursor: pointer;
    margin-left: 4px;
}

    .span_head_right_ss:hover {
        color: #ef6100;
    }

.span_ss {
    width: 90px;
    height: 40px;
    background: #5bc0de;
    float: right;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    padding: 6px 26px;
    cursor: pointer;
}

.span_fbxx {
    width: 180px;
    border: 1px solid #5bc0de;
    height: 40px;
    background: #5bc0de;
    float: left;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    padding-top: 6px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
}

    .span_fbxx:hover {
        background: #31b0d5;
    }

:-ms-input-placeholder.span_spaninput_in {
    color: #999;
}
