.div_top {
    width: 100%;
    height: 30px;
    background-color: #fafafa;
    vertical-align: middle;
}

.div_top_right {
    width: 290px;
    margin-left: 71.3%;
    text-align: center;
    height: 25px;
    padding-top: 5px;
}

.a_top_right_sy {
    text-decoration: none;
    color: #666;
    font-size: 12px;
    cursor: pointer;
}

.img_top_right_split {
    width: 1px;
    height: 12px;
    background: #cccccc;
    margin: -3px 5px 0 5px;
}

.a_top_right_sjdl {
    text-decoration: none;
    color: #666;
    font-size: 12px;
    cursor: pointer;
}

.no_line:hover {
    text-decoration: none;
    color: #5bc0de;
}

.img_top_right_sjdl {
    background-image: url(images/cellphone.png);
    background-size: 100%;
    width: 12px;
    height: 21px;
    margin: -3px 5px 0 5px;
}

.a_top_right_yhm {
    text-decoration: none;
    color: #666;
    font-size: 12px;
    cursor: pointer;
}

.img_top_right_yhm {
    background-image: url(images/arrow_down.png);
    width: 12px;
    height: 18px;
    margin: 0px 5px 0 5px;
}

.div_head {
    background-color: #5bc0de;
    width: 100%;
    height: 80px;
    vertical-align: middle;
}

.div_head_left {
    float: left;
    width: 120px;
    margin-left: 200px;
    margin-top: 5px;
}

.img_head_left {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 25px;
    float: left;
}

.span_head_left {
    width: 100%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 17px;
    float: left;
    cursor: default;
}

.ul_head_right {
    width: 450px;
    height: 80px;
    display: block;
    float: left;
    margin-left: 100px;
    margin-top: 20px;
    vertical-align: middle;
}

.li_head_right {
    width: 130px;
    color: white;
    height: 40px;
    font-size: 16px;
    display: inline;
    margin-left: 30px;
    cursor: pointer;
}

.div_split {
    width: 100%;
    height: 30px;
}

.div_content {
    width: 100%;
    height: 931px;
}

.div_left_menu {
    height: 100%;
    float: left;
    width: 184px;
    margin-left: 170px;
    text-align: center;
}

.ul_left_menu {
    display: block;
    padding: 20px 0 0 20px;
    background-color: #fafafa;
    margin-bottom: 0;
}

.span_left_menu_first {
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 40px;
    color: #595757;
    font-weight: bolder;
    cursor: pointer;
}

.span_left_menu_second {
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 40px;
    color: #595757;
    cursor: pointer;
}

    .span_left_menu_second:hover {
        color: #ff6100;
    }

.span_left_menu_third {
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 40px;
    margin-left: 25px;
    color: #595757;
    cursor: pointer;
    display: none;
}

    .span_left_menu_third:hover {
        color: #ff6100;
    }

.span_left_menu_four {
    font-size: 12px;
    margin-bottom: 5px;
    line-height: 40px;
    margin-left: 25px;
    color: #595757;
    cursor: pointer;
    display: none;
}

    .span_left_menu_four:hover {
        color: #ff6100;
    }

.img_left_menu_second {
    width: 10px;
    height: 10px;
    margin-top: 15px;
    margin-left: 12px;
    position: absolute;
    float: right;
    cursor: pointer;
}

.img_left_menu_third {
    width: 13px;
    height: 13px;
    margin-top: 14px;
    margin-left: 34px;
    position: absolute;
    float: right;
    cursor: pointer;
    display: none;
}

.em_left_menu {
    width: 140px;
    height: 1px;
    float: left;
    background: #cccccc;
}

.li_left_menu {
    width: 130px;
    text-align: center;
}

.li_left_menu_expand {
    cursor: pointer;
}
