





























.Warn {
    font-size: 14px;
    color: #fd634f;
    margin-left: 215px;
    z-index: 999;
    position: relative;
    width: 180px;
}

.Info {
    font-size: 14px;
    color: #5bc0de;
    margin-left: 215px;
    z-index: 999;
    position: relative;
    width: 180px;
}


















