@{
    ViewBag.Title = "YHGL";
    Layout = "~/Areas/Business/Views/Shared/_ListLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/YHGL.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/YHGL.js")"></script>
</head>
<body style="width: 100%; height: 100%;">
    <div id="divTop" class="div_top">
        <div class="div_top_right">
            <a class="a_top_right_sy no_line">
                信息小镇首页
            </a>
            <img class="img_top_right_split" />
            <a class="a_top_right_sjdl no_line">
                <img class="img_top_right_sjdl" />
                手机登录
            </a>
            <img class="img_top_right_split" />
            <a class="a_top_right_yhm no_line">
                rebirth033
                <img class="img_top_right_yhm" />
            </a>
        </div>
    </div>
    <div id="divHead" class="div_head">
        <div class="div_head_left">
            <img class="img_head_left" src="@Url.Content("~/Areas/Business/Css/images/logo.png")" />
            <span class="span_head_left">infotownlet.com</span>
        </div>
        <ul class="ul_head_right">
            <li class="li_head_right" id="liGRZX">个人中心</li>
            <li class="li_head_right" id="liZHSZ">账户设置</li>
            <li class="li_head_right" id="liSHGJ">生活工具</li>
        </ul>
    </div>
    <div class="div_split" id="divSplit">
    </div>
    <div id="divContent" class="div_content">
        <div id="divLeftMenu" class="div_left_menu">
            <ul id="ulGRZX" class="ul_left_menu">
                <li class="li_left_menu">
                    <span class="span_left_menu_first" id="spanQRZH">个人中心</span>
                    <em class="em_left_menu"></em>
                </li>
                <li id="li_left_menu_WDFB" class="li_left_menu"><span class="span_left_menu_second" id="spanWDFB">我的发布</span></li>
                <li id="li_left_menu_WDSC" class="li_left_menu"><span class="span_left_menu_second" id="spanWDSC">我的收藏</span></li>
                <li id="li_left_menu_WDQZ" class="li_left_menu li_left_menu_expand"><span class="span_left_menu_second" id="spanWDQZ">我的求职</span><img id="imgWDQZ" class="img_left_menu_second" /></li>
                <li id="li_left_menu_WDJL" class="li_left_menu"><span class="span_left_menu_third WDQZ_child" id="spanWDJL">我的简历</span></li>
                <li id="li_left_menu_TDJL" class="li_left_menu"><span class="span_left_menu_third WDQZ_child" id="spanTDJL">投递记录</span></li>
                <li id="li_left_menu_GZYQ" class="li_left_menu"><span class="span_left_menu_third WDQZ_child" id="spanGZYQ">工作邀请</span></li>
                <li id="li_left_menu_JLRZ" class="li_left_menu"><span class="span_left_menu_third WDQZ_child" id="spanJLRZ">简历认证</span></li>
                <li id="li_left_menu_WDHD" class="li_left_menu"><span class="span_left_menu_third WDQZ_child" id="spanWDHD">我的互动</span></li>
                <li id="li_left_menu_WDZP" class="li_left_menu li_left_menu_expand"><span class="span_left_menu_second" id="spanWDZP">我的招聘</span><img id="imgWDZP" class="img_left_menu_second" /></li>
                <li id="li_left_menu_ZWGL" class="li_left_menu"><img id="imgZWGL" class="img_left_menu_third" /><span class="span_left_menu_third WDZP_child" id="spanZWGL">职位管理</span></li>
                <li id="li_left_menu_QZZW" class="li_left_menu"><span class="span_left_menu_four ZWGL_child" id="spanQZZW">全职职位</span></li>
                <li id="li_left_menu_JZZW" class="li_left_menu"><span class="span_left_menu_four ZWGL_child" id="spanJZZW">兼职职位</span></li>
                <li id="li_left_menu_JLGL" class="li_left_menu"><img id="imgJLGL" class="img_left_menu_third" /><span class="span_left_menu_third WDZP_child" id="spanJLGL">简历管理</span></li>
                <li id="li_left_menu_SDJL" class="li_left_menu"><span class="span_left_menu_four JLGL_child" id="spanSDJL">收到简历</span></li>
                <li id="li_left_menu_TJJL" class="li_left_menu"><span class="span_left_menu_four JLGL_child" id="spanTJJL">推荐简历</span></li>
                <li id="li_left_menu_YXZJL" class="li_left_menu"><span class="span_left_menu_four JLGL_child" id="spanYXZJL" style="margin-left: 35px">已下载简历</span></li>
                <li id="li_left_menu_FSMSYQ" class="li_left_menu" style="width: 150px"><span id="spanFSMSYQ" class="span_left_menu_four JLGL_child" style="margin-left: 40px">发送的面试邀请</span></li>
                <li id="li_left_menu_ZHXX" class="li_left_menu"><img id="imgZHXX" class="img_left_menu_third" /><span id="spanZHXX" class="span_left_menu_third WDZP_child">账号信息</span></li>
                <li id="li_left_menu_GSZL" class="li_left_menu"><span id="spanGSZL" class="span_left_menu_four ZHXX_child">公司资料</span></li>
                <li id="li_left_menu_KHFW" class="li_left_menu"><span class="span_left_menu_second" id="spanKHFW">客户服务</span></li>
                <li id="li_left_menu_BZZX" class="li_left_menu"><span class="span_left_menu_second" id="spanBZZX">帮助中心</span></li>
            </ul>
            <ul id="ulZHSZ" class="ul_left_menu">
                <li class="li_left_menu">
                    <span class="span_left_menu_first" id="spanZHSZ">账户设置</span>
                    <em class="em_left_menu"></em>
                </li>
                <li class="li_left_menu"><span class="span_left_menu_second" id="spanGRZL">个人资料</span></li>
                <li class="li_left_menu"><span class="span_left_menu_second" id="spanZHBD">账号绑定</span></li>
                <li class="li_left_menu"><span class="span_left_menu_second" id="spanRZGL">认证管理</span></li>
                <li class="li_left_menu"><span class="span_left_menu_second" id="spanMMSZ">密码设置</span></li>
                <li class="li_left_menu"><span class="span_left_menu_second" id="spanXXGL">消息管理</span></li>
            </ul>
            <ul id="ulSHGJ" class="ul_left_menu">
                <li class="li_left_menu">
                    <span class="span_left_menu_first" id="spanSHGJ">生活工具</span>
                    <em class="em_left_menu"></em>
                </li>
                <li class="li_left_menu"><span class="span_left_menu_second" id="spanHFCZ">话费充值</span></li>
                <li class="li_left_menu"><span class="span_left_menu_second" id="spanDKCZ">点卡充值</span></li>
                <li class="li_left_menu"><span class="span_left_menu_second" id="spanHCDP">火车订票</span></li>
                <li class="li_left_menu"><span class="span_left_menu_second" id="spanWZCX">违章查询</span></li>
                <li class="li_left_menu"><span class="span_left_menu_second" id="spanJDYD">酒店预订</span></li>
            </ul>

        </div>
        <div id="divRightContent" style="height: 100%; width: 900px; float: left; margin-left: 10px;">
            <iframe id="iframeright" style="border: none; width: 100%; height: 100%"></iframe>
        </div>
    </div>
    <div class="div_shadow" id="shadow"></div>
    <div class="div_editImgWindow" id="editImgWindow" style="display: none">
        <div class="div_topbar">
            <span class="span_close" id="span_close"></span>
            <span class="span_toolbar">一键绑定QQ，即可通过QQ快速登录</span>
        </div>
        <div class="div_body">
            <div class="div_body_title">快速安全登录</div>
            <div class="div_body_tip">请使用QQ手机版扫描二维码，<br />或点击头像授权登录。</div>
            <div class="div_body_image">
                <div class="div_body_image_qqtx" id="div_body_image_qrcode">
                    <span class="span_body_image" id="span_body_qrcode"></span>
                </div>
                <div class="div_body_image_qqtx" id="div_body_image_qqtx">
                    <span class="span_body_image" id="span_body_qqtx"></span>
                    <div class='toolbar_wrap'>
                        <div class='opacity'></div>
                        <div class='toolbar'>980381266</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>