@{
    ViewBag.Title = "YHGL";
    Layout = "~/Areas/Business/Views/Shared/_ListLayout.cshtml";
}
<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/YHGL.js")"></script>
</head>
<body>
    用户管理主页
</body>
</html>
