<?xml version="1.0" encoding="utf-8" ?>
<log4net xmlns="urn:log4net">
    <!--默认记录器--><!--
    <logger name="Default">
        <level value="ALL" />
        <appender-ref ref="DefaultRollingFileAppender" />
    </logger>
    --><!--NHibernate记录器--><!--
    <logger name="NHibernate" additivity="true">
        <level value="ERROR"/>
        <appender-ref ref="NHibernateRollingFileAppender" />
    </logger>
    <logger name="NHibernate.SQL" additivity="true">
        <level value="ERROR"/>
        <appender-ref ref="NHibernateRollingFileAppender" />
    </logger>-->
</log4net>