@{
    ViewBag.Title = "FWCZ";
    Layout = "~/Areas/Business/Views/Shared/_ListLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/FWCZ.js")"></script>
    <link href="@Url.Content("~/Areas/Business/Css/FWCZ.css" )" rel="stylesheet" />
</head>
<body style="width: 100%; height: 100%;">
    <div style="width: 1440px; text-align: center;">
        <div id="divLBHead" style="margin-left: 18%; margin-top: 20px;">
            <table class="table" style="width: 100%; text-align: center;">
                <tr>
                    <td class="headtd">
                        <div style="width: 900px;">
                            <div class="divstep" id="divLBXZ">
                                <span class="spanstep" id="spanLBXZ"></span><span id="spanCXLB" style="color: #5bc0de; cursor: pointer; font-size: 12px; margin-left: 2px">重选类别</span>
                                <em class="emstep" id="emLBXZ"></em>
                            </div>
                            <div class="divstep" id="divTXXX">
                                <span class="spanstep" id="spanTXXX">2.填写信息</span>
                                <em class="emstep" id="emTXXX"></em>
                            </div>
                            <div class="divstep" id="divWCFB">
                                <span class="spanstep" id="spanWCFB">3.完成发布</span>
                                <em class="emstep" id="emWCFB"></em>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="myTabContent" style="margin-left: 18%;">
            <div id="divCZFS" class="divFWCZ" style="display: block; text-align: left">
                <div class="divLeft">
                    <span class="spanFWCZ">出租方式</span>
                </div>
                <div class="divRight">
                    <img class="iFWCZ" id="imgZTCZ" /><label class="labelFWCZ">&nbsp;&nbsp;整套出租&nbsp;&nbsp;</label>
                    <img class="iFWCZ" id="imgDJCZ" /><label class="labelFWCZ">&nbsp;&nbsp;单间出租</label>
                </div>
            </div>
            <div id="divXQMC" class="divFWCZ" style="display: block; text-align: left">
                <div class="divLeft">
                    <span class="spanFWCZ">小区名称</span>
                </div>
                <div class="divRight">
                    <input type="text" class="form-control input_text" id="YHM" column="YHM" placeholder="请输入小区">
                </div>
            </div>
            <div id="divFWLX" class="divFWCZ" style="display: block; text-align: left">
                <div class="divLeft">
                    <span class="spanFWCZ">房屋类型</span>
                </div>
                <div class="divRight">
                    <span class="spanFWLX">
                        <input style="width: 80px; margin-top: 1px; border: none; height: 30px; text-align: center; width: 100px" type="text" />
                        <span style="color: #999;">室</span>
                    </span>
                    <span class="spanFWLX">
                        <input style="width: 80px; margin-top: 1px; border: none; height: 30px; text-align: center; width: 100px" type="text" />
                        <span style="color: #999;">厅</span>
                    </span>
                    <span class="spanFWLX">
                        <input style="width: 80px; margin-top: 1px; border: none; height: 30px; text-align: center; width: 100px" type="text" />
                        <span style="color: #999;">卫</span>
                    </span>
                    <span class="spanFWLX" style="width: 198px">
                        <span style="color: #999; margin-left: 8px">共</span>
                        <input style="width: 80px; margin-top: 1px; border: none; height: 30px; text-align: center; width: 100px" type="text" />
                        <span style="color: #999;">平（㎡）</span>
                    </span>
                </div>
            </div>
            <div id="divFWQK" class="divFWCZ" style="display: block; text-align: left;">
                <div class="divLeft">
                    <span class="spanFWCZ">房屋情况</span>
                </div>
                <div class="divRight">
                    <div class="spanFWLXOut" style="z-index: 999">
                        <div id="divFWCXText" class="spanFWLXIn">
                            <span style="display: inline-block; width: 105px; height: 30px; text-align: center; margin-top: 4px;">朝向</span>
                            <div style="background-image: url(http://localhost/XiaoZhen1Qu/Areas/Business/Css/images/arrow_down.png); width: 16px; height: 16px; display: inline-block; vertical-align: middle;"></div>
                        </div>
                        <div id="divFWCX" class="divdropdown">
                        </div>
                    </div>
                    <div class="spanFWLXOut" style="z-index: 998">
                        <div id="divZXQKText" class="spanFWLXIn">
                            <span style="display: inline-block; width: 105px; height: 30px; text-align: center; margin-top: 4px;">装修情况</span>
                            <div style="background-image: url(http://localhost/XiaoZhen1Qu/Areas/Business/Css/images/arrow_down.png); width: 16px; height: 16px; display: inline-block; vertical-align: middle;"></div>
                        </div>
                        <div id="divZXQK" class="divdropdown">
                        </div>
                    </div>
                    <div class="spanFWLXOut" style="z-index: 997">
                        <div id="divZZLXText" class="spanFWLXIn">
                            <span style="display: inline-block; width: 105px; height: 30px; text-align: center; margin-top: 4px;">住宅类型</span>
                            <div style="background-image: url(http://localhost/XiaoZhen1Qu/Areas/Business/Css/images/arrow_down.png); width: 16px; height: 16px; display: inline-block; vertical-align: middle;"></div>
                        </div>
                        <div id="divZZLX" class="divdropdown">
                        </div>
                    </div>
                </div>
            </div>
            <div id="divLCFB" class="divFWCZ" style="display: block; text-align: left;">
                <div class="divLeft">
                    <span class="spanFWCZ">楼层分布</span>
                </div>
                <div class="divRight" style="z-index: 500;">
                    <span class="spanFWLX" style="width: 160px; z-index: 500;">
                        <span style="color: #999; margin-left: 8px">第</span>
                        <input style="width: 80px; margin-top: 1px; border: none; height: 30px; text-align: center; width: 100px" type="text" />
                        <span style="color: #999;">层</span>
                    </span>
                    <span class="spanFWLX" style="width: 160px; ">
                        <span style="color: #999; margin-left: 8px">共</span>
                        <input style="width: 80px; margin-top: 1px; border: none; height: 30px; text-align: center; width: 100px" type="text" />
                        <span style="color: #999;">层</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
