@{
    ViewBag.Title = "YXCZ";
    Layout = "~/Areas/Business/Views/Shared/_ListLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/YXCZ/YXCZ.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/YXCZ/YXCZ.js")"></script>
</head>
<body>
    <div class="div_photo">
        <div class="divstep" id="divDKCZ">
            <span class="spanstep" id="spanDKCZ">点卡充值</span>
            <em class="emstep" id="emDKCZ"></em>
        </div>
        <div class="divstep" id="divJBCZ">
            <span class="spanstep" id="spanJBCZ">金币充值</span>
            <em class="emstep" id="emJBCZ"></em>
        </div>
        <div class="divstep">
            <span class="spanstep">&nbsp;</span>
            <em class="emstep" style="width: 640px;"></em>
        </div>
    </div>
</body>
</html>
