/*首页_主体_左部_信息主要内容*/
.div_body .div_body_left .div_body_left_body_right{ width: 380px;height: 475px;float: left;}
.div_body .div_body_left .div_body_left_body_right .p_body_left_body_right{ height: 36px;width: 100%;padding: 12px 30px;}
