@{
    ViewBag.Title = "YHJBXX";
    Layout = "~/Areas/Business/Views/Shared/_ListLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/YHJBXX.js")"></script>
</head>
<body>
<table class="table" style="width: 470px;">
    <caption>用户注册</caption>
    <tr>
        <td><label for="name">用户名：</label></td>
        <td><input type="text" class="form-control" id="name" placeholder="请输入名称"></td>
    </tr>
    <tr>
        <td><label for="name">密&nbsp;&nbsp;&nbsp;&nbsp;码：</label></td>
        <td><input type="text" class="form-control" id="name" placeholder="请输入密码"></td>
    </tr>
    <tr>
        <td><label for="name">验证码：</label></td>
        <td><input type="text" class="form-control" id="name" placeholder="请输入名称"></td>
    </tr>
</table>
        
</body>
</html>
