@{
    ViewBag.Title = "YHJBXX";
    Layout = "~/Areas/Business/Views/Shared/_ListLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/YHJBXX.js")"></script>
</head>
<body>
    <div id="divReg">
        <table class="table" style="width: 470px;">
            <tr>
                <td class="headtd"><span class="title">欢迎注册小镇1区</span></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control input_text" id="YHM" column="YHM" placeholder="请输入用户名"></td>
            </tr>
            <tr>
                <td><input type="password" class="form-control input_text" id="MM" column="MM" placeholder="请输入登录密码"></td>
            </tr>
            <tr>
                <td><input type="password" class="form-control input_text" id="QRMM" column="QRMM" placeholder="请再次输入登录密码"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control input_text" id="SJH" column="SJH" placeholder="请输入手机号"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control input_text" id="YZM" column="YZM" placeholder="请输入验证码"></td>
            </tr>
            <tr>
                <td><input type="button" class="btn btn-info input_text" id="Reg" value="同意条款并注册" /></td>
            </tr>
        </table>
    </div>
</body>
</html>
