@{
    Layout = "~/Areas/Business/Views/Shared/QT.cshtml";
}
@section Section_Head {
    <link href="@Url.Content("~/Areas/Business/Css/Other/YHZC.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/Other/YHZC.js")"></script>
}
@section Section_Body {
    <div class="div_head">
        <span class="span_head_main_logo"></span>
    </div>
    <em class="em_head_split"></em>
    <div class="div_body">
        <div id="divReg" class="div_body_yhzc">
            <table class="table" style="width: 600px;">
                <tr>
                    <td class="headtd"><span class="title">欢迎注册信息小镇</span></td>
                </tr>
                <tr>
                    <td style="width:50%"><input type="text" class="form-control input_text" id="YHM" column="YHM" placeholder="请输入用户名"></td>
                    <td class="Info" id="YHMInfo" style="width:50%"></td>
                </tr>
                <tr>
                    <td>
                        <input type="password" class="form-control input_text" id="MM" column="MM" placeholder="请输入登录密码">
                    </td>
                    <td class="Info" id="MMInfo" style="width:50%"></td>
                </tr>
                <tr>
                    <td><input type="password" class="form-control input_text" id="QRMM" column="QRMM" placeholder="请再次输入登录密码"></td>
                    <td class="Info" id="QRMMInfo" style="width:50%"></td>
                </tr>
                <tr>
                    <td id="tdSJ">
                        <input type="text" class="form-control input_text" style="width: 266px;" id="SJ" column="SJ" placeholder="请输入手机号">
                        <input type="button" class="btn btn-info" id="btnHQYZM" value="获取验证码" />
                    </td>
                    <td class="Info" id="SJInfo" style="width: 50%"></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input_text" id="YZM" column="YZM" placeholder="请输入验证码"></td>
                    <td class="Info" id="YZMInfo" style="width:50%"></td>
                </tr>
                <tr>
                    <td>
                        <input id="SYXY" class="input_syxy" type="checkbox" value="" /><span class="span_syxy">本人已仔细阅读并同意<a class="a_syxy"><<信息小镇使用协议>></a></span>
                    </td>
                    <td class="Info" id="SYXYInfo" style="width:50%"></td>
                </tr>
                <tr>
                    <td><input type="button" class="btn btn-info input_text" id="Reg" value="注册" /></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="div_bottom">
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">关于信息小镇</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">联系我们</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">友情链接</span>
        </div>
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">推广服务</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">客户服务中心</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">Copyright&nbsp;©&nbsp;&nbsp;www.infotownlet.com</span>
        </div>
    </div>
    <div class="div_fwxy">
        信息小镇使用协议

        欢迎注册信息小镇！

        您好，信息小镇是福建天问信息技术有限公司旗下的网站，为注册成为信息小镇的用户并使用信息小镇提供的服务，您应该仔细阅读并同意《信息小镇使用协议》。

        一、关于协议
        1、本协议是信息小镇与用户之间的法律协议，请您在注册之前，务必谨慎阅读并充分理解其中的条款。当您点击已阅读并同意《信息小镇使用协议》，注册成为信息小镇的用户并使用信息小镇提供的服务，即表示您自愿接受本协议，认可本协议全部条款内容,并自觉遵守协议的内容。

        2、当您违反了《信息小镇使用协议》里的相关条约，您不应当以信息小镇未对本协议以合理方式提醒用户注意或未根据用户要求尽到说明义务为理由而声称或要求法院或其它任何第三方确认相关条款非法或无效。

        3、当您注册成为信息小镇的用户或以其他信息小镇的方式实际使用信息小镇平台服务时，您应当是具备相应民事行为能力的自然人、法人或其他组织。若您不具备前述主体资格，则您及您的家长或法定监护人应承担因此而导致的一切后果，且信息小镇有权注销您的账户，并向您及您的监护人索偿
        4、本协议修改或更新时，用户默认同意修改和更新的内容，如用户表示不愿接受新的服务协议的，信息小镇有权可以通过注销用户账号的方式单方解除本协议。

        二、账户管理
        1、在您同意本协议，并注册成功后，信息小镇会向您提供唯一账号与登录密码。您应对您的用户账号、登录密码、支付密码（如有）、验证码的安全，以及对通过您的账户和密码实施的行为负责；如因您的个人原因所导致的任何损失或损害，信息小镇无法也不承担任何责任。除非有法律规定或行政司法机关的指令，且征得信息小镇的同意，否则您的用户账户、登录密码、支付密码（如有）和验证码不得以任何方式转让、借用、赠与或继承（与账户相关的财产权益除外）。否则，由此给您（或信息小镇、任何第三方）造成的一切损失，一律由您自行承担。请您对密码加以妥善保管，切勿将密码告知他人，因密码保管不善而造成的所有损失由您自行承担。
        2、当发现任何人不当使用您的账号或有任何其他可能危及您的账户安全的情形时，您应当立即以有效方式通知信息小镇，要求暂停相关服务。您理解信息小镇对您的请求采取行动需要合理时间，信息小镇对在采取行动前已经产生的后果（包括但不限于您的任何损失）不承担任何责任。
        3、您在使用信息小镇服务的过程中，可能需要填写一些必要的信息。您需要填写您的真实的身份信息。若您填写的信息不完整，则无法使用信息小镇的服务或在使用过程中受到限制。
        4、在下列情况下，信息小镇可以通过注销用户账号的方式单方解除本协议：
        1) 在用户违反本协议相关规定时，信息小镇有权暂停或终止向该用户提供服务。
        2) 一经发现用户注册信息中的内容是虚假的，信息小镇即有权终止向该用户提供服务；
        3) 您不得通过任何手段恶意注册信息小镇帐号，包括但不限于以牟利、炒作、套现等为目的多个账号注册
        4) 遭遇不可抗力时，信息小镇有权单方面终止提供服务。
        5) 用户理解并同意，即便在本协议终止及用户的服务被终止后，信息小镇仍有权继续要求用户承担其在使用信息小镇平台服务期间因违反法律法规及本协议而应承担的责任。

        三、信息小镇服务使用规范
        1、通过信息小镇服务平台，您可以按照信息小镇的规则发布信息。但所发布的信息不得含有以下内容：1) 反对宪法所确定的基本原则，煽动抗拒、破坏宪法和法律、行政法规实施的；
        2) 煽动危害国家安全、泄露国家秘密、颠覆国家政权，推翻社会主义制度的；
        3) 煽动分裂国家、破坏国家统一、损害国家荣誉和民族利益的；
        4) 煽动民族仇恨、民族歧视，破坏民族团结的；
        5) 捏造或者歪曲事实，散布谣言，扰乱社会秩序的；
        6) 进行政治宣传或破坏国家宗教政策、宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；
        7) 公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；
        8) 损害国家机关信誉的；
        9) 其他违反宪法和法律法规的；
        2、在接受信息小镇服务的过程中，您不得从事下列行为：1) 发表、传送、传播、储存、侵害他人拥有知识产权、商业秘密权等合法权利的内容；包含病毒、木马等可能对信息小镇系统造成伤害或影响其稳定性的内容或制造虚假身份以误导、欺骗他人；
        2) 传送或散布或以其他方式实现传送的受到知识产权法律保护的文字、图像、相片、软件或其他资料的文件，作为举例（但不限于此）：包括著作权或商标权（或隐私权或公开权），除非用户已获得该知识产权权利人许可或授权；
        3) 使用任何包含有通过侵犯商标、著作权、专利、商业机密或任何一方的其他专有权利的方式利用本“软件”获得的图像或相片的资料或信息；
        4) 进行危害计算机网络安全的行为，包括但不限于：使用未经许可的数据或进入未经许可的服务器/帐号；未经允许进入公众计算机网络或者他人计算机系统并删除、修改、增加存储信息；未经许可，企图探查、扫描、测试本平台系统或网络的弱点或其它实施破坏网络安全的行为；企图干涉、破坏本平台系统或网站的正常运行，故意传播恶意程序或病毒以及其他破坏干扰正常网络信息服务的行为；伪造TCP/IP数据包名称或部分名称；
        5) 修改或伪造软件作品运行中的指令、数据、数据包，增加、删减、变动软件 的功能或运行效果，不得将用于上述用途的软件通过信息网络向公众传播或者运营；
        6) 在未经信息小镇书面明确授权前提下，出售、出租、出借、散布、转移或转授权软件和服务或相关的链接或从使用软件和服务或软件和服务的条款中获利，无论以上使用是否为直接经济或金钱收益；
        7) 违反信息小镇页面公布的活动规则，包括但不限于发布虚假信息、作弊或通过其他手段进行虚假交易。
    </div>
}
