.div_tcys, .div_gcys {
    width: 70px;
    height: 35px;
    border: 1px solid #cccccc;
    display: inline-block;
    padding: 5px 6px;
    border-radius: 4px;
    position: relative;
    margin-right: 10px;
}

    .div_tcys:hover {
        background-color: #87B53B;
        cursor: pointer;
    }

    .div_gcys:hover {
        background-color: #87B53B;
        cursor: pointer;
    }

.span_tcys_left, .span_gcys_left {
    width: 18px;
    height: 18px;
    display: inline-block;
    border: 1px solid #cccccc;
}

.span_tcys_right,.span_gcys_right {
    display: inline-block;
    left: 34px;
    bottom: 10px;
    position: absolute;
    font-size: 14px;
}
