@{
    Layout = "~/Areas/Business/Views/Shared/SY.cshtml";
}
@section Section_Head {
    <link href="@Url.Content("~/Areas/Business/Css/SY/CWSY.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/SY/CWSY.js")"></script>
}
@section Section_Body {
    <div id="div_Body" class="div_body">
        <div class="div_body_top">
            <div class="div_body_top_left">
                <p class="p_body_top_left">宠物</p>
                <ul class="ul_body_top_left">
                    <li class="li_body_top_left" onclick="OpenCXLB(31,'/CWCX/CWCX_CWG','null')">宠物狗</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(32,'/CWCX/CWCX_CWM','null')">宠物猫</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'null')">花鸟鱼虫</li>
                </ul>
                <p class="p_body_top_left" style="margin-top:10px;">宠物周边</p>
                <ul class="ul_body_top_left">
                    <li class="li_body_top_left" onclick="OpenCXLB(34, '/CWCX/CWCX_CWFW', 'null')">宠物服务</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(35, '/CWCX/CWCX_CWYPSP', 'null')">宠物用品</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(36, '/CWCX/CWCX_CWGY', 'null')">宠物公益</li>
                </ul>
            </div>
            <div class="div_body_top_right">
                <p class="span_body_top_right">宠物狗</p>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(31, '/CWCX/CWCX_CWG', 'PZ=阿拉斯加')">阿拉斯加</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(31, '/CWCX/CWCX_CWG', 'PZ=比熊')">比熊</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(31, '/CWCX/CWCX_CWG', 'PZ=博美犬')">博美犬</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(31, '/CWCX/CWCX_CWG', 'PZ=巴哥')">巴哥</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(31, '/CWCX/CWCX_CWG', 'PZ=比格犬')">比格犬</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(31, '/CWCX/CWCX_CWG', 'PZ=比特犬')">比特犬</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(31, '/CWCX/CWCX_CWG', 'PZ=大白熊')">大白熊</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(31, '/CWCX/CWCX_CWG', 'PZ=斗牛犬')">斗牛犬</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(31, '/CWCX/CWCX_CWG', 'PZ=杜宾犬')">杜宾犬</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(31, '/CWCX/CWCX_CWG', 'PZ=大丹犬')">大丹犬</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(31, '/CWCX/CWCX_CWG', 'PZ=杜高犬')">杜高犬</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(31, '/CWCX/CWCX_CWG', 'PZ=贵宾')">贵宾</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(31, '/CWCX/CWCX_CWG', 'PZ=高加索犬')">高加索犬</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(31, '/CWCX/CWCX_CWG', 'PZ=哈士奇')">哈士奇</li>
                </ul>
                <p class="span_body_top_right">宠物猫</p>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(32, '/CWCX/CWCX_CWM', 'PZ=波斯猫')">波斯猫</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(32, '/CWCX/CWCX_CWM', 'PZ=金吉拉')">金吉拉</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(32, '/CWCX/CWCX_CWM', 'PZ=加菲猫')">加菲猫</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(32, '/CWCX/CWCX_CWM', 'PZ=短毛猫')">短毛猫</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(32, '/CWCX/CWCX_CWM', 'PZ=蓝猫')">蓝猫</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(32, '/CWCX/CWCX_CWM', 'PZ=折耳猫')">折耳猫</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(32, '/CWCX/CWCX_CWM', 'PZ=雪鞋猫')">雪鞋猫</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(32, '/CWCX/CWCX_CWM', 'PZ=埃及猫')">埃及猫</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(32, '/CWCX/CWCX_CWM', 'PZ=巴厘猫')">巴厘猫</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(32, '/CWCX/CWCX_CWM', 'PZ=伯曼猫')">伯曼猫</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(32, '/CWCX/CWCX_CWM', 'PZ=布偶猫')">布偶猫</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(32, '/CWCX/CWCX_CWM', 'PZ=蒂凡尼猫')">蒂凡尼猫</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(32, '/CWCX/CWCX_CWM', 'PZ=波米拉猫')">波米拉猫</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(32, '/CWCX/CWCX_CWM', 'PZ=德文卷毛猫')">德文卷毛猫</li>
                </ul>
                <p class="span_body_top_right">花鸟鱼虫</p>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'LB=117')">观赏鱼</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'LB=118')">玩赏鸟</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'LB=118')">八哥</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'LB=118')">鹦鹉</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'LB=120')">兔子</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'LB=120')">龟</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'LB=120')">仓鼠</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'LB=120')">荷兰猪</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'LB=120')">蟋蟀</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'LB=120')">蜗牛</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'LB=120')">螃蟹</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'LB=120')">蛙</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'LB=120')">松鼠</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'LB=120')">龙猫</li>
                </ul>
                <p class="span_body_top_right">宠物服务</p>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(34, '/CWCX/CWCX_CWFW', 'LB=宠物医院')">宠物医院</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(34, '/CWCX/CWCX_CWFW', 'LB=宠物寄养')">宠物寄养</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(34, '/CWCX/CWCX_CWFW', 'LB=宠物美容')">宠物美容</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(34, '/CWCX/CWCX_CWFW', 'LB=宠物训练')">宠物训练</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(34, '/CWCX/CWCX_CWFW', 'LB=宠物托运')">宠物托运</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(34, '/CWCX/CWCX_CWFW', 'LB=宠物配种')">宠物配种</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(34, '/CWCX/CWCX_CWFW', 'LB=宠物摄影')">宠物摄影</li>
                </ul>
                <p class="span_body_top_right">宠物用品</p>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(35, '/CWCX/CWCX_CWYPSP', 'LB=狗粮')">狗粮</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(35, '/CWCX/CWCX_CWYPSP', 'LB=狗用品')">狗用品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(35, '/CWCX/CWCX_CWYPSP', 'LB=猫粮')">猫粮</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(35, '/CWCX/CWCX_CWYPSP', 'LB=猫用品')">猫用品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(35, '/CWCX/CWCX_CWYPSP', 'LB=鱼缸')">鱼缸</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(35, '/CWCX/CWCX_CWYPSP', 'LB=水族箱')">水族箱</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(35, '/CWCX/CWCX_CWYPSP', 'LB=其他用品')">其他用品</li>
                </ul>
                <p class="span_body_top_right">宠物公益</p>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(36, '/CWCX/CWCX_CWGY', 'LB=宠物赠送')">宠物赠送</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(36, '/CWCX/CWCX_CWGY', 'LB=宠物领养')">宠物领养</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(36, '/CWCX/CWCX_CWGY', 'LB=寻宠启示')">寻宠启示</li>
                </ul>
            </div>
        </div>
        <div id="div_body_middle" class="div_body_middle">

        </div>
    </div>
    <div class="div_bottom">
        <p class="p_div_bottom">©2017 福建天问信息技术有限公司 客服电话：400-036-3432 | 021-6430110（周一至周日，9:00-18:00）</p>
        <p class="p_div_bottom reduce">闽ICP备06019413号 | 闽ICP证B2-20080088 | 闽公网安备31010402000116号</p>
    </div>
}
