@{
    Layout = "~/Areas/Business/Views/Shared/SY.cshtml";
}
@section Section_Head {
    <link href="@Url.Content("~/Areas/Business/Css/SY/CWSY.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/SY/CWSY.js")"></script>
}
@section Section_Body {
    <div id="div_Body" class="div_body">
        <div class="div_body_top">
            <div class="div_body_top_left">
                <p class="p_body_top_left">宠物</p>
                <ul class="ul_body_top_left">
                    <li class="li_body_top_left" onclick="OpenCXLB(31,'/CWCX/CWCX_CWG','null')">宠物狗</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(32,'/CWCX/CWCX_CWM','null')">宠物猫</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'null')">花鸟鱼虫</li>
                </ul>
                <p class="p_body_top_left" style="margin-top:10px;">宠物周边</p>
                <ul class="ul_body_top_left">
                    <li class="li_body_top_left" onclick="OpenCXLB(34, '/CWCX/CWCX_CWFW', 'null')">宠物服务</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(35, '/CWCX/CWCX_CWYPSP', 'null')">宠物用品</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(36, '/CWCX/CWCX_CWGY', 'null')">宠物公益</li>
                </ul>
            </div>
            <div class="div_body_top_right">
                <p class="span_body_top_right">宠物狗</p>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(31, '/CWCX/CWCX_CWG', 'PZ=2')">阿拉斯加</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(31, '/CWCX/CWCX_CWG', 'PZ=3')">比熊</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(31, '/CWCX/CWCX_CWG', 'PZ=4')">博美犬</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(31, '/CWCX/CWCX_CWG', 'PZ=5')">巴哥</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(31, '/CWCX/CWCX_CWG', 'PZ=6')">比格犬</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(31, '/CWCX/CWCX_CWG', 'PZ=10')">比特犬</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(31, '/CWCX/CWCX_CWG', 'PZ=19')">大白熊</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(31, '/CWCX/CWCX_CWG', 'PZ=20')">斗牛犬</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(31, '/CWCX/CWCX_CWG', 'PZ=21')">杜宾犬</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(31, '/CWCX/CWCX_CWG', 'PZ=22')">大丹犬</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(31, '/CWCX/CWCX_CWG', 'PZ=23')">杜高犬</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(31, '/CWCX/CWCX_CWG', 'PZ=25')">贵宾</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(31, '/CWCX/CWCX_CWG', 'PZ=26')">高加索犬</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(31, '/CWCX/CWCX_CWG', 'PZ=30')">哈士奇</li>
                </ul>
                <p class="span_body_top_right">宠物猫</p>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(32, '/CWCX/CWCX_CWM', 'PZ=113')">波斯猫</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(32, '/CWCX/CWCX_CWM', 'PZ=1168')">金吉拉</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(32, '/CWCX/CWCX_CWM', 'PZ=1167')">加菲猫</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(32, '/CWCX/CWCX_CWM', 'PZ=1163')">短毛猫</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(32, '/CWCX/CWCX_CWM', 'PZ=11615')">蓝猫</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(32, '/CWCX/CWCX_CWM', 'PZ=11649')">折耳猫</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(32, '/CWCX/CWCX_CWM', 'PZ=11645')">雪鞋猫</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(32, '/CWCX/CWCX_CWM', 'PZ=106')">埃及猫</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(32, '/CWCX/CWCX_CWM', 'PZ=108')">巴厘猫</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(32, '/CWCX/CWCX_CWM', 'PZ=111')">伯曼猫</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(32, '/CWCX/CWCX_CWM', 'PZ=114')">布偶猫</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(32, '/CWCX/CWCX_CWM', 'PZ=116')">蒂凡尼猫</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(32, '/CWCX/CWCX_CWM', 'PZ=112')">波米拉猫</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(32, '/CWCX/CWCX_CWM', 'PZ=115')">德文卷毛猫</li>
                </ul>
                <p class="span_body_top_right">花鸟鱼虫</p>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'LB=117')">观赏鱼</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'LB=118')">玩赏鸟</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'LB=118')">八哥</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'LB=118')">鹦鹉</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'LB=120')">兔子</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'LB=120')">龟</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'LB=120')">仓鼠</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'LB=120')">荷兰猪</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'LB=120')">蟋蟀</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'LB=120')">蜗牛</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'LB=120')">螃蟹</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'LB=120')">蛙</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'LB=120')">松鼠</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(33, '/CWCX/CWCX_HNYC', 'LB=120')">龙猫</li>
                </ul>
                <p class="span_body_top_right">宠物服务</p>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(34, '/CWCX/CWCX_CWFW', 'LB=184')">宠物医院</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(34, '/CWCX/CWCX_CWFW', 'LB=185')">宠物寄养</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(34, '/CWCX/CWCX_CWFW', 'LB=186')">宠物美容</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(34, '/CWCX/CWCX_CWFW', 'LB=187')">宠物训练</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(34, '/CWCX/CWCX_CWFW', 'LB=188')">宠物托运</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(34, '/CWCX/CWCX_CWFW', 'LB=189')">宠物配种</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(34, '/CWCX/CWCX_CWFW', 'LB=191')">宠物摄影</li>
                </ul>
                <p class="span_body_top_right">宠物用品</p>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(35, '/CWCX/CWCX_CWYPSP', 'LB=158')">狗粮</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(35, '/CWCX/CWCX_CWYPSP', 'LB=159')">狗用品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(35, '/CWCX/CWCX_CWYPSP', 'LB=160')">猫粮</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(35, '/CWCX/CWCX_CWYPSP', 'LB=161')">猫用品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(35, '/CWCX/CWCX_CWYPSP', 'LB=162')">鱼缸</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(35, '/CWCX/CWCX_CWYPSP', 'LB=162')">水族箱</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(35, '/CWCX/CWCX_CWYPSP', 'LB=163')">其他用品</li>
                </ul>
                <p class="span_body_top_right">宠物公益</p>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(36, '/CWCX/CWCX_CWGY', 'LB=218')">宠物赠送</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(36, '/CWCX/CWCX_CWGY', 'LB=219')">宠物领养</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(36, '/CWCX/CWCX_CWGY', 'LB=220')">寻宠启示</li>
                </ul>
            </div>
        </div>
        <div id="div_body_middle" class="div_body_middle">

        </div>
    </div>
    <div class="div_bottom">
        <p class="p_div_bottom">©2017 福建天问信息技术有限公司 客服电话：400-036-3432 | 021-6430110（周一至周日，9:00-18:00）</p>
        <p class="p_div_bottom reduce">闽ICP备06019413号 | 闽ICP证B2-20080088 | 闽公网安备31010402000116号</p>
    </div>
}
