@{
    Layout = "~/Areas/Business/Views/Shared/SY.cshtml";
}
@section Section_Head {
    <link href="@Url.Content("~/Areas/Business/Css/SY/ESSY.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/SY/ESSY.js")"></script>
}
@section Section_Body {
    <div id="div_Body" class="div_body">
        <div class="div_body_top">
            <div class="div_body_top_left">
                <p class="p_body_top_left">手机数码</p>
                <ul class="ul_body_top_left">
                    <li class="li_body_top_left" onclick="OpenCXLB(154, '/ESCX/ESCX_SJSM_ESSJ', 'null')">手机</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(155, '/ESCX/ESCX_SJSM_BJBDN', 'null')">笔记本电脑</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(156, '/ESCX/ESCX_SJSM_PBDN', 'null')">平板电脑</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(157, '/ESCX/ESCX_SJSM_SMCP', 'null')">数码产品</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(158, '/ESCX/ESCX_SJSM_TSJ', 'null')">台式电脑/配件</li>
                </ul>
                <p class="p_body_top_left" style="margin-top:10px;">生活百货</p>
                <ul class="ul_body_top_left">
                    <li class="li_body_top_left" onclick="OpenCXLB(159, '/ESCX/ESCX_JDJJBG_ESJD', 'null')">家用家电</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(160, '/ESCX/ESCX_JDJJBG_ESJJ', 'null')">家用家具</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(161, '/ESCX/ESCX_JDJJBG_JJRY', 'null')">家居日用</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(162, '/ESCX/ESCX_JDJJBG_BGSB', 'null')">办公用品</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(163, '/ESCX/ESCX_MYFZMR_MYETYPWJ', 'null')">母婴儿童</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(164, '/ESCX/ESCX_MYFZMR_FZXMXB', 'null')">服饰箱包</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(165, '/ESCX/ESCX_MYFZMR_MRBJ', 'null')">美容保健</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(170, '/ESCX/ESCX_QTES_ESSB', 'null')">二手设备</li>
                </ul>
                <p class="p_body_top_left">文化娱乐</p>
                <ul class="ul_body_top_left">
                    <li class="li_body_top_left" onclick="OpenCXLB(167, '/ESCX/ESCX_WHYL_WTHWYQ', 'null')">文体户外</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(166, '/ESCX/ESCX_WHYL_YSPSCP', 'null')">工艺收藏</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(168, '/ESCX/ESCX_WHYL_TSYXRJ', 'null')">书籍杂志</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(38,  '/ESCX/ESCX_PWKQ_MPKQ', 'null')">门票卡券</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(168, '/ESCX/ESCX_WHYL_TSYXRJ', 'null')">音像软件</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(169, '/ESCX/ESCX_WHYL_WYXNWP', 'null')">网游虚拟</li>
                </ul>
            </div>
            <div class="div_body_top_right">
                <p class="p_body_top_right">手机</p>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(154, '/ESCX/ESCX_SJSM_ESSJ', 'PP=102')">苹果</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(154, '/ESCX/ESCX_SJSM_ESSJ', 'PP=103')">三星</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(154, '/ESCX/ESCX_SJSM_ESSJ', 'PP=104')">小米</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(154, '/ESCX/ESCX_SJSM_ESSJ', 'PP=105')">华为</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(154, '/ESCX/ESCX_SJSM_ESSJ', 'PP=106')">魅族</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(154, '/ESCX/ESCX_SJSM_ESSJ', 'PP=107')">OPPO</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(154, '/ESCX/ESCX_SJSM_ESSJ', 'PP=110')">索尼</li>
                </ul>
                <p class="p_body_top_right">笔记本电脑</p>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(155, '/ESCX/ESCX_SJSM_BJBDN', 'LB=944&PP=507')">联想</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(155, '/ESCX/ESCX_SJSM_BJBDN', 'LB=944&PP=508')">戴尔</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(155, '/ESCX/ESCX_SJSM_BJBDN', 'LB=944&PP=509')">华硕</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(155, '/ESCX/ESCX_SJSM_BJBDN', 'LB=944&PP=510')">惠普</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(155, '/ESCX/ESCX_SJSM_BJBDN', 'LB=944&PP=511')">索尼</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(155, '/ESCX/ESCX_SJSM_BJBDN', 'LB=944&PP=512')">苹果</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(155, '/ESCX/ESCX_SJSM_BJBDN', 'LB=944&PP=513')">三星</li>
                </ul>
                <p class="p_body_top_right">平板电脑</p>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(156, '/ESCX/ESCX_SJSM_PBDN', 'PP=749')">iPad</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(156, '/ESCX/ESCX_SJSM_PBDN', 'PP=750')">三星</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(156, '/ESCX/ESCX_SJSM_PBDN', 'PP=751')">联想</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(156, '/ESCX/ESCX_SJSM_PBDN', 'PP=755')">华为</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(156, '/ESCX/ESCX_SJSM_PBDN', 'PP=756')">宏基</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(156, '/ESCX/ESCX_SJSM_PBDN', 'PP=757')">华硕</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(156, '/ESCX/ESCX_SJSM_PBDN', 'PP=758')">戴尔</li>
                 </ul>
                <p class="p_body_top_right">数码产品</p>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(157, '/ESCX/ESCX_SJSM_SMCP', 'LB=841')">相机/配件</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(157, '/ESCX/ESCX_SJSM_SMCP', 'LB=842')">数码摄像机</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(157, '/ESCX/ESCX_SJSM_SMCP', 'LB=843')">MP3/MP4</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(157, '/ESCX/ESCX_SJSM_SMCP', 'LB=844')">游戏机</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(157, '/ESCX/ESCX_SJSM_SMCP', 'LB=845')">电子书/kindle</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(157, '/ESCX/ESCX_SJSM_SMCP', 'LB=846')">耳机耳麦</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(157, '/ESCX/ESCX_SJSM_SMCP', 'LB=847')">智能设备</li>
                </ul>
                <p class="p_body_top_right">台式电脑/配件</p>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(158, '/ESCX/ESCX_SJSM_TSJ', 'LB=889')">台式机</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(158, '/ESCX/ESCX_SJSM_TSJ', 'LB=890')">服务器</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(158, '/ESCX/ESCX_SJSM_TSJ', 'LB=891')">硬件</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(158, '/ESCX/ESCX_SJSM_TSJ', 'LB=892')">外设产品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(158, '/ESCX/ESCX_SJSM_TSJ', 'LB=893')">网络设备</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(158, '/ESCX/ESCX_SJSM_TSJ', 'LB=894')">上网套餐</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(158, '/ESCX/ESCX_SJSM_TSJ', 'LB=895')">其他</li>
                </ul>
                <p class="p_body_top_right">家用家电</p>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(159, '/ESCX/ESCX_JDJJBG_ESJD', 'LB=1')">电视机</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(159, '/ESCX/ESCX_JDJJBG_ESJD', 'LB=2')">洗衣机</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(159, '/ESCX/ESCX_JDJJBG_ESJD', 'LB=3')">空调</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(159, '/ESCX/ESCX_JDJJBG_ESJD', 'LB=4')">冰箱</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(159, '/ESCX/ESCX_JDJJBG_ESJD', 'LB=7')">生活家电</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(159, '/ESCX/ESCX_JDJJBG_ESJD', 'LB=6')">影音家电</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(159, '/ESCX/ESCX_JDJJBG_ESJD', 'LB=8')">厨卫家电</li>
                </ul>
                <p class="p_body_top_right">家用家具</p>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(160, '/ESCX/ESCX_JDJJBG_ESJJ', 'LB=176')">床</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(160, '/ESCX/ESCX_JDJJBG_ESJJ', 'LB=177')">床垫</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(160, '/ESCX/ESCX_JDJJBG_ESJJ', 'LB=178')">柜子</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(160, '/ESCX/ESCX_JDJJBG_ESJJ', 'LB=179')">架子</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(160, '/ESCX/ESCX_JDJJBG_ESJJ', 'LB=180')">桌子</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(160, '/ESCX/ESCX_JDJJBG_ESJJ', 'LB=181')">椅子/凳</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(160, '/ESCX/ESCX_JDJJBG_ESJJ', 'LB=184')">办公家具</li>
                </ul>
                <p class="p_body_top_right">家居日用</p>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(161, '/ESCX/ESCX_JDJJBG_JJRY', 'LB=258')">床上用品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(161, '/ESCX/ESCX_JDJJBG_JJRY', 'LB=259')">布艺饰品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(161, '/ESCX/ESCX_JDJJBG_JJRY', 'LB=260')">生活日用</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(161, '/ESCX/ESCX_JDJJBG_JJRY', 'LB=261')">灯具照明</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(161, '/ESCX/ESCX_JDJJBG_JJRY', 'LB=262')">其它家居用品</li>
                </ul>
                <p class="p_body_top_right">办公用品</p>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(162, '/ESCX/ESCX_JDJJBG_BGSB', 'LB=295')">办公设备</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(162, '/ESCX/ESCX_JDJJBG_BGSB', 'LB=296')">办公耗材</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(162, '/ESCX/ESCX_JDJJBG_BGSB', 'LB=297')">办公文仪</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(162, '/ESCX/ESCX_JDJJBG_BGSB', 'LB=298')">办公家具</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(162, '/ESCX/ESCX_JDJJBG_BGSB', 'LB=300')">其他办公用品</li>
                </ul>
                <p class="p_body_top_right">母婴儿童</p>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(163, '/ESCX/ESCX_MYFZMR_MYETYPWJ', 'LB=1')">奶粉/营养辅食</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(163, '/ESCX/ESCX_MYFZMR_MYETYPWJ', 'LB=2')">喂养用品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(163, '/ESCX/ESCX_MYFZMR_MYETYPWJ', 'LB=3')">护理用品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(163, '/ESCX/ESCX_MYFZMR_MYETYPWJ', 'LB=4')">婴幼服饰</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(163, '/ESCX/ESCX_MYFZMR_MYETYPWJ', 'LB=5')">婴幼用品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(163, '/ESCX/ESCX_MYFZMR_MYETYPWJ', 'LB=6')">童床童车</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(163, '/ESCX/ESCX_MYFZMR_MYETYPWJ', 'LB=7')">玩具</li>
                </ul>
                <p class="p_body_top_right">服饰箱包</p>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(164, '/ESCX/ESCX_MYFZMR_FZXMXB', 'LB=78')">服装</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(164, '/ESCX/ESCX_MYFZMR_FZXMXB', 'LB=79')">鞋</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(164, '/ESCX/ESCX_MYFZMR_FZXMXB', 'LB=80')">箱包</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(164, '/ESCX/ESCX_MYFZMR_FZXMXB', 'LB=81')">配饰</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(164, '/ESCX/ESCX_MYFZMR_FZXMXB', 'LB=82')">首饰</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(164, '/ESCX/ESCX_MYFZMR_FZXMXB', 'LB=83')">手表</li>
                </ul>
                <p class="p_body_top_right">文体户外</p>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(167, '/ESCX/ESCX_WHYL_WTHWYQ', 'LB=53')">户外用品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(167, '/ESCX/ESCX_WHYL_WTHWYQ', 'LB=54')">健身器材</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(167, '/ESCX/ESCX_WHYL_WTHWYQ', 'LB=56')">文教用品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(167, '/ESCX/ESCX_WHYL_WTHWYQ', 'LB=57')">乐器</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(167, '/ESCX/ESCX_WHYL_WTHWYQ', 'LB=58')">球类用品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(167, '/ESCX/ESCX_WHYL_WTHWYQ', 'LB=59')">瑜伽用品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(167, '/ESCX/ESCX_WHYL_WTHWYQ', 'LB=61')">钓鱼用具</li>
                </ul>
                <p class="p_body_top_right">工艺收藏</p>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(164, '/ESCX/ESCX_WHYL_YSPSCP', 'LB=1')">古董古玩</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(164, '/ESCX/ESCX_WHYL_YSPSCP', 'LB=2')">书法绘画</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(164, '/ESCX/ESCX_WHYL_YSPSCP', 'LB=3')">把玩物件</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(164, '/ESCX/ESCX_WHYL_YSPSCP', 'LB=4')">钱币/票证</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(164, '/ESCX/ESCX_WHYL_YSPSCP', 'LB=5')">珠宝玉器</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(164, '/ESCX/ESCX_WHYL_YSPSCP', 'LB=6')">手工制品/工艺品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(164, '/ESCX/ESCX_WHYL_YSPSCP', 'LB=7')">邮票邮品</li>
                 </ul>
                <p class="p_body_top_right">门票卡券</p>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(38, '/ESCX/ESCX_PWKQ_MPKQ', 'LB=104')">体育赛事</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(38, '/ESCX/ESCX_PWKQ_MPKQ', 'LB=105')">演出门票</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(38, '/ESCX/ESCX_PWKQ_MPKQ', 'LB=106')">游乐园</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(38, '/ESCX/ESCX_PWKQ_MPKQ', 'LB=106')">景点票</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(38, '/ESCX/ESCX_PWKQ_MPKQ', 'LB=107')">消费卡</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(38, '/ESCX/ESCX_PWKQ_MPKQ', 'LB=107')">购物券</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(38, '/ESCX/ESCX_PWKQ_MPKQ', 'LB=108')">其他卡券</li>
                </ul>
                <p class="p_body_top_right">图书音像</p>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(168, '/ESCX/ESCX_WHYL_TSYXRJ', 'LB=144')">图书</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(168, '/ESCX/ESCX_WHYL_TSYXRJ', 'LB=145')">音像</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(168, '/ESCX/ESCX_WHYL_TSYXRJ', 'LB=146')">软件</li>
                </ul>
            </div>
        </div>
        <div id="div_body_middle" class="div_body_middle">

        </div>
    </div>
    <div class="div_bottom">
        <p class="p_div_bottom">©2017 福建天问信息技术有限公司 客服电话：400-036-3432 | 021-6430110（周一至周日，9:00-18:00）</p>
        <p class="p_div_bottom reduce">闽ICP备06019413号 | 闽ICP证B2-20080088 | 闽公网安备31010402000116号</p>
    </div>
}
