@{
    Layout = "~/Areas/Business/Views/Shared/SY.cshtml";
}
@section Section_Head {
    <link href="@Url.Content("~/Areas/Business/Css/SY/PFCGSY.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/SY/PFCGSY.js")"></script>
}
@section Section_Body {
    <div id="div_Body" class="div_body">
        <div class="div_body_top" id="div_body_top">
            <div class="div_body_top_left">
                <p class="p_body_top_left">批发采购</p>
                <ul class="ul_body_top_left">
                    <li class="li_body_top_left" onclick="OpenCXLB(78, '/PFCGCX/PFCGCX_SCSB','null')">商超设备</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(79, '/PFCGCX/PFCGCX_HXP','null')">化学品</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(82, '/PFCGCX/PFCGCX_YBYQ','null')">电子器件</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(83, '/PFCGCX/PFCGCX_DJZM','null')">灯具照明</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(84, '/PFCGCX/PFCGCX_YCL','null')">原材料/包装</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(68, '/PFCGCX/PFCGCX_SP','null')">食品</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(69, '/PFCGCX/PFCGCX_LP','null')">礼品</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(70, '/PFCGCX/PFCGCX_FSXM','null')">服装鞋包</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(71, '/PFCGCX/PFCGCX_XBSP','null')">珠宝饰品</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(72, '/PFCGCX/PFCGCX_SJSM','null')">手机数码</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(73, '/PFCGCX/PFCGCX_MYWJ','null')">母婴玩具</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(74, '/PFCGCX/PFCGCX_HWYD','null')">运动装备</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(75, '/PFCGCX/PFCGCX_HZP','null')">化妆品</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(76, '/PFCGCX/PFCGCX_AFSB','null')">安防设备</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(77, '/PFCGCX/PFCGCX_FZBL','null')">纺织布料</li>

                </ul>
            </div>
            <div class="div_body_top_right">
                <span class="span_body_top_right">商超设备</span>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(78, '/PFCGCX/PFCGCX_SCSB', 'LB=467')">货架</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(78, '/PFCGCX/PFCGCX_SCSB', 'LB=468')">购物车</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(78, '/PFCGCX/PFCGCX_SCSB', 'LB=469')">促销台</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(78, '/PFCGCX/PFCGCX_SCSB', 'LB=470')">购物篮</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(78, '/PFCGCX/PFCGCX_SCSB', 'LB=471')">收银台</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(78, '/PFCGCX/PFCGCX_SCSB', 'LB=472')">展柜</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(78, '/PFCGCX/PFCGCX_SCSB', 'LB=473')">存包柜</li>
                </ul>
                <span class="span_body_top_right">化学品</span>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(79, '/PFCGCX/PFCGCX_HXP', 'LB=474')">油墨</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(79, '/PFCGCX/PFCGCX_HXP', 'LB=475')">无机颜料</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(79, '/PFCGCX/PFCGCX_HXP', 'LB=476')">胶粘剂</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(79, '/PFCGCX/PFCGCX_HXP', 'LB=477')">涂料助剂</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(79, '/PFCGCX/PFCGCX_HXP', 'LB=478')">润滑油</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(79, '/PFCGCX/PFCGCX_HXP', 'LB=479')">合成材料助剂</li>
                </ul>
                <span class="span_body_top_right" style="height:80px;">电子器件</span>
                <ul class="ul_body_top_right" style="height:80px;">
                    <li class="li_body_top_right" onclick="OpenCXLB(82, '/PFCGCX/PFCGCX_YBYQ', 'LB=5011')">电子元器件</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(82, '/PFCGCX/PFCGCX_YBYQ', 'LB=5012')">电工电料</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(82, '/PFCGCX/PFCGCX_YBYQ', 'LB=494')">电工仪表</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(82, '/PFCGCX/PFCGCX_YBYQ', 'LB=492')">光学仪器</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(82, '/PFCGCX/PFCGCX_YBYQ', 'LB=492&XL=502')">放大镜</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(82, '/PFCGCX/PFCGCX_YBYQ', 'LB=492&XL=503')">显微镜</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(82, '/PFCGCX/PFCGCX_YBYQ', 'LB=493')">温湿度仪表</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(82, '/PFCGCX/PFCGCX_YBYQ', 'LB=496')">量具</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(82, '/PFCGCX/PFCGCX_YBYQ', 'LB=495')">车用仪表</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(82, '/PFCGCX/PFCGCX_YBYQ', 'LB=497')">分析仪器</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(82, '/PFCGCX/PFCGCX_YBYQ', 'LB=498')">色谱仪</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(82, '/PFCGCX/PFCGCX_YBYQ', 'LB=499')">衡器</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(82, '/PFCGCX/PFCGCX_YBYQ', 'LB=500')">试验机</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(82, '/PFCGCX/PFCGCX_YBYQ', 'LB=501')">电子测量仪器</li>
                </ul>
                <span class="span_body_top_right" style="height:80px;">灯具照明</span>
                <ul class="ul_body_top_right" style="height:80px;">
                    <li class="li_body_top_right" onclick="OpenCXLB(83, '/PFCGCX/PFCGCX_DJZM', 'LB=524')">白炽灯</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(83, '/PFCGCX/PFCGCX_DJZM', 'LB=525')">LED灯具</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(83, '/PFCGCX/PFCGCX_DJZM', 'LB=526')">气体放电灯</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(83, '/PFCGCX/PFCGCX_DJZM', 'LB=527')">室外照明灯</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(83, '/PFCGCX/PFCGCX_DJZM', 'LB=528')">专用灯具</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(83, '/PFCGCX/PFCGCX_DJZM', 'LB=528&XL=534')">舞台灯具</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(83, '/PFCGCX/PFCGCX_DJZM', 'LB=528&XL=535')">工矿灯具</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(83, '/PFCGCX/PFCGCX_DJZM', 'LB=528&XL=536')">防爆灯具</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(83, '/PFCGCX/PFCGCX_DJZM', 'LB=528&XL=537')">广告灯</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(83, '/PFCGCX/PFCGCX_DJZM', 'LB=529')">指示灯具</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(83, '/PFCGCX/PFCGCX_DJZM', 'LB=530')">电光源材料</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(83, '/PFCGCX/PFCGCX_DJZM', 'LB=531')">冷光源</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(83, '/PFCGCX/PFCGCX_DJZM', 'LB=532')">插头插座</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(83, '/PFCGCX/PFCGCX_DJZM', 'LB=533')">灯具配件</li>
                </ul>
                <span class="span_body_top_right" style="height:80px;">食品</span>
                <ul class="ul_body_top_right" style="height:80px;">
                    <li class="li_body_top_right" onclick="OpenCXLB(68, '/PFCGCX/PFCGCX_SP', 'LB=1')">酒类</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(68, '/PFCGCX/PFCGCX_SP', 'LB=2')">茶类</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(68, '/PFCGCX/PFCGCX_SP', 'LB=3')">特产</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(68, '/PFCGCX/PFCGCX_SP', 'LB=4')">休闲零食</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(68, '/PFCGCX/PFCGCX_SP', 'LB=5')">方便食品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(68, '/PFCGCX/PFCGCX_SP', 'LB=6')">肉制品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(68, '/PFCGCX/PFCGCX_SP', 'LB=7')">海鲜类</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(68, '/PFCGCX/PFCGCX_SP', 'LB=8')">果蔬类</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(68, '/PFCGCX/PFCGCX_SP', 'LB=9')">饮品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(68, '/PFCGCX/PFCGCX_SP', 'LB=10')">粮油</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(68, '/PFCGCX/PFCGCX_SP', 'LB=11')">冲饮</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(68, '/PFCGCX/PFCGCX_SP', 'LB=14')">蛋奶制品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(68, '/PFCGCX/PFCGCX_SP', 'LB=16')">调味品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(68, '/PFCGCX/PFCGCX_SP', 'LB=17')">营养品</li>
                </ul>
                <span class="span_body_top_right">礼品</span>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(69, '/PFCGCX/PFCGCX_LP', 'LB=22')">工艺礼品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(69, '/PFCGCX/PFCGCX_LP', 'LB=23')">商务礼品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(69, '/PFCGCX/PFCGCX_LP', 'LB=24')">电子礼品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(69, '/PFCGCX/PFCGCX_LP', 'LB=25')">汽车礼品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(69, '/PFCGCX/PFCGCX_LP', 'LB=2501&XL=584')">油卡</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(69, '/PFCGCX/PFCGCX_LP', 'LB=2501&XL=585')">礼品卡</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(69, '/PFCGCX/PFCGCX_LP', 'LB=2501&XL=586')">充值卡</li>
                </ul>
                <span class="span_body_top_right">服饰鞋帽</span>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(70, '/PFCGCX/PFCGCX_FSXM', 'LB=64')">女装</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(70, '/PFCGCX/PFCGCX_FSXM', 'LB=65')">男装</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(70, '/PFCGCX/PFCGCX_FSXM', 'LB=66')">内衣</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(70, '/PFCGCX/PFCGCX_FSXM', 'LB=67')">配饰</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(70, '/PFCGCX/PFCGCX_FSXM', 'LB=68')">女鞋</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(70, '/PFCGCX/PFCGCX_FSXM', 'LB=69')">男鞋</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(70, '/PFCGCX/PFCGCX_FSXM', 'LB=70')">童装</li>
                </ul>
                <span class="span_body_top_right">珠宝饰品</span>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(71, '/PFCGCX/PFCGCX_XBSP', 'LB=151&XL=169')">男士手表</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(71, '/PFCGCX/PFCGCX_XBSP', 'LB=151&XL=170')">女士手表</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(71, '/PFCGCX/PFCGCX_XBSP', 'LB=151&XL=171')">儿童手表</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(71, '/PFCGCX/PFCGCX_XBSP', 'LB=151&XL=172')">闹钟</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(71, '/PFCGCX/PFCGCX_XBSP', 'LB=151&XL=173')">挂钟</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(71, '/PFCGCX/PFCGCX_XBSP', 'LB=152')">珠宝首饰</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(71, '/PFCGCX/PFCGCX_XBSP', 'LB=153')">发饰</li>
                </ul>
                <span class="span_body_top_right" style="height:80px;">手机数码</span>
                <ul class="ul_body_top_right" style="height:80px;">
                    <li class="li_body_top_right" onclick="OpenCXLB(72, '/PFCGCX/PFCGCX_SJSM', 'LB=178')">手机通讯</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(72, '/PFCGCX/PFCGCX_SJSM', 'LB=179')">手机配件</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(72, '/PFCGCX/PFCGCX_SJSM', 'LB=180')">数码相机</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(72, '/PFCGCX/PFCGCX_SJSM', 'LB=181')">随身视听</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(72, '/PFCGCX/PFCGCX_SJSM', 'LB=182')">摄影摄像</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(72, '/PFCGCX/PFCGCX_SJSM', 'LB=183')">数码配件</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(72, '/PFCGCX/PFCGCX_SJSM', 'LB=184')">游戏电玩</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(72, '/PFCGCX/PFCGCX_SJSM', 'LB=185')">移动存储</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(72, '/PFCGCX/PFCGCX_SJSM', 'LB=186')">笔记本</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(72, '/PFCGCX/PFCGCX_SJSM', 'LB=187')">平板电脑</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(72, '/PFCGCX/PFCGCX_SJSM', 'LB=188')">台式机</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(72, '/PFCGCX/PFCGCX_SJSM', 'LB=189')">电脑硬件</li>
                </ul>
                <span class="span_body_top_right" style="height:80px;">母婴玩具</span>
                <ul class="ul_body_top_right" style="height:80px;">
                    <li class="li_body_top_right" onclick="OpenCXLB(73, '/PFCGCX/PFCGCX_MYWJ', 'LB=190')">奶粉</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(73, '/PFCGCX/PFCGCX_MYWJ', 'LB=191')">辅食/营养</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(73, '/PFCGCX/PFCGCX_MYWJ', 'LB=192&XL=204')">裤型尿裤</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(73, '/PFCGCX/PFCGCX_MYWJ', 'LB=192&XL=205')">湿巾纸巾</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(73, '/PFCGCX/PFCGCX_MYWJ', 'LB=192&XL=206')">尿布/尿垫</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(73, '/PFCGCX/PFCGCX_MYWJ', 'LB=193')">喂养用品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(73, '/PFCGCX/PFCGCX_MYWJ', 'LB=194')">洗护用品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(73, '/PFCGCX/PFCGCX_MYWJ', 'LB=194&XL=213')">护肤用品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(73, '/PFCGCX/PFCGCX_MYWJ', 'LB=194&XL=214')">洗浴用品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(73, '/PFCGCX/PFCGCX_MYWJ', 'LB=194&XL=215')">洗发沐浴</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(73, '/PFCGCX/PFCGCX_MYWJ', 'LB=195')">童车童床</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(73, '/PFCGCX/PFCGCX_MYWJ', 'LB=196')">婴幼服装</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(73, '/PFCGCX/PFCGCX_MYWJ', 'LB=197')">玩具</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(73, '/PFCGCX/PFCGCX_MYWJ', 'LB=198')">孕产妇用品</li>
                </ul>
                <span class="span_body_top_right" style="height:80px;">运动装备</span>
                <ul class="ul_body_top_right" style="height:80px;">
                    <li class="li_body_top_right" onclick="OpenCXLB(74, '/PFCGCX/PFCGCX_HWYD', 'LB=245')">运动服</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(74, '/PFCGCX/PFCGCX_HWYD', 'LB=246')">运动鞋</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(74, '/PFCGCX/PFCGCX_HWYD', 'LB=247')">户外服装</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(74, '/PFCGCX/PFCGCX_HWYD', 'LB=248')">户外鞋袜</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(74, '/PFCGCX/PFCGCX_HWYD', 'LB=249')">运动箱包</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(74, '/PFCGCX/PFCGCX_HWYD', 'LB=250')">配饰</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(74, '/PFCGCX/PFCGCX_HWYD', 'LB=251')">户外箱包</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(74, '/PFCGCX/PFCGCX_HWYD', 'LB=252')">户外装备</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(74, '/PFCGCX/PFCGCX_HWYD', 'LB=253')">球类/拍类</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(74, '/PFCGCX/PFCGCX_HWYD', 'LB=254')">运动器械</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(74, '/PFCGCX/PFCGCX_HWYD', 'LB=254&XL=333')">跑步机</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(74, '/PFCGCX/PFCGCX_HWYD', 'LB=254&XL=336')">握力器</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(74, '/PFCGCX/PFCGCX_HWYD', 'LB=254&XL=337')">臂力器</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(74, '/PFCGCX/PFCGCX_HWYD', 'LB=255')">休闲健身</li>
                </ul>
                <span class="span_body_top_right" style="height:80px;">化妆品</span>
                <ul class="ul_body_top_right" style="height:80px;">
                    <li class="li_body_top_right" onclick="OpenCXLB(75, '/PFCGCX/PFCGCX_HZP', 'LB=342')">面部护肤</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(75, '/PFCGCX/PFCGCX_HZP', 'LB=343')">身体护理</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(75, '/PFCGCX/PFCGCX_HZP', 'LB=344')">彩妆</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(75, '/PFCGCX/PFCGCX_HZP', 'LB=345')">香水</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(75, '/PFCGCX/PFCGCX_HZP', 'LB=346')">男士</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(75, '/PFCGCX/PFCGCX_HZP', 'LB=347')">美发用品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(75, '/PFCGCX/PFCGCX_HZP', 'LB=348')">假发</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(75, '/PFCGCX/PFCGCX_HZP', 'LB=349')">化妆工具</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(75, '/PFCGCX/PFCGCX_HZP', 'LB=349&XL=416')">化妆套刷</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(75, '/PFCGCX/PFCGCX_HZP', 'LB=349&XL=417')">面膜纸</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(75, '/PFCGCX/PFCGCX_HZP', 'LB=349&XL=418')">化妆棉</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(75, '/PFCGCX/PFCGCX_HZP', 'LB=349&XL=419')">假睫毛</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(75, '/PFCGCX/PFCGCX_HZP', 'LB=349&XL=420')">睫毛夹</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(75, '/PFCGCX/PFCGCX_HZP', 'LB=350')">精油芳疗</li>
                </ul>
                <span class="span_body_top_right">安防设备</span>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(76, '/PFCGCX/PFCGCX_AFSB', 'LB=436&XL=439')">灭火器</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(76, '/PFCGCX/PFCGCX_AFSB', 'LB=436&XL=440')">防火设备</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(76, '/PFCGCX/PFCGCX_AFSB', 'LB=436&XL=441')">报警器</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(76, '/PFCGCX/PFCGCX_AFSB', 'LB=437')">交通安全设备</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(76, '/PFCGCX/PFCGCX_AFSB', 'LB=438')">劳保用品</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(76, '/PFCGCX/PFCGCX_AFSB', 'LB=438&XL=458')">防护耳塞</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(76, '/PFCGCX/PFCGCX_AFSB', 'LB=438&XL=4581')">防护耳罩</li>
                </ul>
                <span class="span_body_top_right">纺织布料</span>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(77, '/PFCGCX/PFCGCX_FZBL', 'LB=461')">纺织原料</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(77, '/PFCGCX/PFCGCX_FZBL', 'LB=462')">化学纤维</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(77, '/PFCGCX/PFCGCX_FZBL', 'LB=465')">布料面料</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(77, '/PFCGCX/PFCGCX_FZBL', 'LB=466')">纺织辅料</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(77, '/PFCGCX/PFCGCX_FZBL', 'LB=463')">坯布</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(77, '/PFCGCX/PFCGCX_FZBL', 'LB=464')">纱线</li>
                </ul>
            </div>
        </div>
        <div id="div_body_middle" class="div_body_middle">

        </div>
    </div>
    <div class="div_bottom">
        <p class="p_div_bottom">©2017 福建沐晗信息技术有限公司 客服电话：400-036-3432 | 021-6430110（周一至周日，9:00-18:00）</p>
        <p class="p_div_bottom reduce">闽ICP备06019413号 | 闽ICP证B2-20080088 | 闽公网安备31010402000116号</p>
    </div>
}
