@{
    Layout = "~/Areas/Business/Views/Shared/SY.cshtml";
}
@section Section_Head {
    <link href="@Url.Content("~/Areas/Business/Css/SY/SHFWSY.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/SY/SHFWSY.js")"></script>
}
@section Section_Body {
    <div id="div_Body" class="div_body">
        <div id="div_body_top" class="div_body_top">
            @*
                <div class="div_body_top_right">
                    <p class="p_body_top_right">宠物狗</p>
                    <ul class="ul_body_top_right">
                        <li class="li_body_top_right" onclick="OpenCXLB(31, '/SHFWCX/SHFWCX_CWG', 'PZ=阿拉斯加')">阿拉斯加</li>
                        <li class="li_body_top_right" onclick="OpenCXLB(31, '/SHFWCX/SHFWCX_CWG', 'PZ=比熊')">比熊</li>
                        <li class="li_body_top_right" onclick="OpenCXLB(31, '/SHFWCX/SHFWCX_CWG', 'PZ=博美犬')">博美犬</li>
                        <li class="li_body_top_right" onclick="OpenCXLB(31, '/SHFWCX/SHFWCX_CWG', 'PZ=贵宾')">贵宾</li>
                        <li class="li_body_top_right" onclick="OpenCXLB(31, '/SHFWCX/SHFWCX_CWG', 'PZ=金毛')">金毛</li>
                        <li class="li_body_top_right" onclick="OpenCXLB(31, '/SHFWCX/SHFWCX_CWG', 'PZ=哈士奇')">哈士奇</li>
                        <li class="li_body_top_right" onclick="OpenCXLB(31, '/SHFWCX/SHFWCX_CWG', 'PZ=格力犬')">格力犬</li>
                    </ul>
                </div>*@
        </div>
        <div id="div_body_middle" class="div_body_middle">

        </div>
    </div>
    <div class="div_bottom">
        <p class="p_div_bottom">©2017 福建天问信息技术有限公司 客服电话：400-036-3432 | 021-6430110（周一至周日，9:00-18:00）</p>
        <p class="p_div_bottom reduce">闽ICP备06019413号 | 闽ICP证B2-20080088 | 闽公网安备31010402000116号</p>
    </div>
}
