@{
    Layout = "~/Areas/Business/Views/Shared/SY.cshtml";
}
@section Section_Head {
    <link href="@Url.Content("~/Areas/Business/Css/SY/SHFWSY.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/SY/SHFWSY.js")"></script>
}
@section Section_Body {
    <div id="div_Body" class="div_body">
        <div class="div_body_top" id="div_body_top">
            <div class="div_body_top_left">
                <p class="p_body_top_left">家政服务</p>
                <ul class="ul_body_top_left">
                    <li class="li_body_top_left" onclick="OpenCXLB(172, '/SHFWCX/SHFWCX_BJ','null')">搬家服务</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(173, '/SHFWCX/SHFWCX_BMYS','null')">保姆月嫂</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(174, '/SHFWCX/SHFWCX_BJQX','null')">保洁清洗</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(175, '/SHFWCX/SHFWCX_GDSTQL','null')">管道疏通</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(176, '/SHFWCX/SHFWCX_SHPS','null')">生活配送</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(177, '/SHFWCX/SHFWCX_BZMD','null')">白事服务</li>
                </ul>
                <p class="p_body_top_left">维修服务</p>
                <ul class="ul_body_top_left">
                    <li class="li_body_top_left" onclick="OpenCXLB(178, '/SHFWCX/SHFWCX_JDWX','null')">家电维修</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(184, '/SHFWCX/SHFWCX_SMWX','null')">数码维修</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(179, '/SHFWCX/SHFWCX_DNWX','null')">电脑维修</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(180, '/SHFWCX/SHFWCX_FWWX','null')">房屋维修</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(181, '/SHFWCX/SHFWCX_JJWX','null')">家具维修</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(182, '/SHFWCX/SHFWCX_SJWX','null')">手机维修</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(183, '/SHFWCX/SHFWCX_KSXSHS','null')">开锁修锁</li>
                </ul>
                <p class="p_body_top_left">休闲娱乐</p>
                <ul class="ul_body_top_left">
                    <li class="li_body_top_left" onclick="OpenCXLB(45, '/XXYLCX/XXYLCX_YDJB','null')">娱乐场所</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(44, '/XXYLCX/XXYLCX_YDJS','null')">健身美体</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(47, '/XXYLCX/XXYLCX_HW','null')">户外运动</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(48, '/XXYLCX/XXYLCX_XYWQ','null')">洗浴温泉</li>
                </ul>
                <p class="p_body_top_left">旅游酒店</p>
                <ul class="ul_body_top_left">
                    <li class="li_body_top_left" onclick="OpenCXLB(129, '/LYJDCX/LYJDCX_DYDDR','null')">导游服务</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(123, '/LYJDCX/LYJDCX_LXS','null')">旅行社</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(124, '/LYJDCX/LYJDCX_GNY','null')">旅游度假</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(127, '/LYJDCX/LYJDCX_JDZSYD','null')">宾馆酒店</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(128, '/LYJDCX/LYJDCX_JP','null')">机票服务</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(1291, '/LYJDCX/LYJDCX_QZFW','null')">签证服务</li>
                </ul>
                <p class="p_body_top_left">婚庆服务</p>
                <ul class="ul_body_top_left">
                    <li class="li_body_top_left" onclick="OpenCXLB(144, '/HQSYCX/HQSYCX_HSSY','null')">婚纱摄影</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(136, '/HQSYCX/HQSYCX_HQGS','null')">婚庆公司</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(137, '/HQSYCX/HQSYCX_HCZL','null')">婚车租赁</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(140, '/HQSYCX/HQSYCX_HQYP','null')">婚庆用品</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(142, '/HQSYCX/HQSYCX_HLGP','null')">婚礼跟拍</li>
                    <li class="li_body_top_left" onclick="OpenCXLB(143, '/HQSYCX/HQSYCX_HSLF','null')">婚纱礼服</li>
                </ul>
            </div>
            <div class="div_body_top_right">
                <span class="span_body_top_right" style="height:80px;">搬家服务</span>
                <ul class="ul_body_top_right" style="height:80px;">
                    <li class="li_body_top_right" onclick="OpenCXLB(172, '/SHFWCX/SHFWCX_BJ', 'LB=1')">居民搬家</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(172, '/SHFWCX/SHFWCX_BJ', 'LB=2')">公司搬家</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(172, '/SHFWCX/SHFWCX_BJ', 'LB=3')">小型搬家</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(172, '/SHFWCX/SHFWCX_BJ', 'LB=4')">长途搬家搬运</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(172, '/SHFWCX/SHFWCX_BJ', 'LB=5')">空调移机</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(172, '/SHFWCX/SHFWCX_BJ', 'LB=6')">设备搬迁</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(172, '/SHFWCX/SHFWCX_BJ', 'LB=7')">起重吊装</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(172, '/SHFWCX/SHFWCX_BJ', 'LB=8')">搬家搬场</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(172, '/SHFWCX/SHFWCX_BJ', 'LB=9')">钢琴搬运</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(172, '/SHFWCX/SHFWCX_BJ', 'LB=10')">家具拆装</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(172, '/SHFWCX/SHFWCX_BJ', 'LB=11')">国际搬家</li>
                </ul>
                <span class="span_body_top_right" style="height:80px;">保姆月嫂</span>
                <ul class="ul_body_top_right" style="height:80px;">
                    <li class="li_body_top_right" onclick="OpenCXLB(173, '/SHFWCX/SHFWCX_BMYS', 'LB=12')">月嫂</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(173, '/SHFWCX/SHFWCX_BMYS', 'LB=13')">育婴师</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(173, '/SHFWCX/SHFWCX_BMYS', 'LB=14')">保姆</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(173, '/SHFWCX/SHFWCX_BMYS', 'LB=15')">钟点工</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(173, '/SHFWCX/SHFWCX_BMYS', 'LB=16')">催乳师</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(173, '/SHFWCX/SHFWCX_BMYS', 'LB=17')">陪护</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(173, '/SHFWCX/SHFWCX_BMYS', 'LB=18')">涉外家政</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(173, '/SHFWCX/SHFWCX_BMYS', 'LB=19')">管家</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(173, '/SHFWCX/SHFWCX_BMYS', 'LB=20')">月子中心</li>
                </ul>
                <span class="span_body_top_right" style="height:120px;">保洁清洗</span>
                <ul class="ul_body_top_right" style="height:120px;">
                    <li class="li_body_top_right" onclick="OpenCXLB(174, '/SHFWCX/SHFWCX_BJQX', 'LB=21')">空气净化</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(174, '/SHFWCX/SHFWCX_BJQX', 'LB=22')">开荒保洁</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(174, '/SHFWCX/SHFWCX_BJQX', 'LB=23')">物业保洁</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(174, '/SHFWCX/SHFWCX_BJQX', 'LB=24')">家庭保洁</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(174, '/SHFWCX/SHFWCX_BJQX', 'LB=25')">玻璃清洗</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(174, '/SHFWCX/SHFWCX_BJQX', 'LB=26')">沙发清洗</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(174, '/SHFWCX/SHFWCX_BJQX', 'LB=27')">灯具清洗</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(174, '/SHFWCX/SHFWCX_BJQX', 'LB=28')">壁纸清洗</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(174, '/SHFWCX/SHFWCX_BJQX', 'LB=29')">地毯清洗</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(174, '/SHFWCX/SHFWCX_BJQX', 'LB=30')">地暖清洗</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(174, '/SHFWCX/SHFWCX_BJQX', 'LB=31')">地板打蜡</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(174, '/SHFWCX/SHFWCX_BJQX', 'LB=32')">石材翻新/养护</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(174, '/SHFWCX/SHFWCX_BJQX', 'LB=33')">瓷砖美缝</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(174, '/SHFWCX/SHFWCX_BJQX', 'LB=34')">除虫除蚁</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(174, '/SHFWCX/SHFWCX_BJQX', 'LB=35')">高空清洗</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(174, '/SHFWCX/SHFWCX_BJQX', 'LB=36')">油烟机清洗</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(174, '/SHFWCX/SHFWCX_BJQX', 'LB=37')">空调清洗</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(174, '/SHFWCX/SHFWCX_BJQX', 'LB=38')">洗衣机清洗</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(174, '/SHFWCX/SHFWCX_BJQX', 'LB=39')">饮水机清洗</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(174, '/SHFWCX/SHFWCX_BJQX', 'LB=40')">热水器清洗</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(174, '/SHFWCX/SHFWCX_BJQX', 'LB=41')">冰箱清洗</li>
                </ul>
                <span class="span_body_top_right" style="height:80px;">管道疏通</span>
                <ul class="ul_body_top_right" style="height:80px;">
                    <li class="li_body_top_right" onclick="OpenCXLB(175, '/SHFWCX/SHFWCX_GDSTQL', 'LB=128')">工业管道安装</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(175, '/SHFWCX/SHFWCX_GDSTQL', 'LB=129')">打捞</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(175, '/SHFWCX/SHFWCX_GDSTQL', 'LB=130')">市政管道清淤</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(175, '/SHFWCX/SHFWCX_GDSTQL', 'LB=131')">隔油池维修</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(175, '/SHFWCX/SHFWCX_GDSTQL', 'LB=126')">马桶疏通</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(175, '/SHFWCX/SHFWCX_GDSTQL', 'LB=125')">下水道疏通</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(175, '/SHFWCX/SHFWCX_GDSTQL', 'LB=1311')">隔油池清理</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(175, '/SHFWCX/SHFWCX_GDSTQL', 'LB=1281')">工业管道改造</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(175, '/SHFWCX/SHFWCX_GDSTQL', 'LB=127')">化粪池清理</li>
                </ul>
                <span class="span_body_top_right">生活配送</span>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(176, '/SHFWCX/SHFWCX_SHPS', 'LB=96')">桶装水</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(176, '/SHFWCX/SHFWCX_SHPS', 'LB=97')">跑腿服务</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(176, '/SHFWCX/SHFWCX_SHPS', 'LB=98')">粮油副食</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(176, '/SHFWCX/SHFWCX_SHPS', 'LB=99')">液化气/煤气</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(176, '/SHFWCX/SHFWCX_SHPS', 'LB=100')">蔬菜水果</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(176, '/SHFWCX/SHFWCX_SHPS', 'LB=101')">煤炭</li>
                </ul>
                <span class="span_body_top_right">家电维修</span>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(178, '/SHFWCX/SHFWCX_JDWX', 'LB=183')">冰箱维修</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(178, '/SHFWCX/SHFWCX_JDWX', 'LB=184')">电视维修</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(178, '/SHFWCX/SHFWCX_JDWX', 'LB=185')">热水器维修</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(178, '/SHFWCX/SHFWCX_JDWX', 'LB=186')">空调维修/移机</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(178, '/SHFWCX/SHFWCX_JDWX', 'LB=187')">洗衣机维修</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(178, '/SHFWCX/SHFWCX_JDWX', 'LB=188')">厨房家电维修</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(178, '/SHFWCX/SHFWCX_JDWX', 'LB=189')">影音家电维修</li>
                </ul>
                <span class="span_body_top_right">数码维修</span>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(184, '/SHFWCX/SHFWCX_SMWX', 'LB=432')">数码相机维修</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(184, '/SHFWCX/SHFWCX_SMWX', 'LB=433')">摄像机维修</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(184, '/SHFWCX/SHFWCX_SMWX', 'LB=434')">单反相机</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(184, '/SHFWCX/SHFWCX_SMWX', 'LB=435')">单电/微单相机</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(184, '/SHFWCX/SHFWCX_SMWX', 'LB=436')">游戏机</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(184, '/SHFWCX/SHFWCX_SMWX', 'LB=437')">数码相框</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(184, '/SHFWCX/SHFWCX_SMWX', 'LB=438')">录音设备</li>
                </ul>
                <span class="span_body_top_right">电脑维修</span>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(179, '/SHFWCX/SHFWCX_DNWX', 'LB=313')">台式电脑</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(179, '/SHFWCX/SHFWCX_DNWX', 'LB=314')">笔记本维修</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(179, '/SHFWCX/SHFWCX_DNWX', 'LB=315')">平板电脑维修</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(179, '/SHFWCX/SHFWCX_DNWX', 'LB=316')">网络维修</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(179, '/SHFWCX/SHFWCX_DNWX', 'LB=317')">服务器维修</li>
                </ul>
                <span class="span_body_top_right">房屋维修</span>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(180, '/SHFWCX/SHFWCX_FWWX', 'LB=408')">暖气水管维修</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(180, '/SHFWCX/SHFWCX_FWWX', 'LB=409')">卫浴/洁具维修</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(180, '/SHFWCX/SHFWCX_FWWX', 'LB=410')">门窗维修/安装</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(180, '/SHFWCX/SHFWCX_FWWX', 'LB=411')">灯具维修/安装</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(180, '/SHFWCX/SHFWCX_FWWX', 'LB=414')">水管/水龙头维修</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(180, '/SHFWCX/SHFWCX_FWWX', 'LB=413')">电路维修/安装</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(180, '/SHFWCX/SHFWCX_FWWX', 'LB=412')">防水补漏</li>
                </ul>
                <span class="span_body_top_right">家具维修</span>
                <ul class="ul_body_top_right">
                    <li class="li_body_top_right" onclick="OpenCXLB(181, '/SHFWCX/SHFWCX_JJWX', 'LB=426')">桌椅柜维修</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(181, '/SHFWCX/SHFWCX_JJWX', 'LB=427')">地板维修</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(181, '/SHFWCX/SHFWCX_JJWX', 'LB=428')">钟表维修</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(181, '/SHFWCX/SHFWCX_JJWX', 'LB=429')">办公家具维修</li>
                    <li class="li_body_top_right" onclick="OpenCXLB(181, '/SHFWCX/SHFWCX_JJWX', 'LB=430')">沙发维修护理</li>
                </ul>
                <span class="span_body_top_right">娱乐场所</span>
                <ul class="ul_body_top_right"></ul>
                <span class="span_body_top_right">健身美体</span>
                <ul class="ul_body_top_right"></ul>
                <span class="span_body_top_right">户外运动</span>
                <ul class="ul_body_top_right"></ul>
                <span class="span_body_top_right">洗浴温泉</span>
                <ul class="ul_body_top_right"></ul>
                <span class="span_body_top_right">导游服务</span>
                <ul class="ul_body_top_right"></ul>
                <span class="span_body_top_right">旅行社</span>
                <ul class="ul_body_top_right"></ul>
                <span class="span_body_top_right">旅游度假</span>
                <ul class="ul_body_top_right"></ul>
                <span class="span_body_top_right">宾馆酒店</span>
                <ul class="ul_body_top_right"></ul>
                <span class="span_body_top_right">机票服务</span>
                <ul class="ul_body_top_right"></ul>
                <span class="span_body_top_right">签证服务</span>
                <ul class="ul_body_top_right"></ul>
                <span class="span_body_top_right">婚纱摄影</span>
                <ul class="ul_body_top_right"></ul>
                <span class="span_body_top_right">婚庆公司</span>
                <ul class="ul_body_top_right"></ul>
                <span class="span_body_top_right">婚车租赁</span>
                <ul class="ul_body_top_right"></ul>
                <span class="span_body_top_right">婚庆用品</span>
                <ul class="ul_body_top_right"></ul>
                <span class="span_body_top_right">婚礼跟拍</span>
                <ul class="ul_body_top_right"></ul>
                <span class="span_body_top_right">婚纱礼服</span>
                <ul class="ul_body_top_right"></ul>
            </div>
        </div>
        <div id="div_body_middle" class="div_body_middle">

        </div>
    </div>
    <div class="div_bottom">
        <p class="p_div_bottom">©2017 福建天问信息技术有限公司 客服电话：400-036-3432 | 021-6430110（周一至周日，9:00-18:00）</p>
        <p class="p_div_bottom reduce">闽ICP备06019413号 | 闽ICP证B2-20080088 | 闽公网安备31010402000116号</p>
    </div>
}
