@{
    Layout = "~/Areas/Business/Views/Shared/SY.cshtml";
}
@section Section_Head {
    <link href="@Url.Content("~/Areas/Business/Css/SY/ZPSY.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/SY/ZPSY.js")"></script>
}
@section Section_Body {
    <div id="div_Body" class="div_body">
        <div class="div_body_top">
            <div class="div_body_top_left">
                <p class="p_body_top_left">招聘</p>
                <ul class="ul_body_top_left">
                    <li class="li_body_top_left"></li>
                </ul>
            </div>
            <div class="div_body_top_right">

            </div>
        </div>
        <div class="div_body_middle">

        </div>
    </div>
    <div class="div_bottom">
        <p class="p_div_bottom">©2017 福建天问信息技术有限公司 客服电话：400-036-3432 | 021-6430110（周一至周日，9:00-18:00）</p>
        <p class="p_div_bottom reduce">闽ICP备06019413号 | 闽ICP证B2-20080088 | 闽公网安备31010402000116号</p>
    </div>
}
