@{
    ViewBag.Title = "LYJD_GNY";
    Layout = "~/Areas/Business/Views/Shared/HTFB.cshtml";
}
@section Section_Head {
    <link href="@Url.Content("~/Areas/Business/Css/HTFB/LYJD/LYJD_GNY.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/HTFB/LYJD/LYJD_GNY.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/HTFB/LYJD/LYJD_GNYYZ.js")"></script>
}
@section Section_Body {
    <div id="myTabContent" class="div_content">
        <div id="divJBXX" class="div_split" style="display: block; text-align: left">
            <span class="span_split">基础信息</span>
            <em class="em_split"></em>
        </div>
        <div id="divBT" class="div_row" style="margin-top: 22px;">
            <div class="div_row_left">
                <span class="span_required">*</span>
                <span id="spanBT">线路名称</span>
            </div>
            <div class="div_row_right">
                <input id="BT" maxlength="50" column="BT" class="input_input SRK" type="text" placeholder="吸引人的标题可让更多的人看您的信息喔" />
                <div id="divBTTip"></div>
            </div>
        </div>
        <div id="divXLTS" class="div_row" style="position: relative; z-index: 997;">
            <div class="div_row_left" style="height: 70px; vertical-align: top;">
                <span class="span_required" style="vertical-align: top">*</span>
                <span id="spanXLTS" style="vertical-align: top">线路特色</span>
            </div>
            <div class="div_row_right">
                <script id="XLTS" type="text/plain" style="width: 594px; height: 100px; display: inline-block;">
                </script>
                <div id="divXLTSTip" class="Warn"></div>
            </div>
        </div>
        <div id="divGNYCYFS" class="div_row" style="z-index: 996">
            <div class="div_row_left">
                <span class="span_required">*</span>
                <span class="spanFWCZ">出游方式</span>
            </div>
            <div class="div_row_right">
                <div id="divCYFSText" class="div_select_out SRK" style="position: relative;">
                    <div id="divCYFSSpan" class="div_select_in" style="border: none; margin-top: 6px;">
                        <span id="spanCYFS" class="span_select spaninput_fontcolor" style="margin-top: 0">请选择出游方式</span>
                        <div class="span_select_arrow"></div>
                    </div>
                    <div id="divCYFS" class="div_select_dropdown" style="margin-top: -7px; margin-left: -1px;">
                    </div>
                </div>
            </div>
            <div id="divGNYCYFSTip"></div>
        </div>
        <div id="divFTRQ" class="div_row" style="z-index: 995">
            <div class="div_row_left">
                <span class="span_required">*</span>
                <span class="spanFWCZ">发团日期</span>
            </div>
            <div class="div_row_right">
                <div id="div_ftrq_ttft" class="div_radio">
                    <img class="img_radio" id="img_ftrq_ttft" /><label class="label_radio">天天发团</label>
                </div>
                <div id="div_ftrq_xzrq" class="div_radio">
                    <img class="img_radio" id="img_ftrq_xzrq" /><label class="label_radio">选择日期</label>
                </div>
            </div>
            <div id="divFTRQTip"></div>
        </div>
        <div id="divWFJT" class="div_row" style="z-index: 994">
            <div class="div_row_left">
                <span class="span_required">*</span>
                <span class="spanFWCZ">往返交通</span>
            </div>
            <div class="div_row_right">
                <div id="divWFJT_QText" class="div_select_out SRK" style="position: relative;">
                    <div id="divWFJT_QSpan" class="div_select_in" style="border: none; margin-top: 6px;">
                        <span id="spanWFJT_Q" class="span_select spaninput_fontcolor" style="margin-top: 0">请选择</span>
                        <div class="span_select_arrow"></div>
                    </div>
                    <div id="divWFJT_Q" class="div_select_dropdown" style="margin-top: -7px; margin-left: -1px;">
                    </div>
                </div>
                /
                <div id="divWFJT_HText" class="div_select_out SRK" style="position: relative;">
                    <div id="divWFJT_HSpan" class="div_select_in" style="border: none; margin-top: 6px;">
                        <span id="spanWFJT_H" class="span_select spaninput_fontcolor" style="margin-top: 0">请选择</span>
                        <div class="span_select_arrow"></div>
                    </div>
                    <div id="divWFJT_H" class="div_select_dropdown" style="margin-top: -7px; margin-left: -1px;">
                    </div>
                </div>
            </div>
            <div id="divWFJTTip"></div>
        </div>
        <div id="divXCTS" class="div_row" style="z-index: 993">
            <div class="div_row_left">
                <span class="span_required">*</span>
                <span class="spanFWCZ">行程天数</span>
            </div>
            <div class="div_row_right">
                <div id="divXCTS_RText" class="div_select_out SRK" style="position: relative;">
                    <div id="divXCTS_RSpan" class="div_select_in" style="border: none; margin-top: 6px;">
                        <span id="spanXCTS_R" class="span_select spaninput_fontcolor" style="margin-top: 0">请选择</span>
                        <div class="span_select_arrow"></div>
                    </div>
                    <div id="divXCTS_R" class="div_select_dropdown" style="margin-top: -7px; margin-left: -1px;">
                    </div>
                </div>
                /
                <div id="divXCTS_WText" class="div_select_out SRK" style="position: relative;">
                    <div id="divXCTS_WSpan" class="div_select_in" style="border: none; margin-top: 6px;">
                        <span id="spanXCTS_W" class="span_select spaninput_fontcolor" style="margin-top: 0">请选择</span>
                        <div class="span_select_arrow"></div>
                    </div>
                    <div id="divXCTS_W" class="div_select_dropdown" style="margin-top: -7px; margin-left: -1px;">
                    </div>
                </div>
            </div>
            <div id="divXCTSTip"></div>
        </div>
        <div id="divXCAP" class="div_row" style="z-index: 992;">
            <div class="div_row_left" style="height: 170px; vertical-align: top;">
                <span class="span_required" style="vertical-align: top">*</span>
                <span id="spanXCAP" style="vertical-align: top">行程安排</span>
            </div>
            <div class="div_row_right">
                <script id="XCAP" type="text/plain" style="width: 594px; height: 200px; display: inline-block;">
                </script>
                <div id="divXCAPTip" class="Warn"></div>
            </div>
        </div>
        <div id="divYDXZ" class="div_row" style="z-index: 991;">
            <div class="div_row_left" style="height: 70px; vertical-align: top;">
                <span class="span_required" style="vertical-align: top">*</span>
                <span id="spanYDXZ" style="vertical-align: top">预定须知</span>
            </div>
            <div class="div_row_right">
                <script id="YDXZ" type="text/plain" style="width: 594px; height: 100px; display: inline-block;">
                </script>
                <div id="divYDXZTip" class="Warn"></div>
            </div>
        </div>
        <div id="divFWZP" class="div_row" style="z-index: 990">
            <div class="div_row_left" style="height: 170px; vertical-align: top;">
                <span class="span_required" style="vertical-align: top">*</span>
                <span id="spanFWZP" style="vertical-align: top">上传照片</span>
            </div>
            <div class="div_row_right">
                <div id="div_upload" class="div_upload">
                    <form action="" enctype="multipart/form-data" id="myform" method="post">
                        <input id="input_upload" unselectable="on" type="file" multiple="multiple" class="file" />
                    </form>
                </div>
                <div style="margin-left: 214px; font-size: 14px; color: #999999;">
                    <span>最多8张，可多选上传，最大10mb。有图可使浏览量增加3倍，并会在推荐位显示。</span>
                </div>
                <div id="divTPTip" style="margin-top: 10px; margin-left: 210px;"></div>
            </div>
        </div>
        <div id="divFWZPValue" class="div_row_zp" style="display: none; text-align: left;">
            <div class="div_row_left" style="height: 170px; vertical-align: top;">
                <span class="span_required"></span>
                <span id="spanFWZP" style="width: 56px; display: inline-block;"></span>
            </div>
            <div id="divImgs1" class="div_row_right" style="display: inline-block; width: 670px;">
                <ul id="ulImgs1" class="ulImgs" style="padding-left: 0px;"></ul>
            </div>
            <div class="div_row_left" style="height: 170px; vertical-align: top;">
                <span class="span_required"></span>
                <span id="spanFWZP" style="width: 56px; display: inline-block;"></span>
            </div>
            <div id="divImgs2" class="div_row_right" style="display: inline-block; width: 670px;">
                <ul id="ulImgs2" class="ulImgs" style="padding-left: 0px;"></ul>
            </div>
        </div>
        <div id="divFYSM" class="div_split" style="display: block; text-align: left;">
            <span class="span_split">费用说明</span>
            <em class="em_split"></em>
        </div>
        <div id="divMSJ" class="div_row" style="z-index: 992;">
            <div class="div_row_left" style="margin-left: 114px;">
                <span class="span_required">*</span>
                <span class="spanFWCZ">门市价</span>
            </div>
            <div class="div_row_right">
                <span id="spanMSJ" class="span_spaninput SRK" style="display: inline-block; width: 150px;">
                    <input class="input_spaninput spaninput_fontcolor" id="MSJ" maxlength="9" column="MSJ" type="text" style="width: 100px" />
                    <span class="spaninput_fontcolor">元/人</span>
                </span>
            </div>
            <div id="divMSJTip" class="Warn"></div>
        </div>
        <div id="divYHJ" class="div_row" style="z-index: 992;">
            <div class="div_row_left" style="margin-left: 114px;">
                <span class="span_required">*</span>
                <span class="spanFWCZ">优惠价</span>
            </div>
            <div class="div_row_right">
                <span id="spanYHJ_CR" class="span_spaninput SRK" style="display: inline-block; width: 150px;">
                    <span class="spaninput_fontcolor" style="margin-left: 10px;">成人</span>
                    <input class="input_spaninput spaninput_fontcolor" id="YHJ_CR" maxlength="5" column="YHJ_CR" type="text" style="width: 50px" />
                    <span class="spaninput_fontcolor">元/人</span>
                </span>
                <span id="spanYHJ" class="span_spaninput SRK" style="display: inline-block; width: 150px;">
                    <span class="spaninput_fontcolor" style="margin-left: 10px;">儿童</span>
                    <input class="input_spaninput spaninput_fontcolor" id="YHJ_ET" maxlength="5" column="YHJ_ET" type="text" style="width: 50px" />
                    <span class="spaninput_fontcolor">元/人</span>
                </span>
            </div>
            <div id="divYHJTip" class="Warn"></div>
        </div>
        <div id="divFYBH" class="div_row" style="z-index: 992;">
            <div class="div_row_left" style="height: 170px; vertical-align: top;">
                <span class="span_required" style="vertical-align: top">*</span>
                <span id="spanFYBH" style="vertical-align: top">费用包含</span>
            </div>
            <div class="div_row_right">
                <script id="FYBH" type="text/plain" style="width: 594px; height: 200px; display: inline-block;">
                </script>
                <div id="divFYBHTip" class="Warn"></div>
            </div>
        </div>
        <div id="divZFXM" class="div_row" style="z-index: 992;">
            <div class="div_row_left" style="height: 170px; vertical-align: top;">
                <span class="span_required" style="vertical-align: top">*</span>
                <span id="spanZFXM" style="vertical-align: top">自费项目</span>
            </div>
            <div class="div_row_right">
                <script id="ZFXM" type="text/plain" style="width: 594px; height: 200px; display: inline-block;">
                </script>
                <div id="divZFXMTip" class="Warn"></div>
            </div>
        </div>
        <div id="divLXRXX" class="div_split" style="display: block; text-align: left;">
            <span class="span_split">联系人信息</span>
            <em class="em_split"></em>
        </div>
        <div id="divSZQY" class="div_row" style="z-index: 991;">
            <div class="div_row_left" style="margin-left: 100px;">
                <span class="span_required">*</span>
                <span class="spanFWCZ">详细地址</span>
            </div>
            <div class="div_row_right">
                <div id="divQYText" class="div_select_out SRK" style="z-index: 997;">
                    <div id="divQYSpan" class="div_select_in" style="border: none; margin-top: 6px;">
                        <input type="hidden" id="QYCode" />
                        <span id="spanQY" class="span_select spaninput_fontcolor" style="margin-top: 0">请选择区域</span>
                        <div class="span_select_arrow"></div>
                    </div>
                    <div id="divQY" class="div_select_dropdown" style="margin-top: -7px; margin-left: -1px;">
                    </div>
                </div>
                <div id="divDDText" class="div_select_out SRK" style="z-index: 997;">
                    <div id="divDDSpan" class="div_select_in" style="border: none; margin-top: 6px;">
                        <span id="spanDD" class="span_select spaninput_fontcolor" style="margin-top: 0">请选择地段</span>
                        <div class="span_select_arrow"></div>
                    </div>
                    <div id="divDD" class="div_select_dropdown" style="margin-top: -7px; margin-left: -1px;">
                    </div>
                </div>
                <input id="JTDZ" column="JTDZ" class="span_spaninput input_input SRK" type="text" placeholder="请填写具体地址" style="width: 300px" />
            </div>
            <div id="divSZQYTip"></div>
        </div>
        <div id="divLXR" class="div_row" style="z-index: 990">
            <div class="div_row_left" style="margin-left: 114px;">
                <span class="span_required">*</span>
                <span id="spanLXDH">联系人</span>
            </div>
            <div class="div_row_right">
                <input id="LXR" column="LXR" class="input_input SRK" type="text" placeholder="请输入联系人" />
                <div id="divLXRTip"></div>
            </div>
        </div>
        <div id="divLXDH" class="div_row" style="z-index: 989">
            <div class="div_row_left">
                <span class="span_required">*</span>
                <span id="spanLXDH">联系电话</span>
            </div>
            <div class="div_row_right">
                <input id="LXDH" maxlength="11" column="LXDH" class="input_input SRK" type="text" placeholder="请输入联系电话" />
                <div id="divLXDHTip"></div>
            </div>
        </div>
        <div id="divQQ" class="div_row" style="margin-top: -12px;" style="z-index: 988">
            <div class="div_row_left" style="margin-left: 133px;">
                <span class="span_required"></span>
                <span id="spanQQ">QQ</span>
            </div>
            <div class="div_row_right">
                <input column="QQ" class="input_input SRK" type="text" placeholder="请输入QQ" />
            </div>
        </div>
        <div id="divFB" class="div_split" style="display: block; text-align: center; margin-top: 40px;">
            <input type="button" class="btn btn-info input_text" style="height: 50px; font-size: 24px;" id="btnFB" value="发布" />
        </div>
    </div>
}