<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.Public">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 百度定位权限相关 -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 授予该程序使用摄像头的权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 授予该程序使用读取文件的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="LBCX.SY_Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="w7NQOKL8SpxHrs6lixBNoe90" />

        <activity android:name="Common.YHDL" />
        <activity android:name="Common.YHZC" />
        <activity android:name="Common.GRZX_Main" />
        <activity android:name="Common.XX_Main" />
        <activity
            android:name="Common.Base"
            android:theme="@style/AppTheme" />
        <activity android:name="Common.GRZX_WDFB" />
        <activity android:name="LBXZ.FB_Main" />
        <activity android:name="LBCX.SY_ZF" />
        <activity android:name="LBCX.SY_ESF" />
        <activity android:name="LBCX.SY_CW" />
        <activity android:name="LBCX.SY_SHFW" />
        <activity android:name="LBCX.SY_SWFW" />
        <activity android:name="LBCX.SY_ESWP" />
        <activity android:name="LBCX.SY_ZP" />
        <activity android:name="LBCX.SY_JZ" />
        <activity android:name="LBCX.SY_ESC" />
        <activity android:name="LBCX.SY_XC" />
        <activity android:name="LBXZ.FB_FC" />
        <activity android:name="LBXZ.FB_ESWP" />
        <activity android:name="LBXZ.FB_CL" />
        <activity android:name="LBXZ.FB_CW" />
        <activity android:name="LBXZ.FB_SWFW" />
        <activity android:name="LBXZ.FB_ZSJM" />
        <activity android:name="LBXZ.FB_PFCG" />
        <activity android:name="LBXZ.FB_JYPX" />
        <activity android:name="LBXZ.FB_ZXJC" />
        <activity android:name="LBXZ.FB_XXYL" />
        <activity android:name="LBXZ.FB_LR" />
        <activity android:name="LBXZ.FB_LYJD" />
        <activity android:name="LBXZ.FB_NLMY" />
        <activity android:name="LBXZ.FB_SHFW" />
        <activity android:name="FBXX.FC.FB_FC_XQCX" />
        <activity android:name="FBXX.FC.FB_FC_MJ" />
        <activity
            android:name="FBXX.FC.FB_FC_FWQK"
            android:launchMode="singleInstance" />
        <activity android:name="FBXX.FC.FB_FC_ZJ" />
        <activity android:name="FBXX.FC.FB_FC_ZJBHFY" />
        <activity android:name="FBXX.FC.FB_FC_LXRSF" />
        <activity android:name="FBXX.FC.FB_FC_LXRLXDH" />
        <activity android:name="FBXX.FC.FB_FC_CWDT" />
        <activity android:name="Common.EditPicture" />
        <activity android:name="Common.SelectPicture" />
        <activity android:name="Common.ShowPicture" />
        <activity
            android:name="FBXX.FC.FB_FC_ZZ"
            android:launchMode="singleInstance" />
        <activity
            android:name="FBXX.FC.FB_FC_ZZ2"
            android:launchMode="singleInstance" />
        <activity android:name="FBXX.FC.FB_FC_RZXX" />
        <activity
            android:name="FBXX.FC.FB_FC_HZ"
            android:launchMode="singleInstance" />
        <activity android:name="FBXX.FC.FB_FC_HXLC" />
        <activity android:name="FBXX.FC.FB_FC_LXCX" />
        <activity
            android:name="FBXX.FC.FB_FC_HZ2"
            android:launchMode="singleInstance" />
        <activity android:name="FBXX.FC.FB_FC_FWPZ" />
        <activity android:name="FBXX.FC.FB_FC_ZKYQ" />
        <activity android:name="FBXX.FC.FB_FC_FWMS" />
        <activity android:name="FBXX.FC.FB_FC_ESF" />
        <activity android:name="FBXX.FC.FB_FC_ESF_LXGN" />
        <activity android:name="FBXX.FC.FB_FC_ESF_CQZX" />
        <activity android:name="FBXX.FC.FB_FC_SJ" />
        <activity android:name="FBXX.FC.FB_FC_SP_LB" />
        <activity android:name="FBXX.FC.FB_FC_SP_SPLX" />
        <activity android:name="FBXX.FC.FB_FC_SP_MKCGJS" />
        <activity android:name="FBXX.FC.FB_FC_SP_JYZT" />
        <activity android:name="FBXX.FC.FB_FC_SP_JYHY" />
        <activity android:name="FBXX.FC.FB_FC_SP_YQSY" />
        <activity android:name="FBXX.FC.FB_FC_SP_LC" />
        <activity
            android:name="FBXX.FC.FB_FC_SP_CS"
            android:launchMode="singleInstance" />
        <activity
            android:name="FBXX.FC.FB_FC_SP_CS2"
            android:launchMode="singleInstance" />
        <activity
            android:name="FBXX.FC.FB_FC_SP_CZ"
            android:launchMode="singleInstance" />
        <activity
            android:name="FBXX.FC.FB_FC_SP_CZ2"
            android:launchMode="singleInstance" />
        <activity android:name="FBXX.FC.FB_FC_SP_WYFSFDF" />
        <activity android:name="FBXX.FC.FB_FC_YFFS" />
        <activity android:name="FBXX.FC.FB_FC_XZL_CZ" />
        <activity android:name="FBXX.FC.FB_FC_XZL_LB" />
        <activity android:name="FBXX.FC.FB_FC_XZL_CS" />
        <activity android:name="FBXX.FC.FB_FC_QT_CZ" />
        <activity android:name="FBXX.FC.FB_FC_QT_LB" />
        <activity android:name="FBXX.FC.FB_FC_QT_CS" />
        <activity android:name="FBXX.FC.FB_FC_QT_LX" />
        <activity android:name="FBXX.FC.FB_FC_QT_ZR" />
        <activity android:name="FBXX.FC.FB_FC_SP_ZR" />
        <activity android:name="FBXX.FC.FB_FC_SP_ZR2" />
        <activity android:name="FBXX.CL.FB_CL_ESC"></activity>
    </application>

</manifest>