body {width: 100%;height: 100%;overflow-x: hidden;background-color: #eeeff1;}

/*首页_主体_上部*/
.div_body .div_body_top{ width: 1200px;overflow-x: hidden;}
.div_body .div_body_top .div_body_top_inner{ width: 100%;height: 140px;margin-top: 10px;display: inline-block;float: left;background: #ffffff;padding: 10px 0px;}
.div_body .div_body_top .div_body_top_inner .ul_body_top{ padding: 0;}
.div_body .div_body_top .div_body_top_inner .ul_body_top .li_body_top{ width: 120px;float: left;cursor: pointer;}
.div_body .div_body_top .div_body_top_inner .ul_body_top .li_body_top .p_body_top_left_dl{padding-left: 10px;}
.div_body .div_body_top .div_body_top_inner .ul_body_top .li_body_top:hover .p_body_top_left_dl{ cursor: pointer;color: #ef6100;text-decoration: underline;}
.div_body .div_body_top .div_body_top_inner .ul_body_top .li_body_top .img_body_top{ width: 100px;height: 100px;margin-left: 10px;margin-right: 10px;text-align:center;display: block;background-size: 100%; }
.div_body .div_body_top .div_body_top_inner .ul_body_top .li_body_top .img_body_top:hover{ transform: scale(1.08);}
.div_body .div_body_top .div_body_top_inner .ul_body_top .li_body_top .p_body_top_left{display: block;text-align: center;margin: 0;width: 120px;}
.div_body .div_body_top .div_body_top_inner .ul_body_top .li_body_top .span_body_top_left{font-size: 12px;color: #999;display: inline-block;text-align: center;}
.div_body .div_body_top .div_body_top_inner .ul_body_top .li_body_top .span_body_top_left_xl:hover{ cursor: pointer;color: #ef6100;text-decoration: underline;}

/*首页_主体_中部*/
.div_body .div_body_middle{ width: 1200px;overflow-x: hidden;}
.div_body .div_body_middle .div_body_middle_left_section { width: 280px;height: 400px;display: block;float: left;padding: 10px;background: #ffffff;display: inline-block;margin-right: 10px;margin-top: 10px;}
.div_body .div_body_middle .div_body_middle_left_section .p_body_middle_left_title{font-size: 26px;border-bottom: 2px solid #5bc0de;display: block;height: 52px;color: #333333;}
.div_body .div_body_middle .div_body_middle_left_section .p_body_middle_left_title_small{font-size: 14px;color: #999999;display: block;height: 25px;}
.div_body .div_body_middle .div_body_middle_left_section .ul_body_middle_left_section{display: block;padding: 0;height: 30px;}
.div_body .div_body_middle .div_body_middle_left_section .ul_body_middle_left_section .li_body_middle_left_section{display: inline-block;width: 80px;height: 30px;font-size: 15px;float: left;color: #333333;}
.div_body .div_body_middle .div_body_middle_left_section .ul_body_middle_left_section .li_body_middle_left_section:hover{ cursor: pointer;color: #ef6100;text-decoration: underline;}
.div_body .div_body_middle .div_body_middle_left_section_fl{ display: block;}
.div_body .div_body_middle .div_body_middle_left_section_fl .span_body_middle_left_section_fl_left{ display: inline-block;float: left;width: 75px;}
.div_body .div_body_middle .div_body_middle_left_section_fl .span_body_middle_left_section_fl_left:hover{ cursor: pointer;color: #ef6100;text-decoration: underline;}
.div_body .div_body_middle .div_body_middle_left_section_fl .span_body_middle_left_section_fl_right{ display: inline-block;height: 30px;}
.div_body .div_body_middle .div_body_middle_left_section_fl .span_body_middle_left_section_fl_right:hover{ cursor: pointer;color: #ef6100;text-decoration: underline;}
.div_body .div_body_middle .div_body_middle_left_section_fl .em_body_middle_left_section_fl_right{ display: inline-block;margin-left: 3px;margin-right: 3px;}

/*首页_主体_底部*/
.div_body .div_body_bottom{ width: 1200px;height: 280px;display: block;margin-top: 10px; overflow-x: hidden;background: #ffffff;padding: 10px 20px;}
.div_body .div_body_bottom .p_div_body_bottom_title{font-size: 16px;font-weight: 700;border-bottom: 1px solid #cccccc;display: block;height: 35px;color: #5bc0de;}
.div_body .div_body_bottom .div_body_bottom_section{ width: 276px;height: 200px;border-right: 1px solid #cccccc;float: left;}
.div_body .div_body_bottom .div_body_bottom_section .p_div_body_bottom_section_title{font-size: 14px;display: block;height: 25px;}
.div_body .div_body_bottom .div_body_bottom_section .ul_body_bottom_section{ padding: 0;}
.div_body .div_body_bottom .div_body_bottom_section .ul_body_bottom_section .li_body_bottom_section{ width: 80px;height: 60px;float: left;margin-top: 10px;}
.div_body .div_body_bottom .div_body_bottom_section .ul_body_bottom_section .li_body_bottom_section .p_li_body_bottom_section{ text-align: center;font-size: 13px;color: #999999;}
.div_body .div_body_bottom .div_body_bottom_section .ul_body_bottom_section .li_body_bottom_section .p_li_body_bottom_section:hover{ cursor: pointer;color: #ef6100;text-decoration: underline;}
.div_body .div_body_bottom .div_body_bottom_section .ul_body_bottom_section .li_body_bottom_section .p_li_body_bottom_section .img_li_body_bottom_section{ width: 28px;height: 28px;display: block;margin-left: 25px;}
.orange{color: #ef6100;}
.gray{ color: #999999;}
.blue{ color: #5bc0de;}

/*首页_下部*/
.div_foot{ width: 1200px;overflow-x: hidden;background: #ffffff;height: 300px;display: block;padding: 20px 10px;margin-top: 10px;}
.div_foot .div_foot_left{ width: 195px;height: 100%;float: left;border-bottom: 1px solid #cccccc;}
.div_foot .div_foot_right{ width: 195px;float: left;height: 100%;border-bottom: 1px solid #cccccc;}
.div_foot .div_foot_right .p_div_foot_right{ font-weight: 700;font-size: 16px;height: 45px;}
.div_foot .div_foot_right .ul_div_foot_right{width: 195px;padding: 0;}
.div_foot .div_foot_right .ul_div_foot_right .li_div_foot_right{ height: 30px;color: #999999;font-size: 13px;}
.div_foot .div_foot_right .ul_div_foot_right .li_div_foot_right:hover{ cursor: pointer;color: #ef6100;text-decoration: underline;}

/*首页_底部*/
.div_bottom{width: 1200px;overflow-x: hidden;background: #ffffff;height: 100px;display: block;}
.div_bottom .p_div_bottom { width: 100%;text-align: center;}

::-webkit-input-placeholder { color:#999999; }
::-moz-placeholder { color:#999999; } /* firefox 19+ */
:-ms-input-placeholder { color:#999999; } /* ie */