@{
    ViewBag.Title = "BZZX_LXKF";
    Layout = "~/Areas/Business/Views/Shared/_ListLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/BZZX/BZZX_LXKF.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/BZZX/BZZX_LXKF.js")"></script>
</head>
<body>
    <div class="div_body">
        <div class="div_content" style="margin-top:20px;">
            <span class="span_step span_step_first"></span>
            <span class="span_step_text">请选择问题类型：</span>
        </div>
        <div class="div_content div_content_wtlx">
            <div class="div_wtlx">
                <table class="table_wtlx">
                    <tr class="tr_wtlx">
                        <td class="td_wtlx_inner_left">信息问题</td>
                        <td class="td_wtlx_inner_right">
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_xxbsc">信息被删除</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_xxbfhxg">信息被返回修改</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_xxbpflbd">信息被判分类不当</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_xxbxs">信息不显示/无法刷新</span>
                        </td>
                    </tr>
                    <tr class="tr_wtlx">
                        <td class="td_wtlx_inner_left"></td>
                        <td class="td_wtlx_inner_right">
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_tsjbxjxx">投诉举报虚假信息</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_mysjhm">冒用手机号码</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_qtxxmy">其它信息冒用</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_ssbts">申诉被投诉</span>
                        </td>
                    </tr>
                    <tr class="tr_wtlx">
                        <td class="td_wtlx_inner_left">账户问题</td>
                        <td class="td_wtlx_inner_right">
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_zhbdj">账户被冻结</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_bpwfczj">被判为房产中介</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_bpwessj">被判为二手商家</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_bpwzj">被判为职介</span>
                        </td>
                    </tr>
                    <tr class="tr_wtlx">
                        <td class="td_wtlx_inner_left"></td>
                        <td class="td_wtlx_inner_right">
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_ghrz">跟换认证</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_zhmm">找回密码</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_zhbd">账户被盗</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_czwt">充值问题</span>
                        </td>
                    </tr>
                    <tr class="tr_wtlx">
                        <td class="td_wtlx_inner_left">合作及其他</td>
                        <td class="td_wtlx_inner_right">
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_hzzx">合作咨询</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_zxzz">在线增值</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_xtwt">系统问题</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_tges">团购、二手等</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="div_content" style="margin-top:20px;">
            <span class="span_step span_step_second"></span>
            <span class="span_step_text" id="span_step_text_second">请描述您遇到的问题：</span>
        </div>
        <div class="div_content div_content_wtjj">
            <div class="div_wtjj">
                <div class="div_wtjj_inner" id="div_xxbsc" style="display:none">
                    <table class="table_wtjj">
                        <tr class="tr_wtjj">
                            <td class="td_wtjj_inner_left">信息编号：</td>
                            <td class="td_wtjj_inner_right">
                                <input type="text" id="inputXXBH" class="input_content">
                                <input class="btn btn-info" id="btnCKBSCYY" type="button" style="margin-top: -3px; width: 123px;" value="查看被删除原因" />
                                <span class="span_ckxxbh">如何查看信息编号?</span>
                            </td>
                        </tr>
                        <tr class="tr_wtjj">
                            <td class="td_wtjj_inner_left"></td>
                            <td class="td_wtjj_inner_right" id="td_xxbhinfo"></td>
                        </tr>
                        <tr class="tr_wtjj">
                            <td class="td_wtjj_inner_left"></td>
                            <td class="td_wtjj_inner_right"></td>
                        </tr>
                    </table>
                </div>
                <div class="div_wtjj_inner" id="div_xxbfhxg">
                    <table class="table_wtjj">
                        <tr class="tr_wtjj" id="tr_xxbh">
                            <td class="td_wtjj_inner_left">信息编号：</td>
                            <td class="td_wtjj_inner_right">
                                <input type="text" id="inputXXBFHXG_XXBH" class="input_content">
                                <span class="span_ckxxbh">如何查看信息编号?</span>
                                <span class="span_xxbhinfo"></span>
                            </td>
                        </tr>
                        <tr class="tr_wtjj">
                            <td class="td_wtjj_inner_left" style="vertical-align:top;padding-top:15px;">问题描述：</td>
                            <td class="td_wtjj_inner_right">
                                <textarea class="textarea_mswt" id="textarea_mswt">请描述您的具体问题，字数在15至300之间</textarea>
                            </td>
                        </tr>
                        <tr class="tr_wtjj">
                            <td class="td_wtjj_inner_left">上传图片：</td>
                            <td class="td_wtjj_inner_right">
                                <input type="button" value="图片上传" />
                                <span>已上传图片1/5，最多可上传5张图片，支持：jpg/gif/png格式 </span>
                            </td>
                        </tr>
                        <tr class="tr_wtjj">
                            <td class="td_wtjj_inner_left"></td>
                            <td class="td_wtjj_inner_right">
                                <input class="button" type="button" value="提交问题" style="width:153px; height:44px" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="div_wtjj_inner" id="div_qtxxmy" style="display:none;">
                    <div style="display:block;height:75px;">
                        <span class="span_wtjj_inner" id="span_wtjj_inner_sfzbmy">1、身份证被冒用</span>
                        <span class="span_wtjj_inner" id="span_wtjj_inner_mygrxx">2、冒用个人肖像、公司名称等虚假信息</span>
                        <span class="span_wtjj_inner" id="span_wtjj_inner_gsxxbmy">3、公司信息被冒用</span>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_sfzbmy" id="div_wtjj_inner_sfzbmy" style="display:none">
                        根据您的问题，我们建议您：
                        <div class="div_wtjj_inner_sfzbmy_inner">
                            建议您取消或更换实名认证，请点击下方的"填表单，联系客服"按钮，在“描述问题中”填写“相关冒用的信息页面或用户页面的链接”，在“上传照片”中上传公司营业执照、法人身份证原件数码照，以便及时为您提交处理。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_mygrxx" id="div_wtjj_inner_mygrxx" style="display:none">
                        根据您的问题，我们建议您：
                        <div class="div_wtjj_inner_mygrxx_inner">
                            建议您在您被冒用的对应的信息页面中点击“举报”按钮进行举报并详细说明情况以便核实后处理。具体的按钮位置为： <br />
                            <span class="span_wtjj_inner_mygrxx_inner"></span>
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_gsxxbmy" id="div_wtjj_inner_gsxxbmy" style="display:none">
                        根据您的问题，我们建议您：
                        <div class="div_wtjj_inner_gsxxbmy_inner">
                            若您的公司信息被冒用，请点击此处快速申诉。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                </div>
                <div class="div_wtjj_inner" id="div_ssbts" style="display:none">
                    <div style="display:block;height:75px;">
                        <span class="span_wtjj_inner" id="span_wtjj_inner_btswxjwfxx">1、被投诉为虚假违法信息</span>
                        <span class="span_wtjj_inner" id="span_wtjj_inner_xxbsczmb">2、信息被删除怎么办</span>
                        <span class="span_wtjj_inner" id="span_wtjj_inner_xxbxs">3、信息不显示/无法刷新怎么办</span>
                        <span class="span_wtjj_inner" id="span_wtjj_inner_rhscdgsdpj">4、如何删除对公司的评价</span>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_btswxjwfxx" id="div_wtjj_inner_btswxjwfxx" style="display:none">
                        根据您的问题，我们建议您：
                        <div>
                            如果您的信息被投诉为虚假违法信息，请您确认是否违反信息小镇发帖版规，若有，则请修改信息并重新发布。若查看后发现没有违反相关规定，则请点击下方的“填表单，联系客服”按钮，联系客服人员解决。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_xxbsczmb" id="div_wtjj_inner_xxbsczmb" style="display:none">
                        根据您的问题，我们建议您：
                        <div>
                            请您确认是否违反信息小镇发帖版规，若有，则请修改信息，重新发布。若没有，则建议您在分类上面选择“信息被删除”类型的问题，联系客服处理。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_xxbxs" id="div_wtjj_inner_xxbxs" style="display:none">
                        根据您的问题，我们建议您：
                        <div>
                            请您确认是否违反信息小镇发帖版规，若有，则请修改信息，重新发布。
                            出现这种情况的用户一般是由于使用多账户发布信息导致信息严重违规且信息靠后显示或删除，信息无法显示、刷新、置顶、推广，如果您有此行为，建议您七个工作日（不包含周六，周日）后固定一个账户及手机号码重新发布信息，给您带来不便请谅解。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_rhscdgsdpj" id="div_wtjj_inner_rhscdgsdpj" style="display:none">
                        根据您的问题，我们建议您：
                        <div>
                            用户给予的评价暂时无法删除，给您带来不便请您谅解。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div_content div_content_tjkf" id="div_content_tjkf" style="margin-top:20px; display:none">
            <span class="span_step span_step_third"></span>
            <span class="span_step_text">描述具体问题提交至客服:（*为必填信息）</span>
        </div>
    </div>
</body>
</html>
