@{
    ViewBag.Title = "BZZX_WZJY";
    Layout = "~/Areas/Business/Views/Shared/QT.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/BZZX/BZZX_WZJY.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/BZZX/BZZX_WZJY.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/BZZX/BZZX_WZJYZP.js")"></script>
</head>
<body>
    <div class="div_body">
        <div class="div_wtjj_inner">
            <table class="table_wtjj">
                <tr class="tr_wtjj">
                    <td class="td_wtjj_inner_left"><span class="span_required" style="vertical-align: top">*</span>类别：</td>
                    <td class="td_wtjj_inner_right">
                        <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_xxbsc">信息分类建议</span>
                        <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_xxbfhxg">区域划分建议</span>
                        <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_xxbfhxg">创意点子</span>
                        <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_xxbfhxg">其他点子</span>
                    </td>
                </tr>
                <tr class="tr_wtjj">
                    <td class="td_wtjj_inner_left" style="vertical-align:top;padding-top:15px;"><span class="span_required" style="vertical-align: top">*</span>意见内容：</td>
                    <td class="td_wtjj_inner_right">
                        <textarea class="textarea_mswt" id="textarea_yjnr">您可填写15-300字。
您的意见若被采纳，会通过消息通知您，请关注消息更新记录
                        </textarea>
                        <span class="span_info" id="span_yjnrinfo"></span>
                    </td>
                </tr>
                <tr class="tr_wtjj">
                    <td class="td_wtjj_inner_left">上传图片：</td>
                    <td class="td_wtjj_inner_right">
                        <div id="divFWZPValue" class="div_row_zp" style="display: none; text-align: left;">
                            <div id="divImgs1" class="div_row_right" style="display: inline-block; width: 670px;">
                                <ul id="ulImgs1" class="ulImgs" style="padding-left: 0px;"></ul>
                            </div>
                        </div>
                        <div id="div_upload" class="div_upload">
                            <form action="" enctype="multipart/form-data" id="myform" method="post">
                                <input id="input_upload" unselectable="on" type="file" multiple="multiple" class="file" />
                            </form>
                        </div>
                        <span>已上传图片<span id="span_ysctp">0</span>/5，最多可上传5张图片，支持：jpg/gif/png格式 </span>
                    </td>
                </tr>
                <tr class="tr_wtjj" style="height:65px;vertical-align:top;">
                    <td class="td_wtjj_inner_left"></td>
                    <td class="td_wtjj_inner_right" style="padding-top:10px;">
                        <input class="button" id="btnTJJY" type="button" value="提交建议" style="width:153px; height:44px" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
