@{
    ViewBag.Title = "BZZX_SY_ZDJS";
    Layout = "~/Areas/Business/Views/Shared/_ListLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/BZZX/BZZX_SY_ZDJS.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/BZZX/BZZX_SY_ZDJS.js")"></script>
</head>
<body>
    <div class="div_head">
        <div class="div_head_main">
            <span class="span_head_main_logo"></span>
            <span class="span_head_main_bzzx">帮助中心</span>
        </div>
        <div class="div_head_nav">
            <div class="div_head_nav_info">
                <span class="span_head_nav_info" id="span_head_nav_info_sy">帮助中心首页 > 置顶介绍</span>
            </div>
        </div>
    </div>
    <div class="div_body">
        <div class="div_body_nav">
            <span class="span_body_nav">1、置顶是什么？</span>
            <span class="span_body_nav">2、置顶有什么好处？</span>
            <span class="span_body_nav">3、计划置顶是什么？</span>
            <span class="span_body_nav">4、置顶怎么展示？</span>
            <span class="span_body_nav">5、立即置顶怎么操作？</span>
            <span class="span_body_nav">6、立即置顶怎么扣费？</span>
            <span class="span_body_nav">7、计划置顶怎么操作？</span>
            <span class="span_body_nav">8、计划置顶怎么扣费？</span>
            <span class="span_body_nav">9、简历置顶规则</span>
            <span class="span_body_nav">10、置顶规则与协议</span>
            <span class="span_body_nav">11、信息小镇推广用户服务协议</span>
        </div>
    </div>
</body>
</html>
