@{
    Layout = "~/Areas/Business/Views/Shared/BZZX.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Areas/Business/Css/BZZX/BZZX_SY_XXBSC.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/BZZX/BZZX_SY_XXBSC.js")"></script>
</head>
<body>
    <div class="div_head">
        <div class="div_head_main">
            <span class="span_head_main_logo"></span>
            <span class="span_head_main_bzzx">帮助中心</span>
        </div>
    </div>
    <em class="em_split"></em>
    <div class="div_body">
        <div class="div_body_nav">
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="1"><span class="span_body_nav_inner_first">1、房产行业审核信息的原因判定</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="1_1"><span class="span_body_nav_inner childnode">1_1.标题内容违规说明</span></span>
                <span class="span_body_nav" id="1_2"><span class="span_body_nav_inner childnode">1_2.无意义内容违规说明</span></span>
                <span class="span_body_nav" id="1_3"><span class="span_body_nav_inner childnode">1_3.分类不当违规说明</span></span>
                <span class="span_body_nav" id="1_4"><span class="span_body_nav_inner childnode">1_4.图片违规原因说明</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="2"><span class="span_body_nav_inner_first">2、本地服务行业审核信息的原因判定</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="2_1"><span class="span_body_nav_inner childnode">2_1.站内禁止信息说明</span></span>
                <span class="span_body_nav" id="2_2"><span class="span_body_nav_inner childnode">2_2.标题内容违规说明</span></span>
                <span class="span_body_nav" id="2_3"><span class="span_body_nav_inner childnode">2_3.图片违规详细说明</span></span>
                <span class="span_body_nav" id="2_4"><span class="span_body_nav_inner childnode">2_4.分类不当详细说明</span></span>

            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="2_5"><span class="span_body_nav_inner childnode">2_5.无意义内容违规说明</span></span>
                <span class="span_body_nav" id="2_6"><span class="span_body_nav_inner childnode">2_6.信息虚假非法说明</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="3"><span class="span_body_nav_inner_first">3、招聘行业审核信息的原因判定</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="3_1"><span class="span_body_nav_inner childnode">3_1.内容违规说明</span></span>
                <span class="span_body_nav" id="3_2"><span class="span_body_nav_inner childnode">3_2.图片违规说明</span></span>
                <span class="span_body_nav" id="3_3"><span class="span_body_nav_inner childnode">3_3.分类不当说明</span></span>
                <span class="span_body_nav" id="3_4"><span class="span_body_nav_inner childnode">3_4.地址不详说明</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="3_5"><span class="span_body_nav_inner childnode">3_5.违禁信息说明</span></span>
                <span class="span_body_nav" id="3_6"><span class="span_body_nav_inner childnode">3_6.职位虚假说明</span></span>
                <span class="span_body_nav" id="3_7"><span class="span_body_nav_inner childnode">3_7.薪资虚假说明</span></span>
                <span class="span_body_nav" id="3_8"><span class="span_body_nav_inner childnode">3_8.涉黄信息说明</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="3_9"><span class="span_body_nav_inner childnode">3_9.虚假信息说明</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="4"><span class="span_body_nav_inner_first">4、二手市场审核信息的原因判定</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="4_1"><span class="span_body_nav_inner childnode">4_1.图片违规说明</span></span>
                <span class="span_body_nav" id="4_2"><span class="span_body_nav_inner childnode">4_2.内容违规说明</span></span>
                <span class="span_body_nav" id="4_3"><span class="span_body_nav_inner childnode">4_3.分类不当说明</span></span>
                <span class="span_body_nav" id="4_4"><span class="span_body_nav_inner childnode">4_4.价格虚假说明</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="4_5"><span class="span_body_nav_inner childnode">4_5.虚假灌水说明</span></span>
                <span class="span_body_nav" id="4_6"><span class="span_body_nav_inner childnode">4_6.站内禁止信息</span></span>
                <span class="span_body_nav" id="4_7"><span class="span_body_nav_inner childnode">4_7.信息虚假说明</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="5"><span class="span_body_nav_inner_first">5、车辆市场审核信息的原因判定</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="5_1"><span class="span_body_nav_inner childnode">5_1.图片违规说明</span></span>
                <span class="span_body_nav" id="5_2"><span class="span_body_nav_inner childnode">5_2.分类不当说明</span></span>
                <span class="span_body_nav" id="5_3"><span class="span_body_nav_inner childnode">5_3.广告信息说明</span></span>
                <span class="span_body_nav" id="5_4"><span class="span_body_nav_inner childnode">5_4.内容违规说明</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="5_5"><span class="span_body_nav_inner childnode">5_5.价格违禁信息说明</span></span>
            </div>
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_1">1.房产行业审核信息的原因判定</div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_1_1">1_1.标题内容违规说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="10" style="width:100px">业务类</td>
                        <td class="td_content">不能在房源标题中输入多小区信息，或其他房源信息；不能输入发布更新时间；不能输入编号类信息（包括但不仅限于房源编号等），否则将做房源下架处理</td>
                        <td rowspan="10" style="width:100px">信息返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">不能出现纯数字、字母、符号以及乱写的汉字或者无中文的信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">标题中不得出现“风铃网房产”,“风铃网推荐”,“风铃网精选”等类似词语</td>
                    </tr>
                    <tr>
                        <td class="td_content">标题不得以做广告的形式出现，例如: “走过路过不要错过”,“挥泪大甩卖”等类似词语</td>
                    </tr>
                    <tr>
                        <td class="td_content">标题不得发布诱导用户点击链接页面或分享信息，如 “网站链接” 、“欢迎进入xx网“、”打开xx网“、“微博微信账号”、“二维码“等，否则将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得使用繁体、异形字体、特殊符号等方式规避审核发布违规词，否则将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">内容中不得出现非风铃网的竞争品牌网址（如百姓网、搜房等）</td>
                    </tr>
                    <tr>
                        <td class="td_content">标题或内容中不得出现“加微信”以及繁体、异形字体、特殊符号等相关变形字</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布非本城市的房源信息</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_1_2">1_2.无意义内容违规说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="27" style="width:100px">业务类</td>
                        <td class="td_content">不得发布带有“第一（NO.1Top1）”、“唯一”、“首席”、“楼王”、“极品”、“冠军”、“绝版”、“奢侈”、“至尊”、“顶级享受”、“国家级”、“世界级”、“首个”、“首选”、“精确”、“最”、“绝对”、“首家”等夸张极限类词汇内容，否则将做房源下架处理</td>
                        <td rowspan="27" style="width:100px">信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布含以下内容的房源信息：升值或者投资回报的承诺；以项目到达某一具体参照物的所需时间表示项目位置；违反国家有关价格管理的规定；对规划或者建设中的交通、商业、文化教育设施以及其他市政条件作误导宣传，否则将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布带有 “中介费”、“佣金”等相关词汇的内容，否则将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布虚假房源，包括但不仅限于做低房价或到手价、房源已售（已租）的房源，否则将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布价格、面积有误房源：房源价格实际价格与挂牌价格严重不符，建筑面积或使用面积明显有误，将视为违规房源，并对此类房源进行删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得剽窃他人房源信息：未经原作者同意，擅自复制其文字、图片内容，不做任何修改或文字与原内容相似度90%以上，视为房源信息盗用，删除盗用信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得在房源“标题”、“描述”、“标签”中发布违背广告法的内容，否则将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得盗用他人文字信息（未经同意擅自复制截取文字内容，视为盗用），否则将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布问题房源，包括但不仅限于非家庭关系共同居住于同一间房内的房源，改变房屋原有结构人为分割出租的房源，以及人均居住面积低于5平方米或单间居住人数超过2人的房源，将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">联系人及内容不得出现国家领导人名字，不得出现借名人宣传的内容</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布曝光帖：如曝光某中介是黑中介或者曝光某个人信息等，如：竞品类侵权、直接与竞争对手进行比较或者贬低竞争对手的内容</td>
                    </tr>
                    <tr>
                        <td class="td_content">内容中不得出现只有电话、联系人乱码、非中文字符、异形字体、特殊符号等方式规避审核发布违规词</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布无房源描述的信息（如只是单纯的房产公司介绍或者宣传的内容的、只写急售急租等）</td>
                    </tr>
                    <tr>
                        <td class="td_content">内容描述中不得出现“家人出事急需借钱，或离婚、继承、分财产等”描述个人生活状态的信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">关于期房（未建完、描述提到XX年交房的）除新房类别外不得在其他类别发布期房信息 （内容中同时出现期房和现房都有的信息，信息可以通过）</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得出售房号、房票、指标（购买资格、购买指标，学区房指标）</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得出售房号，购房合同，购房资格的买房子送户口或者办学籍的，内容里描写的是房子可以通过，如果内容描述的是办户口或者学籍的好处，选择“标题或内容违规”删除，如果内容涉及到高考的，选择“无意义信息”删除）</td>
                    </tr>
                    <tr>
                        <td class="td_content">标题和内容中不得出现“顶账房、抵账房、抵债房、抵款房、垫款房、拍卖房、安置房、垫付、垫资”</td>
                    </tr>
                    <tr>
                        <td class="td_content">禁止以风铃网推荐、风铃网认证、风铃网诚信保障等为标题或内容发布信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">保障性住房（廉租房、公租房、两限房、军产房、未满五年经济适用房），不可出租或出售</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得出现代办理居住证、暂住证的信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得出现代提取公积金、消除贷款不良记录、拆借等民间借贷性质的贷款信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布信用卡套现、信用卡变现等提供信用卡服务</td>
                    </tr>
                    <tr>
                        <td class="td_content">内容中不得出现“上班没时间接电话加QQ联系、避免中介骚扰不接电话加QQ联系、内容中写明电话、是空号加QQ联系的、加QQ群号聊天讨论”含正常联系方式</td>
                    </tr>
                    <tr>
                        <td class="td_content">内容中不得出现“电话空号、电话非真实、电话停机、电话不想被骚扰”</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布重复房源，否则将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布与房产行业内容无关的信息</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_1_3">1_3.分类不当违规说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2" style="width:100px">业务类</td>
                        <td class="td_content">不得跨大类发布信息（如在房产类别发布二手、招聘信息；买卖墓地投放到本地生活服务；连锁加盟投放到本地商务服务；转让公司（无论是否带有房产）投放到本地商务服务）</td>
                        <td rowspan="2" style="width:100px">信息返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得跨小类发布信息（如将一手新房、租房信息发到二手房出售类别等。注：租房、合租、求租类别可以发布品牌公寓类信息）</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_1_4">1_4.图片违规原因说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="16" style="width:100px">业务类</td>
                        <td class="td_content">不得在图片上加盖任何竞品水印（包括但不仅限于其他网站logo，网址，100%、真房源、佣金等广告字样），否则将做房源下架处理；对于非竞品中介公司名称和logo，要求白色、透明、所占图片面积小于25%三个条件必须同时满足，否则将做房源下架处理；对于非竞品中介公司名称+宣传语——房源下架处理</td>
                        <td rowspan="16" style="width:100px">信息返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布虚假的房源图片（与内部图片或本套房源不一致的房源图，装修情况不一致），否则将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布模糊、失真的房源图片（遮挡、拼接、马赛克、翻转等），否则将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得在房源描述中插入图片（包括网站logo，头像等），否则将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">上传的室内图大小限制在100K-10M之间，图片长或宽皆不得小于720px，否则将无法上传</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得上传gif格式或者其他格式的动态图，否则将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得盗用他人图片（未经同意擅自复制截取图片内容，例如安居客和安居客水印重叠，安居客和赶集重叠的水印、58和赶集的重叠水印），否则将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得在室内图类型中使用非房源图片；不得在小区图类型中使用非小区环境图片；不得在户型图类型中使用非户型图图片</td>
                    </tr>
                    <tr>
                        <td class="td_content">图片中不得出现纯文字介绍图片，宣传单页</td>
                    </tr>
                    <tr>
                        <td class="td_content">图片中不得出现文字、数字、联系方式（QQ、微信、电话、网址、二维码）</td>
                    </tr>
                    <tr>
                        <td class="td_content">图片中不得出现自拍照（不涉黄）、地图，路线图 ,车站牌</td>
                    </tr>
                    <tr>
                        <td class="td_content">图片不得出现含广告违禁词（如含“最，100%，百分之百”等属于广告违禁词的摆台）</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得在图片周围添加任何形式的边框</td>
                    </tr>
                    <tr>
                        <td class="td_content">【商铺】【写字楼】【厂房/仓库/土地】类别，除门面（广告条幅，LED屏）中可含有电话外，其他情况按违规处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">【商铺】【写字楼】【厂房/仓库/土地】类别，图片为商品图，可以通过。其他类别不得发商品图</td>
                    </tr>
                    <tr>
                        <td class="td_content">【商铺】【写字楼】【厂房/仓库/土地】类别，图片为效果图（楼盘图、沙盘图等），可以通过，其他类别图片不能含效果图</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="div_body_nav_title" id="div_body_nav_title_2">2.本地服务行业审核信息的原因判定</div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_2_1">2_1.站内禁止信息说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>类别</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="57" class="td_bdfw_dl">业务类</td>
                        <td rowspan="8" class="td_bdfw_xl">投资担保</td>
                        <td class="td_content">1.出现“仅凭、只需要身份证（或者“身份证、银行卡、学生证、住址、公积金密码”中任意组合）可贷款”或相同意思；个人信用贷款，如果内容中出现“不看征信不看流水”、“可办黑户”、“信用不良”、“取消黑名单”以及表达相近意思的</td>
                        <td rowspan="70" class="td_bdfw_clfs">信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.投资理财类别，出现‘刷单套利’信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.黄页-贷款类内容中出现“平安易贷、平安普惠、大华银行、大华小额贷款”，均属于未授权信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.内容中含有“垫资”及其变形文字（垫还/代还——不能确认是高利贷的贷款暂不限制）</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.深圳市前海鑫桂石油化工发布投资理财信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">6.内容中提及：股票配资、配资炒股、股指配资、证券配资、股票融资等相近词信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">7.投资理财类别出现原油贵金属投资信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">8.禁止发布高利贷相关如水钱等信息</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">礼品定制</td>
                        <td class="td_content">未验证资质的公司及个人禁止发布含刻公章类信息（如信息中含刻公章，需验证营业执照+特种行业许可证/中国印章行业协会证明）<br />注：所有刻章类信息仅限在“礼品定制”类别发布；公司注册类别可顺带公章服务</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="td_bdfw_xl">工商注册</td>
                        <td class="td_content">1.未验证营业执照的公司及个人禁止代办“食品流通许可证”、“食品卫生许可证（简称卫生许可证）”的信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.单独转让或回收执照交易类服务</td>
                    </tr>
                    <tr>
                        <td rowspan="4" class="td_bdfw_xl">网络布线/维护</td>
                        <td class="td_content">1.有偿删帖消息</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.蹭网卡、永久免费上网类信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.禁止发布发帖机，发帖软件信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.禁止发布约车第三方作弊信息(如加速器、抢单/拒单/卡单器、定位模拟器、代注册、账号解封等)，以及淘宝刷钻、app刷单、提供微信投票、点赞、买卖粉丝等作弊信息</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">律师</td>
                        <td class="td_content">取保候审，看守所放人、监狱放人、保外就医及类似描述的此类信息，风铃网允许有资质的发布但不允许承诺字样</td>
                    </tr>
                    <tr>
                        <td rowspan="7" class="td_bdfw_xl">招商加盟</td>
                        <td class="td_content">1.买卖（含回收）、加盟 “军供、特供酒”的</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.禁止发布烟草信息。酒类买卖、招商加盟都可以发布</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.禁止发布泰国红牛、越南红牛招商信息(牛磺酸超标)</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.禁止发布“卡盟”招商加盟信息（利用黑卡进行QQ刷钻业务）</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.禁止发布“原油贵金属”、“微盘/微交易（原油贵金属交易平台）”招商加盟信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">6.禁止发布淘宝招商加盟（网店加盟里有品牌的可以通过）、网店培训、一件代发、商城返利网站等信息（微店可以通过）</td>
                    </tr>
                    <tr>
                        <td class="td_content">7.维卡币、摩根币、DGC等数字货币信息</td>
                    </tr>
                    <tr>
                        <td rowspan="3" class="td_bdfw_xl">二手回收</td>
                        <td class="td_content">1.禁止发布易燃易爆危险品类以及烟花爆竹的买卖回收信息（汽油、柴油类可以发布）</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.禁止发布“烟草回收”、“烟草买卖”以及相近意思的信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.回收酒可以发布；但都仅限发布在二手回收-礼品回收类别，不能多选其他类别</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">批发采购</td>
                        <td class="td_content">1.禁止发布出售电话卡、物联卡信息</td>
                    </tr>
                    <tr>
                        <td rowspan="5" class="td_bdfw_xl">美容美体/养生保健/医疗</td>
                        <td class="td_content">1.禁止发布有治病功效的医院及药品（减肥药、壮阳药不行）、药械信息（医用的不行，家用的可以，如眼保姆，轮椅、护理床等）；保健品、保健功能产品买卖（可以发布如VC，人参、枸杞等）；“根治乙肝 、 乙肝转阴”等夸大治疗效果的信息、祖传秘方治病信息拒绝</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.禁止发布处方药、禁止发布白加黑、康泰克等限制性非处方药，且发布药品信息，必须具有食品药品监管部门核发的《互联网药品交易服务资格证》，且必须为实体药品零售连锁企业；发布保健品信息，要求商家所发布的保健品需要具有国家食品药品监督管理局颁发的保健品批准文号，可在食品药品监督管理局网站查询</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.允许发布各类整容医院的“非破皮”性质的美容养生服务，涉及到医疗手术的，禁止发布（微整、割双眼皮、隆鼻、瘦脸等涉及“破皮”的信息，也属于医疗手术范畴，禁止发布）；纹身/纹眉（绣眉）/纹眼线/纹唇这些类目，只要内容不写“针刺”等破皮的字样，可以通过</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.禁止发布上门输液打针等医疗广告</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.信息中禁止出现成药（中草药、保健品可以）</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">驾校</td>
                        <td class="td_content">1. 禁止发布驾校免指纹芯片、电子围栏破解等代刷学时等作弊信息</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">长途专车</td>
                        <td class="td_content">禁止发布出发地点与终点涉及出入境的路线（如内地至港澳台、内地至国外）等无意义信息</td>
                    </tr>
                    <tr>
                        <td rowspan="3" class="td_bdfw_xl">汽车服务</td>
                        <td class="td_content">1.风铃网的学车、陪练业务类别，全部在线推广信息创意标题及描述、显示在风铃网列表页的内容不能含风铃网等引起客户误解为风铃网自营服务的字样，如“风铃网学车”</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.过户/验车类别允许发布买卖车牌、出租车牌、代办车牌、代拍车牌、指标转让、免摇号、违章代办、违章处理、收消驾照、代扣驾照分、无车年检/验车、人不来验车、改装车验车、疑难验车、老旧车验车、无车过户、无车报废、无车提档、代办进京证等信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.通过假结婚等不正当途径买卖车牌信息</td>
                    </tr>
                    <tr>
                        <td rowspan="7" class="td_bdfw_xl">教育培训-学历培训</td>
                        <td class="td_content">1.免考试、免成考、免统考、免试入学（不含自考）均不合格；有特殊条件的可以“如学历、荣誉称号、大赛获奖情况以各类奖项证书等”；1-3个科目以内免考信息可以通过</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.毕业院校是中国地质大学的（会有北京、武汉两个不同学校）</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.内容必须有培训课程或机构介绍合格，如果不符合要求删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.出现“全程托管”或类似内容禁止</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.内容出现只考一次、本人只参加一次考试，或类似内容禁止</td>
                    </tr>
                    <tr>
                        <td class="td_content">6.发布的内容中不能含有“包过、保过、协议包过、100%拿证、100%通过、100%取证、包拿证、包通过、包取证”等相近意思的词语</td>
                    </tr>
                    <tr>
                        <td class="td_content">7.毕业时间要求：公立学历、私立教育、民办教育、国家承认大专证、本科证等院校毕业时间必须一年以上，不能多于8 年；如出现半年、一个月毕业、一年左右等字样,则不合格</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">教育培训-外语培训</td>
                        <td class="td_content">广告性质的英语在线试听网站禁止发布，如太平洋</td>
                    </tr>
                    <tr>
                        <td rowspan="5" class="td_bdfw_xl">教育培训-留学签证</td>
                        <td class="td_content">1.1）留学移民里面出现有关购置国外物业，房产办理移民的信息<br />1.2）出国结婚、介绍外国对象的信息<br />1.3）出国含有绿卡、大马卡、枫叶卡<br />1.4）代办存款证明，代写商业计划书的信息<br />1.5）禁止留学移民办理处描述提供资金证明</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.留学移民类，代申请流程可以，代办技术移民或是学历证书不可以</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.禁止代办护照、永久居留证、港澳商务签证、港澳通行证以及出入境加急办理</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.办理外国人在华证件的， 禁止发布代办外国人就业、签证及续签手续，若出现与之相关的信息描述，如“代办护照加急取证”、“外国人签证”、“外国人就业签证”、“外国人续签手续”等信息，或与之相近、相仿的描述，包括异形字体、 变形字体、拼音字母等，一律做删除处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.禁止出现双认证信息</td>
                    </tr>
                    <tr>
                        <td rowspan="7" class="td_bdfw_xl">同城交友</td>
                        <td class="td_content">1.同城交友中内容不得涉及金钱、禁止发布淫秽敏感和诋毁他人的负面言语</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.技能交换中交换淘宝开店技能属于无效信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.禁止商家发布的交易或宣传类信息属于无效信息或类别误置到相应二手类别</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.可用技能换物品或住房属于违法信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.寻人寻友：寻失踪多年不见的人或朋友、丢失的物品均可且可提供报酬，但内容中不可出现身份证号</td>
                    </tr>
                    <tr>
                        <td class="td_content">6.禁止发布寻找宠物或寻骗子信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">7.献爱心及无偿为他人做贡献的活动，禁止发布涉及金钱和物品的交易类信息</td>
                    </tr>
                    <tr>
                        <td rowspan="13" class="td_bdfw_dl">违法类</td>
                        <td rowspan="4" class="td_bdfw_xl">投资担保</td>
                        <td class="td_content">1.禁止发布承兑汇票、汇票贴现、公积金提取信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.违规车辆抵押贷款（违规车辆包含套牌车、走私车、海关罚没车、脱审车、盗抢车、报废车、军车、警车、救护车、抵押车、黑车、顶账车、查封车、无手续车、贷款分期车等所有不能过户上牌的车辆）</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.公用房、未还清贷款的房等不能过户的房不能进行抵押贷款</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.内容中出现“安信惠鑫、兰花国际控股、东南亚联合银行、芝麻金融、惠仁财富、玖钰财富、一诺财富、e租宝、钰诚、钰申、金易融、中晋资产、融宜宝”。（金融欺诈企业《“e租宝”及其关联公司涉嫌非法集资》）</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="td_bdfw_xl">工商注册</td>
                        <td class="td_content">1.内容含有挂靠信息 （地址挂靠除外）</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.办理疑难及政府限制性批文、协助减免税务罚款、合理避税禁止（允许用“节税”一词描述，但不可含“避税”、“减税”、“免税点”等词句）</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="td_bdfw_xl">招商加盟</td>
                        <td class="td_content">1.POS机的售卖、诚聘代理、加盟、手机pos机类等类似pos机形式的信息（常见pos变形信息：支付者可以通过扫码等线上付款的交易方式支付，过程可使用信用卡，交易成功后会收取一定手续费或者提供可提供支付硬件设备如扫码枪等）</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.非法生产生物醇油等易燃易爆危险化学品加盟信息</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">二手回收</td>
                        <td class="td_content">回收车辆：套牌车、走私车、海关罚没车、脱审车、盗抢车、报废车、军车、警车、救护车、抵押车、无手续车等所有不能过户上牌的车辆信息</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="td_bdfw_xl">汽车服务</td>
                        <td class="td_content">1.利用喷涂、反光、折射物质导致电子设备无法拍摄达到躲避违章效果的信息。包含不限于遥控遮挡车牌托、智能同步曝光器、遥控自动换号器、隐形车牌架、自动翻牌架、牌隐形改号魔贴、车牌磁贴号、车牌反光剂等</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.北京地区禁止发布小客车指标出租、出售等相关信息</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">教育培训-通用</td>
                        <td class="td_content">帖子中出现挂靠信息</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">教育培训-学历教育</td>
                        <td class="td_content">外国大学、高中不允许直接在中国招生（中国可以对外申请、或者合作国内中介通过留学招生）</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_2_2">2_2.标题内容违规说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>类别</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="9" class="td_bdfw_dl">业务类</td>
                        <td rowspan="2" class="td_bdfw_xl">通用</td>
                        <td class="td_content">1.标题：标题中禁止含有联系方式、网址、特殊字符（如：★ ◆ ❀ 等键盘上没有的）；标题中禁止只有数字、字母、数字字母等组合</td>
                        <td rowspan="2" class="td_bdfw_clfs">信息返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.风铃网所有类型的信息内容禁止出现微信、QQ、电话号码、二维码等联系方式（“微信同电话的”参照此条执行）</td>
                    </tr>
                    <tr>
                        <td rowspan="7" class="td_bdfw_xl">风铃网黄页找人</td>
                        <td class="td_content">1.找人类别中，所有信息发布者的身份都应该是上述服务的提供者（个人）或者是代理人（如代母亲发帖一类），所有信息的内容（包括标题、简介）都应该为服务提供者的描述</td>
                        <td rowspan="7" class="td_bdfw_clfs">信息返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.禁止发布一切与上述服务类别无关的信息——标题或内容与上述类别的服务无关，如标题或内容包含测试、信用卡服务等无关信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.禁止发布一切招聘信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.所有头像图片必须是人物头像</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.头像图片核心要求必须是正面人物头像，头像角度较偏（如出现侧脸等）、头像明显为名人头像、非人物头像等返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">6.头像图片中不得出现明显的联系方式，如QQ、电话等</td>
                    </tr>
                    <tr>
                        <td class="td_content">7.头像图片中不得出现明显的中介、公司等字眼/背景</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_2_3">2_3.图片违规详细说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>类别</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td_bdfw_dl">业务类</td>
                        <td class="td_bdfw_xl">搬家</td>
                        <td class="td_content">风铃网-家政服务-搬家类目，VIP帖、在线推广帖（包含精准、置顶等）首图及精准创意图片不允许带电话</td>
                        <td class="td_bdfw_clfs">信息单条删除</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_2_4">2_4.分类不当详细说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>类别</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="17" class="td_bdfw_dl">业务类</td>
                        <td class="td_bdfw_xl">代驾/司机</td>
                        <td class="td_content">标题、内容的描述应与“代驾/司机”相符，如果出现纯租车相关描述的属于类别误置</td>
                        <td class="td_bdfw_clfs">信息返回修改</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="td_bdfw_xl">拼车/顺风车</td>
                        <td class="td_content">1.拼车顺路可以拼货的可以发布，但是不能提到其他货运服务（以盈利为目的货运拼车、搬家，平时拉货等）</td>
                        <td rowspan="2" class="td_bdfw_clfs">信息返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.拼车里面提到平时拼车，描述中说明周末或节假日租车或包车的不可以发布</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">保姆</td>
                        <td class="td_content">1.招聘保姆月嫂等招聘相关信息需发布至招聘类别</td>
                        <td class="td_bdfw_clfs">信息返回修改</td>
                    </tr>
                    <tr>
                        <td rowspan="5" class="td_bdfw_xl">教育培训-通用</td>
                        <td class="td_content">1.这6种培训类别：职业培训、文体培训、IT培训、外语培训、中小学教育、婴幼儿教育 之间的小类不可混发，除非能对应上，比如it中的工程师培训，也可以发在职业培训中的其他职业培训类别，外语培训中的外语导游培训，也可以发在职业培训中的导游培训类别。这6种培训类别如果是相关信息，都可以发到学历教育大类下</td>
                        <td rowspan="5" class="td_bdfw_clfs">信息返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.其他培训—其他 可以发布任何培训类信息，包括学历教育</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.留学签证信息只允许发布在留学签证相应类别，不能发在培训类别下</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.家教信息可以发布在中小学教育和相应的类别</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.转让学习卡，学习资料信息，类别误置到二手物品，转让课程可保留在相应类别</td>
                    </tr>
                    <tr>
                        <td rowspan="5" class="td_bdfw_xl">教育培训-通用</td>
                        <td class="td_content">1.这6种培训类别：职业培训、文体培训、IT培训、外语培训、中小学教育、婴幼儿教育 之间的小类不可混发，除非能对应上，比如it中的工程师培训，也可以发在职业培训中的其他职业培训类别，外语培训中的外语导游培训，也可以发在职业培训中的导游培训类别。这6种培训类别如果是相关信息，都可以发到学历教育大类下</td>
                        <td rowspan="5" class="td_bdfw_clfs">信息返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.其他培训—其他 可以发布任何培训类信息，包括学历教育</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.留学签证信息只允许发布在留学签证相应类别，不能发在培训类别下</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.家教信息可以发布在中小学教育和相应的类别</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.转让学习卡，学习资料信息，类别误置到二手物品，转让课程可保留在相应类别</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="td_bdfw_xl">教育培训-职业培训</td>
                        <td class="td_content">1.标题中不可含有“加盟”描述，大篇幅阐述加盟的信息属于类别误置-应投放本地商务服务/招商加盟</td>
                        <td rowspan="2" class="td_bdfw_clfs">信息返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.驾校类信息属于类别误置-应投放本地生活服务/驾校</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">教育培训-家教</td>
                        <td class="td_content">1.教育培训机构出现招聘信息，属于类别误置，应投放招聘</td>
                        <td class="td_bdfw_clfs">信息返回修改</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_2_5">2_5.无意义内容违规说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>类别</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td_bdfw_dl" rowspan="3">业务类</td>
                        <td class="td_bdfw_xl" rowspan="4">通用</td>
                        <td class="td_content">1.宣传语：没有任何文字说明，纯电话，网址，微信号，QQ号等</td>
                        <td class="td_bdfw_clfs" rowspan="3">信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.联系方式：明显虚假电话号码</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.店铺无服务项目、无标题、无内容描述；内容没有任何关于服务的描述，只留下简单的联系方式或者联系人</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_2_6">2_6.信息虚假非法说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>类别</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td_bdfw_dl" rowspan="2">违法类</td>
                        <td class="td_bdfw_xl">律师</td>
                        <td class="td_content"> 如侦探、保镖、调查、暴力清债类服务及相关的侵害个人隐私行为、手机定位、监听器、偷拍设备、摄像录音笔、买卖客户资料</td>
                        <td class="td_bdfw_clfs">禁止当前类别发帖+信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">美容美体/养生保健/医疗</td>
                        <td class="td_content"> 含有尖锐湿疣、梅毒、淋病、软下疳、牛皮癣、银屑病、艾滋病、癫痫、乙型肝炎、乙肝、白癜风、红斑狼疮，十二类禁止推广的病症名称</td>
                        <td class="td_bdfw_clfs">禁止当前类别发帖+信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_dl" rowspan="14">欺诈类</td>
                        <td class="td_bdfw_xl" rowspan="4">通用</td>
                        <td class="td_content"> 1.涉枪、涉赌信息</td>
                        <td class="td_bdfw_clfs" rowspan="4">禁止全类别发帖+信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content"> 2.涉黄信息（“种子出售、百度网盘在线播放、男人必备作品、月刊隆行通信”此类言语可视为色情信息）</td>
                    </tr>
                    <tr>
                        <td class="td_content"> 3.刻假章办假证（代开工作证明、银行工资流水）、代接银行或出入境等部门回访电话，提供虚假工作证明、代开/买卖发票、提供出售住宿餐饮发票等报销凭证</td>
                    </tr>
                    <tr>
                        <td class="td_content"> 4.代人复仇、了仇、代打架信息</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl" rowspan="2">投资担保</td>
                        <td class="td_content"> 1.收购银行卡（借“银行卡包”的幌子）、办银行卡、办信用卡、买卖医保卡、信用卡/医保卡套现、信用卡垫还/代还、空卡翻倍出售、冒名信用卡、黑卡。<br />办理信用卡特征：全国各地均可办理；条件松，有无工作均可办理；选择最低还款额还款，享受银行循环信用；先消费后还款，享受最长56天的免息还款期；没有稳定收入的朋友也可以办理</td>
                        <td class="td_bdfw_clfs" rowspan="2">禁止全类别发帖+信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content"> 2.网络信贷（包含但不限于京东白条、蚂蚁花呗/借呗/微粒贷、苏宁任性付等）回收、信用贷款（含强开、提额等）、信用套现/提现</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl" rowspan="3">招商加盟</td>
                        <td class="td_content"> 1. 非法传销类服务（分销模式通过发展下线：一级会员推荐二级会员获取提成或者佣金加盟信息——描述不合格冻结），如：科士威、避风塘、隆力奇、浙江三生、通和商城、搜乐商城、微信朋友圈微商、盛大华天、民间互助理财等；-- 描述不合格冻结;出现“屈臣氏”、“维迈VMart”招商加盟的——描述不合格冻结；注：有直销牌照的可以通过</td>
                        <td class="td_bdfw_clfs" rowspan="3">禁止当前类别发帖+信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content"> 2.云在指尖、e租宝、大大集团传销信息</td>
                    </tr>
                    <tr>
                        <td class="td_content"> 3.建材加盟、特色加盟、礼品/小商品加盟、教育/母婴加盟等类别，禁止手工制作/手工活外发加工加盟信息。<br />特点：收取部分押金，用户带回家完成一定的工作量，由商家统一回收，但在回收过程中故意挑刺、刁难，诈取押金，信息中常出现“带回家做”、“手工制作”、“适合老人、小孩、主妇”等描述</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl" rowspan="2">美容美体/养生保健/医疗</td>
                        <td class="td_content"> 1.禁止发布黄牛类服务，如 医院代挂号</td>
                        <td class="td_bdfw_clfs" rowspan="2">禁止当前类别发帖+信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content"> 2.禁止发布各类提供上门按摩及养生服务（上门推拿不行，小儿推拿可以）</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">驾校</td>
                        <td class="td_content"> 禁止发布驾校代办驾驶证，包括但不限于百分百包过、包过、包通过、包拿证、免学车、有驾驶基础学员培训、40天以内拿证等信息</td>
                        <td class="td_bdfw_clfs">禁止当前类别发帖+信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">教育培训-学历教育</td>
                        <td class="td_content">代办证件代考试信息，如 代考、免考取证、买卖答案、替考作弊、代办文凭户口身份证、代办存款证明、代写论文、代写作业等违法信息</td>
                        <td class="td_bdfw_clfs">禁止全类别发帖+信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">教育培训-职业培训</td>
                        <td class="td_content">海员，船员的相关出国劳务，签证信息</td>
                        <td class="td_bdfw_clfs">禁止当前类别发帖+信息单条删除</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="div_body_nav_title" id="div_body_nav_title_3">3.招聘行业审核信息的原因判定</div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_3_1">3_1.内容违规说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="25" style="width:100px">业务类</td>
                        <td class="td_content">标题、公司简介等内容，不能有QQ，MSN，电话、微信、邮箱等一切联系方式。岗位职责以及简介中可以含有网址，但不能仅留网址</td>
                        <td rowspan="25" style="width:100px">信息返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">标题、公司简介等内容，不能是纯拼音、纯数字、特殊符号（包含但不局限于：★ ◆ ❀、#、*、竖线、撇捺等）或者是乱写</td>
                    </tr>
                    <tr>
                        <td class="td_content">物流运输、电子科技、酒店、娱乐场所，招聘信息标题、内容中出现公司主体不一致，且未说明隶属关系<br />职介招聘中标题不能是纯公司名</td>
                    </tr>
                    <tr>
                        <td class="td_content">标题中不能含有键盘上无法打出的符号（如：★ ◆ ❀、撇捺等；30元/天，这样的可以通过）</td>
                    </tr>
                    <tr>
                        <td class="td_content">禁止使用发帖机。标题及信息中不能含有无意义字母、乱码字符</td>
                    </tr>
                    <tr>
                        <td class="td_content">信息内容中不能含有微信、电话、QQ、邮箱等联系方式，提到手机号同微信号、微信号即手机号、同步手机号等任何发布微信号的形式都不可以</td>
                    </tr>
                    <tr>
                        <td class="td_content">招聘信息中（标题、描述、图片、地址、公司信息）不能出现联系电话，400、热线或与电话栏一致的（招10086客服，95511客服 这样的可以过）</td>
                    </tr>
                    <tr>
                        <td class="td_content">内容中没有具体招聘职位，且标题也无招聘职位</td>
                    </tr>
                    <tr>
                        <td class="td_content">岗位职责不能为空或者乱写</td>
                    </tr>
                    <tr>
                        <td class="td_content">曝光帖，投诉某一条帖子是职介信息或是是骗子信息等</td>
                    </tr>
                    <tr>
                        <td class="td_content">招聘中出现使用国家领导人或者家属作为宣传语的</td>
                    </tr>
                    <tr>
                        <td class="td_content">职介性质公司，描述中出现为企业“直招”性质；直招企业同一条信息中为多家企业招聘职位</td>
                    </tr>
                    <tr>
                        <td class="td_content">不能出现“风铃网/推荐/认证/官方发布/优质商家”等描述内容</td>
                    </tr>
                    <tr>
                        <td class="td_content">信息中引导注册、报名、加盟信息进行推广的</td>
                    </tr>
                    <tr>
                        <td class="td_content">中高端公司公司名称要填写完整，公司名称可以简写，不可以乱写</td>
                    </tr>
                    <tr>
                        <td class="td_content">公司名称不允许留任何联系方式、联系人姓名或招聘职位</td>
                    </tr>
                    <tr>
                        <td class="td_content">不允许公司名称为独立经纪人</td>
                    </tr>
                    <tr>
                        <td class="td_content">招聘信息必须以公司或职介形式发布，不能显示是个人招聘，但全职的保姆/护工，月嫂/育婴，保洁，兼职的小时工/钟点工（仅限招聘职位为保姆/护工，月嫂/育婴，保洁），家教，淘宝职位，低端餐饮，低端便利店，低端美容美发，翻译，可以发布个人招聘的信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">所有公司名字不能使用公司的产品名称，例如：飘柔洗发水、中华牙膏、百雀羚面霜；可以为宝洁、联合利华、百雀羚</td>
                    </tr>
                    <tr>
                        <td class="td_content">禁止代理公司发布以风铃网公司名称发布招聘信息（风铃网总公司、分公司直招除外）</td>
                    </tr>
                    <tr>
                        <td class="td_content">餐饮企业（小餐馆、饭店、餐饮管理等）可直招外卖骑手、外卖送餐员，无需说明隶属或合作关系。其他性质企业招聘外卖骑手、外卖送餐员需简介中说明隶属或合作关系</td>
                    </tr>
                    <tr>
                        <td class="td_content">除了风铃网总公司、分公司直招以及代理商（简介中有说明与风铃网关系）招聘，其他公司均不允许用风铃网的图片，图片中也不能出现“风铃网优质商家”字样的内容（比如牌匾中）</td>
                    </tr>
                    <tr>
                        <td class="td_content">招聘信息中出现民族、地域等歧视限制类字眼</td>
                    </tr>
                    <tr>
                        <td class="td_content">以招聘的名义发布招学员信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">网站禁止发布刷钻、刷流量、刷访客信息，信息内容中不能出现的词汇包括但不局限于：【工作地点、时间不限】、【在家即可工作】、【有手机、电脑就可以】</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_3_2">3_2.图片违规说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="4" style="width:100px">业务类</td>
                        <td class="td_content">非实拍图片中不能含有联系方式（电话、qq、微信、邮箱），实拍照片不能以留联系方式为主要目的</td>
                        <td rowspan="4" style="width:100px">信息返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">图片中不允许出现竞品网站水印（百姓网、前程无忧、智联招聘）</td>
                    </tr>
                    <tr>
                        <td class="td_content">图片中不能出现我国及他国领导人头像的</td>
                    </tr>
                    <tr>
                        <td class="td_content">图片中不能出现完整的二维码（除营业执照、证书类中二维码可通过）</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_3_3">3_3.分类不当说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="5" style="width:100px">业务类</td>
                        <td class="td_content">学生代理信息只能发布在兼职类别的学生兼职，除学生代理外其他信息如果标题明显非招聘性质，无论内容是否体现均需算分类错误</td>
                        <td rowspan="5" style="width:100px">信息返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">淘宝、天猫客服相关职位只能发布在淘宝职位类别</td>
                    </tr>
                    <tr>
                        <td class="td_content">职位若含有兼职属性，请发到兼职类目</td>
                    </tr>
                    <tr>
                        <td class="td_content">标题为“寒假工”“暑假工”“临时工”“短期工”等兼职职位，应发布到到兼职招聘类别</td>
                    </tr>
                    <tr>
                        <td class="td_content">招聘技工职位或仅标题为非技工职位（但内容仍主要招聘技工职位及描述），只能放在技工/工人类</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_3_4">3_4.地址不详说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2" style="width:100px">业务类</td>
                        <td class="td_content">工作地点以及公司地址不能含有电话、QQ、网址、微信，不能是纯数字</td>
                        <td rowspan="2" style="width:100px">信息返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">工作地点不能含有非地址类型信息，如找张经理，招聘XX职位；工作地点为必填项的不能为空</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_3_5">3_5.违禁信息说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="7" style="width:100px">欺诈类</td>
                        <td class="td_content">酒店类信息中招聘陪同、伴游司机</td>
                        <td rowspan="7" style="width:100px">当前类别禁止发帖</td>
                    </tr>
                    <tr>
                        <td class="td_content">驾照销分、代办违章</td>
                    </tr>
                    <tr>
                        <td class="td_content">网站不允许发布游戏代练类职位，信息中相关词汇包含但不局限于【游戏代刷】、【代刷】、【daishua】以及与之相关的变形、异形字体或表述</td>
                    </tr>
                    <tr>
                        <td class="td_content">手工制作：电子类手工外发信息，比如发布打火机、圆珠笔组装、串珠等手工制作信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">船员类 ，VIP正常发布，免费禁发。水产、船舶、海洋、渔业公司招聘养殖工，不允许发布</td>
                    </tr>
                    <tr>
                        <td class="td_content">发布挂证、挂靠、挂章、资质升级、初始转注册等职位</td>
                    </tr>
                    <tr>
                        <td class="td_content">剧组类跟组人员，不允许发布；非剧组招聘中工作内容中涉及【影视演员】、【群众演员】、【直播歌手】、【武术替身】等词语</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_3_6">3_6.职位虚假说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="16" style="width:100px">欺诈类</td>
                        <td class="td_content">禁止发布通篇介绍均为推广、广告性质的信息</td>
                        <td rowspan="20" style="width:100px">信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">夜总会/KTV/酒吧，必须验证营业执照</td>
                    </tr>
                    <tr>
                        <td class="td_content">操盘手、期货居间人免费用户禁发，vip用户需看营业执照有相关经营范围（包含但不局限于银行、券商、基金、理财、期货、投资管理、投资咨询、金融等经营范围）；金融证券行业的股票交易员、期货交易员等职位需验证营业执照</td>
                    </tr>
                    <tr>
                        <td class="td_content">出国劳务（包含港澳台），普通用户禁发，vip用户需查看营业执照是否有经营范围</td>
                    </tr>
                    <tr>
                        <td class="td_content">高尔夫球童：免费用户禁发，vip用户需查看营业执照，其中经营范围中应当含有“高尔夫球场”，例如：建设、经营高尔夫球场（特别说明：仅含“高尔夫球、高尔夫球机动车”的不属于可经营高尔夫球场的合法主体）</td>
                    </tr>
                    <tr>
                        <td class="td_content">以银行为公司名称发布招聘柜员、保安等</td>
                    </tr>
                    <tr>
                        <td class="td_content">公共交通类：地铁、高铁、航空、火车等，不允许招募车上工作人员，以及车站安检类职位。以上所有公共车站招聘保洁、售卖员，需验证营业执照，如外派给保洁类公司招聘保洁，其经营范围中应当保洁、清洁、清洗、家政、保养等；如是人力资源公司代招，需验证《营业执照》、《人力资源服务许可证》。</td>
                    </tr>
                    <tr>
                        <td class="td_content">公安机关编制内警察及其群防群治队伍，不允许发布，包括但不限于巡警、协警、辅警、特勤、特警、协勤、协管员、城管、消防员、雇佣兵等</td>
                    </tr>
                    <tr>
                        <td class="td_content">公立医院招聘医生、护士类职位的不允许，民办除外</td>
                    </tr>
                    <tr>
                        <td class="td_content">公立高校招聘教师、教务、助教的不允许，某后勤部某食堂可招聘，民办高校除外</td>
                    </tr>
                    <tr>
                        <td class="td_content">KTV、夜场、洗浴中心服务员，按摩/足疗师，礼仪/迎宾/模特、游戏代练职位性质需与公司行业性质一致</td>
                    </tr>
                    <tr>
                        <td class="td_content">文化、传播、传媒、广告公司招聘模特，必须验证营业执照的</td>
                    </tr>
                    <tr>
                        <td class="td_content">大型建筑公司（如中铁几局、中建几局、中国建筑、中国铁建、中国中铁、北京城建、某省市几建等），招募施工人员、技术人员、预算造价员、安全员、资料员、工程管理人员等相关职位</td>
                    </tr>
                    <tr>
                        <td class="td_content">上海地区，涉及三星电子的技工、普工、跟单、司机等相关职位</td>
                    </tr>
                    <tr>
                        <td class="td_content">天津地区，公司名称含自行车、电动车公司技工类招募</td>
                    </tr>
                    <tr>
                        <td class="td_content">针对酒店、夜总会性质的公司招聘服务员、礼仪迎宾、商务司机、保安的信息，薪资月薪超过市场价格区间。酒吧夜总会性质（包含但不局限于：夜总会、夜店、夜场、娱乐会所、娱乐厅、酒吧、KTV、迪厅）</td>
                    </tr>
                    <tr>
                        <td rowspan="4" style="width:100px">违法类</td>
                        <td class="td_content">电话卡、节费软件、充值软件招聘信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">加盟网店、招商、微商代理类以招商加盟为导向</td>
                    </tr>
                    <tr>
                        <td class="td_content">信息内容、标题中不能含有变形联系方式（包括QQ、微信及手机号码）</td>
                    </tr>
                    <tr>
                        <td class="td_content">图书馆、咖啡厅、影院、游乐场等招聘职位，需要公司性质一致</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_3_7">3_7.薪资虚假说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2" style="width:100px">违法类</td>
                        <td class="td_content">保健按摩行业月薪超过市场价格区间</td>
                        <td rowspan="2" style="width:100px">信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">信息标题、描述中的薪资出现变形，数字被字母或符号替代（如5ooo、5OOO、50O0等）</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_3_8">3_8.涉黄信息说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2" style="width:100px">违法类</td>
                        <td class="td_content">网站不允许发布涉黄信息，信息内容中不允许出现的词汇包括但不限于【外围女】、【外围模特】、【丝足按摩】、【大项技师】</td>
                        <td rowspan="2" style="width:100px">信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">酒店招聘按摩师、沐足技师、推拿技师类职位，需验证营业执照，并且营业范围含有保健按摩、足疗、养生等相关范围</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_3_9">3_9.虚假信息说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="21" style="width:100px">违法类</td>
                        <td class="td_content">涉政的招聘信息</td>
                        <td rowspan="21" style="width:100px">禁止登录</td>
                    </tr>
                    <tr>
                        <td class="td_content">涉及驻外雇佣兵的相关职位</td>
                    </tr>
                    <tr>
                        <td class="td_content">出卖客户资料的招聘信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">招聘排队挂号信息；招聘药物测试的使用信息；招代孕或捐献血小板或献血的信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">全能神邪教类相关词汇、图片、音频/视频截图等内容</td>
                    </tr>
                    <tr>
                        <td class="td_content">禁止发布涉及刀,枪,炮,黄,赌,毒,色情等违禁信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">信息或图片含“传销”及其变形文字，传播坐等收成、涉及非法传销、金字塔系统、多层市场推广以及“快速致富计划”等通过发展上下线的传销方式的招聘信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">含有反动、破坏国家统一、破坏主权及领土完整、破坏社会稳定，涉及国家机密、扰乱社会秩序，宣扬邪教迷信，宣扬宗教、种族歧视等信息，或法律法规禁止出版发行的书籍、音像制品、视频、文件资料</td>
                    </tr>
                    <tr>
                        <td class="td_content">信息中不得“使用国家级、最高级、最佳等用语”，例如“最、一、级/极、首/家/国”等前缀或者后缀的绝对化用语</td>
                    </tr>
                    <tr>
                        <td class="td_content">公司简介里面，虚假宣称获得“国家重点高新技术企业”“**省高新技术企业”“**省环保产业协会团体会员单位”“**省工商企业信用AA级守合同重信用单位”等荣誉称号</td>
                    </tr>
                    <tr>
                        <td class="td_content">公司简介中发布虚构“实用新型专利证书”“外观专利证书”“拥有国家实验室标准的检测实验室”等内容的图片资料进行虚假宣传</td>
                    </tr>
                    <tr>
                        <td class="td_content">信息中不得含有虚假或者引人误解的内容，不得欺骗、误导求职者</td>
                    </tr>
                    <tr>
                        <td class="td_content">图片不得使用或者变相使用中华人民共和国的国旗、国歌、国徽，军旗、军歌、军徽；不得违反安全使用规程的文字、语言或者画面</td>
                    </tr>
                    <tr>
                        <td class="td_content">信息中不得使用或者变相使用国家机关、国家机关工作人员的名义或者形象</td>
                    </tr>
                    <tr>
                        <td class="td_content">信息中不得损害国家的尊严或者利益，泄露国家秘密；不得危害人身、财产安全，泄露个人隐私</td>
                    </tr>
                    <tr>
                        <td class="td_content">招聘职位不得妨碍社会安定，损害社会公共利益；不得妨碍社会公共秩序或者违背社会良好风尚</td>
                    </tr>
                    <tr>
                        <td class="td_content">招聘职位不得含有淫秽、色情、赌博、迷信、恐怖、暴力的内容</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得以招聘形式变相发布广告，例如信息中不得以介绍公司的形式变相发布医疗、药品、医疗器械、保健食品广告</td>
                    </tr>
                    <tr>
                        <td class="td_content">教育培训类职位不得对升学、通过考试、获得学位学历或者合格证书，或者对教育、培训的效果作出明示或者暗示的保证性承诺；不得利用科研单位、学术机构、教育机构、行业协会、专业人士、受益者的名义或者形象作推荐、证明</td>
                    </tr>
                    <tr>
                        <td class="td_content">信息中不得使用虚构、伪造或者无法验证的科研成果、统计资料、调查结果、文摘、引用语等信息作证明材料</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得出现以虚假或者引人误解的内容欺骗、误导求职者的其他情形；信息中不得贬低其他生产经营者的商品或者服务</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="div_body_nav_title" id="div_body_nav_title_4">4.二手市场审核信息的原因判定</div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_4_1">4_1.图片违规说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="7" style="width:100px">业务类</td>
                        <td class="td_content">1.图片中不可以带有任何联系方式（包括电话，QQ、微信、旺旺号、陌陌号等相关联系方式和其变形方式）</td>
                        <td rowspan="7" style="width:100px">信息返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.需要跟本类别的信息内容相关</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.首图不能出现纯文字的图片</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.图片禁止出现二维码</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.图片中写明“电话同微信”的信息属于变形提供微信号</td>
                    </tr>
                    <tr>
                        <td class="td_content">6.成人用品类别：禁止在图片中出现真人、充气娃娃、仿真器具，露点（男性上半身除外）和严重性爱姿势</td>
                    </tr>
                    <tr>
                        <td class="td_content">7.不能含有其他网站水印，不能使用营业执照，不能使用知名品牌标志（如百姓网）。</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_4_2">4_2.内容违规说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="17" style="width:100px">业务类</td>
                        <td class="td_content">1.标题要求：</td>
                        <td rowspan="17" style="width:100px">信息返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">1）不能是纯拼音、纯数字、符号或者是乱写</td>
                    </tr>
                    <tr>
                        <td class="td_content">2）标题与描述不一致</td>
                    </tr>
                    <tr>
                        <td class="td_content">3）标题中不允许出现借用国家领导人或家属作为宣传语的信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">4）标题中不能使用“风铃网推荐”或其他网站推荐的字句</td>
                    </tr>
                    <tr>
                        <td class="td_content">5）标题已标明已卖、已售等描述的信息直接删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">6）含有声明、诽谤他人、揭发骗子或者发泄不满性质的描述</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.电话要求：</td>
                    </tr>
                    <tr>
                        <td class="td_content">1）电子类转让信息，描述中提到电话是假的，按电话不合格删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">2）电话是座机时，必须有区号</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.不得使用“国家级”、“最高级”、“最佳”等用语</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.标题或内容不得出现"风铃网担保、风铃网保障、风铃网放心商家   风铃网优选犬舍   风铃网官方保证"等竞品或以风铃网作为宣传的保障性词语</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.不得使用“国家级”、“最高级”、“最佳”等用语</td>
                    </tr>
                    <tr>
                        <td class="td_content">6.不得对未来效果、收益或者与其相关的情况作出保证性承诺，明示或者暗示保本、无风险或者保收益的违法字眼（举例：投资小、回报快”、“万元立店、遍地生财”、“利润翻番”、“轻松盈利”、“吸金超速”、“百万利润”、“无忧致富”、“高额回报”、“让你赚”、“强势聚财”、“想挣你就来”、“四季进账”、“无风险”等。）</td>
                    </tr>
                    <tr>
                        <td class="td_content">7.不规范的价格书写方式（用字母“o”代替数字“0”，用字母“l”代替数字“1”等情形）</td>
                    </tr>
                    <tr>
                        <td class="td_content">8.以个人身份发帖，图片或描述中出现大量不同车源</td>
                    </tr>
                    <tr>
                        <td class="td_content">9.标题内容或图片禁止出现电话号码、QQ、微信、MSN、邮箱、陌陌等联系方式及其变型形式</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_4_3">4_3.分类不当说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2" style="width:100px">业务类</td>
                        <td class="td_content">1.子类目之间的信息串发</td>
                        <td rowspan="2" style="width:100px">信息返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.与该类目无关的商品或服务类型信息</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_4_4">4_4.价格虚假说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="4" style="width:100px">业务类</td>
                        <td class="td_content">1.价格不符合市场行情价格</td>
                        <td rowspan="4" style="width:100px">信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.分期付款的信息，价格栏填写首付的价格</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.宠物类别：填写双价格，并且低于市场价格</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.针对于手机、摩托车、宠物等有价格限制的物品,价格不能为111、222、666、8888等形式</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_4_5">4_5.虚假灌水说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="5" style="width:100px">欺诈类</td>
                        <td class="td_content">1.尚可使用或用于报销的票据（及服务）；尚可使用的外贸单证以及代理报关、清单、商检、单证手续的服务</td>
                        <td rowspan="5" style="width:100px">禁止当前类别发帖+删除账户下所有信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.买卖驾照分、卖分、代扣分、办理购车指标（北京）等</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.公积金提现、消除贷款不良记录、办理经济适用房名额、办理两限房名额、购房指标、学历、身份证、银行存款证明、收入证明、学生公交卡、免学免考取证、假证、发票等</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.买卖防狼喷雾剂</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.宠物赠送类别赠送名犬、名猫如：边境牧羊犬、贵宾犬、德牧、波斯猫等</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_4_6">4_6.站内禁止信息</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="22" style="width:100px">违法类</td>
                        <td class="td_content">1.香烟、烟草交易买卖类信息，依据国家法律法规，不允许发布至跳蚤类别</td>
                        <td rowspan="22" style="width:100px">删除单条信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.买卖孔明灯、许愿灯、卫星锅、卫星接电视棒、发布原味内衣、丝袜（已穿过、二手）、艾滋病试纸、测婴儿性别、淘宝小号、易燃易爆危险品类的买卖回收、烟花爆竹</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.发布粘鼠板、蟑螂药、老鼠药、农药（敌敌畏）、安乐死药物</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.军用警用：</td>
                    </tr>
                    <tr>
                        <td class="td_content">1）先看信息图片是否带有警徽</td>
                    </tr>
                    <tr>
                        <td class="td_content">2）出售军用警用品如没有图片的的情况</td>
                    </tr>
                    <tr>
                        <td class="td_content">3）物品没有危险或者特殊特殊功能的比如眼镜、手表、鞋或者迷彩服等可以通过</td>
                    </tr>
                    <tr>
                        <td class="td_content">4）军用望远镜、警棍、手枪、警服、军装（军大衣和鞋劳保用品除外）属于违法信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.禁止发布翻新、组装（不包括台式机和笔记本）等电子类产品信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">6.禁止发布办理银行卡信用卡</td>
                    </tr>
                    <tr>
                        <td class="td_content">7.禁止发布无手续，三无的、无证件、无牌照、水车、纯水、水水、水货、国水走私车信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">8.禁止发布复制的电梯卡、门禁卡、停车卡、手机卡信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">9.禁止发布代办身份证、户口、落户、暂住证、居住证、社保及公积金、港澳台商务签证、代办出入境证件加急、北京护照加急、北京港澳通行证加急信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">10.禁止发布模仿签名信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">11.禁止发布转让或出兑福利彩票投注机、彩票站信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">12.回收酒可以发布；但都仅限发布在二手回收-礼品回收类别</td>
                    </tr>
                    <tr>
                        <td class="td_content">13.赠送或者转让教会（邪教）书籍或者宣传品</td>
                    </tr>
                    <tr>
                        <td class="td_content">14.发布缅甸电话卡、缅甸卡等相关产品买卖信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">15.网站禁止发布流量卡、物联网卡、电话卡（包含小灵通号码）相关信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">16.发布含有大量乱码字符或者大量字母堆积等无意义的信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">17.二手回收：禁止发布店铺无服务项目、无标题、无内容描述；内容没有任何关于服务的描述，只留下简单的联系方式或者联系人信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">18.禁止发布手机号相关信息</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_4_7">4_7.信息虚假说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="14" style="width:100px">违法类</td>
                        <td class="td_content">1.禁止发布国家法律法规明令禁止发布的内容，例如枪支、弹药、涉黄、毒品、赌博用具、虚假证件货币、保护动物及其器官、标本等信息</td>
                        <td rowspan="14" style="width:100px">禁止当前类别发帖+删除账户下所有信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.禁止发布泄露个人隐私的信息，例如企业内部数据，提供个人手机定位、电话清单查询、银行账户查询等信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.禁止发布破坏国家统一、破坏主权及领土完整、破坏社会稳定涉及国家机密、扰乱社会秩序，宣扬邪教迷信，宣扬宗教、种族歧视等内容或者相关法律法规禁止出版发行的涉政、涉黄的书籍、音像制品、视频、文件资料信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.禁止发布作弊及破解工具：例如305耳机、蹭网卡（卡皇）、卫星信号接收卡、卫星信号破解器等信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.禁止发布买卖pos机及黑卡（未实名手机号及流量卡）或提供办理服务信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">6.禁止发布非正常渠道得来的物品，例如捡的、偷的、小道来的等信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">7.禁止发布买卖、捐赠人体器官、血液的信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">8.禁止发布标题或内容中出现催情字眼的信息，如催情粉、催情巧克力、春药、蒙汗药、苍蝇水、迷幻药等内容</td>
                    </tr>
                    <tr>
                        <td class="td_content">9.禁止发布刷钻、刷Q会员卡、发布SF（私服）一条龙服务、淘宝刷信誉的信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">10.禁止发布精仿、高仿、山寨笔记本电脑、台式机、手机、名贵手表、鞋、箱包等产品交易买卖信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">11.保健品信息必须有食品药品监督管理局的备案，可在食品药品监督管理局网站查询</td>
                    </tr>
                    <tr>
                        <td class="td_content">12.禁止发布办假证（代开工作证明、银行工资流水）、代开/买卖发票、提供出售住宿餐饮发票等报销凭证信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">13.禁止发布伪造变造的货币、从事或者变相从事外币兑换或者交易以及印制品设备、非法传销类商品信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">14.禁止发布代人复仇、了仇、代打架信息</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="div_body_nav_title" id="div_body_nav_title_1">5.车辆市场审核信息的原因判定</div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_5_1">5_1.图片违规说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="8" style="width:100px">业务类</td>
                        <td class="td_content">1.不能使用从他人处盗取的图片</td>
                        <td rowspan="8" style="width:100px">信息返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.不能使用有黑边或双水印的图片</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.不能使用4S店图片或其他平台新车展示图片等任何非本车源的图片</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.不能使用闪图，或通过图片不能判断发布车型与描述车型是否一致（例如拍摄距离较远、图片模糊不清等）</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.不能使用与信息内容不相关，例：不是本车型，发布的图片与所售车源不相关的图片</td>
                    </tr>
                    <tr>
                        <td class="td_content">6.首图必须为所发布车源的真实外观图片，不得为发动机舱，钥匙，检测报告等不能查看车辆全貌的图片</td>
                    </tr>
                    <tr>
                        <td class="td_content">7.原图中包含联系方式，除背景墙外，其余任何地方不允许出现任何联系方式</td>
                    </tr>
                    <tr>
                        <td class="td_content">8.图片仅允许涂抹车牌，且只能是马赛克或纯色涂抹，如在除车牌外PS任意文字、QQ/微信联系方式，均按图片违规删除处理</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_5_2">5_2.分类不当说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="8" style="width:100px">业务类</td>
                        <td class="td_content">1.二手车类别：发布置换信息，应以汽车为主体置换，相反给予分类不当，例：汽车置换XX（可以），XX类置换汽车（分类不当）</td>
                        <td rowspan="8" style="width:100px">信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.工程车&货车&客车：不能发布除工程车、客车、货车以外的信息，但发布客车配件相关的信息可以通过</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.老年代步车&电动三轮车：不能发布汽车配件、装饰品、汽车求购类及其他类别信息</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_5_3">5_3.广告信息说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="3" style="width:100px">业务类</td>
                        <td class="td_content">1.不能发布内容中没有介绍该车辆信息，只是单纯的宣传商家自身的活动或者优惠</td>
                        <td rowspan="3" style="width:100px">信息返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.不能发布标题中带有广告内容，如：抵押、贷款、融资、租车、收车、求购、高价回收、长期收购，长期回收，无门槛，零门槛，0门槛，不看征信，只看两证的信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.不能发布内容中全篇介绍贷款、车贷等内容，并未介绍车辆信息，贷款分期服务、收车服务、汽车保养服务、零配件销售、促销活动等与所发布车源不直接相关内容描述不得超过所有描述内容的三分之一的信息</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_5_4">5_4.内容违规说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="3" style="width:100px">业务类</td>
                        <td class="td_content">1.二手车：标题、内容中写明出租车，或者图片中是出租车型车辆（双色车）；工程车&货车&客车&老年代步车&电动三轮车：标题、内容中带有乱码符号（区别于非法信息）、语句不通顺、词不达意的段落</td>
                        <td rowspan="3" style="width:100px">信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.标题、内容、图片中不允许提及多个车型</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.信息中标题、内容、图片中含有的车型、款式、年份不一致,将删除</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_5_5">5_5.价格违禁信息说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="5" style="width:100px">欺诈类</td>
                        <td class="td_content">1.标注价格与实际交易价格偏离一般市场价格波动（双方另有约定除外）</td>
                        <td rowspan="5" style="width:300px">信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.价格表述含糊，价格单位与价格数字之间不匹配</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.价格项中的价格表述与其他项中的价格表述不一致</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.不规范的价格书写方式（用字母“o”代替数字“0”，用字母“l”代替数字“1”等情形）</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.价格与市场价格严重不符，明显低于市场价</td>
                    </tr>
                    <tr>
                        <td rowspan="9" style="width:100px">违法类</td>
                        <td class="td_content">1.以任何形式，写明套牌车（T）（TP）、大套、走私车、海关罚没、盗抢车</td>
                        <td rowspan="9" style="width:300px">禁止登陆账号+删除账号下所有信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.北京、天津、深圳、广州、贵阳、杭州、上海等限购城市出售指标或者带牌出售</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.不允许在一定时间内，通过非法渠道大量发布相同信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.不允许发布价格严重低于市场价，如车价为整体市场价格的50%以下，则按照信息虚假非法处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.禁止发布标题、内容或图片中含有违章处理、代扣分、收消驾照、黄改绿、承诺包摇号、等违法内容</td>
                    </tr>
                    <tr>
                        <td class="td_content">6.被投诉举报的下线车（未购买下线包）、事故车、泡水车、报废车、火烧车并在信息发布时未标注说明真实车况</td>
                    </tr>
                    <tr>
                        <td class="td_content">7.不允许发布图片与信息内容不相关，或不是本车型，或与信息描述的颜色不一致，且图片中车辆是一部高档车型，标题内容介绍的是一款低价车型的车源信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">8.不允许发布车型年款与上牌日期严重不符的车源信息（如2015款的车上牌时间2008年）</td>
                    </tr>
                    <tr>
                        <td class="td_content">9.不允许发布车辆里程与实际严重不符的车源信息（如2005款的车，里程数只有1万公里）</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="div_bottom">
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">关于风铃网</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">联系我们</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">友情链接</span>
        </div>
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">推广服务</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">客户服务中心</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">Copyright&nbsp;©&nbsp;&nbsp;www.915fl.com</span>
        </div>
    </div>
    <div class="div_rtop" id="div_rtop" onClick="GoToTop()"></div>
</body>
</html>
