@{
    Layout = "~/Areas/Business/Views/Shared/BZZX.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Areas/Business/Css/BZZX/BZZX_SY_FBGZLTZ.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/BZZX/BZZX_SY_FBGZLTZ.js")"></script>
</head>
<body>
    <div class="div_head">
        <div class="div_head_main">
            <span class="span_head_main_logo"></span>
            <span class="span_head_main_bzzx">帮助中心</span>
        </div>
    </div>
    <em class="em_split"></em>
    <div class="div_body">
        <div class="div_body_nav">
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="1">1、<span class="span_body_nav_inner">怎么填写高质量的标题</span></span>
                <span class="span_body_nav" id="2">2、<span class="span_body_nav_inner">怎么填写高质量的信息内容--房产</span></span>
                <span class="span_body_nav" id="3">3、<span class="span_body_nav_inner">怎么填写高质量的信息内容--二手</span></span>
            </div>
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_1">1.怎么填写高质量的标题</div>
        <div class="div_body_nav_text">
            <span class="span_body_nav_text"></span>
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_2">2.怎么填写高质量的信息内容--房产</div>
        <div class="div_body_nav_text">
            <span class="span_body_nav_text"></span>
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_3">3.怎么填写高质量的信息内容--二手</div>
        <div class="div_body_nav_text">
            <span class="span_body_nav_text"></span>
        </div>
        </div>
    <div class="div_bottom">
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">关于风铃网</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">联系我们</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">友情链接</span>
        </div>
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">推广服务</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">客户服务中心</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">Copyright&nbsp;©&nbsp;&nbsp;www.915fl.com</span>
        </div>
    </div>
    <div class="div_rtop" id="div_rtop" onClick="GoToTop()"></div>
</body>
</html>
