@{
    ViewBag.Title = "BZZX_SY_XXBSC";
    Layout = "~/Areas/Business/Views/Shared/_ListLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/BZZX/BZZX_SY_XXBSC.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/BZZX/BZZX_SY_XXBSC.js")"></script>
</head>
<body>
    <div class="div_head">
        <div class="div_head_main">
            <span class="span_head_main_logo"></span>
            <span class="span_head_main_bzzx">帮助中心</span>
        </div>
    </div>
    <em class="em_split"></em>
    <div class="div_body">
        <div class="div_body_nav">
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="1">1、<span class="span_body_nav_inner">房产行业审核信息的原因判定</span></span>
                <span class="span_body_nav" id="1_1"><span class="span_body_nav_inner childnode">标题内容违规说明</span></span>
                <span class="span_body_nav" id="1_2"><span class="span_body_nav_inner childnode">无意义内容违规说明</span></span>
                <span class="span_body_nav" id="1_3"><span class="span_body_nav_inner childnode">分类不当违规说明</span></span>
                <span class="span_body_nav" id="1_4"><span class="span_body_nav_inner childnode">图片违规原因说明</span></span>
                <span class="span_body_nav" id="1_5"><span class="span_body_nav_inner childnode">信息虚假非法原因</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="2">2、<span class="span_body_nav_inner">本地服务行业审核信息的原因判定</span></span>
                <span class="span_body_nav" id="2_1"><span class="span_body_nav_inner childnode">站内禁止信息说明</span></span>
                <span class="span_body_nav" id="2_2"><span class="span_body_nav_inner childnode">标题内容违规说明</span></span>
                <span class="span_body_nav" id="2_3"><span class="span_body_nav_inner childnode">图片违规详细说明</span></span>
                <span class="span_body_nav" id="2_4"><span class="span_body_nav_inner childnode">分类不当详细说明</span></span>
                <span class="span_body_nav" id="2_5"><span class="span_body_nav_inner childnode">无意义内容违规说明</span></span>
                <span class="span_body_nav" id="2_6"><span class="span_body_nav_inner childnode">信息虚假非法说明</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="3">3、<span class="span_body_nav_inner">招聘行业审核信息的原因判定</span></span>
                <span class="span_body_nav" id="3_1"><span class="span_body_nav_inner childnode">内容违规说明</span></span>
                <span class="span_body_nav" id="3_2"><span class="span_body_nav_inner childnode">图片违规说明</span></span>
                <span class="span_body_nav" id="3_3"><span class="span_body_nav_inner childnode">分类不当说明</span></span>
                <span class="span_body_nav" id="3_4"><span class="span_body_nav_inner childnode">地址不详说明</span></span>
                <span class="span_body_nav" id="3_5"><span class="span_body_nav_inner childnode">违禁信息说明</span></span>
                <span class="span_body_nav" id="3_6"><span class="span_body_nav_inner childnode">职位虚假说明</span></span>
                <span class="span_body_nav" id="3_6"><span class="span_body_nav_inner childnode">薪资虚假说明</span></span>
                <span class="span_body_nav" id="3_6"><span class="span_body_nav_inner childnode">涉黄信息说明</span></span>
                <span class="span_body_nav" id="3_6"><span class="span_body_nav_inner childnode">虚假信息说明</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="4">4、<span class="span_body_nav_inner">二手市场审核信息的原因判定</span></span>
                <span class="span_body_nav" id="4_1"><span class="span_body_nav_inner childnode">图片违规说明</span></span>
                <span class="span_body_nav" id="4_2"><span class="span_body_nav_inner childnode">内容违规说明</span></span>
                <span class="span_body_nav" id="4_3"><span class="span_body_nav_inner childnode">分类不当说明</span></span>
                <span class="span_body_nav" id="4_4"><span class="span_body_nav_inner childnode">价格虚假说明</span></span>
                <span class="span_body_nav" id="4_5"><span class="span_body_nav_inner childnode">虚假灌水说明</span></span>
                <span class="span_body_nav" id="4_6"><span class="span_body_nav_inner childnode">站内禁止信息</span></span>
                <span class="span_body_nav" id="4_7"><span class="span_body_nav_inner childnode">信息虚假说明</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="5">5、<span class="span_body_nav_inner">车辆市场审核信息的原因判定</span></span>
                <span class="span_body_nav" id="5_1"><span class="span_body_nav_inner childnode">图片违规说明</span></span>
                <span class="span_body_nav" id="5_2"><span class="span_body_nav_inner childnode">分类不当说明</span></span>
                <span class="span_body_nav" id="5_3"><span class="span_body_nav_inner childnode">广告信息说明</span></span>
                <span class="span_body_nav" id="5_4"><span class="span_body_nav_inner childnode">内容违规说明</span></span>
                <span class="span_body_nav" id="5_5"><span class="span_body_nav_inner childnode">价格违禁信息说明</span></span>
            </div>
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_1">1.房产行业审核信息的原因判定</div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_1_1">标题内容违规说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="10" style="width:100px">业务类</td>
                        <td class="td_content">不能在房源标题中输入多小区信息，或其他房源信息；不能输入发布更新时间；不能输入编号类信息（包括但不仅限于房源编号等），否则将做房源下架处理</td>
                        <td rowspan="10" style="width:100px">信息返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">不能出现纯数字、字母、符号以及乱写的汉字或者无中文的信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">标题中不得出现“信息小镇房产”,“信息小镇推荐”,“信息小镇精选”等类似词语</td>
                    </tr>
                    <tr>
                        <td class="td_content">标题不得以做广告的形式出现，例如: “走过路过不要错过”,“挥泪大甩卖”等类似词语</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布诱导用户点击链接页面或分享信息，如 “网站链接” 、“欢迎进入xx网“、”打开xx网“、“微博微信账号”、“二维码“等，将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得使用繁体、异形字体、特殊符号等方式规避审核发布违规词，否则将房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">内容中不得出现非信息小镇的竞品网址（如百姓网、搜房等）</td>
                    </tr>
                    <tr>
                        <td class="td_content">标题或内容中不得出现“加微信”以及繁体、异形字体、特殊符号等相关变形字</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布非本城市的房源信息</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_1_2">无意义内容违规说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="31" style="width:100px">业务类</td>
                        <td class="td_content">不得发布带有“第一（NO.1Top1）”、“唯一”、“首席”、“楼王”、“极品”、“冠军”、“绝版”、“奢侈”、“至尊”、“顶级享受”、“国家级”、“世界级”、“首个”、“首选”、“精确”、“最”、“绝对”、“首家”等夸张极限类词汇内容，否则将做房源下架处理。</td>
                        <td rowspan="31" style="width:100px">信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布含以下内容的房源信息：升值或者投资回报的承诺；以项目到达某一具体参照物的所需时间表示项目位置；违反国家有关价格管理的规定；对规划或者建设中的交通、商业、文化教育设施以及其他市政条件作误导宣传，否则将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布带有 “中介费”、“佣金”等相关词汇的内容，否则将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布虚假房源，包括但不仅限于做低房价或到手价、房源已售（已租）的房源，否则将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布价格、面积有误房源：房源价格实际价格与挂牌价格严重不符，建筑面积或使用面积明显有误，将视为违规房源，并对此类房源进行删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得剽窃他人房源信息：未经原作者同意，擅自复制其文字、图片内容，不做任何修改或文字与原内容相似度90%以上，视为房源信息盗用，删除盗用信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得在房源“标题”、“描述”、“标签”中发布违背广告法的内容，否则将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得盗用他人文字信息（未经同意擅自复制截取文字内容，视为盗用），否则将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布问题房源，包括但不仅限于非家庭关系共同居住于同一间房内的房源，改变房屋原有结构人为分割出租的房源，以及人均居住面积低于5平方米或单间居住人数超过2人的房源，将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">联系人及内容不得出现国家领导人名字，不得出现借名人宣传的内容</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布曝光帖：如曝光某中介是黑中介或者曝光某个人信息等，如：竞品类侵权、直接与竞争对手进行比较或者贬低竞争对手的内容</td>
                    </tr>
                    <tr>
                        <td class="td_content">内容中不得出现只有电话、联系人乱码、非中文字符、异形字体、特殊符号等方式规避审核发布违规词</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布无房源描述的信息（如只是单纯的房产公司介绍或者宣传的内容的、只写急售急租等）</td>
                    </tr>
                    <tr>
                        <td class="td_content">内容描述中不得出现“家人出事急需借钱，或离婚、继承、分财产等”描述个人生活状态的信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">关于期房（未建完、描述提到XX年交房的）除新房类别外不得在其他类别发布期房信息 （内容中同时出现期房和现房都有的信息，信息可以通过）</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得出售房号、房票、指标（购买资格、购买指标，学期房、学区房指标）</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得出售房号，购房合同，购房资格的买房子送户口或者办学籍的，内容里描写的是房子可以通过，如果内容描述的是办户口或者学籍的好处，选择“标题或内容违规”删除，如果内容涉及到高考的，选择“无意义信息”删除）</td>
                    </tr>
                    <tr>
                        <td class="td_content">标题和内容中不得出现“顶账房、抵账房、抵债房、抵款房、垫款房、拍卖房、安置房、垫付、垫资”</td>
                    </tr>
                    <tr>
                        <td class="td_content">禁止以信息小镇推荐、信息小镇认证、信息小镇诚信保障等为标题或内容发布信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">保障性住房（廉租房、公租房、两限房、军产房、未满五年经济适用房），不可出租或出售</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得出现代办理居住证、暂住证的信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得出现无房源描述，仅含融资、无抵押贷款、单独办理贷款内容的信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得出现代提取公积金、消除贷款不良记录、拆借等民间借贷性质的贷款信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得出现买卖考试答案、买卖学历证件、租赁经纪人资格证书、代开社保证明、代开税收证明、代开纳税证明、代开发票等信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得单独出售营业执照、购车指标的</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布信用卡套现、信用卡变现等提供信用卡服务</td>
                    </tr>
                    <tr>
                        <td class="td_content">内容中不得出现“上班没时间接电话加QQ联系、避免中介骚扰不接电话加QQ联系、内容中写明电话、是空号加QQ联系的、加QQ群号聊天讨论”含正常联系方式</td>
                    </tr>
                    <tr>
                        <td class="td_content">内容中不得出现“电话空号、电话非真实、电话停机、电话不想被骚扰”</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布重复房源，否则将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">彩票机不可转让，彩票店带彩票机，无效信息删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">电话栏电话号码不得出现位数不足、明显虚假的电话号码（如：138888888888，0112-89179754）</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_1_3">分类不当违规说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2" style="width:100px">业务类</td>
                        <td class="td_content">不得跨大类发布信息（如在房产类别发布二手、招聘信息；其中买卖墓地投放到本地生活服务；连锁加盟投放到本地商务服务；转让公司（无论是否带有房产）投放到本地商务服务）</td>
                        <td rowspan="2" style="width:100px">信息返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得跨小类发布信息（如将一手新房、租房信息发到二手房出售类别等。注：租房、合租、求租类别可以发布品牌公寓类信息）</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_1_4">图片违规原因说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="17" style="width:100px">业务类</td>
                        <td class="td_content">不得在图片上加盖任何竞品水印（包括但不仅限于其他网站logo，网址，100%、真房源、佣金等广告字样），否则将做房源下架处理；对于非竞品中介公司名称和logo，要求白色、透明、所占图片面积小于25%三个条件必须同时满足，否则将做房源下架处理。对于非竞品中介公司名称+宣传语——房源下架处理</td>
                        <td rowspan="17" style="width:100px">信息返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布虚假的房源图片（与内部图片或本套房源不一致的房源图，装修情况不一致），否则将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布模糊、失真的房源图片（遮挡、拼接、马赛克、翻转等），否则将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得在房源描述中插入图片（包括网站logo，头像等），否则将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">上传的室内图大小限制在100K-10M之间，图片长或宽皆不得小于720px，否则将无法上传</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得上传gif格式或者其他格式的动态图，否则将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得盗用他人图片（未经同意擅自复制截取图片内容，例如安居客和安居客水印重叠，安居客和赶集重叠的水印、58和赶集的重叠水印），否则将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得在室内图类型中使用非房源图片；不得在小区图类型中使用非小区环境图片；不得在户型图类型中使用非户型图图片</td>
                    </tr>
                    <tr>
                        <td class="td_content">图片中不得出现纯文字介绍图片，宣传单页</td>
                    </tr>
                    <tr>
                        <td class="td_content">图片中不得出现文字、数字、联系方式（QQ、微信、电话、网址、二维码）</td>
                    </tr>
                    <tr>
                        <td class="td_content">图片中不得出现自拍照（不涉黄）、地图，路线图 ,车站牌</td>
                    </tr>
                    <tr>
                        <td class="td_content">图片不得出现含广告违禁词（如含“最，100%，百分之百”等属于广告违禁词的摆台）</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得在图片周围添加任何形式的边框</td>
                    </tr>
                    <tr>
                        <td class="td_content">发布城市为南昌,图片中出现房源核实二维码官方标志，在封面图（首图）位置按图片违规处理，在其他位置，做通过处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">【商铺】【写字楼】【厂房/仓库/土地】类别，除门面（广告条幅，LED屏）中可含有电话外，其他情况按违规处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">【商铺】【写字楼】【厂房/仓库/土地】类别，图片为商品图，可以通过。其他类别不得发商品图</td>
                    </tr>
                    <tr>
                        <td class="td_content">【商铺】【写字楼】【厂房/仓库/土地】类别，图片为效果图（楼盘图、沙盘图等），可以通过，其他类别图片不能含效果图</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_1_5">信息虚假非法原因</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="3" style="width:100px">违法类</td>
                        <td class="td_content">不得发布反对宪法所确定的基本原则的；危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；损害国家荣誉和利益的信息</td>
                        <td rowspan="3" style="width:100px">禁止发帖+删除账户下全部信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布煽动民族仇恨、民族歧视，破坏民族团结的；破坏国家宗教政策，宣扬邪教和封建迷信的；散布谣言，扰乱社会秩序，破坏社会稳定的；侮辱或者诽谤他人，侵害他人合法权益的信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布散布淫秽、色情、赌博、暴力、凶杀、毒品、恐怖或者教唆犯罪的；含有法律、行政法规禁止的其他的内容的</td>
                    </tr>
                    <tr>
                        <td rowspan="4" style="width:100px">欺诈类</td>
                        <td class="td_content">对于引导用户添加微信以及变形联系方式（同音异形字，用符号隔断等）视情节严重，做冻结账号处理</td>
                        <td rowspan="4" style="width:100px">禁止发帖+删除账户下全部信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得出现含明显的色情诱惑，裸露图片</td>
                    </tr>
                    <tr>
                        <td class="td_content">内容中不得出现“人在外地不方便随时回来看房，或预交定金才能回来看房”</td>
                    </tr>
                    <tr>
                        <td class="td_content">内容中不得出现“视频地址、提取码”</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="div_body_nav_title" id="div_body_nav_title_2">2.本地服务行业审核信息的原因判定</div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_2_1">站内禁止信息说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>类别</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="78" style="width:100px">业务类</td>
                        <td rowspan="8" style="width:100px">投资担保</td>
                        <td class="td_content">1.出现“仅凭、只需要身份证（或者“身份证、银行卡、学生证、住址、公积金密码”中任意组合）可贷款”或相同意思；个人信用贷款，如果内容中出现“不看征信不看流水”、“可办黑户”、“信用不良”、“取消黑名单”以及表达相近意思的；</td>
                        <td rowspan="8" style="width:100px">信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.投资理财类别，出现‘刷单套利’信息；</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.黄页-贷款类内容中出现“平安易贷、平安普惠、大华银行、大华小额贷款”，均属于未授权信息；</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.内容中含有“垫资”及其变形文字（垫还/代还——不能确认是高利贷的贷款暂不限制）；</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.深圳市前海鑫桂石油化工发布投资理财信息；</td>
                    </tr>
                    <tr>
                        <td class="td_content">6. 内容中提及：股票配资、配资炒股、股指配资、证券配资、股票融资等相近词信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">7.投资理财类别出现原油贵金属投资信息。</td>
                    </tr>
                    <tr>
                        <td class="td_content">8.禁止发布高利贷相关如水钱等信息。</td>
                    </tr>
                    <tr>
                        <td style="width:100px">礼品定制</td>
                        <td class="td_content">未验证资质的公司及个人禁止发布含刻公章类信息（如信息中含刻公章，需验证营业执照+特种行业许可证/中国印章行业协会证明）<br />注：所有刻章类信息仅限在“礼品定制”类别发布；公司注册类别可顺带公章服务。</td>
                        <td style="width:100px">信息单条删除</td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="width:100px">工商注册</td>
                        <td class="td_content">1.未验证营业执照的公司及个人禁止代办“食品流通许可证”、“食品卫生许可证（简称卫生许可证）”的信息。</td>
                        <td rowspan="2" style="width:100px">信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.单独转让或回收执照交易类服务。</td>
                    </tr>
                    <tr>
                        <td rowspan="4" style="width:100px">网络布线/维护</td>
                        <td class="td_content">1.有偿删帖消息</td>
                        <td rowspan="4" style="width:100px">信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.蹭网卡、永久免费上网类信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.禁止发布发帖机，发帖软件信息不合格</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.禁止发布约车第三方作弊信息(如加速器、抢单/拒单/卡单器、定位模拟器、代注册、账号解封等)，以及淘宝刷钻、app刷单、提供微信投票、点赞、买卖粉丝等作弊信息</td>
                    </tr>
                    <tr>
                        <td style="width:100px">律师</td>
                        <td class="td_content">取保候审，看守所放人、监狱放人、保外就医及类似描述的此类信息，信息小镇允许有资质的发布但不允许承诺字样</td>
                        <td style="width:100px">信息单条删除</td>
                    </tr>
                    <tr>
                        <td rowspan="10" style="width:100px">招商加盟</td>
                        <td class="td_content">1.买卖（含回收）、加盟 “军供、特供酒”的</td>
                        <td rowspan="10" style="width:100px">信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.禁止发布烟草信息。酒类买卖、招商加盟都可以发布</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.泰国红牛、越南红牛招商信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.“卡盟”招商加盟信息（利用黑卡进行QQ刷钻业务）；</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.“原油贵金属”、“微盘/微交易（原油贵金属交易平台）”招商加盟信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">6.淘宝招商加盟（网店加盟里有品牌的可以通过）、网店培训、一件代发、商城返利网站等信息（微店可以通过）</td>
                    </tr>
                    <tr>
                        <td class="td_content">7.内容中（包括图片）出现“绿茶餐厅”、“陈子安饼屋”加盟信息，均属侵权信息——描述不合格拒绝<br/>注：[绿茶餐厅——杭州绿茶餐饮管理有限公司]、[陈子安饼屋——郑州陈子安企业管理咨询有限公司] </td>
                    </tr>
                    <tr>
                        <td class="td_content">8.内容中（包括图片）出现 “随行付”加盟信息，均属侵权信息<br/>注：[随行付——北京随行付信息技术有限公司]</td>
                    </tr>
                    <tr>
                        <td class="td_content">9.内容中（包括图片）出现 “勿相忘”加盟信息，均属侵权信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">10. 维卡币、摩根币、DGC等数字货币信息</td>
                    </tr>
                    <tr>
                        <td rowspan="3" style="width:100px">二手回收</td>
                        <td class="td_content">1.易燃易爆危险品类的买卖回收，汽油、柴油类可以发布；烟花爆竹的买卖回收禁止</td>
                        <td rowspan="3" style="width:100px">信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.内容中出现“烟草回收”、“烟草买卖”以及相近意思的，全站禁发</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.回收酒可以发布；但都仅限发布在二手回收-礼品回收类别，不能多选其他类别</td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="width:100px">批发采购</td>
                        <td class="td_content">1.手机数码/通讯类内容中（包括图片）出现蜗牛移动产品“蜗牛免卡”，均属侵权信息</td>
                        <td rowspan="2" style="width:100px">信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.出售电话卡、物联卡信息</td>
                    </tr>
                    <tr>
                        <td rowspan="5" style="width:100px">美容美体、养生保健、医疗</td>
                        <td class="td_content">1.禁止发布有治病功效的医院及药品（减肥药、壮阳药不行）、药械信息（医用的不行，家用的可以，如眼保姆，轮椅、护理床等）；保健品、保健功能产品买卖（可以发布如VC，人参、枸杞等）；“根治乙肝 、 乙肝转阴”等夸大治疗效果的信息、祖传秘方治病信息拒绝</td>
                        <td rowspan="5" style="width:100px">信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.禁止发布处方药、禁止发布白加黑、康泰克等限制性非处方药，且发布药品信息，必须具有食品药品监管部门核发的《互联网药品交易服务资格证》，且必须为实体药品零售连锁企业；发布保健品信息，要求商家所发布的保健品需要具有国家食品药品监督管理局颁发的保健品批准文号，可在食品药品监督管理局网站查询</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.允许发布各类整容医院的“非破皮”性质的美容养生服务，涉及到医疗手术的，禁止发布（微整、割双眼皮、隆鼻、瘦脸等涉及“破皮”的信息，也属于医疗手术范畴，禁止发布）；纹身/纹眉（绣眉）/纹眼线/纹唇这些类目，只要内容不写“针刺”等破皮的字样，可以通过</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.禁止发布上门输液打针等医疗广告</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.信息中禁止出现成药（中草药、保健品可以）</td>
                    </tr>
                    <tr>
                        <td rowspan="2" style="width:100px">驾校</td>
                        <td class="td_content">1. 驾校类内容中（包括图片）出现“凤安驾校、凤安驾驶员培训中心”（除白名单）<br/>凤安驾校[广州市凤安驾驶员培训中心；赶集只有一个白名单（用户名：fajxgj），58无白名单]</td>
                        <td rowspan="2" style="width:100px">信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.禁止发布驾校免指纹芯片、电子围栏破解等代刷学时等作弊信息</td>
                    </tr>
                    <tr>
                        <td style="width:100px">长途专车</td>
                        <td class="td_content">出发地点与终点涉及出入境的路线（如内地至港澳台、内地至国外）等无意义信息</td>
                        <td style="width:100px">信息单条删除</td>
                    </tr>
                    <tr>
                        <td rowspan="3" style="width:100px">汽车服务</td>
                        <td class="td_content">1.信息小镇的学车、陪练业务类别，全部在线推广信息创意标题及描述、显示在信息小镇列表页的内容不能含信息小镇等引起客户误解为信息小镇自营服务的字样，如“信息小镇学车”</td>
                        <td rowspan="3" style="width:100px">信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.过户/验车类别允许发布买卖车牌、出租车牌、代办车牌、代拍车牌、指标转让、免摇号、违章代办、违章处理、收消驾照、代扣驾照分、无车年检/验车、人不来验车、改装车验车、疑难验车、老旧车验车、无车过户、无车报废、无车提档、代办进京证等信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.通过假结婚等不正当途径买卖车牌信息</td>
                    </tr>
                    <tr>
                        <td style="width:100px">装修建材</td>
                        <td class="td_content">内容中（包括图片）出现以“金螳螂”公司、商标或以旗下公司名义进行宣传，均属侵权信息<br/>注：[金螳螂——苏州金螳螂建筑装饰股份有限公司]</td>
                        <td style="width:100px">信息单条删除</td>
                    </tr>
                    <tr>
                        <td rowspan="7" style="width:100px">教育培训-学历培训</td>
                        <td class="td_content">1.免考试、免成考、免统考、免试入学（不含自考）均不合格；有特殊条件的可以“如学历、荣誉称号、大赛获奖情况以各类奖项证书等”；1-3个科目以内免考信息可以通过</td>
                        <td rowspan="7" style="width:100px">信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.毕业院校是中国地质大学的（会有北京、武汉校区）</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.内容必须有培训课程或机构介绍合格，如果不符合要求删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.出现“全程托管”或类似内容禁止</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.内容出现只考一次、本人只参加一次考试，或类似内容禁止</td>
                    </tr>
                    <tr>
                        <td class="td_content">6.发布的内容中含有“包过、保过、协议包过、100%拿证、100%通过、100%取证、包拿证、包通过、包取证”等相近意思不合格</td>
                    </tr>
                    <tr>
                        <td class="td_content">7.毕业时间要求：公立学历、私立教育、民办教育、国家承认大专证、本科证等院校毕业时间必须一年以上，不能多于8 年； 如出现半年、一个月毕业、一年左右等字样,则不合格</td>
                    </tr>
                    <tr>
                        <td style="width:100px">教育培训-外语培训</td>
                        <td class="td_content">广告性质的英语在线试听网站禁止发布，如太平洋</td>
                        <td style="width:100px">信息单条删除</td>
                    </tr>
                    <tr>
                        <td rowspan="5" style="width:100px">教育培训-留学签证</td>
                        <td class="td_content">1.1）留学移民里面出现有关购置国外物业，房产办理移民的信息<br/>1.2）出国结婚、介绍外国对象的信息<br/>1.3）出国含有绿卡、大马卡、枫叶卡<br/>1.4）代办存款证明，代写商业计划书的信息<br/>1.5）禁止留学移民办理处描述提供资金证明</td>
                        <td rowspan="5" style="width:100px">信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.留学移民类，代申请流程可以，代办技术移民或是学历证书不可以</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.禁止代办护照、永久居留证、港澳商务签证、港澳通行证以及出入境加急办理</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.办理外国人在华证件的， 禁止发布代办外国人就业、签证及续签手续，若出现与之相关的信息描述，如“代办护照加急取证”、“外国人签证”、“外国人就业签证”、“外国人续签手续”等信息，或与之相近、相仿的描述，包括异形字体、 变形字体、拼音字母等，一律做删除处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.禁止出现双认证信息</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="div_bottom">
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">关于信息小镇</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">联系我们</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">友情链接</span>
        </div>
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">推广服务</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">客户服务中心</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">Copyright&nbsp;©&nbsp;&nbsp;www.infotownlet.com</span>
        </div>
    </div>
</body>
</html>
