@{
    ViewBag.Title = "BZZX_SY_KSDH_WLFPCS";
    Layout = "~/Areas/Business/Views/Shared/QT.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/BZZX/BZZX_SY_KSDH_WLFPCS.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/BZZX/BZZX_SY_KSDH_WLFPCS.js")"></script>
</head>
<body>
    <div class="div_head">
        <div class="div_head_main">
            <span class="span_head_main_logo"></span>
            <span class="span_head_main_bzzx">帮助中心</span>
        </div>
    </div>
    <em class="em_split"></em>
    <div class="div_body">
        <div class="div_body_nav">
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="1"><span class="span_body_nav_inner_first">1、拼车防骗指南</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="1_1"><span class="span_body_nav_inner childnode">1_1.拼车注意事项</span></span>
                <span class="span_body_nav" id="1_2"><span class="span_body_nav_inner childnode">1_2.拼车协议</span></span>
                <span class="span_body_nav" id="1_3"><span class="span_body_nav_inner childnode">1_3.拼车被骗实例</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="2"><span class="span_body_nav_inner_first">2、网络招聘防骗指南</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="2_1"><span class="span_body_nav_inner childnode">2_1.全职篇</span></span>
                <span class="span_body_nav" id="2_2"><span class="span_body_nav_inner childnode">2_2.兼职篇</span></span>
                <span class="span_body_nav" id="2_3"><span class="span_body_nav_inner childnode">2_3.了解职介</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="3"><span class="span_body_nav_inner_first">3、宠物交易防骗指南</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="3_1"><span class="span_body_nav_inner childnode">3_1.宠物狗防骗手册</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="4"><span class="span_body_nav_inner_first">4、二手交易防骗指南</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="4_1"><span class="span_body_nav_inner childnode">4_1.二手电脑防骗手册</span></span>
                <span class="span_body_nav" id="4_2"><span class="span_body_nav_inner childnode">4_2.二手手机防骗手册</span></span>
                <span class="span_body_nav" id="4_3"><span class="span_body_nav_inner childnode">4_3.二手车防骗手册</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="4_4"><span class="span_body_nav_inner childnode">4_4.电动自行车安全交易指南</span></span>
                <span class="span_body_nav" id="4_5"><span class="span_body_nav_inner childnode">4_5.摩托车安全交易指南</span></span>
                <span class="span_body_nav" id="4_6"><span class="span_body_nav_inner childnode">4_6.数码相机知识防骗科谱</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="5"><span class="span_body_nav_inner_first">5、房产防骗指南</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="5_1"><span class="span_body_nav_inner childnode">5_1.如何识别中介冒充个人</span></span>
                <span class="span_body_nav" id="5_2"><span class="span_body_nav_inner childnode">5_2.选择中介公司要点</span></span>
                <span class="span_body_nav" id="5_3"><span class="span_body_nav_inner childnode">5_3.如何识别黑中介</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="5_4"><span class="span_body_nav_inner childnode">5_4.租房注意事项</span></span>
                <span class="span_body_nav" id="5_5"><span class="span_body_nav_inner childnode">5_5.租房流程</span></span>
                <span class="span_body_nav" id="5_6"><span class="span_body_nav_inner childnode">5_6.二手房买卖注意事项</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="5_7"><span class="span_body_nav_inner childnode">5_7.二手房买卖流程</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="6"><span class="span_body_nav_inner_first">6、火车票防骗指南</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="6_1"><span class="span_body_nav_inner childnode">6_1.常见火车票骗子骗人手法  </span></span>
                <span class="span_body_nav" id="6_2"><span class="span_body_nav_inner childnode">6_2.教你如何识别票的真伪  </span></span>
            </div>
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_1">1.拼车防骗指南</div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_1_1">1_1.拼车注意事项</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_title">司机篇：</td>
                </tr>
                <tr>
                    <td class="td_content">
                        1、要确认好拼车人信息。详细记录拼车者 姓名、年龄、身份证、个人及家庭联系方式等，最好有认识的人一起拼车。<br />
                        2、与乘客约好出发时间，出发前1天最好给乘客通一次电话提醒对方。<br />
                        3、要明确拼车所需的费用。尤其是一旦发生交通违章造成罚款的分担，以及车辆发生问题所带来的维修费用的承担。<br />
                        4、要和乘客明确是上车前支付还是上车后支付，还应明确额外费用的支付方式。<br />
                        5、合理规划时间，总路程不宜超过十小时，不走夜路。 不要疲劳驾驶，同时保管好个人财物。<br />
                        6、车主和同车人应分别将了解到的对方信息发送给至少一名亲友，以备出现问题后联系使用，并有意让对方知道这个情况。<br />
                        7、事先确定好关于吸烟等细节的规则,特别是有女性和小孩在场的时候。<br />
                        8、签协议和买保险是非常有必要的。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title">乘客篇：</td>
                </tr>
                <tr>
                    <td class="td_content">
                        1、拼车者最好是熟悉的。与陌生人拼车时，要注意预防骗子或劫车者，车主和乘车人有必要互相了解对方的真实身份及联系方式。<br />
                        2、车主和同车人应分别将了解到的对方信息发送给至少一名亲友，以备出现问题后联系使用，并有意让对方知道这个情况。<br />
                        3、搭车人应事先了解驾驶员的技术水平、所用车型。关键是有无 跑长途的经历。<br />
                        4、要和乘客明确是上车前支付还是上车后支付，还应明确额外费用的支付方式。<br />
                        5、总路程不宜超过10小时，不走夜路。避免心急赶路和疲劳驾驶，合理安排休息。<br />
                        6、车主对于没有驾驶过所乘车型的同车人，尽量不要让其参与驾驶。<br />
                        7、不要在途中向同车不熟悉的人炫耀自己的或者所携带财物 情况。<br />
                        8、女性车主或乘车人应有熟悉的男性成年亲友相伴。<br />
                        9、事先确定好关于吸烟等细节的规则,特别是有女性和小孩在场的时候 。<br />
                        10、签协议和买保险是非常有必要的。 <br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_1_2">1_2.拼车协议</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">一、搭车路程：</td>
                </tr>
                <tr>
                    <td class="td_content">出发地：</td>
                    <td class="td_content">目的地：</td>
                </tr>
                <tr>
                    <td class="td_content">出发时间：</td>
                    <td class="td_content">到达时间：</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">二、搭车期限：</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">自______年______月______日______时起至______年______月______日______时，______每周______至每周______搭车。</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        三、搭车费用及支付方式：<br />
                        1、搭车费用：______元/次 ，共______元。<br />
                        2、支付方式：按      支付，第一次付款计     元人民币。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        四、双方责任及义务：<br />
                        1、甲方须按时将乙方送达指定地点；<br />
                        2、乙方应按协议的规定，按时支付搭车费用；<br />
                        3、搭乘车辆及附属设施如因乙方的过失或过错使车辆及设施受到损坏，乙方应负责赔偿；<br />
                        4、甲、乙双方如一方由于个人原因或车辆问题，需中断服务的，必须提前3天通知对方，征得对方同意后，可以暂时停止搭车服务，扣除相应费用或搭车期限顺延；<br />
                        5、如因特殊情况某次甲方临时无法提供车辆或乙方无法搭车时应即时通知对方，暂时停止搭车服务，扣除该次相应费用或将搭车期限顺延一次；<br />
                        6、在搭车期内，甲、乙双方如有一方有特殊情况需解除协议的，必须提前一个星期通知对方，协商后解除本协议；<br />
                        7、甲方在提供搭车服务时如发生意外事故，应根据有关交通法规及保险条例，进行相关责任认定及赔偿处理。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        五、违约处理：<br />
                        1、甲、乙双方任何一方如未按本协议的条款履行，导致中途终止协议，则视为违约，违约金双方同意按以下第______种方式执行：<br />
                        （1）人民币______元整；<br />
                        （2）按本协议总金额的______%确定。<br />
                        2、凡在执行本协议或与本协议有关的事情时双方发生争议，应首先友好协商，协商不成，可向有管辖权的人民法院提起诉讼。<br />
                        3、因不可抗力（如 自然灾害、地震、国家政策变化等）原因造成甲乙双方损失的，双方互不承担责任。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        六、其他条款：<br />
                        1、甲、乙双方签署本协议时，应具有完全民事行为能力，对各自的权利、义务、责任清楚明白，并愿按合同规定严格执行，如一方违反本协议，另一方有权按本合 同规定索赔。<br />
                        2、本协议未尽事宜，经双方协商一致可订立补充条款，本协议及其补充条款内空格部份填写的文字与铅印文字具有同等效力。<br />
                        3、本协议和补充条款及附件共有贰页，壹式俩份，甲、乙双方各执壹份，均有同等效力，签字即生效。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_content">甲方：</td>
                    <td class="td_content">乙方：</td>
                </tr>
                <tr>
                    <td class="td_content">地址：</td>
                    <td class="td_content">地址：</td>
                </tr>
                <tr>
                    <td class="td_content">电话：</td>
                    <td class="td_content">电话：</td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_1_3">1_3.拼车诈骗实例</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_title" colspan="2">1、借口拼车诈骗</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        诈骗手段：由行骗者冒充老乡，强拉旅客拼车，在途中对旅客漫天要价，如遇反抗便实施抢劫，更有甚者还强拍乘客裸照，事后威胁恐吓。<br />
                        支招：外出尽量不要与陌生人拼车，对主动拉客的司机要提高警惕，记清乘坐汽车的牌照，拒绝乘坐“黑车”。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        真实案例：<br />
                        每到春节都会有人拼车往返，这种方便、经济的出行方式近年来也越来越流行。买不到票，上不了车，那的确是真着急呀，可要是一不小心没拼好，那也真是闹心呀。家住西岗区仲夏客舍的小刘第一次拼车，就费尽了周折：说好送到华南广场，结果把她和4位拼友都“扔”在金州新区了。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">2、偷听电话诈骗</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        诈骗手段：当旅客打电话时，行骗者在旁边偷听谈话信息，到达目的地后由“托儿”上前与旅客搭讪，骗取旅客信任后将旅客带走，伺机骗取旅客钱财。<br />
                        支招：在车厢内打电话时，留心刻意靠近的陌生人。下车后如遇陌生人接站，先与亲戚朋友通过电话核实。
                    </td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        真实案例：<br />
                        今年6月6日下午,一名姓张的男子出站后，他使用附近的一个公用电话和表哥通完话后，男子挂掉电话准备离开，此时，公用电话再次响起。会不会是表哥遗漏了什么重要事情？男子接起电话，只听对方说道：“你是张某吗？我叫王勇，是你表哥的朋友，他临时有事不能来 接你了，我在XX宾馆等你，张某有些怀疑，但想到对方所说也没什么问题，赶到了XX宾馆，几句寒暄后，王勇以要去进货差几千块钱向张某借钱。钱到手后，王勇再次将张某送到宾馆门口并告诉张某，自己先去进货，进完货就来找张某，让他不要离开。可张某没料到，王勇这一走就再也没回来。下午3点，张某预感事情不妙，前往站前分局报案。<br />
                    </td>
                </tr>
            </table>
        </div>

        <div class="div_body_nav_title" id="div_body_nav_title_2">2.网络招聘防骗指南</div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_2_1">2_1.全职篇</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_title" colspan="2">1、巧立名目收取各报名费、培训费用。</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;若招聘单位巧立名目，收取求职者各种形式的报名费、培训费、押金等费用，这些都是违法行为，求职者应提高警惕，坚决拒绝交纳各种费用。<br />
                        一旦上当受骗，求职者可向当地劳动保障监察部门或公安部门报警，寻求法律保护！<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;信息小镇提醒您：用人单位招聘时，如果收取求职者任何形式的报名费、培训费、押金等，均为骗子公司。
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">2、不要盲目签字交钱。</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;用人单位先发给求职者一些产品资料并收取几百元的资料费要求过一周后考试，考试合格就录用，不合格则不退资料费。结果绝大部分的求职者考试都不合格，资料费也就被单位“笑纳”了。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;对此，信息小镇提醒广大求职者：根据相关法律规定，招聘单位录用人时与劳动者订立的是劳动合同，不是产品推销协议。劳动者一定要提高警惕，不要去签订以推广、促销为名的民事协议，更不要头脑发热盲目签字，随意交钱。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">3、警惕卷入任何形式的传销活动。</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;传销是国家明令禁止的非法行为，千万不要偏信能使你一夜暴富的鬼话，以免误入歧途！请记住：天上不会凭空掉馅饼，若有，也可能是个陷阱！任何人的成功都是经过千辛万苦、勤奋努力得来的。
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">4、面试地点是临时租借来的宾馆等地。</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;正规的单位一般都有固定的办公场所，若招聘单位面视地点选择宾馆等临时租借来的地方，要高度注意，谨防上当受骗。
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">5、招聘单位只有手机单一联系方式。</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;在查看招聘单位的招聘简介时，用人单位要求先QQ联系，这就存在着很大的问题，正规公司会直接电话联系或者以邮件的形式通知您去面试，不会在QQ里面面谈。接到面试通知时，要问清对方的办公地址和固定联系电话，若招聘单位只有手机单一联系方式，要高度警惕，谨防上当受骗。
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">6、晚上预约面试。</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;若接到安排在晚上的面试通知，要高度警惕，要找理由改到白天上班时间，晚上就不要出去了，特别是女孩子，切记！
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">7、招聘面试在偏远的地方。</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;若用人单位招聘面试在很偏远的地方，即使在白天，也要注意警惕，若出了事，连报警的地方和机会都很难找，你还愿意去吗？在接到面试通知的时候，一定要问清楚公司的具体地址，先在网上查询具体的位置，也可以顺便查查公司的详细情况。
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">8、谨慎到外地工作。</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;若需要到外地面试、工作，外地对您来说，人生地不熟，在对单位没详细了解的情况下，要特别小心谨慎，不要冒然行动，谨防上当受骗。
                    </td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        <div class="div_txxts">
                            <span class="span_bold">提醒小贴士：</span>个人在求职过程，多方面、多渠道详细了解公司情况及背景，看看公司是否正规，业务是否合法，单位是否拥有合法的营业执照和经营许可证，是否有投诉、不良记录等。
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_2_2">2_2.兼职篇</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_title" colspan="2">1、伪兼职（以招兼职为名做培训）：</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;警惕 “招学生兼职（非中介）”，“招大学生发传单”，“招兼职发传单（学生优先）”…….。等招聘信息。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;例子：小王是学生，想找一个兼职，打电话确认了地址，过去后，招聘公司先面试，讲一大堆他哪里的能力还没达到，要求他先参加他们的培训。小王想着培训对自己也是充电，而且也有培训课程，有配套宣传网站，甚至还会有培训证书，心里挺乐意的。但是招聘方又说要交几百不等的培训费，小王心想自己在学校考什么证书也是要花钱的，这边花钱应该也没有什么问题，就交了钱，回去后突然觉得有问题，然后就没有去上课。找他们退钱时，被威胁恐吓，结果被吓唬得不轻。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;信息小镇提醒您： 以任何名义收取费用的公司，均是骗子。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">2、骗子中介：</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;骗子专门在各个高校和各类院校张贴招聘广告(打着勤工俭学等幌子,招聘兼职/普工/家教),并且在各个宿舍发布招聘传单,以介绍兼职来骗取学生的“中介费”、“会员费”, 骗取钱财从20-300元不等,等交完钱就让你等,往往收了钱就只通知一两次。或者把您骗到另一家骗子公司(皮包公司,串通一气,合伙骗人,给学生设陷阱)继续让你交钱,直到摧毁学生的耐心和信心。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;信息小镇提醒您：研究下岗位是否可靠，并且上了岗再付介绍费也不迟。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">3、招聘兼职模特（礼仪小姐、服务员）：</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;以200-500元/日的高薪，拉你填表、面试。先吹嘘一下自己或公司能耐，再就是猛夸你气质好，长得漂亮等等，甘当伯乐，贴钱也要培养你出名。在你晕乎乎状态下就和他们就签了约。然后问要一些拍写真费、推广费、登记费……，几百～几千元不等。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;信息小镇提醒您：只算日薪，不要去落入考虑年薪的幻想，以免落入骗子的圈套。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">4、押金圈套：</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;骗子会以某公司的名义广招兼职促销员（直销员），然后以“服装费”、“产品押金”等向应聘人收取数百元不等的钱。然后，你就找不到这家公司了。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;例子：某大学生勤工俭学帮直销品牌洗发水，被收了200产品押金，好不容易卖给了学生几瓶，结果一洗头发，头皮都发麻。去找公司，当然再也找不到了。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;信息小镇提醒您：在兼职的过程中，先确认好你要直销的产品是否是正规厂家出产的产品。
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">5、疯狂网赚：</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;常用的语言：“投资××，家庭创业！”“上网聊天发贴子就可赚钱，月工资万元”。一般都是要你去注册，然后让你加盟，加盟后要收加盟费，费用一般在90/100不等，之后会开始收不同的费用。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;信息小镇提醒您：不要因为充满诱惑的语言、不高的投入就陷入了黑职介或者骗子的陷阱。 <br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">6、招聘翻译：</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;网上经常会有找兼职翻译，拿出一段让你翻，翻好了发过去，从此就没了消息。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;信息小镇提醒您：先查看一下委托人公司，找些比较有信誉的单位。试翻的文字也应该不超过500字。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">7、兼职抄写员：</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;一般语句：抄写一份材料可得X元，每天需抄50份，不得请人代抄。字迹不工整，有错别字、有涂改等，均算无效。警惕合同暗藏陷阱：每抄完一份材料大约需要15分钟，这意味着每天至少要工作13个小时才能完成50份的任务。字迹工整与否是由经理主观认定的，这无疑给用人单位留下了把柄。大学生受骗后决定退出时，却要按照合同交纳保证金和违约金。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;信息小镇提醒您：现在是电脑时代，要求抄写的职位很少见，应该多加查询，确认真伪。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">8、做手工艺编织：</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;应聘兼职编织中国结、十字绣或工艺画、串珠子……，警惕花钱买一堆材料、半成品，结果完不成任务，钱落在了骗子手里。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;信息小镇提醒您：多看多找，在正规的手工艺店进行手工制作。 <br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">9、校园代理商：</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;很多骗子打着招聘“校园代理商”的名义行骗，以“出厂价”向大学生推销文具、化妆品等，还承诺会回收卖不完的货物。这种“高利润、低风险” 的特点，恰恰迎合了个别大学生“急功近利、抗风险能力低”的特点。大肆推销假冒伪劣产品，受损失的除了勤奋的校园代理当然还有他的朋友。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;信息小镇提醒您：遇到类似情况，先检验推销产品的质量问题，然后再考虑是否可行。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        <div class="div_txxts">
                            <span class="span_bold">提醒小贴士：</span>：《劳动合同法》明文规定：用人单位招用劳动者，不得扣押劳动者的居民身份证和其他证件，不得要求劳动者提供担保或者以其他名义向劳动者收取财物。如果招聘单位以任何名义扣押劳动者身份证等证件，立刻报警处理。
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_2_3">2_3.了解职介</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_title" colspan="2">1、什么是职介?</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;职介即职业介绍机构的简称。是为求职者、企业牵线搭桥、提供人才中介服务的组织机构。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;《劳动力市场管理规定》第十五条规定，职业介绍机构分为非营利性职业介绍机构和营利性职业介绍机构。其中，非营利性职业介绍机构包括公共职业介绍机构和其他非营利性职业介绍机构。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;正规职业介绍机构必需有四证，即：职业介绍准办证、工商营业执照、税务登记证、收费许可证。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">2、服务与收费</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;合法的营利性职介介绍工作一般只能收取两个项目的费用：求职登记费及推荐成功后的中介服务费，且收费后必须开具有效票据。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;登记时仅收取小额求职登记费，收取报名费后需在规定时间内为求职者安排一定数量的面试。介绍成功后方可收取中介、服务费。该费用为一次性收费，不能多次收取，收费后必须开具有效票据。被推荐人员在推荐岗位上工作时间过短的（个人原因除外），可要求返还部分中介费，具体依据各地区管理规定实施。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;任何在介绍成功前收取中介费、服务费、会员费、服装费、建档费等各种费用的均为非法收费行为。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;具体收费标准可参照国家有关规定自主确定，必需明码标价并接受当地物价部门监督。如收费过高，求职者就要留心了。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;具体管理办法请参照各省市、地区管理规定。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        <div class="div_zj_fwysf">
                            &nbsp;&nbsp;&nbsp;&nbsp;如：“上海市浦东新区营利性职业介绍机构收费的暂行规定”中对营利性职业介绍机构的收费项目和标准做了如下规定：<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;一、<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;（1）求职登记报名费：每人超过10元（三个月内介绍面试至少3次）。<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;（2）推荐成功中介费：<br />
                            收费标准为：每人按本人月工资收入的30%及以下收取，此费为一次性收费。<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a、若被推荐人员（非个人原因）的工作不满1个月，按已收费的80%退中介费。<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b、若被推荐人员（非个人原因）的工作满1个月不满3个月，退中介费20~50%；<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c、若被推荐人员工作满3个月及以上的，不予退还中介费。<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;（3）委托招聘用工：成功1人向用工单位收服务费500元以内。<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;（4）高级技术、高级管理人员（相应的高级证书）的收费标准可实行面谈，协商一致后确定。<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;二、本区营利性职介机构的上述收费，按国家税务部门规定，开具统一监制的税务收费票据。<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;三、各营利性职介机构的收费以公正、自愿为原则，各项收费必须明码标价。公开收费项目和收费标准。严格财务管理。<br />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">3、黑职介防骗</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;选择让中介机构介绍工作时，一定选择信誉好、正规合法的职业介绍机构。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;提防“黑职介”骗钱请一定注意做到以下五点：<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;a、检验资质：到职介所找工作时一定要看清这家职介所是否有“四证”。即：职业介绍准办证、工商营业执照、税务登记证、收费许可证。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;b、抵制诱惑，拒绝乱收费，保护好个人证件：求职者在找工作时应保持理性,正确评估自己的能力和实力,不要轻信“优厚待遇”,要有自我保护意识,<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;不要相信“交钱保证上班”、“高薪急聘无经验也可”等不实宣传，明显不合理的优厚待遇背后往往存在着陷阱。遇到索要身份证等个人证件的，马<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上予以拒绝。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;c、签订书面协议：接受职介服务时，要注意与职业中介签订书面协议,明确双方权利和义务,口头承诺最好也写到合同上。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;d、索要票据，保存证据：如果求职者交纳了费用，一定要索取正式的发票，上面应加盖职介机构的印章，以便发生纠纷时留作证据。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;e、及时举报：如果发现对方有欺骗行为, 应及时向工商、劳动保障等相关部门举报投诉,依法维护自己的合法权益。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;在信息小镇遇到黑职介，请点击信息页面上的“举报该信息”投诉。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">4、网上识别职介信息</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;具有以下特征的信息可能是职介信息。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;同一公司或用户发布短时间内发布过多不同类型、不同行业、性质的工作的。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;同一用户名、公司发布招聘信息使用过多不同电话的。如：同一公司发布的多条信息使用了10几个不同的电话。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;招聘信息中检验出的电话归属地显示与发布职位的工作地点不符。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;同一用户名发布多个公司信息。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;注意：中介、职介信息不等于虚假信息，但求职者对待中介信息也需要谨慎，建议您上网查询，了解中介的资质、信誉，以免受到黑中介的蒙骗。<br />
                    </td>
                </tr>
            </table>
        </div>

        <div class="div_body_nav_title" id="div_body_nav_title_3">3.宠物交易防骗指南</div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_3_1">3_1.宠物狗防骗手册</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_title" colspan="2">1、狗贩常用骗术大揭密。</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        <span class="span_green">第一招：隐瞒年龄</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;严格来说狗狗应该是在半岁以后才能离开母亲的，因为狗狗在半岁前抵抗力会低，母乳里有病菌的抗体，可以帮小狗抵抗病毒。可狗狗是一年两胎，这样就会令母狗不发情而生不了第二胎，所以会一两个月就拿开小狗，有的甚至一个月不到就拿出来卖，大家又都知道狗狗太小养不活，所以很多的狗贩都会把狗的年龄报大。 <br />
                        <span class="span_green">第二招：隐瞒缺陷</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;如果他们拿回来的狗有缺陷，会故意把狗狗关起来和故意引你看别的而不注意缺陷，我有个朋友买了只披脚的狗，就是当时那狗贩只是把狗放在笼上，说放出来他会跑了，结果上当。 <br />
                        <span class="span_green">第三招：染色</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;一般这招用的最多的是用在斑点狗，胡蝶犬，和纯白的名种狗的漂白上，不少的人都上过当的。<br />
                        <span class="span_green">第四招：隐瞒狗的品种</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;这招一般用在把小土狗说成是松狮(小时候真的有点象的)，大白熊.日本银狐说成西摩，拉布拉多说成金毛(他们小时候是一摸一样的，行家都分不出)，这招有时也会结合第三招来用。<br />
                        <span class="span_green">第五招：通过美容改变品种</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;这招用的最多的是北京狗变成史立莎，长毛狗变短毛狗，等等，如果你看到的狗是美了容的就要小心了。<br />
                        <span class="span_green">第六招：病狗打血清</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;这样打了血清后狗会在两三天内变的精神，病清也会被压制住，进口的血清效果更明显，可是血清效力一过病情会更严重的，有的人狗一买回来说是防病都会打血清，殊不知如果狗有病你一把病情压住再发作就麻烦很多了。<br />
                        <span class="span_green">第七招：打止血针</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;很多的染了狗瘟，细小病毒的狗都会出现拉血，这时打针后可以一时止住，可是如果不马上治疗死亡率是很高的，可买狗时你是没法知道的。<br />
                        <span class="span_green">第八招：洗白白</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;把狗洗干净就算你看了他的眼睛，耳朵，肛门都是干干净净的，这样就算你按书上写的也检查不出什么了，所以洗的很干净的狗也要注意了 。<br />
                        <span class="span_green">第九招：给狗喷狗香水</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;很多的病狗，特别是有皮肤病的狗都会有很难闻的味道，这时给它洗澡后喷上香水就可以掩盖臭味了，所以看见香喷喷的狗狗也先别就马上爱上它了。这招也用在狗味很大的狗上。例如：沙皮，可卡，北京犬等。<br />
                        <span class="span_green">第十招：隐瞒来路</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;把从狗市上的狗说成是自家养的，给它化妆美容，这招骗第一次买狗的会百试百中。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;选狗最好的方法就是直接去狗场或是自家繁埴的，宠物店的也还好点，如果他能让你先下定金过七八天再去拿那就保险很多了。要是要马上拿走又要加个心眼了。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">2、买狗注意事项。</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        <span class="span_green">卖狗人联系方式</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;要了解详细住址，电话，固定电话最好，只有qq或手机的联络方式风险相对较大，不建议选择。联系方式中，固定电话是首选，手机的可信度就不如固定电话了，因为手机随时都可以“消失”。QQ不如手机，如果只要求想买的人留言，那么建议最好不要买。<br />
                        <span class="span_green">卖狗信息不全或不真实</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;如果关于要卖狗的介绍很简单，信息不包括照片，请最好不要交易，如果一定要买，一定是实际去看过狗之后，冲动之下买回来的东西往往没有好的。狗狗也是这样。另外，如果去看狗的时候，发现所买的狗狗与网上的照片不符合，那么建议你立刻终止交易。不诚实的商人在其他地方也是不诚实的，例如他很可能没有给狗打疫苗，却对你说打过了等等。<br />
                        <span class="span_green">刻意隐藏遮盖（阻止用户看狗意图）</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;交易过程中如果卖方极力明里暗中阻挠你去看狗，最好放弃交易。<br />
                        <span class="span_green">只肯在马路上“接头”</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;如果允许你看狗，却不是在卖方家中或者狗场，只希望在街头给你看看而已，那么请放弃交易。<br />
                        <span class="span_green">实际看狗是必须的</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;强调买狗狗之前一定要去实地看狗。绝对不可以直接在网上联系之后就买。<br />
                        <span class="span_green">狗场反映主人的态度</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;去看狗的时候注意狗场的环境：清洁状况，狗狗的饲料，狗场所有狗狗的精神状态。<br />
                        <span class="span_green">不肯承认自己是专业卖狗人</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;如果网上卖方称代有困难的朋友卖，而实际却发现对方是专业养狗和卖狗人，而且明显是他自己的狗狗，请慎重，这也是一种不诚实的表现。<br />
                        <span class="span_green">疫苗</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;一定要买打过疫苗的狗狗。如果一定要买没有打疫苗的狗狗，请买6个月以上的狗狗，不过6个月已经不是小狗，比较难培养感情了。不论打疫苗与否，小狗最好在3个月以上，小于3个月的小狗离开父母比较难以养活。<br />
                        <span class="span_green">保障以及售后服务</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;尽量要求卖方作出书面保证，保证1个月以内狗狗不会发生问题。实在不行也要要求卖方口头保证。同时带第三方的人去，保证有证人在场。同时不要贪图小便宜，要对方送这送那，最重要的还是保证小狗是健康的。否则损失的比贪的小便宜要多得多。<br />
                        <span class="span_green">拉朋友一起去</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;如果你从来没有养过狗，最好带一个有经验的养狗人一同去看狗，很多情况没有经验的人经常被欺骗。<br />
                        <span class="span_green">小狗买回来后</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;买回小狗后，最好不要马上给小狗洗澡，也不要马上给小狗吃太油荤的食物，小狗到了新环境需要适应一下。注意保暖，千万不可着凉。期间不要把小狗放在诸如开放凉台之类有风的地方。<br />
                        <span class="span_green">如果发生纠纷</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;买回的小狗，2周以内出现拉肚子，发烧，咳嗽，严重呕吐，流鼻涕等有病的症状，都可认为是卖方的责任。可以找对方交涉并协商解决办法，如果对方蛮不讲理则可以动用一切法律手段来保护自己。<br />
                        <span class="span_green">异地交易谨防假物流</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;当您进行异地交易时，务必选择正规、大品牌、可靠的物流公司。不要盲目相信商家指定的物流公司。<br />
                        <span class="span_green">谨防免费领养狗的骗局</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;有些骗子以说什么换工作，没时间等，需要人来领养。貌似一副爱狗之人的样子为借口发布免费领养狗狗信息，还要你加他QQ假装考察一下你是否有能力领养！！QQ空间中会假装放上几张可爱狗狗的照片！想骗取物流费用，空运费，或者大巴费，300-400块钱。等你们打钱过去之后，再通过所谓的物流公司变相索要其他杂费，不给，不发货，再联系，就电话关机，人间蒸发！因此购买狗狗一定要谨慎小心，以免贪图便宜上当受骗。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">3、宠物交易骗术大揭密。</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        <span class="span_green">选购一只自己喜欢的小狗，以下几点是很重要的</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;1、选购前学习该犬种的基本常识，最起码要知道长什么样子<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;2、咨询一些已养宠物的朋友，或是在相关书籍上查找该犬种的正规犬舍<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;3、一定要亲眼看到狗、摸到狗<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;4、不要听卖狗人的任何劝告，自己学习了解该犬特点。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;5、多看小狗照片或实物<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;6、一般来说不要因为狗爸狗妈的样子漂亮而影响你判断小狗，因为那不一定是小狗的父母。<br />
                        <span class="span_green">现在的狗贩子很多，骗子也很多，一般采用的手法有几种：</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;1、同城交易：看到小狗后，会把视线从小狗身上转移到其他狗或是大狗身上。赢得你的信任，摸清你真的不懂后，就开始忽悠你，最终被他的“专业”所蒙蔽、上当受骗 。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;2、异地交易：一般就是发给你的照片和发给你的实物不符，二是打款后迟迟不发狗，三是发的狗比你定的差很多，狗贩说发错了，但只有更好一点的了，骗你付更多的钱，因此，异地交易时，建议使用第三方交易平台支付。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;3、网络交易：现在在网络交易是很流行的交易平台，很多狗贩子注意到了这点，就借机捞钱，盗用网上的可爱小狗照片，谎称是自家繁殖，最终以各种借口来取得你的信任，只要打了钱，就会出现托运出问题、防疫证明不好办等多种借口，或是收到的小狗没几天就死了。<br />
                        <span class="span_red">因此建议：</span><br />
                        <span class="span_green">同城交易</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;掌握基本狗的特点，亲眼看到狗，摸一摸。可以的话货比三家，不要听卖狗人的任何话，在看过几家之后，就会明白该注意什么该看哪些地方了。建议可以选择一些正规犬舍看看，可以知道一些选购要领。<br />
                        <span class="span_green">异地交易</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;一般是网上，很多骗子是不做同城生意的，这点要注意<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;1、最好是有朋友可以帮你亲眼看狗<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;2、不要别人说什么就听什么<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;3、付款方式要选择最保险最安全的，不要私下联系直接打款。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">4、怎样识别狗狗是否健康。</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;首先，购买的地点要尽量选择好。找正规的犬舍，一般都比较安全！一些打着家养的旗号的人很多是狗贩子，从犬舍买狗到家里然后再卖 。选商家的时候，也要尽量选择信用高的养殖场。不同的狗市，也存在口碑完全不同的情况。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;其次，见到狗狗的时候要注意些细节<br />
                        <span class="span_green">看精神状态</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;精神状态是神经系统机能状态及犬健康状况的综合反映。健康的犬应是两眼有神、耳尾灵活，健康犬活泼好动，反应灵敏，当有人接近时反应迅速，表现出主动亲近或避开。如果眼睛无神，精神沉郁等则多有可能患病。病犬则精神沉郁，喜卧不愿动，或垂头呆立，对外界刺激反应迟钝，或对周围的事物过于敏感，表现惊恐不安，盲目活动。<br />
                        <span class="span_green">看身体器官</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;狗狗的鼻子应该是湿润的，表面有薄薄一层水膜，用手指轻轻触碰，应该是凉凉的感觉；如果鼻部干燥多说明上呼吸道有炎症（多是由传染病、热性病引起）。如鼻孔中流出明显的浆液性、粘液性、脓性鼻涕时则是一些传染病（流行性感冒、犬瘟热等）的表现。狗狗的耳尖部分，不能有皮屑出现，耳朵内侧应该干净粉嫩，不应该有分泌物；狗狗的肛门紧缩，为粉红色，周围没有排便的印迹。被毛整齐有光泽，观察犬的行动是否灵活,步态是否稳健 ,被毛是否整洁光滑，肌肉是否丰满匀称,四肢是否对称健壮,有无跛行现象。如体表有明显的疤痕、癞皮、脱毛、丘疹（小疙瘩）则说明此犬患有或曾经患过皮肤病（蚧螨病、蠕形螨病、皮肤真菌病等）。<br />
                        <span class="span_green">看眼睛</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;健康犬的眼睛明亮而有神，睫毛干净整齐,眼圈微带湿润。犬 的许多疾病在眼睛上都有反映。眼结膜（眼皮内侧）充血潮红多是一些传染病、热性疾病的征兆。眼结膜黄染（呈现米黄色）则说明犬的肝 脏有可能出现病变。眼结膜苍白多是由各种原因引起犬的贫血。当出现角膜（眼球最外层）浑浊、白斑则有可能是犬瘟热的中后期，或是单 纯性的角膜炎；如果角膜出现蓝灰色则多有可能患有传染性肝炎（临床上也称此现象为"肝炎性蓝眼"）。如果眼屎过多则更要注意，许多患 犬瘟热、传染性肝炎的犬都有此现象。<br />
                        <span class="span_green">看下腹部</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;第一次买犬的或是对犬不是很了解的人往往忽略了这一点。如犬肚脐周围、后腹部有明显的球状凸起，则多是犬患有脐疝、阴囊疝的结果，一般要通过手术才能治疗。<br />
                        <span class="span_green">凭感觉</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;狗狗的气质也是至关重要的。一般来说，只要有动静，就会瞪大眼睛，集中注意力而不慌张的犬，为气质好的犬。在一群幼犬中，气质好的犬在发现你后，会自动而有信心地向你走来，眼睛明亮，充满智慧的光芒，摇动尾巴；并能忍受你用手抚摸或提起它。而那种喜欢夹起尾巴，一有动静就躲避的犬，不是理想的犬 。有些犬不喜欢受人支配，谁想控制它都会受到攻击，这类犬在幼年期常表现乱咬一通，在喂食、游戏时很易看出，这类犬也不是理想的犬。<br />
                    </td>
                </tr>
            </table>
        </div>

        <div class="div_body_nav_title" id="div_body_nav_title_4">4.二手交易防骗指南</div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_4_1">4_1.二手电脑防骗手册</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_title" colspan="2">1、二手电脑行骗手段</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        <span class="span_green">修改硬件信息显示</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;通过WINDOWS主题包功能，使用特制的主题包或软件修改“我的电脑”的硬件信息显 示,包括内存、CPU、显卡等（如实际内存128M，修改后显示为1G或2G等），在正常查看时反应出的信息与实物不符。<br />
                        <span class="span_green">翻新机</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;通常笔记本成色越新，说明使用时间越少，价格也就越高，所以，很多奸商喜欢卖翻新机，因为利润最大。目前，市场上所谓的低配置样机和库存机大部分都是翻新的笔记本电脑。但只要仔细检查，不敢说100％准确，但基本可以把那些“美容”过的李鬼给揪出来。<br />
                        <span class="span_green">混淆型号参数</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;二手笔记本的型号配置非常复杂，同一系列的产品配置往往相差很多，价格差异也很大，奸商往往会利用型号的复杂，欺骗一些不懂行的消费者。<br />
                        <span class="span_green">故意搞乱价格</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;不少朋友可能会对成色及配置差不多的二手笔记本电脑却具有相当大的差价感到疑惑。这就是奸商们重要的生财之道。奸商故意搞乱价格，能蒙一个算一个。例如你选准了一个型号的电脑，发现有一家特别便宜，验货也没问题。但是在和老板交流的过程中，老板却“无意间”透露他家这台并不是主打还有性价比更高的机器，于是你就买下了他推荐的那台，回去一查价格比市场价高很多或者质量有问题。<br />
                        <span class="span_green">网上二手交易欺诈</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;网上二手笔记本交易打破了时空限制，产品种类也非常丰富，一般档次较高，价格也很诱人， 但出售者往往在另外的城市，难以验货，购买时风险较大。<br />
                        <span class="span_green">回收旧电脑的骗子</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;这些骗子通常都骑个三轮车，上边放有两台电脑，跟你说刚才在哪以很低的价格回收来的，然后要卖到二手市场。如果你打开电脑看到里边比较新，以为自己占便宜了，那你马上就被骗了。他不会当你的面试机器，因为机器是运行不了的；里边没有一个硬件是能用的，都是后拼凑到一起的。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">2、如何识别二手电脑骗子</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;如果有朋友对电脑很懂，带朋友去是最好的办法。如果没有，那就只能靠我们自己了。对二手电脑中骗子使用的手段，我们可以通过以下 方法来识破他们。<br />
                        <span class="span_green">掌握二手市场行情</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;在出发之前要清楚机箱里边的配置，要了解购买目标现在的市场状况和产品主要性能。最简单的方法就是在网上找到购买目标的相关配件，看看网上对这些配件的评价和价位，结合购买目标已经使用的时间，大概估算出价格。如果我们自己估算出来的价格与目标商品的价格出入太大，那就要小心上当喽。<br />
                        <span class="span_green">认真辨别配件新旧程度</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;从配件的新旧程度可以估计出配件的大概使用寿命。商家在收购二手产品之后，一般会进行简单翻新，希望通过此方法来获得更多的利润，因此用户要注意检查硬件的新旧程度。通过观察电容缝隙中的灰尘多少、板卡插脚的磨损情况等，都可以估算出它的使用时间。另外还要注意检查配件是否有修理过的痕迹，否则就有可能买到返修货。鉴别返修货其实很简单，就是细心检查，注意观察硬件上是否有补焊、虚焊的情况，以及芯片型号是否和介绍不符等等。<br />
                        <span class="span_green">带上系统盘</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;卖家通过WINDOWS主题包功能，使用特制的主题包或软件修改“我的电脑”的硬件信息显示,包括内存、CPU、显卡等（如实际内存128M，修改后显示为1G或2G等），在正常查看时反应出的信息与实物不符。自己带上系统盘，亲手给目标电脑做一遍系统吧，然后再查看一下电脑属性，说不定就会有变化了。虽然这样很麻烦，但是很管用的。<br />
                        <span class="span_green">带上测试软件</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;如果还是不放心，那就拿出我们的测试软件。测试软件可是不留情面的，一运行，是龙是蛇，一览无遗。这些软件一般可以在相关的网站上下载，或者在网上进行搜索也可以找到。只要放到U盘里带去就可以了。推荐使用“鲁大师”。<br />
                        <span class="span_green">索要发票和收据凭证</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;如果一切都没有问题，记得索要发票和收据，因为发票和收据是电脑保修的唯一凭证，一般的用户是不可能丢失的。如果卖家提供不了这些，那此人就很有可能是商贩。<br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_4_2">4_2.二手手机防骗手册</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_title" colspan="2">1、二手手机行骗手段</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        <span class="span_green">翻新机</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;这种机是把一些收回的二手手机用化学液体清理干净，重新换外壳，配上电池，充电器（假冒）和包装当作新机销售的机型。或用二手机换外壳冒充全新机出售，质量很差，其实就是收集原来的机芯、外壳或外包装进行维修或加工处理，然后当作新机器卖。其种类很多，主要的是，其一电路板有问题的旧机子，经过维修或零件拼装后重新包装出售，此类机器性能最不稳定；其二正常的旧机子的外壳经过处理或更换后当新的卖；其三非正规渠道机器通过软件刷新、重新包装后当新的卖，此类机器一般软件的稳定性有欠缺。<br />
                        <span class="span_green">组装机、改装机</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;所谓组装机一般都是翻新机手机，组装手机大部分都是采用原装机的主板，然后套壳上键，刷机之后就成为“新机”了一般是为了高额的利润。由于中文手机和英文手机如爱立信GF768E和GF768C存在着较大的价格差，所以不少不法商家就私自将英文机改装成中文机，坑害消费者以牟取暴利。再比如现在市场上热销的机种cd928＋由于可以用几种汉字输入方法输入中文，而且功能齐全，所以在市场上俏销，而cd928和d938等功能与cd928＋几乎一样，只是软件版本不太一样，所以无法输入中文，于是有商家将cd928和cd938的软件置换，使cd928和cd938可以输入中文，然后将这种手机说成是cd928和cd938的升级版而卖更高的价钱。但这是违反摩托罗拉公司规定的做法。摩托罗拉中国公司将不会对此种手机实行保修。而且也有人反映软件升级后的手机在使用中会出现字符乱码、死机等现象。更有甚者以沿海水货市场买回假冒名牌手机的机壳，换上旧的主板，当新机出售。这种机子会存在很多毛病。所以不能买组装机。<br />
                        <span class="span_green">高仿机冒充行机</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;高仿机:就是仿制国际品牌诺基亚\摩托罗拉\三星\苹果等知名品牌的小作坊小工厂生产的手机,高仿手机的特别是与品牌手机外观模样是完全一模一样,价格相当便宜,但其功能菜单与正品行货稍有区别，质量一般，很多能保持一年不出什么毛病，如果你经常换手机，而且不是很在意功能也可用这类手机，毕竟很便宜，有更多的叫法就是国产三码机五码机或者就版机也有的叫"山寨机"。高仿其实就是假的，外观一样但是系统和使用手感绝对不可能一样。就像诺基亚的塞班系统，还有iPhone的系统，是高仿机不可能仿出来的。<br />
                        <span class="span_green">水货，无保修</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;水货手机是指由国外、港澳台地区没有经过正常海关渠道进入内地市场的产品，其最主要的目的是为了逃避关税，又或者该种产品曾经过不正当改装而不能够通过正常渠道入关。而且该产品基本没有受国内厂商保修许可。水货的正确概念是，在某国家或地区没有经过原生产厂家所指定的销售代理而进行销售的产品。很多时候，水货之所以成为水货，是因为该产品在某个国家或地区尚未存在原生产厂家所指定的销售代理。“水货”一词的由来，是因为早期走私者为逃避关税等原因，将国外船运过来的商品用塑料袋等密封好后投入约定的浅海中，再从陆上坐小船到该地点将货物取走。水货，是走私物品及非正常渠道销售产品的统称。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">2、如何识别和防范二手手机骗术</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        <span class="span_green">翻新机组装机辨别方法：</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;(1)首先要走出一个误区，大家买机器最常看的就是*#06#来区分产地了，串号的第七、第八位代码表示手机的产地，诺基亚的代码如下：10：芬兰；20：德国；30：韩国；40：北京；60：东莞，但是新的nokia手机已经不使用这个编号来区分产地了的，在手机的待机状态下输人＃06＃，手机显示的一串数字即为其主板串号，将其记下；取下机子电池，看机身后面的两个标签中的白色标签上的串号即机壳串号，另一个标签一般是入网许可证。是否和前面数字一致；再看机子包装盒上的IMEI号，比较三者，看是否都一致。如果主板串号和机壳串号不一致，那么这台机器很有可能是经过维修或零件拼装的，千万不能买。如果三个串号都一致，加上有入网许可证的话，基本上就能证明此机是正品，但是也不能百分之百的肯定，因为现在的JS什么都能造假，主板串号可以用电脑和软件刷写，假的串号标签和入网许可证更是几块钱就可以买到，为慎重起见还应该按下面的方法继续验证。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;(2)仔细看机身电池卡锁处有无拨痕，sim卡槽和触点有无磨损，MMC卡接触点是否有印痕，全新应该是光亮的。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;(3)看机子外包装和说明书：正规新机子的包装和说明书印刷精美，多为铜版纸印刷，字体和图像十分清晰、有层次感，而假冒的包装盒却多为简单单面纸张仿造，字体和图像都很粗糙，印刷字迹模糊，不少非正规渠道的改装的说明书甚至是复印的。还有一些翻新机子虽然采用的是原来正品的包装盒和说明书，但毕竟机器是旧的，其包装盒必有磨损，说明书也一定存在使用过的痕迹，购买时多加留意，就能发现。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;(4)看入网许可证：真的入网许可证上有水印，表面的颜色不均匀，有深有浅，有粗有细；而假的多为复印，表面颜色没有变化。如果你看不出的话，还可以用验钞机照一下入网许可证，真的里面有防伪图案会呈现出红色的“CMII”的图案。而假的图案则模糊不清。真的入网证一般都是用针式打印机打印的，数字清晰，仔细看有针打的凹痕，而假的入网许可证是普通打印机打印的，数字不十分清晰，没有凹痕。一般而言，入网许可证是比较难造假的，毕竟造假所需的设备在成本方面比较高。另外还可以上网查询来检验入网许可证的真伪，在此就不详细说明了。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;(5)看手机外壳：打开一款新机子时会很明显地注意到，在机子“关键部位”都有贴膜做重点防护，例如内屏、外屏，摄象头等等，这些部位只要接触，就会留下指纹．当您看到新机子上的指纹后，任凭JS如何解释您也不要听信。此外，灰尘和使用痕迹也是翻新机子同样难以避免的，机子上下外壳之间的缝隙(一般为1MM左右)，键盘周围的空隙，还有充电器插槽等处都是容易“藏污纳垢”的地方，翻盖机子的转轴处也会留下使用过的痕迹，同样也要特别注意。翻新机子一般采用的外壳都是仿原装的，或旧外壳精心处理而成的，所以机子外壳前后两个部分很容易出现闭合不紧、留缝很大的情况，鉴别方法是用手指甲试试能否插入手机上下盖的接缝，如果能插进去，就是组装壳。对于没有更换外壳机子，JS出售前用一种像清洁剂的雾剂一喷，旧壳的表面立刻出现一种像新机一样的磨砂效果，若不仔细查看，便会被JS蒙混过关，但是用不了多长时间，机壳的喷漆就会脱落，购买的时候一定要仔细观察外壳，因为JS的工艺再好，也没有原厂的设备先进，如果仔细查看的话就能看到一点小颗粒是灰尘，由于喷漆时没有在真空房间作业造成。如果是翻盖机还可以查看一下翻盖的结合处，因为有些时候就算JS把机器表面处理得再好，这些地方也难免留下一些灰尘的痕迹。另外查看机身螺丝是否崭新，有没有螺丝刀拧动过的痕迹。更要注意的是，许多新手机都有一股明显的檀香味，而旧机子和换壳机一般都没有这样的味道，或是有加工时留下的异味，而新机器会是檀香味道，不同与一般的清洁剂和香水味。机身不能有粘粘的蜡和油(有的话就是被JS美容了)。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;(6)看屏幕贴纸：全新的应该贴的很好，没有气泡什么地，浑然一体。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;(7)看手机配件：正规厂家的新机子有全套的原厂配件，至少也得有一电一充。翻新手机的配件一般都不齐全或者不是原厂的，购机之前最好先去相关的网站了解一下标配的原厂配件都有哪些，以此防止被JS克扣配件。另外，看配套的充电器和耳机的插头上有划痕，一般旧机肯定充过电，还是能看出不同的，看手机耳塞有没有发黑的，如果有则可能是翻新或者被人使用过的。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;(8)看记录：看一看手机中的游戏、短信、电话本、通话记录、自编铃声、WAP和语音功能及通话纪录等项目有没有使用过的记录，如果有的话则有非常大的翻新嫌疑。另外在正常的使用过程中，机子频繁地自动关机或是死机，那么可以肯定地说这款手机的主板或是软件存在一定问题。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;(9)看保修：向经销商询问机子的保修期并索要正规的发票。翻新手机无法享受正规手机“三包”规定的所有权益，因此一般没有保修期或保修期相对较短。如果销售商说他们自己负责保修也不能答应，因为正规手机一般都是全国联保的。如果销售商无法做到这些，那么手机肯定存在问题。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;(10)看价格：在购买机子前，最好先在当地报纸或是网站上了解一下手机的价格，如果报出的价格很便宜，就要警惕了，这样“廉价”的手机不是翻新手机、非正规渠道产品，就是配件“缺斤短两”。<br />
                        <span class="span_green">如何识别高仿机：</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;我们在开机搜索网络的时候按*#06#，然后在你的手机上会出现一个序列号。国际移动设备串号IMEI，应该是全世界唯一的（山寨机除外），应该共有15到17位，15位是永远不会改变的，17位的话最后两位在刷机、更新等操作后可能会改变，但是一般只看前15位，另外这15位号码应该与机身上贴的进网许可上的一样，和保修、包装上的一样，如果不符的话说明机器有问题，可能是高仿、水货、翻新机等。第7、8位是00时是大陆的行货，原厂正装的。手机的串号，即IMEI码它是International Mobile Equipment Identity(国际移动设备身份)的简称，就像是手机的身份证，是用来帮助辨别手机身份真伪的。每个手机都只有唯一一个串号，不会雷同。我们一般是将手机上按“*#06#”键后显示的串号跟手机盒子上的条形码以及手机背面取下电板后里面的串号对应，如果3者一样，是真行货的可能性大些（不排除二手行货）。因此，我们可以通过看IMEI码分辨真假行货、水货。<br />
                        <span class="span_green">电池充电器防伪常识：</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;注意电池和充电器是否全配，是否有厂家的标志和防伪商标。<br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_4_3">4_3.二手车防骗手册 </div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_title" colspan="2">1、二手车交易过程中注意的事项之外观检验篇</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;二手车以其低廉的价格颇受部分消费者的喜爱，然而，一直以来，二手车交易却存在各种陷阱，虚假二手车信息、事故车以次充好、交易车辆手续作假等等，因此，用户在购买二手车中一定不可掉以轻心，防止二手车交易过程中被骗。
                    </td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        <span class="span_green">二手车的出厂时间</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;二手车的技术状况与车辆的使用时间直接相关，通过查找二手车的出厂时间，可以初步估算车的现有性能。一般二手车的出厂时间可以通过车主或查看车辆资料查找，但是进口汽车由于在国外的使用和滞留时间无法确定， 这种方法只能大概了解。最准确的办法是从车辆的技术资料中查找，多数进口汽车的出厂时间不直接标在车型标牌上，而只用车架号码代替，检查的时候应该注意。<br />
                        <span class="span_green">二手车的行驶里程</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;汽车的使用寿命是由使用时间和行驶里程决定的。一般小轿车在行驶15万～20万公里以后，车辆的技术性能明显降低，修理费用增加。二手车的行驶里程一般可以从里程表直接读出，部分进口汽车的里程是以英里计算的，查找时应予以注意。有的二手车里程表更换或出现故障，这时只能根据汽车的使用时间和车主的用车频率进行估算。有时也可以通过观察轮胎的 磨损程度进行估算。这种估算与实际会有差距，只能作为参考。汽车的行驶里程越少，储备的里程越大。<br />
                        <span class="span_green">二手车的检查项目</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;选购二手车时，首先应确认车辆各种附属设备工作正常，如雨刮器、反光镜、湿度表、加热器、除霜器、灯具、转向信号和空调设备等。然后重点检查以下项目：一是车漆。观察车漆有无脱落后重喷的痕迹，查看排气管、镶条和车窗四周是否有多余的喷漆。如果车辆经过翻新，可作为车辆新旧的参考。二是车身损坏程度。观察车身各接缝，如果出现接缝不直、缝隙大小不一、线条弯曲、各装饰条有脱落，证明该车出现过事故，进行过整修或车厢大修。三是车身锈蚀程度。主要检查防护板、车窗、水槽、底板、各接缝处有无锈蚀。如锈蚀严重，证明该车较旧 。四是减震器和悬挂系统的情况。用力压下小轿车一角，放松后车辆应能弹回，并自由跳动两三次。否则证明减震器或悬挂系统弹簧工作不良。五是前轮定位情况。用千斤顶把前车轮顶起，用手左右、上下摆动前轮，如出现间隙，表示轴承、球头有磨损。观察前轮磨损是否不均和两边是否有裂纹，如果偏磨严重，证明前轮定位不准。六是转向情况。把车辆停放在平地上，车轮回正，转动方向盘，检查转向自由行程是否过大，看转向拉杆及球头是否松旷等。<br />
                        <span class="span_green">二手车的试车检查</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;在对二手车的外观进行认真检查后，可启动车辆，进行试车检查，车辆应满足以下条件：启动性能良好;发动机低、中、高速无异常响声;汽车尾气应是无色气体，若尾气冒蓝烟，说明发动机烧机油;起步应平稳，离合器无打滑和振动现象;变速灵活，如跳挡、换挡困难或有响声，证明同步器磨损严重;传动轴和驱动桥应无振动和噪声;方向盘操纵灵活，不跑偏，高速无摆动;制动平稳可靠;约15km/h试车，水温及变速器、驱动桥的油温正常;带自动变速器的汽车，应进行制动试验，如发动机转速过高，证明离合器已磨损，自动变速器的使用寿命不会太长，这些方面，试车的时候都要认真看，仔细听，检查清楚。 <br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">2、二手车交易过程中注意的事项之手续篇</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        <span class="span_green">二手车登记证书一定要办理</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;车辆登记证书是车辆必要产权凭证，2002年之前购买的汽车大部分都没有登记证书，在车辆交易的时候需要进行补办登记证书。车辆交易后车辆登记证书会详细记载原车主和现车主的详细信息，确保交易双方和车辆管理部门了解车辆产权变更情况。目前，在一些规模较大、服务比较规范的旧机动车交易市场如北京市旧机动车交易市场内，一般都设有车辆登记证书办理窗口，消费者可以就近办理。<br />
                        <span class="span_green">二手车行驶证书一定要变更</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;车辆行驶证书是仅次于车辆登记证书的重要文件，消费者在交易二手车的时候，车辆行驶证书也要变更。需要注意的是，车辆行驶证的车辆照片也要与车辆相符，车辆要按照规定年检合格才允许办理。<br />
                        <span class="span_green">车主身份证、单位代码证书要真实有效</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;车辆进行产权变更的时候必须出示交易双方的身份证明，单位需要出示单位的代码证书。这其中身份证明过期、代码证书没有年检等情况经常发生，需要交易双方办理妥当。还有一种情况就是身份证或者代码证书的地址和名称与原来车辆的登记证书或者行驶证不相符，这也需要交易双方到车辆管理所变更。<br />
                        <span class="span_green">二手车购置附加税、养路费和车船使用税须合法有效</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;在车辆产权变更中，需要对车辆的购置附加税，养路费和车船使用税进行查验，车辆的购置附加税必须缴纳，养路费至少缴纳至车辆交易时间内的一个月，车船使用税必须缴纳至车辆交易的当年。<br />
                        <span class="span_green">签订车辆交易合同，相关内容要填写清楚</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;车辆购买过程中，买卖双方应该签订买卖合同，在合同中交易双方应明确填写车辆的有关数据、车辆的状况、费用负担以及出现问题的解决方法等，避免今后出现问题没有依据。<br />
                        <span class="span_green">及时办理各种相关手续的变更</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;旧车交易中，买卖双方在旧车交易市场变更车辆产权之后还需要到附加税征稽处办理购置附加税变更，到养路费征稽处办理养路费变更，到保险公司办理保险手续变更。<br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_4_4">4_4.电动自行车安全交易指南 </div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;目前，电动自行车无论从交易监管还是相关法规来看，都没有统一规范，尚属交通工具的盲区。因此，所以许多车贩子会在这里做很多手脚，信息小镇总结出一些有助于安全交易的提醒，以及常见的欺诈手法。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;二手车骗子的普遍信息都是“工作调动，离开xx，2轮换4轮了”其实都是常年做这个生意的。车骗子大部分的车都是脏车，要不就是已经被转让了多手的车子。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;首先，大家一定要注意看车体，特别是牌子，是不是翻新的，是不是贴牌。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;其次，手续检验尤为重要，务必向卖家索要销售发票和(国产车)车辆合格证，对于所谓的进口车，还要查验海关进口证明和商品检验单。如果是在保修期内的新车或准新车，还要注意检查保修卡或保修手册、说明书、随车工具及备件等。如果是较旧的车子，要注意看看电池，里面通常都会写着最后更换的时间。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;如何具体鉴别电动车的质量好坏：<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;1、电动自行车先挑选车辆的外观质量，主要看商标、贴花是否完好，油漆件、电镀件、塑料件、铝合金件的表面质量是否满意。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;2、检查电动自行车车辆装配质量的好坏，应该是：<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a．电动自行车各种螺钉紧固到位，没有松动。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b．电动自行车车把、车轮、链条、曲柄、脚蹬应运转灵活，车圈应圆速，圆跳动量较小。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c．电动自行车车把、鞍座、泥板、衣架、支架要装正或是左右对称，不能有明显的偏斜。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d．运动部件（如链条、曲柄、车轮等）与不动部件（如链罩、泥板等）不能有碰擦。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;3、电门钥匙和电池锁要试用一下，以安全可靠、使用方便为宜。电门锁、电池锁、工具箱锁应通用一把钥匙最为方便 。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;4、打开电动自行车电门，转动变速把手，检查无级变速和制动（刹车）断电以及制动效果，并检查电动自行车电机运转是否平稳，声音是否正常。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;5、多功能和豪华型电动自行车还要检查一下所有的功能是否完好正常。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;6、最后要将电动自行车发票、充电器、合格证、说明书、三包卡等取齐，并妥善保存<br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_4_5">4_5.摩托车安全交易指南</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">
                        <table>
                            <tr>
                                <td class="td_content" colspan="2">
                                    &nbsp;&nbsp;&nbsp;&nbsp;现在的骗术都比较高明，各方面卖车的资料一应俱全，如照片、联系方式、交易地点、卖车理由等等，从信息的表面来看没有什么破绽，没有与其深入沟通也根本无从判断真伪。<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;首先，对于其发布的物品信息，需要注意以下情况：<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;1、价格明显低于市场不少。<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;2、手机号码归属地与实际地点不符。<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;3、要求先付运费再发货（利润所在）。<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;4、假扮成个人转让，玩腻了要卖，所以价格超低，在低价的基础上可以大幅度砍价。<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;5、虽然有卖车理由，但卖车理由很牵强。<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;其次，为了交易的安全性、合法性，请严格遵循以下三点：<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;1、遵守法规：买受人购买出卖人的摩托车，必须符合国家颁布的摩托车质量标准，且必须是在《全国摩托车、民用改装车和摩托车生产企业及产品目录》上登记/备案的摩托车。<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;2、手续检验：买受人在车辆交易过程中必须要求出卖人提供：销售发票;(国产车)车辆合格证、(进口车)海关进口证明和商品检验单。如果是在保修期内的新车或准新车，保修卡或保修手册;说明书;随车工具及备件等。<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;3、交易备案：买受人在购车时应认真检查出卖人所提供的车辆证件、手续是否齐全。买卖双方除签署买卖合同及相关书面约定外，需在交车后及时到当地车管所完成转移登记、备案和相关牌照的手续办理。<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;最后，为大家支两招：<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;1、在百度上搜一下这个手机号。<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;在www.baidu.com上直接输入这个手机号，网络上一般会收录许多骗子的基本信息的，如果是广东湛江、广州、深圳等地的就要留意了，近期的骗子在这些地方比较猖獗。还要再看百度上搜出来的内容，一般这个在网络上交易过的车，都能搜出相应的资料，如果搜出只卖车的信息，或者同一个号码有不同的车的信息，而且情况类似都是便宜扔了或者玩腻了想售这样的，那就要小心了。<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;2、价格明显低于市场的车子就请直接放弃吧，这年头便宜货比熊猫都少，这就是所有骗术的本原<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;3、QQ资料，那种没有什么详细资料，QQ号又特别长的新号都请注意了，另外注意QQ上体现的地理位置，要和手机地理位置及实际交易地理位置对比，不一致的话，基本可以放弃了。<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;4、用户资料，现在骗子都蛮聪明，而且都不急于求成了，注册时间与发贴的时间一般都会有一定的间隔时间，不要被表象所迷惑，而且骗子也会在论坛里发几个其他不相干的贴做铺垫，任何新ID发出的卖车信息，请小心。<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;5、照片，骗子肯定是没车的，贴出来的照片一般都是到处找来的，可以从以下几点来辨别：<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A、尺寸不规格，正常自己拍的照片都是一样的尺寸的，800*600或600*400的，这里的图片不多，而且一张一个规格，这很明显是在网上的截图或者盗用他人的图片的。<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B、照片的背景，一般车友拍照，多多少少会拍到背后的车子，或者其他建筑物，或者广告牌、人等，车子看车牌（车牌位置）广告牌看内容（电话区号，店名前一般都有地名），建筑看建筑风格（南北有明显差异），人看人的穿戴习惯，对比各方面信息，像前台提到的，尺寸不规格就是骗子把所有背景资料都抹杀的结果，所以车子照片中看不出什么背景的，请小心。<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C、要求补充照片，如果对方有车在手，补充一两张照片不算什么难事，要求对方根据自己的要求补充一两张照片，比如前减油封仪表盘车把等位置的照片，拿不出来的，请小心。<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;6、收款账号及账户名，收款人名字与实际交易者名字相符，如果不一样的请小心，收款账号归属地查询，每个银行都有相应的客服热线，打过去查下，如果不符的请小心。<br />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_4_6">4_6.数码相机知识防骗科谱</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_title" colspan="2">
                        了解水货DC
                    </td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;水货DC是指导那些通过非正常渠道进入市场，没有经过厂商许可或是将原本应该在某地销售的产品转移到另外的地方进行销售的产品。而并非大家所理解的走私货或者质量不过关、以坏充好的商品。水货由于没有关税之类的费用，所以价格非常的低廉，不但消费者买的水货便宜，商家经营的利润空间也会更大一些。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;水货有两种：<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;一种是从香港或者日本等地的渠道进货的叫“水货”，也称走私数码相机，这种水货数码相机不排除其为原厂正货的可能。但这种产品通常不享有保修的售后服务，从市场暗访的情况来看，这种水货在一些地方占了一半以上，比如宁波、温州市场。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;还有一种水货是将别人用过的或劣质相机经过回收、翻新等手段进行伪装后，便成了正品，这种水货尤其值得注意，而有些所谓的“水货”实际上就是国内手工作坊改造的，普通消费者仅从外表上看往往很难区分，另外，也会出现相机机身是新的，但配件是旧货甚至是假货的问题。一些奸商利用人们对数码产品不够了解的弱点，卖给你的水货表面上价格便宜，其实与行货相比并不便宜！因为有一些奸商将原厂出品的配件调包，把本来随机附送的原装电源、充电器、充电电池、存储卡等产品扣下来单卖，而把一些廉价、劣质的电源、充电器、电池等产品赠送给你。最典型的是将电池换成假冒电池或兼容电池，或将原配的存储卡换成小容量或杂牌卡。这种水货有人称之为“深水货”，消费者买了它可就有的烦了，在维修店里，经常有消费者拿着这种组装机来修。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;大家都知道，水货数码相机在国内多数是很难得到售后质保服务的，即便有个别品牌，如佳能，松下等通过一定的程序，还是可以得到保修服务，但对这一般消费者来说很难办到。所以说我们选择了水货产品，在享受低廉价格的同时，也要承担将来可能发生的高额维修费用的风险。因为水货在商家规定的保修时间内出现问题的话，一般只能拿回产地进行保修，但需要很长的时间和大量的金钱，另外一种方法是到普通的维修点维修，这种维修方式并不专业，很难令人放心。而且自费数码相机维修的价格也是高的离谱。如果损坏的主要部件，如镜头、主板等，那么你要付出的维修费用可能是你购买整机费用的一半甚至更高。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;另外，现在水货很大一部分是从网站来订购的，这种方式都是通过邮寄取得的，这样，如果碰到没法有信誉的网站，收到钱却不发货，即使邮寄到了，如果与其宣传资料不符或产品根本就是坏的，那购买者的损失就大了。所以购买水货的人看起来省下了一些钱，可也需要承担很大的风险。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">
                        水货泛滥的原因
                    </td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;既然购买水货有这么多危害，那么为什么它们还存在一定的市场呢？这其中主要有以下几个原因：<br />
                        <span class="span_green">难以辨别</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;现在的水货产品的制作工艺安全可以到以假乱真，加上有些水货本身就是原厂货，只是应销售的地点改变而成了水货，这种水货更是难以辨别。另一方面，消费者的辨别能力有限，具备专业辨别水平的人更是瘳瘳无几。这就使得一些利欲熏心的奸商拿着水货当行货欺骗消费者。<br />
                        <span class="span_green">价格低廉</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;像数码相机这种电子产品进关的时候往往要加上较高的关税，使国内零售市场上的产品价格一般都要比国外的价格高很多，比如在日本的销售折算成人民币大约3000元，而在国内可能要卖到4000元，这对一些对价格非常敏感的朋友无疑是一个不小的诱惑。<br />
                        <span class="span_green">急于追新</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;数码相机产品的新型号推出速度越来越快，在日本每个月都要推出好多新型号，由于受到地域及国内消费水平的限制，我们在国内市场上只能看到有限的几种机型，新机型进入国内需要很长时间。对于喜欢求新求异的朋友，在几乎无法在国内及时地买到自己喜爱的最新产品时，就会将目光转移到先行到货的水货身上。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">
                        如何分辨水货
                    </td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;一般来说，水货的价格要比行货低一些，但我们绝不能只从价格高低就断定哪个型号的DC是不是水货。由于水货数码相机大都不是在国内生产的，往往没有中文说明书，说明书都是日文或者英文的（日本讲究环保，包装盒都是再生纸和简单印刷的），香港行货（我们称之为水货）的说明书是繁体中文的。一般都是日文和繁体中文包装，驱动程序、软件等上面也没有中文。即使有的水货提供中文说明书，往往也是印刷比较粗糙的翻印本。也有的经销商明确告诉你是水货，然后给你附上一本相似型号相机的中文说明书。行货的包装盒内还应带有一张保修卡，而且卡上还要盖有合法的保修专用章。再大致地看一下数码相机外壳上的机身型号是否属于销往中国大陆市场的产品型号。具体销信中国大陆市场的产品型号，可向当地数码相机特约维修中心查询，或直接拨打数码相机生产商的服务热线询问。识别产品是否为行货最有效的办法是根据机身序列号来判别。由于每一台数码相机都具有一个唯一的编码，用户只需拨打厂家国内的技术支持部、分公司的电话或者厂家提供的免费查询电话，就能知道自己购买的数码相机到底是不是行货了。从厂家授权的国内代理商处购买相机也是一个防止买到水货的好办法。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;另外，仔细地对数码相机机身进行检验一下，要仔细检查机身、螺丝、液晶屏等部位，看是否划伤、刮花、灰尘等等，这也是必要的手段。认真对镜头进行检查，因为镜头是数码相机中最为重要的组成部分，它的质量好坏直接关系到数码相机的整体性能，因此对镜头进行检查是鉴别水货相机的很重要的一个环节。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;下面为大家具体介绍一下各品牌水货行货的辨别方法<br />
                        <span class="span_green">索尼</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;索尼作为数码相机的第一品牌，市场上的“水货”也很多，索尼产地分日本原产和中国上海两种，日本原产的水货可能性很大，上海制造一般不存在“水货”问题。尤其是从去年开始，索尼公司在华所有售后维修部已停止对日产以上机型的保修服务；索尼相机的保修卡上有生产厂址、相机型号、机身编号等项，均在出厂封装时便打印在保修卡上，不存在手写的情况;外包装上无论上海还是日产的，都有合格证及简体中文的生产厂址，且包装只有英文及中文，决无日文出现；没有CN5编码的产品一定是“水货”。<br />
                        <span class="span_green">尼康</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;尼康于2002年在中国无锡建设了尼康无锡光学仪器公司，总的来说，尼康的行货产品除了日本原产的外，也有同样的中国制造的。尼康所有的行货产品都附带简体的中文说明书，如果产品没有提供简体中文说明书，只有繁体中文或没有说明书，那么基本上可以断定这是一台水货的DC。尼康产品的保修卡，正经行货的都标有“NIKON HONG KONG LTD”的字样，如果保修单上写的是“NIKON JAPAN”或其他文字，也可以判定它是水货了。不过要注意，所有的行货都标有“NIKON HONG KONG LTD”，但所有标有“NIKON HONG KONG LTD”的却并不一定都是行货，这点大家要分清楚。另外，如果保修单上没有量子、新康华、亮驰、丽达这四大代理任意一个保修专用章，那么这就极有可能是一台水货DC。有些代理如量子在盒子上贴有防伪标贴。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;除了以上两种方法，还有一种最为直接、可靠的方法。就是拨打尼康的800电话，提供自己机器的机身序列号，服务人员就会告诉您这台机器是“行 货”还是“水货”。<br />
                        <span class="span_green">奥林巴斯</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;目前市面上奥林巴斯“水货”比较多。奥林巴斯作为第一批在国内深圳设厂的大公司，外包装上都会有注明生产址“广东省深圳市南山区高新技术产业园北区”；其次说明书、保修卡和外包装方面，也都是简体中文版本的。奥林巴斯也可以通过拨打8008106046进行查询其产品是否为行货。<br />
                        <span class="span_green">富士</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;首先包装盒应该是中文的，原产地的标注和进口商均由简体中文写成，水货可能只有英文或日文。生产厂地一定是中国苏州；中文液晶显示，全中文菜单；保修卡是富士胶片《中国》投资有限公司发行的卡，并有红色的章，方可生效；质量技术监督12365防伪系统标志，这也是判断富士数码相机是行货的依据，你可以拨打免费电话或上网查询产品是否为行货。<br />
                        <span class="span_green">佳能</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;行货的盒子上面有个防伪标志，刮掉涂层可以电话查询；盒子、保修卡、机身上的序列号应该是一样的；Canon的三联保修卡的右上角有激光防伪标贴，并且保修卡是中文的；说明书简体中文版，而且纸质良好、产品信息全、字迹工整、印刷清晰。还有一个最为有效的方法，在正规行货的包装盒上，一般都贴有一个圆型的中国消费者协会防伪标签，刮开涂层后，拨打里面的800电话，就可搞清是行货还是水货。还有就是佳能的产品根据销往地区不同，产品的命名也略有差异。比如说大陆销售的IXUS400，在日本本土就被命名为IXY400。如果商家给您推荐编号有些可疑的产品，就要有留心了。<br />
                        <span class="span_green">松下</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;松下没有在大陆地区建造生产相机的工厂，从产品的产地上无法辨别出行货和水货，其所有的产品都是日本原产的。此外，松下多款DC都集成了多国语言的菜单，光看产品的菜单，您也很难分辨出行货和水货。所以消费者在购买时要注意，产品必须带有国家正式的发票和正规的保修单，最后保修时需要用到这些。另外有消息称，松下DC不论是行货还是水货都可以享受到一年免费保修，准确与否还有待证实。<br />

                    </td>
                </tr>
            </table>
        </div>

        <div class="div_body_nav_title" id="div_body_nav_title_5">5.房产防骗指南</div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_5_1">5_1.如何识别中介冒充个人</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">
                        <span class="span_green">1、看用户发帖记录</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;在详情页，点击联系人后面的名称，可以查看用户在网站的发帖纪录，如果该用户在短时间内发布了多处不同房源，基本可以判定为中介。<br />
                        <span class="span_green">2、看电话</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;标题、图片、内容、小区名称中带有与联系方式中不同的电话号码，特别是用空格、符号、谐音等各种方式隐藏真实电话号码的，90%为中介。结合搜索引擎中搜到的该电话信息判断，如搜到该电话在其他网站发布的不同房源信息，经纪人网上店铺等，可以判定为中介。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;鉴别方法：<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;a.通过搜索引擎查看发帖人的联系方式。是否发布了多处不同房源。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;b.查看发帖人的网上店铺<br />
                        <span class="span_green">3、看标题</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;一般房东写的标题较为简单，而经纪人帖子可能会写的比较吸引人，如好房不等人、稀缺房源、性价比高、精品推荐、免费看房等等。<br />
                        <span class="span_green">4、看房屋介绍</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;描述简单，内容泛泛的多为经纪人，房东的的信息一般会写的比较详细，具体的行车路线，房源的突出特点等。<br />
                        <span class="span_green">5、看价格</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;价格过低可能为虚假房源，有些经纪人发布一些地段好，价格便宜的房源吸引人，当有人表示对此房有意向时，却开始推荐其他房源；另外，也有些黑中介发布低价格的房源吸引客户，收取看房费。如何识别黑中介？<br />
                        <span class="span_green">6、看付款方式</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;同意月付或押一付一，基本上都是房东。<br />
                        <span class="span_green">7、打电话询问</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;打电话时，可以通过询问房屋的详细信息与发布的信息是否一致来判断，也可以直接询问对方是否为经纪人。<br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_5_2">5_2.选择中介公司要点</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;一般而言，能够开办中介业务的机构必须是具备公司法规定的条件，领取工商营业执照、具备地产经纪资格的机构才是合法有效的地产中介。根据《城市房地产中介服务管理》规定，设立房地产中介服务机构应具备下列条件：<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;（一）有自己的名称、组织机构；<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;（二）有固定的服务场所；<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;（三）有规定数量的财产和经费；<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;（四）从事房地产咨询业务的，具有房地产及相关专业中等以上学历、初级以上专业技术职称人员须占总人数的５０％以上；从事房地产评估业务的，须有规定数量的房地产估价师；从事房地产经纪业务的，须有规定数量的房地产经纪人。<br />
                        <span class="span_green">选择知名品牌的中介公司</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;大型的品牌中介公司注意诚信经营宗旨，有完善的制度及透明的操作流程，能有效保障客户及业主利益。<br />
                        <span class="span_green">看中介资质要留意细节</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;除注意公司品牌外，在进入一家中介门店时，也可以通过细节判断该中介的状况。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;a.铺面整洁统一（大部分正规中介其分行都有统一的格局形式）。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;b.注意中介的营业执照（正规的中介公司都有政府部门颁发的营业执照，并出示于明显位置，以便客户清楚了解该中介的法定注册公司名称、法人代表等必要情况）。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;c.经纪资格证（一般来说，每间中介公司门店必须具备4个以上持有资格证的经纪人，买卖双方达成交易后，必须是持牌经纪人方可签约）。<br />
                        <span class="span_green">熟悉交易流程</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;正规公司会以书面、海报、宣传单张等形式告知客户房产交易详细流程，包括：查册、签三方合同、晒图、递件、交税、过户、取证等等，并且向客户明示费用的收取明细，尤其在收取每一笔费用时都出示盖有公司法定公章的收据或发票。<br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_5_3">5_3.如何识别黑中介</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">
                        <span class="span_green">1、收费没有凭证</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;正规公司都可以出具盖有公司法定公章的收据或发票，如果不开，这个费用的收取就没有得到相关管理单位的认可。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;《城市房地产中介服务管理》规定：<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;第十八条 房地产中介服务费用由房地产中介服务机构统一收取，房地产中介服务机构收取费用应当开具发票，依法纳税。<br />
                        <span class="span_green">2、虚假房源</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;黑中介发布质优价廉的房源，吸引看房人，随后推辞该房屋已经租出，带您看别的房子，乘机强收看房费、信息费。<br />
                        <span class="span_green">3、收押金</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;黑中介在客户找房时声称有合适的房子，随后让对方交“押金”。当客户要求陪同看房时，他们通常会推托房东有事不能来，或带客户看一些烂房子。如此一拖再拖，“赚”押金。<br />
                        <span class="span_green">4、假房东</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;先租到房子，后冒充房东转租，从此失踪。<br />
                        <span class="span_green">5、免佣金</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;宣称不收佣金，背后提高房租，吃巨额差价。<br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_5_4">5_4.租房注意事项</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">
                        <span class="span_green">1、明确询问此套房源是否存在</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;有些经纪人发布一些地段好，价格便宜的房源吸引人，当有人表示对此房有意向时，却推辞该房子已出租或者以别的借口向租房者推荐其他房源。为避免双方时间浪费，联系时最好直接询问对方此房源是否存在，或者明确表明自己的租房条件。<br />
                        <span class="span_green">2、谨防没有房产证的房源</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;一些人冒充房东行骗，将租来快到期的房屋转租，或者将只短租几天的房源再出租，从中牟利。产权证是建立租赁关系的第一条件，要使租赁关系合理合法，出租人还要持房产所有证件到房地产管理部门办理房屋租赁证件，只有获得了租赁证，出租手续才完备。 所以租房者要认真核实房东的房产证或经纪人的代理合同。<br />
                        <span class="span_green">3、避免低价陷阱</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;有些经纪人打着“免佣金”的幌子吸引顾客，等顾客看到满意的房子后又以免收佣金为理由提高租金，赚取租金差额。租房者可以在最开始询问经纪人：交易过程中需要交纳的费用和确定的租金；租房前，首先确认房屋安全，不能只图便宜，一定要认真检查房子是否存在安全隐患，是否为隔断间等等。现在很多房子被改造成小间出租，租房时最好对房内设施检查仔细，如门窗是否正常，下水管道是否畅通，有无漏水，电路布置是否危险等。交纳租金前，勿忘试用各种开关、水、电、煤气等，以免入住后出现不必要的麻烦。<br />
                        <span class="span_green">4、明确房子日后维护和退还押金问题</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;租房者租赁房子后不仅有使用房子的权利，还有维护房内各种设备设施的义务，因此在签订合同之前要和房东或者经纪人确认房内的设备设施当前状态，并将其附在合同附件中，以免以后发生纠纷。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;租房者在签合同之前也要将房东或经纪人收取的费用及需要向相关部门交纳的费用了解清楚，最好在合同后附《费用清单》详细计算相关收费。例如：房租是否包取暖费，房内电表、水表入住时的度数，以后缴费的方式。在这个过程中，也要谨防经纪人除租金外收取其他费用。例如房间内没有有线电视，经纪人却要代房东收取已交的有线费用等。一般在第一次缴纳租金时，都要交一定比例的押金。此时需要和房东或经纪人确认押金返还时间和返还额度，为了避免恶意扣除押金，可能扣除的部分都可以通过《费用清单》确认清楚。<br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_5_5">5_5.租房流程</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">
                        <span class="span_green">1、查看双方证件</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;A．房主查看房客身份证，(可向公安局确认身份证)，并索取复印件做为合同附件；<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;B. 房客查看房主产权证明(可向当地产交易所进行确认) ，房主身份证(可向公安局确认身份证) 及两证的统一(即产权证的产权人与身份证相同) ，并索取复印件做为合同附件，有些只有使用权的老公房，则要看房东的公房租赁证和身份证是否相符；<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;合同签字(房主方)与产权证的产权人如果不相同需有产权人的代理委托书，即如果通过经纪人找房，需要查看对方的代理委托书。<br />
                        <span class="span_green">2、确认所有费用</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;签订房屋租赁合同之前，查看水、气、电、电话费、物业费等是否已结清，询问这些费用是否包括在房租内，如果不包括，是每个月定额，还是按照实际使用的费用由承租人一方负担，如何缴纳等；<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;签订合同之前，还要跟房东或者经纪人确认房内的设备设施当前的状态，折旧和损坏是否计入扣除押金的费用，并将其附在合同附件中。<br />
                        <span class="span_green">3、确认合同</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;签订租赁合同时要仔细阅读合同条款，对于模糊内容要详加询问，并落实于纸质租房合同，交押金需要收据，确认扣除押金的的约定情况，退房时需凭收据拿回押金。<br />
                        <span class="span_green">4、明确违约责任</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;违约情况如：出租人逾期交付房屋，租期结束承租人逾期退租等，可以每日按高于租金标准收取违约金；若出租人擅自收回房屋，或者承租人擅自退租，可约定一次性承担较高的违约金，也可以约定支付未使用租期的租金作为违约金。<br />
                        <span class="span_green">5、入住之前</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;a.为了安全起见，入住之前最好跟邻居了解下房源之前的租住情况，要求房东或经纪人换锁<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;b.跟房东或经纪人确认交房租的时间，以免因晚交房租而产生滞纳金<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;c.检查门窗，试用各种开关、水、电、煤气等<br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_5_6">5_6.二手房买卖注意事项</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">
                        <span class="span_green">1、核查房屋手续是否齐全</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;房产证是证明房主对房屋享有所有权的惟一凭证，没有房产证的房屋交易时对买受人来说有得不到房屋的极大风险。房主可能有房产证而将其抵押或转卖，即使现在没有将来办理取得后，房主还可以抵押和转卖。所以最好选择有房产证的房屋进行交易。<br />
                        <span class="span_green">2、核实产权是否清晰</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;有些房屋有好多个共有人，如有继承人共有的、有家庭共有的、还有夫妻共有的，对此买受人应当和全部共有人签订房屋买卖合同。如果只是部分共有人擅自处分共有财产，买受人与其签订的买卖合同未在其他共有人同意的情况下一般是无效的。所以卖方必须是房屋的所有人，通过查验产权证和产权人身份证核实，确认无误即可。<br />
                        <span class="span_green">3、询问交易房屋是否在租</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;有些二手房在转让时，存在物上负担，即还被别人租赁。如果买受人只看房产证，只注重过户手续，而不注意是否存在租赁时，买受人极有可能得到一个不能及时入住的或使用的房产。因为我国包括大部分国家均认可“买卖不破租赁”，也就是说房屋买卖合同不能对抗在先成立的租赁合同。这一点在实际中被很多买受人及中介公司忽视，也被许多出卖人利用从而引起较多纠纷。<br />
                        <span class="span_green">4、土地情况是否清晰</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;二手房中买受人应注意土地的使用性质，看是划拨还是出让，划拨的土地一般是无偿使用，政府可无偿收回，出让是房主已缴纳了土地出让金，买受人对房屋享有较完整的权利;还应注意土地的使用年限，如果一个房屋的土地使用权仅有40年，房主已使用十来年，对于买受人来说是否还应该按同地段土地使用权为70年商品房的价格来衡量时，就有点不划算。<br />
                        <span class="span_green">5、关注房龄情况</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;很多二手房经过炒房团的买卖，房本都是近几年的。再加上经纪人谈到房龄时模棱两可，二手房的真实房龄就需要买房人多加留意了。可以通过询问和观察周边环境大概估算出房龄。<br />
                        <span class="span_green">6、了解市政规划是否影响</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;有些房主出售二手房可能是已了解该房屋在5到10年左右要面临拆迁，或者房屋附近要建高层住宅，可能影响采光、价格等市政规划情况，才急于出售，作为买受人在购买时应全面了解详细情况。<br />
                        <span class="span_green">7、确保房屋性质合法</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;房改房、安居工程、经济适用房本身是一种福利性质的政策性住房，在转让时有一定限制，而且这些房屋在土地性质、房屋所有权范围上有一定的国家规定，买受人购买时要避免买卖合同与国家法律冲突。<br />
                        <span class="span_green">8、单位房屋侵权问题</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;一般单位的房屋有成本价的职工住房，还有标准价的职工住房，二者土地性质均为划拨，转让时应缴纳土地使用费。再者，对于标准价的住房一般单位享有部分产权，职工在转让时，单位享有优先购买权。买受人如果没有注意这些可能会和房主一起侵犯单位的合法权益。<br />
                        <span class="span_green">9、核实房屋状况</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;在看房的时候从以下几个方面入手了解： 房屋建筑状况、房屋小区状况、房屋权利情况。这些情况的核实，有利于控制好交易的实际成本和风险。<br />
                        <span class="span_green">10、多方面询问房源详细情况</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;房东或者经纪人在介绍房源的时候，会尽量让买主选择性知道房屋的真实情况。例如对面的空地是建菜场还是建单位，房屋内发生过的事情等等。在购买二手房之前，可以多向小区物业和居民打听情况。<br />
                        <span class="span_green">11、明确交易程序</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;二手房交易可分为看房、签约、按合同约定明确时间给首付款、过户、交房、给余款几大步骤。这几个步骤需要注意：保留好交易的证据、过户是一定要房产证上所有人都到场才可以过户。<br />
                        <span class="span_green">12、物管费用是否拖欠</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;有些房主在转让房屋时，其物业管理费，电费以及三气(天然气、暖气、煤气)费用长期拖欠，且已欠下数目不小的费用，买受人不知情购买了此房屋，所有费用买受人有可能要全部承担。所以在交房时要查看清楚对方是否缴纳清了物业费、水电煤气费等一切费用。<br />
                        <span class="span_green">13、明确违约责任</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;和卖方要明确严格的违约责任，是双方诚信履行二手房买卖合同的保障。<br />
                        <span class="span_green">14、避免中介违规行为</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;有些中介公司违规提供中介服务，如在二手房贷款时，为买受人提供零首付的服务，即买受人所支付的全部购房款均可从银行骗贷出来。买受人以为自己占了便宜，岂不知如果被银行发现，所有的责任有可能自己都要承担。<br />
                        <span class="span_green">15、 避免在买房决定过程中抬高房价</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;如今在房价不断上涨的背景下，经纪人在买房者有购买意向后，可能会突然涨价，并给买房人制造多人看房供不应求的氛围。这时候，买房者需冷静，因为很可能在放弃后，这套房源的价格又回落到最初的报价。<br />
                        <span class="span_green">16、检查合同约定是否明确</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;二手房的买卖合同虽然不需像商品房买卖合同那么全面，但对于一些细节问题还应约定清楚，如：合同主体、权利保证、房屋价款、交易方式、违约责任、纠纷解决、签订日期等等问题均应全面考虑。避免不必要的纠纷。<br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_5_7">5_7.二手房买卖流程</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;1、买卖双方建立信息沟通渠道，买方了解房屋整体现状及产权状况，要求卖方提供合法的证件，包括房屋所有权证书、身份证件及其他证件。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;2、如卖方提供的房屋合法，可以上市交易，买方可以交纳购房定金(交纳购房定金不是商品房买卖的必经程序)，买卖双方签订房屋买卖合同(或称房屋买卖契约)。买卖双方通过协商，对房屋坐落位置、产权状况及成交价格、房屋交付时间、房屋交付、产权办理等达成一致意见后，双方签订至少一式三份的房屋买卖合同。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;3、买卖双方共同向房地产交易管理部门提出申请，接受审查。买卖双方向房地产管理部门提出申请手续后，管理部门要查验有关证件，审查产权，对符合上市条件的房屋准予办理过户手续，对无产权或部分产权又未得到其他产权共有人书面同意的情况拒绝申请，禁止上市交易。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;4、立契。房地产交易管理部门根据交易房屋的产权状况和购买对象，按交易部门事先设定的审批权限逐级申报审核批准后，交易双方才能办理立契手续。现在北京市已取消了交易过程中的房地产卖契，即大家所俗称的“白契”。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;5、缴纳税费。税费的构成比较复杂，要根据交易房屋的性质而定。比如房改房、危改回迁房、经济适用房与其他商品房的税费构成是不一样的。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;6、办理产权转移过户手续。交易双方在房地产交易管理部门办理完产权变更登记后，交易材料移送到发证部门，买方凭领取房屋所有权证通知单到发证部门申领新的产权证。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;7、对贷款的买受人来说在与卖方签订完房屋买卖合同后由买卖双方共同到贷款银行办理贷款手续，银行审核买方的资信，对双方欲交易的房屋进行评估，以确定买方的贷款额度，然后批准买方的贷款，待双方完成产权登记变更，买方领取房屋所有权证后，银行将贷款一次性发放。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;8、买方领取房屋所有权证、付清所有房款，卖方交付房屋并结清所有物业费后双方的二手房屋买卖合同全部履行完毕。<br />
                        <span class="span_esfbllc"></span>
                    </td>
                </tr>
            </table>
        </div>

        <div class="div_body_nav_title" id="div_body_nav_title_6">6.火车票防骗指南</div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_6_1">6_1.常见火车票骗子骗人手法</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">
                        <span class="span_green">步步为营法</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;直接说先汇款较容易被识穿，很多狡猾的骗子不会一开始就这么说的。一开始他们会说当面交易，叫你去火车站或其他公共场所交易，但却久久不现身，让你等得性急之后，再说一大堆理由，如“怕你是公安警察”“要你表示一下诚意”等，然后叫你汇一点订金，汇了订金后手机就永远关机了，或者更黑心的骗子还叫你不停的增加订金，直到你醒悟过来.....<br />
                        <span class="span_green">高科技法</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;骗子说可以当面验票或一起去找车站人员验票，但验完票必须立刻付款，因此叫你们一人去验票，朋友在银行里面准备汇款，骗子等你到火车站之后，会打电话给你朋友，这时你朋友手机中显示的来电是你的手机号码的（因为骗子可以通过软件修改来电显示的号码），叫你朋友汇款，还可能会通过技术手段让你的电话永远忙音打不进来，你朋友因为联系不上你，也就汇款了。<br />
                        <span class="span_green">内部票法</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;骗子说是火车站内部预留票，甚至你和他通完话之后，他还会打一个来电显示是车站内部办公电话的电话给你（当然，这来电显示也是假的），说不方便外出，叫你汇款后再叫快递公司快递火车票给你，还可能会说因为没和快递公司合作，所以不能让快递公司送票上门再收款、现在火车票紧张等等....总之，就要叫你要先汇款，当然，汇款后，你是肯定等不到火车票上门的。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;总之一句话：先验票，再付款，需要您提前付款的行为，一定是骗子！<br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_6_2">6_2.教你如何识别票的真伪</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">
                        <span class="span_green">假票“放大”看:</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;用放大镜细看票面的数字部分，如发现某些数字与其他数字字迹不相同，或有涂改过的痕迹，就极有可能是假票；如果金额小数点后面仅有一个数字“0”，那一定是假票；票面被挖补处因在制假过程中被刮去一部分纤维，所以在阳光直射下略有些发白；此外，用放大镜或在灯光照射下如果票面上的车站名、票价、车次等处有裂缝，也多半是假票。以上方法较适合于识别“挖补假票”。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;现在微机打印的 “软纸车票”，采用的是特制纸张，不仅质地柔韧，表面光滑，而且票面的水波纹线细密，字迹清晰，票面干净，逆光看有水印，若仔细辨认或稍作转换角度即可见“中国铁路”、“CR”等防伪隐形文字及字符，同时车票上印有条形码。<br />
                        <span class="span_green">整版的假票用手摸:</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;首先可以通过手感识别：真票纸质较好，手感平顺、光滑，假票纸质厚薄不一，手感粗糙。同时，真票票面油墨在充足光线的照射下有柔和的光泽，且能看到防伪水印。假票票面“中国铁路”标志以及背面的水印较为模糊，且手轻揉票面及数字时，油墨会沾在手上。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;那些挖补过的车票，可通过逆光照看和手摸来鉴别，这种假票的制造者，往往是将假票上需要的站名、价格等字体，整个地从其他书、报或废票上挖下来粘贴上去，因此该字体与整个票面颜色不统一，与票面字样不一致，只要用手指轻摸票面，便会有凸出感。涂改后的假票字迹模糊，用手指触摸会有墨迹较易识别。自行印制的假票，一般纸质较差，有的客票正面底纹斜线模糊、中断，字迹不规整、不清楚。<br />
                        <span class="span_green">通过手机拍摄二维码进行验证</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;Quick拍二维码解码软件，可以到官网quickpai.mobi下载，也可以到各大应用商店搜索下载Quick拍。可以通过此软件进行真假验证。<br />
                        <span class="span_hcpyp"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="div_bottom">
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">关于信息小镇</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">联系我们</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">友情链接</span>
        </div>
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">推广服务</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">客户服务中心</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">Copyright&nbsp;©&nbsp;&nbsp;www.infotownlet.com</span>
        </div>
    </div>
    <div class="div_rtop" id="div_rtop" onClick="GoToTop()"></div>
</body>
</html>
