@{
    ViewBag.Title = "BZZX_SY_YYYZM";
    Layout = "~/Areas/Business/Views/Shared/QTCXLB.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/BZZX/BZZX_SY_YYYZM.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/BZZX/BZZX_SY_YYYZM.js")"></script>
</head>
<body>
    <div class="div_head">
        <div class="div_head_main">
            <span class="span_head_main_logo"></span>
            <span class="span_head_main_bzzx">帮助中心</span>
        </div>
    </div>
    <em class="em_split"></em>
    <div class="div_body">
        <div class="div_content_info">
            <span class="span_content_info_head_tip">语音验证码的操作流程</span>
        </div>
        <div class="div_content_info">
            <span class="span_content_info_body">如果接收短信验证码的手机未能及时收到，可按以下流程操作：</span>
        </div>
        <div class="div_content_info">
            <span class="span_content_info_body">第一步：使用短信验证时填写的手机或座机号拨打信息小镇客服电话：<span class="span_content_info_body_light">10548887</span>。</span>
        </div>
        <div class="div_content_info">
            <span class="span_content_info_body">第二步：接通电话后，按号码键：<span class="span_content_info_body_light">5</span>  进入语音验证码获取通道。</span>
        </div>
        <div class="div_content_info" style="height:293px;">
            <span class="span_content_info_img"></span>
        </div>
        <div class="div_content_info">
            <span class="span_content_info_tip">温馨提示：若因为通话环境等问题而获取不到语音验证码，建议您将您的需要验证的信息（手机号码/身份证图片/营业执照图片）、账号的用户名和密码提供给我们与信息小镇客服，以便于我们帮您测试验证。</span>
        </div>
    </div>
</body>
</html>
