@{
    Layout = "~/Areas/Business/Views/Shared/BZZX.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Areas/Business/Css/BZZX/BZZX_SY_RZSM.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/BZZX/BZZX_SY_RZSM.js")"></script>
</head>
<body>
    <div class="div_head">
        <div class="div_head_main">
            <span class="span_head_main_logo"></span>
            <span class="span_head_main_bzzx">帮助中心</span>
        </div>
    </div>
    <em class="em_split"></em>
    <div class="div_body">
        <div class="div_body_nav">
            <span class="span_body_nav" id="1">1、<span class="span_body_nav_inner">如何进行认证?</span></span>
            <span class="span_body_nav" id="2">2、<span class="span_body_nav_inner">商家营业执照认证须知</span></span>
            <span class="span_body_nav" id="3">3、<span class="span_body_nav_inner">商家进行营业执照认证有哪些好处?</span></span>
            <span class="span_body_nav" id="4">4、<span class="span_body_nav_inner">为什么我申请的营业执照认证没有通过审核?</span></span>
            <span class="span_body_nav" id="5">5、<span class="span_body_nav_inner">个人身份认证须知</span></span>
            <span class="span_body_nav" id="6">6、<span class="span_body_nav_inner">个人身份证包含哪几种认证方式?</span></span>
            <span class="span_body_nav" id="7">7、<span class="span_body_nav_inner">进行个人身份认证有哪些好处?</span></span>
            <span class="span_body_nav" id="8">8、<span class="span_body_nav_inner">为什么我申请的个人身份认证没有通过审核?</span></span>
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_1">1.如何进行认证?</div>
        <div class="div_body_nav_text">
            1、资料认证属于一个自愿行为，认证信息是和账户绑定的。<br />
            2、为了保证信息的真实性，资料验证是风铃网提供的一系列身份识别服务，资料验证可核实邮箱、手机号码、身份证、营业执照信息。而验证这些信息后可提升信用值。<br />
            3、邮箱、手机号码、身份证这些个人信息，风铃网绝不会主动的对外公开。 <br />
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_2">2.商家营业执照认证须知</div>
        <div class="div_body_nav_text">
            1、首先您需要在风铃网注册一个账户。<a class="cursor">立即注册</a> <br />
            2、登陆后进入个人中心--我的账户的“认证管理”即可进行资料认证。<a class="cursor">进入认证管理</a> <br />
        </div>
        <div class="div_body_nav_text"><span class="span_body_nav_img"></span></div>
        <div class="div_body_nav_text">
            3、每成功认证一项资料后，您的账户将会获得一枚认证图标。认证图标将会显示在您的个人主页、发布的信息页等地方。<br />
            <span class="span_body_nav_text">&nbsp;&nbsp;&nbsp;通过邮箱验证后获得</span><span class="span_body_nav_img span_body_nav_img_yxrz"></span><br />
            <span class="span_body_nav_text">&nbsp;&nbsp;&nbsp;通过手机验证后获得</span><span class="span_body_nav_img span_body_nav_img_sjrz"></span><br />
            <span class="span_body_nav_text">&nbsp;&nbsp;&nbsp;通过实名（身份证）验证后获得</span><span class="span_body_nav_img span_body_nav_img_smrz"></span><br />
            <span class="span_body_nav_text">&nbsp;&nbsp;&nbsp;通过营业执照验证后获得</span><span class="span_body_nav_img span_body_nav_img_yyzzrz"></span><br />
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_3">3.商家进行营业执照认证有哪些好处?</div>
        <div class="div_body_nav_text">
            1、 一个邮箱、手机、身份认证只能在一个账户里认证。<br />
            2、 一个营业执照可以在多个账户里验证。 <br />
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_4">4.为什么我申请的营业执照认证没有通过审核?</div>
        <div class="div_body_nav_text">
            1、邮箱、手机认证通过后不可以取消，但可以更改。 登陆后进入个人中心--我的账户的“认证管理”即可进行邮箱、手机认证修改。<a class="cursor">进入认证管理</a><br />
            2、实名（身份证）、执照认证后不可以取消。<br />
            3、个人身份认证后不可以取消。 <br />
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_5">5.个人身份认证须知</div>
        <div class="div_body_nav_text">
            遇到这个提示说明您提供的资料已经在xx账户里验证了。您可以登录风铃网帐号：xx查看，同时建议您能使用之前的账户进行登录，如果忘记密码请点击这里取回。
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_6">6.个人身份证包含哪几种认证方式?</div>
        <div class="div_body_nav_text">
            建议您在垃圾邮件中查找一下，如果还是查询不到邮箱确认邮件，请提供您账号的相关信息与风铃网客服联系，以便我们帮您查询并测试验证。
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_7">7.进行个人身份认证有哪些好处?</div>
        <div class="div_body_nav_text">
            登陆后进入我的账户-->账号绑定即可进行邮箱、手机验证修改。进入账号绑定
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_8">8.为什么我申请的个人身份认证没有通过审核?</div>
        <div class="div_body_nav_text">
            1、建议您不要重复点击发送验证码，您可以等待一会儿，看是否有验证码短信延迟发送到您的手机上。 因为当申请验证的用户较多时，可能导致系统发送验证码时间延迟，重复点击发送验证码可能会导致之后接到多个验证码， 输入时而因与提交的时间不匹配导致提示验证码错误。<br />
            2、建议您使用短信验证时填写的手机或座机号拨打风铃网专用电话：13655858。接通后，按 号码键：5  进入语音验证码获取通道。<br />
            3、若经过以上两种方法您仍然无法获取验证码，建议您将您的需要验证的信息（手机号码/身份证图片/营业执照图片）、账号的用户名和密码提供给风铃网客服，以便于我们帮您测试验证。<br />
        </div>
    </div>
    <div class="div_bottom">
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">关于风铃网</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">联系我们</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">友情链接</span>
        </div>
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">推广服务</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">客户服务中心</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">Copyright&nbsp;©&nbsp;&nbsp;www.infotownlet.com</span>
        </div>
    </div>
    <div class="div_rtop" id="div_rtop" onClick="GoToTop()"></div>
</body>
</html>
