@{
    ViewBag.Title = "BZZX_SY_KSDH_WLFPCS";
    Layout = "~/Areas/Business/Views/Shared/_ListLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/BZZX/BZZX_SY_KSDH_WLFPCS.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/BZZX/BZZX_SY_KSDH_WLFPCS.js")"></script>
</head>
<body>
    <div class="div_head">
        <div class="div_head_main">
            <span class="span_head_main_logo"></span>
            <span class="span_head_main_bzzx">帮助中心</span>
        </div>
    </div>
    <em class="em_split"></em>
    <div class="div_body">
        <div class="div_body_nav">
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="1"><span class="span_body_nav_inner_first">1、拼车防骗指南</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="1_1"><span class="span_body_nav_inner childnode">1_1.拼车注意事项</span></span>
                <span class="span_body_nav" id="1_2"><span class="span_body_nav_inner childnode">1_2.拼车协议</span></span>
                <span class="span_body_nav" id="1_3"><span class="span_body_nav_inner childnode">1_3.拼车被骗实例</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="2"><span class="span_body_nav_inner_first">2、网络招聘防骗指南</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="2_1"><span class="span_body_nav_inner childnode">2_1.全职篇</span></span>
                <span class="span_body_nav" id="2_2"><span class="span_body_nav_inner childnode">2_2.兼职篇</span></span>
                <span class="span_body_nav" id="2_3"><span class="span_body_nav_inner childnode">2_3.了解职介</span></span>

            </div>
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_1">1.拼车防骗指南</div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_1_1">1_1.拼车注意事项</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_title">司机篇：</td>
                </tr>
                <tr>
                    <td class="td_content">
                        1、要确认好拼车人信息。详细记录拼车者 姓名、年龄、身份证、个人及家庭联系方式等，最好有认识的人一起拼车。<br />
                        2、与乘客约好出发时间，出发前1天最好给乘客通一次电话提醒对方。<br />
                        3、要明确拼车所需的费用。尤其是一旦发生交通违章造成罚款的分担，以及车辆发生问题所带来的维修费用的承担。<br />
                        4、要和乘客明确是上车前支付还是上车后支付，还应明确额外费用的支付方式。<br />
                        5、合理规划时间，总路程不宜超过十小时，不走夜路。 不要疲劳驾驶，同时保管好个人财物。<br />
                        6、车主和同车人应分别将了解到的对方信息发送给至少一名亲友，以备出现问题后联系使用，并有意让对方知道这个情况。<br />
                        7、事先确定好关于吸烟等细节的规则,特别是有女性和小孩在场的时候。<br />
                        8、签协议和买保险是非常有必要的。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title">乘客篇：</td>
                </tr>
                <tr>
                    <td class="td_content">
                        1、拼车者最好是熟悉的。与陌生人拼车时，要注意预防骗子或劫车者，车主和乘车人有必要互相了解对方的真实身份及联系方式。<br />
                        2、车主和同车人应分别将了解到的对方信息发送给至少一名亲友，以备出现问题后联系使用，并有意让对方知道这个情况。<br />
                        3、搭车人应事先了解驾驶员的技术水平、所用车型。关键是有无 跑长途的经历。<br />
                        4、要和乘客明确是上车前支付还是上车后支付，还应明确额外费用的支付方式。<br />
                        5、总路程不宜超过10小时，不走夜路。避免心急赶路和疲劳驾驶，合理安排休息。<br />
                        6、车主对于没有驾驶过所乘车型的同车人，尽量不要让其参与驾驶。<br />
                        7、不要在途中向同车不熟悉的人炫耀自己的或者所携带财物 情况。<br />
                        8、女性车主或乘车人应有熟悉的男性成年亲友相伴。<br />
                        9、事先确定好关于吸烟等细节的规则,特别是有女性和小孩在场的时候 。<br />
                        10、签协议和买保险是非常有必要的。 <br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_1_2">1_2.拼车协议</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">一、搭车路程：</td>
                </tr>
                <tr>
                    <td class="td_content">出发地：</td>
                    <td class="td_content">目的地：</td>
                </tr>
                <tr>
                    <td class="td_content">出发时间：</td>
                    <td class="td_content">到达时间：</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">二、搭车期限：</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">自______年______月______日______时起至______年______月______日______时，______每周______至每周______搭车。</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        三、搭车费用及支付方式：<br />
                        1、搭车费用：______元/次 ，共______元。<br />
                        2、支付方式：按      支付，第一次付款计     元人民币。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        四、双方责任及义务：<br />
                        1、甲方须按时将乙方送达指定地点；<br />
                        2、乙方应按协议的规定，按时支付搭车费用；<br />
                        3、搭乘车辆及附属设施如因乙方的过失或过错使车辆及设施受到损坏，乙方应负责赔偿；<br />
                        4、甲、乙双方如一方由于个人原因或车辆问题，需中断服务的，必须提前3天通知对方，征得对方同意后，可以暂时停止搭车服务，扣除相应费用或搭车期限顺延；<br />
                        5、如因特殊情况某次甲方临时无法提供车辆或乙方无法搭车时应即时通知对方，暂时停止搭车服务，扣除该次相应费用或将搭车期限顺延一次；<br />
                        6、在搭车期内，甲、乙双方如有一方有特殊情况需解除协议的，必须提前一个星期通知对方，协商后解除本协议；<br />
                        7、甲方在提供搭车服务时如发生意外事故，应根据有关交通法规及保险条例，进行相关责任认定及赔偿处理。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        五、违约处理：<br />
                        1、甲、乙双方任何一方如未按本协议的条款履行，导致中途终止协议，则视为违约，违约金双方同意按以下第______种方式执行：<br />
                        （1）人民币______元整；<br />
                        （2）按本协议总金额的______%确定。<br />
                        2、凡在执行本协议或与本协议有关的事情时双方发生争议，应首先友好协商，协商不成，可向有管辖权的人民法院提起诉讼。<br />
                        3、因不可抗力（如 自然灾害、地震、国家政策变化等）原因造成甲乙双方损失的，双方互不承担责任。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        六、其它条款：<br />
                        1、甲、乙双方签署本协议时，应具有完全民事行为能力，对各自的权利、义务、责任清楚明白，并愿按合同规定严格执行，如一方违反本协议，另一方有权按本合 同规定索赔。<br />
                        2、本协议未尽事宜，经双方协商一致可订立补充条款，本协议及其补充条款内空格部份填写的文字与铅印文字具有同等效力。<br />
                        3、本协议和补充条款及附件共有贰页，壹式俩份，甲、乙双方各执壹份，均有同等效力，签字即生效。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_content">甲方：</td>
                    <td class="td_content">乙方：</td>
                </tr>
                <tr>
                    <td class="td_content">地址：</td>
                    <td class="td_content">地址：</td>
                </tr>
                <tr>
                    <td class="td_content">电话：</td>
                    <td class="td_content">电话：</td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_1_3">1_3.拼车诈骗实例</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_title" colspan="2">1、借口拼车诈骗</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        诈骗手段：由行骗者冒充老乡，强拉旅客拼车，在途中对旅客漫天要价，如遇反抗便实施抢劫，更有甚者还强拍乘客裸照，事后威胁恐吓。<br />
                        支招：外出尽量不要与陌生人拼车，对主动拉客的司机要提高警惕，记清乘坐汽车的牌照，拒绝乘坐“黑车”。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        真实案例：<br />
                        每到春节都会有人拼车往返，这种方便、经济的出行方式近年来也越来越流行。买不到票，上不了车，那的确是真着急呀，可要是一不小心没拼好，那也真是闹心呀。家住西岗区仲夏客舍的小刘第一次拼车，就费尽了周折：说好送到华南广场，结果把她和4位拼友都“扔”在金州新区了。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">2、偷听电话诈骗</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        诈骗手段：当旅客打电话时，行骗者在旁边偷听谈话信息，到达目的地后由“托儿”上前与旅客搭讪，骗取旅客信任后将旅客带走，伺机骗取旅客钱财。<br />
                        支招：在车厢内打电话时，留心刻意靠近的陌生人。下车后如遇陌生人接站，先与亲戚朋友通过电话核实。
                    </td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        真实案例：<br />
                        今年6月6日下午,一名姓张的男子出站后，他使用附近的一个公用电话和表哥通完话后，男子挂掉电话准备离开，此时，公用电话再次响起。会不会是表哥遗漏了什么重要事情？男子接起电话，只听对方说道：“你是张某吗？我叫王勇，是你表哥的朋友，他临时有事不能来 接你了，我在XX宾馆等你，张某有些怀疑，但想到对方所说也没什么问题，赶到了XX宾馆，几句寒暄后，王勇以要去进货差几千块钱向张某借钱。钱到手后，王勇再次将张某送到宾馆门口并告诉张某，自己先去进货，进完货就来找张某，让他不要离开。可张某没料到，王勇这一走就再也没回来。下午3点，张某预感事情不妙，前往站前分局报案。<br />
                    </td>
                </tr>
            </table>
        </div>

        <div class="div_body_nav_title" id="div_body_nav_title_2">2.网络招聘防骗指南</div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_2_1">2_1.全职篇</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_title" colspan="2">1、巧立名目收取各报名费、培训费用。</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;若招聘单位巧立名目，收取求职者各种形式的报名费、培训费、押金等费用，这些都是违法行为，求职者应提高警惕，坚决拒绝交纳各种费用。<br />
                        一旦上当受骗，求职者可向当地劳动保障监察部门或公安部门报警，寻求法律保护！<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;信息小镇提醒您：用人单位招聘时，如果收取求职者任何形式的报名费、培训费、押金等，均为骗子公司。
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">2、不要盲目签字交钱。</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;用人单位先发给求职者一些产品资料并收取几百元的资料费要求过一周后考试，考试合格就录用，不合格则不退资料费。结果绝大部分的求职者考试都不合格，资料费也就被单位“笑纳”了。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;对此，信息小镇提醒广大求职者：根据相关法律规定，招聘单位录用人时与劳动者订立的是劳动合同，不是产品推销协议。劳动者一定要提高警惕，不要去签订以推广、促销为名的民事协议，更不要头脑发热盲目签字，随意交钱。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">3、警惕卷入任何形式的传销活动。</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;传销是国家明令禁止的非法行为，千万不要偏信能使你一夜暴富的鬼话，以免误入歧途！请记住：天上不会凭空掉馅饼，若有，也可能是个陷阱！任何人的成功都是经过千辛万苦、勤奋努力得来的。
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">4、面试地点是临时租借来的宾馆等地。</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;正规的单位一般都有固定的办公场所，若招聘单位面视地点选择宾馆等临时租借来的地方，要高度注意，谨防上当受骗。
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">5、招聘单位只有手机单一联系方式。</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;在查看招聘单位的招聘简介时，用人单位要求先QQ联系，这就存在着很大的问题，正规公司会直接电话联系或者以邮件的形式通知您去面试，不会在QQ里面面谈。接到面试通知时，要问清对方的办公地址和固定联系电话，若招聘单位只有手机单一联系方式，要高度警惕，谨防上当受骗。
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">6、晚上预约面试。</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;若接到安排在晚上的面试通知，要高度警惕，要找理由改到白天上班时间，晚上就不要出去了，特别是女孩子，切记！
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">7、招聘面试在偏远的地方。</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;若用人单位招聘面试在很偏远的地方，即使在白天，也要注意警惕，若出了事，连报警的地方和机会都很难找，你还愿意去吗？在接到面试通知的时候，一定要问清楚公司的具体地址，先在网上查询具体的位置，也可以顺便查查公司的详细情况。
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">8、谨慎到外地工作。</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;若需要到外地面试、工作，外地对您来说，人生地不熟，在对单位没详细了解的情况下，要特别小心谨慎，不要冒然行动，谨防上当受骗。
                    </td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        <div class="div_txxts">
                            <span class="span_bold">提醒小贴士：</span>个人在求职过程，多方面、多渠道详细了解公司情况及背景，看看公司是否正规，业务是否合法，单位是否拥有合法的营业执照和经营许可证，是否有投诉、不良记录等。
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_2_2">2_2.兼职篇</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_title" colspan="2">1、伪兼职（以招兼职为名做培训）：</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;警惕 “招学生兼职（非中介）”，“招大学生发传单”，“招兼职发传单（学生优先）”…….。等招聘信息。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;例子：小王是学生，想找一个兼职，打电话确认了地址，过去后，招聘公司先面试，讲一大堆他哪里的能力还没达到，要求他先参加他们的培训。小王想着培训对自己也是充电，而且也有培训课程，有配套宣传网站，甚至还会有培训证书，心里挺乐意的。但是招聘方又说要交几百不等的培训费，小王心想自己在学校考什么证书也是要花钱的，这边花钱应该也没有什么问题，就交了钱，回去后突然觉得有问题，然后就没有去上课。找他们退钱时，被威胁恐吓，结果被吓唬得不轻。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;信息小镇提醒您： 以任何名义收取费用的公司，均是骗子。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">2、骗子中介：</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;骗子专门在各个高校和各类院校张贴招聘广告(打着勤工俭学等幌子,招聘兼职/普工/家教),并且在各个宿舍发布招聘传单,以介绍兼职来骗取学生的“中介费”、“会员费”, 骗取钱财从20-300元不等,等交完钱就让你等,往往收了钱就只通知一两次。或者把您骗到另一家骗子公司(皮包公司,串通一气,合伙骗人,给学生设陷阱)继续让你交钱,直到摧毁学生的耐心和信心。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;信息小镇提醒您：研究下岗位是否可靠，并且上了岗再付介绍费也不迟。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">3、招聘兼职模特（礼仪小姐、服务员）：</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;以200-500元/日的高薪，拉你填表、面试。先吹嘘一下自己或公司能耐，再就是猛夸你气质好，长得漂亮等等，甘当伯乐，贴钱也要培养你出名。在你晕乎乎状态下就和他们就签了约。然后问要一些拍写真费、推广费、登记费……，几百～几千元不等。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;信息小镇提醒您：只算日薪，不要去落入考虑年薪的幻想，以免落入骗子的圈套。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">4、押金圈套：</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;骗子会以某公司的名义广招兼职促销员（直销员），然后以“服装费”、“产品押金”等向应聘人收取数百元不等的钱。然后，你就找不到这家公司了。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;例子：某大学生勤工俭学帮直销品牌洗发水，被收了200产品押金，好不容易卖给了学生几瓶，结果一洗头发，头皮都发麻。去找公司，当然再也找不到了。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;信息小镇提醒您：在兼职的过程中，先确认好你要直销的产品是否是正规厂家出产的产品。
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">5、疯狂网赚：</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;常用的语言：“投资××，家庭创业！”“上网聊天发贴子就可赚钱，月工资万元”。一般都是要你去注册，然后让你加盟，加盟后要收加盟费，费用一般在90/100不等，之后会开始收不同的费用。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;信息小镇提醒您：不要因为充满诱惑的语言、不高的投入就陷入了黑职介或者骗子的陷阱。 <br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">6、招聘翻译：</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;网上经常会有找兼职翻译，拿出一段让你翻，翻好了发过去，从此就没了消息。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;信息小镇提醒您：先查看一下委托人公司，找些比较有信誉的单位。试翻的文字也应该不超过500字。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">7、兼职抄写员：</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;一般语句：抄写一份材料可得X元，每天需抄50份，不得请人代抄。字迹不工整，有错别字、有涂改等，均算无效。警惕合同暗藏陷阱：每抄完一份材料大约需要15分钟，这意味着每天至少要工作13个小时才能完成50份的任务。字迹工整与否是由经理主观认定的，这无疑给用人单位留下了把柄。大学生受骗后决定退出时，却要按照合同交纳保证金和违约金。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;信息小镇提醒您：现在是电脑时代，要求抄写的职位很少见，应该多加查询，确认真伪。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">8、做手工艺编织：</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;应聘兼职编织中国结、十字绣或工艺画、串珠子……，警惕花钱买一堆材料、半成品，结果完不成任务，钱落在了骗子手里。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;信息小镇提醒您：多看多找，在正规的手工艺店进行手工制作。 <br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">9、校园代理商：</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;很多骗子打着招聘“校园代理商”的名义行骗，以“出厂价”向大学生推销文具、化妆品等，还承诺会回收卖不完的货物。这种“高利润、低风险” 的特点，恰恰迎合了个别大学生“急功近利、抗风险能力低”的特点。大肆推销假冒伪劣产品，受损失的除了勤奋的校园代理当然还有他的朋友。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;信息小镇提醒您：遇到类似情况，先检验推销产品的质量问题，然后再考虑是否可行。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        <div class="div_txxts">
                            <span class="span_bold">提醒小贴士：</span>：《劳动合同法》明文规定：用人单位招用劳动者，不得扣押劳动者的居民身份证和其他证件，不得要求劳动者提供担保或者以其他名义向劳动者收取财物。如果招聘单位以任何名义扣押劳动者身份证等证件，立刻报警处理。
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_2_3">2_3.了解职介</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_title" colspan="2">1、什么是职介?</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;职介即职业介绍机构的简称。是为求职者、企业牵线搭桥、提供人才中介服务的组织机构。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;《劳动力市场管理规定》第十五条规定，职业介绍机构分为非营利性职业介绍机构和营利性职业介绍机构。其中，非营利性职业介绍机构包括公共职业介绍机构和其他非营利性职业介绍机构。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;正规职业介绍机构必需有四证，即：职业介绍准办证、工商营业执照、税务登记证、收费许可证。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">2、服务与收费</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;合法的营利性职介介绍工作一般只能收取两个项目的费用：求职登记费及推荐成功后的中介服务费，且收费后必须开具有效票据。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;登记时仅收取小额求职登记费，收取报名费后需在规定时间内为求职者安排一定数量的面试。介绍成功后方可收取中介、服务费。该费用为一次性收费，不能多次收取，收费后必须开具有效票据。被推荐人员在推荐岗位上工作时间过短的（个人原因除外），可要求返还部分中介费，具体依据各地区管理规定实施。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;任何在介绍成功前收取中介费、服务费、会员费、服装费、建档费等各种费用的均为非法收费行为。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;具体收费标准可参照国家有关规定自主确定，必需明码标价并接受当地物价部门监督。如收费过高，求职者就要留心了。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;具体管理办法请参照各省市、地区管理规定。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        <div class="div_zj_fwysf">
                            &nbsp;&nbsp;&nbsp;&nbsp;如：“上海市浦东新区营利性职业介绍机构收费的暂行规定”中对营利性职业介绍机构的收费项目和标准做了如下规定：<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;一、<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;（1）求职登记报名费：每人超过10元（三个月内介绍面试至少3次）。<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;（2）推荐成功中介费：<br />
                            收费标准为：每人按本人月工资收入的30%及以下收取，此费为一次性收费。<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a、若被推荐人员（非个人原因）的工作不满1个月，按已收费的80%退中介费。<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b、若被推荐人员（非个人原因）的工作满1个月不满3个月，退中介费20~50%；<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c、若被推荐人员工作满3个月及以上的，不予退还中介费。<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;（3）委托招聘用工：成功1人向用工单位收服务费500元以内。<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;（4）高级技术、高级管理人员（相应的高级证书）的收费标准可实行面谈，协商一致后确定。<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;二、本区营利性职介机构的上述收费，按国家税务部门规定，开具统一监制的税务收费票据。<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;三、各营利性职介机构的收费以公正、自愿为原则，各项收费必须明码标价。公开收费项目和收费标准。严格财务管理。<br />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">3、黑职介防骗</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;选择让中介机构介绍工作时，一定选择信誉好、正规合法的职业介绍机构。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;提防“黑职介”骗钱请一定注意做到以下五点：<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a、检验资质：到职介所找工作时一定要看清这家职介所是否有“四证”。即：职业介绍准办证、工商营业执照、税务登记证、收费许可证。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b、抵制诱惑，拒绝乱收费，保护好个人证件：求职者在找工作时应保持理性,正确评估自己的能力和实力,不要轻信“优厚待遇”,要有自我保护意识,不要相信“交钱保证上班”、“高薪急聘无经验也可”等不实宣传，明显不合理的优厚待遇背后往往存在着陷阱。遇到索要身份证等个人证件的，马上予以拒绝。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c、签订书面协议：接受职介服务时，要注意与职业中介签订书面协议,明确双方权利和义务,口头承诺最好也写到合同上。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d、索要票据，保存证据：如果求职者交纳了费用，一定要索取正式的发票，上面应加盖职介机构的印章，以便发生纠纷时留作证据。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e、及时举报：如果发现对方有欺骗行为, 应及时向工商、劳动保障等相关部门举报投诉,依法维护自己的合法权益。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;在信息小镇遇到黑职介，请点击信息页面上的“举报该信息”投诉。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;正规职介介绍机构参考： 北京市职业介绍机构名录    广州市职业介绍机构名录   深圳市职介介绍机构名录<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title" colspan="2">4、网上识别职介信息</td>
                </tr>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;具有以下特征的信息可能是职介信息。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;同一公司或用户发布短时间内发布过多不同类型、不同行业、性质的工作的。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;同一用户名、公司发布招聘信息使用过多不同电话的。如：同一公司发布的多条信息使用了10几个不同的电话。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;招聘信息中检验出的电话归属地显示与发布职位的工作地点不符。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;同一用户名发布多个公司信息。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;注意：中介、职介信息不等于虚假信息，但求职者对待中介信息也需要谨慎，建议您上网查询，了解中介的资质、信誉，以免受到黑中介的蒙骗。<br /> 
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="div_bottom">
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">关于信息小镇</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">联系我们</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">友情链接</span>
        </div>
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">推广服务</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">客户服务中心</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">Copyright&nbsp;©&nbsp;&nbsp;www.infotownlet.com</span>
        </div>
    </div>
    <div class="div_rtop" id="div_rtop" onClick="GoToTop()"></div>
</body>
</html>
