@{
    Layout = "~/Areas/Business/Views/Shared/BZZX.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Areas/Business/Css/BZZX/BZZX_SY_KSDH_YYPJKD.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/BZZX/BZZX_SY_KSDH_YYPJKD.js")"></script>
</head>
<body>
    <div class="div_head">
        <div class="div_head_main">
            <span class="span_head_main_logo"></span>
            <span class="span_head_main_bzzx">帮助中心</span>
        </div>
    </div>
    <em class="em_split"></em>
    <div class="div_body">
        <div class="div_body_nav">
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="1"><span class="span_body_nav_inner_first">1、预约评价买家使用指南 </span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="1_1"><span class="span_body_nav_inner childnode">1_1.什么是预约</span></span>
                <span class="span_body_nav" id="1_2"><span class="span_body_nav_inner childnode">1_2.预约的好处</span></span>
                <span class="span_body_nav" id="1_3"><span class="span_body_nav_inner childnode">1_3.如何预约</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="1_4"><span class="span_body_nav_inner childnode">1_4.查看预约</span></span>
                <span class="span_body_nav" id="1_5"><span class="span_body_nav_inner childnode">1_5.无效预约/评价 </span></span>
                <span class="span_body_nav" id="1_6"><span class="span_body_nav_inner childnode">1_6.评价的好处</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="1_7"><span class="span_body_nav_inner childnode">1_7.如何评价</span></span>
                <span class="span_body_nav" id="1_8"><span class="span_body_nav_inner childnode">1_8.查看评价</span></span>
                <span class="span_body_nav" id="1_9"><span class="span_body_nav_inner childnode">1_9.评价规则</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="2"><span class="span_body_nav_inner_first">2、预约评价卖家使用指南</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="2_1"><span class="span_body_nav_inner childnode">2_1.如何开通预约</span></span>
                <span class="span_body_nav" id="2_2"><span class="span_body_nav_inner childnode">2_2.如何确认预约</span></span>
                <span class="span_body_nav" id="2_3"><span class="span_body_nav_inner childnode">2_3.如何查看预约</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="2_4"><span class="span_body_nav_inner childnode">2_4.如何查看、回复评价</span></span>
                <span class="span_body_nav" id="2_5"><span class="span_body_nav_inner childnode">2_5.评价规则</span></span>
                <span class="span_body_nav" id="2_6"><span class="span_body_nav_inner childnode">2_6.无效预约、无效评价</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="3"><span class="span_body_nav_inner_first">3、评价申诉</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="3_1"><span class="span_body_nav_inner childnode">3_1.申诉流程</span></span>
                <span class="span_body_nav" id="3_2"><span class="span_body_nav_inner childnode">3_2.申诉范围</span></span>
                <span class="span_body_nav" id="3_3"><span class="span_body_nav_inner childnode">3_3.特别说明</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="3_4"><span class="span_body_nav_inner childnode">3_4.申诉如何提交</span></span>
                <span class="span_body_nav" id="3_5"><span class="span_body_nav_inner childnode">3_5.我要申诉</span></span>
            </div>
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_1">1.预约评价买家使用指南</div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_1_1">1_1.什么是预约</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content">
                        &nbsp;&nbsp;&nbsp;&nbsp;预约就是您在咨询商家后，约定好服务时间和服务项目，在线免费登记，登记后商家确认，预约生效。我们会记录您所接受的服务，遇到了问题信息小镇也可保障您的权益，服务结束之后还可对服务进行评价
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_1_2">1_2.预约的好处</div>
        <div class="div_body_nav_text">
            <div class="div_body_nav_text">
                <table>
                    <tr>
                        <td class="td_content">
                            &nbsp;&nbsp;&nbsp;&nbsp;1、怕被骗?怕临时加价?免费预约让您高枕无忧！预约前与商家沟通好服务时间、服务价格和服务细节，如果您在预约后被骗/被临时加价<br />
                            不要着急，在线申请赔付，等待赔付中心受理，申请成功后，我们全额赔付您的损失！<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;2、预约之后您可以对您接收的服务进行评价，没有预约我们不会开放评价入口的<br />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_1_3">1_3.如何预约</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">
                        1、浏览您所需要的信息，与商家沟通服务时间和服务项目<br />
                        2、如果您在信息列表页，点击“ 联系商家”后再点击“免费预约”<br />
                        3、如果您正浏览着信息详情页，可点击“免费预约”进行预约<br />
                        4、点击“免费预约”后会跳转到信息登记界面<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;5、确认并登记后，您会进入如下界面<br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_1_4">1_4.查看预约</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">
                        1、登记预约后，可在“买家交易——订单管理”中查看您的预约<br />
                        2、订单如果还未被掌柜确认，点击“取消订单”就可以取消此次预约<br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_1_5">1_5.评价的好处</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">
                        1、您可以通过他人的评价了解该商家是否靠谱，您的评价也能给其他游览信息的人作个参考，商家是否靠谱，看看评价便知<br />
                        2、用您的评价帮助信息小镇选出优选商家，让优选商家更好的服务您 <br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_1_6">1_6.如何评价</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">
                        1、服务完成后，您可以登陆“用户中心——买家交易——订单管理”中进行评价（手机也可以呦~）<br />
                        2、服务完成后，我们会发送短信提醒您可以进行评价了<br />
                        3、评价后，登陆用户中心，可以在“买家交易——订单管理”中进行追加评价。<br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_1_7">1_7.查看评价</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">
                        1、登陆后，点击页面右上角的 “我的信息小镇”，进入到个人中心里面。<br />
                        2、在“买家交易——评价管理”中就可以看到您的评价啦<br />
                        3、在您接收预约服务的详情页中，点击“评价详情”可以查看自己的评价<br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_1_8">1_8.评价规则</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">
                        1、评价分值为1——5分，5分表示最好，评价后商家可进行回复<br />
                        2、评论后还可进行一次追加评论，商家也可针对追评进行回复<br />
                        3、用户的评价、追加评价均要在预约之后90天内进行操作 <br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_1_9">1_9.无效预约或评价</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;为了保证预约数与评价数的公正性，防止商家之间恶意竞争，我们开发了防作弊系统来维护市场秩序。以下是情况会被判定为无效<br />
                        <span class="span_green">无效预约判定条件</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;（1）同一账号短时间多次预约<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;（2）预约时间有一定规律性<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;（3）商家被投诉，信息小镇核实后，确认预约量无效<br />
                        <span class="span_green">无效评价判定条件</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;（1）评价中出现敏感词<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;（2）评价带有广告性质<br />
                        <span class="span_green">处理</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;被判定为无效的预约/评价，页面中不会显示但后台会记录 <br />
                    </td>
                </tr>
            </table>
        </div>

        <div class="div_body_nav_title" id="div_body_nav_title_2">2.预约评价卖家使用指南</div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_2_1">2_1.如何开通预约</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">
                        1、商家开通了店铺<br />
                        2、发布信息时填写的联系电话为手机号码<br />
                        3、商家通过了个人认证或者企业认证<br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_2_2">2_2.如何确认预约</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">
                        1、买家预约后，信息小镇会给卖家发送短信提示，回复提示短信“Y”确认预约；“N”拒绝预约<br />
                        2、买家预约后，商家登陆用户中心，在订单管理中可以进行确认或者拒绝<br />
                        3、买家预约后如果您没有操作，系统按照您的设置（默认设置），自动确认/拒绝此预约<br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_2_3">2_3.如何查看预约</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">
                        1、登陆后可在“卖家交易——订单管理”中查看到所有的订单情况<br />
                        2、点击订单详情可以查看订单的详细情况<br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_2_4">2_4.如何查看、回复评价</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">
                        在“用户中心——卖家交易——订单管理”中，如果预约者已评价，点击“ 查看评论”可查看评价，并且可以回复评价<br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_2_5">2_5.评价规则</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">
                        在“用户中心——卖家交易——订单管理”中，如果预约者已评价，点击“ 查看评论”可查看评价，并且可以回复评价<br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_2_6">2_6.无效预约、无效评价</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;为了保证预约数与评价数的公正性，防止商家之间恶意竞争，我们开发了防作弊系统来维护市场秩序。以下是情况会被判定为无效<br />
                        <span class="span_bold">无效预约判定条件</span><br />
                        （1）同一账号短时间多次预约 <br />
                        （2）预约时间有一定规律性<br />
                        （3）商家被投诉，信息小镇核实后，确认预约量无效<br />
                        <span class="span_bold">无效评价判定条件</span><br />
                        （1）评价中出现敏感词<br />
                        （2）评价带有有广告性质<br />
                        <span class="span_bold">处理</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;被判定为无效的预约/评价，页面中不会显示但后台会记录<br />
                    </td>
                </tr>
            </table>
        </div>

        <div class="div_body_nav_title" id="div_body_nav_title_3">3.评价申诉</div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_3_1">3_1.申诉流程</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;为了保证预约数与评价数的公正性，防止商家之间恶意竞争，我们开发了防作弊系统来维护市场秩序。以下是情况会被判定为无效<br />
                        <span class="span_bold">无效预约判定条件</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;（1）同一账号短时间多次预约 <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;（2）预约时间有一定规律性<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;（3）商家被投诉，信息小镇核实后，确认预约量无效<br />
                        <span class="span_bold">无效评价判定条件</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;（1）评价中出现敏感词<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;（2）评价带有有广告性质<br />
                        <span class="span_bold">处理</span><br />
                        &nbsp;&nbsp;&nbsp;&nbsp;被判定为无效的预约/评价，页面中不会显示但后台会记录<br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_3_2">3_2.申诉范围</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;1、遇到恶意评价后，可在收到评价的60天内（家装服务、工装服务、建房/翻建改造类别为90天），按照要求点击员处理；"我要申诉"，填写相应情况后提交，交由审核人员处理；<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;2.申诉结果会在申诉提交后3个工作日内反馈，并通过短信反馈商家处理结果；<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;a)如果申诉通过，则系统会删除该评价，该评价不在前台显示，不计入评分；<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;b)如果申诉不通过，则评价保留，系统会通知商家申诉不通过的原因，您可以通过回复该评价解释说明<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;3.证据补充：<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;在申诉过程中，请商家注意证据提交的及时性和完整性。商家申诉前需要准备相关证据，如不明确需要准备什么证据，可联系您的专属客服。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;a)如商家对第一次申诉有遗漏的证据没有上传，则建议商家及时联系您的专属客服在第一次申诉结果给出之后5个工作日内帮您进行证据的补交。超过申诉期限将不予受理。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;b)如商家对第一次申诉结果不满意但是并无实际证据的补充，则申诉不予受理。<br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_3_3">3_3.特别说明</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">
                        &nbsp;&nbsp;&nbsp;&nbsp;1、评价申诉需在评价生效后的60天内（家装服务、工装服务、建房/翻建改造类别为90天）提出，且每个评价第一次申诉必须为"网上申诉"，我们将不会受理未在网上提交过的申诉；<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;每个评价在第一次申诉结果给出之后的5个工作日内，商家如对处理结果不满意，可联系专属客服进行证据补交。如无证据的补交，则不予受理重新申诉。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;3、为加大申诉的成功率，商家应提供尽可能多的真实有效证据，实际申诉时可以不完全包括或不仅限于以下证据：<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;1）现场照片；<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;2）双方签订的合同，双方与合同上身份一致证明；<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;3）通信记录（电话、短信、聊天工具等内容截图与官方明细）；<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;4）其他可证明恶意评价的证据。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;4.证据一旦提交，任何人不得以任何理由更换证据。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;5.申诉人提交的证据仅做审核人员的参考，具体申诉结果将根据申诉人和被申诉人双方提供的证据进行判断。 <br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_3_4">3_4.申诉如何提交</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content" colspan="2">
                        （一）如何及时发现评价；<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;1、关注短信通知。系统会发送短信通知商家收到了新评价。；<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;2、关注信息小镇提示消息。信息小镇会弹出即时消息通知商家收到了新评价，商家可点击消息---我的评价查看评价内容和星级。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;3、直接登陆个人中心，右上角可查看最近30天内新评价，及待回复的评价。<br />
                        （二）评价的回复和评价的申诉<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;1、商家可登陆个人中心---我的交易---卖家交易---评价管理中查看新评价，回复评价和申诉评价。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;2、商家可登陆个人中心，点击右上角的待回复评论进入评价处理页面，进行回复或者评价申诉。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;3、登录信息小镇，点击消息---我的评价，查看收到的最新评价，点击评价内容进行回复。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;4、评价申诉流程：<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1）登陆卖家账户，进入个人中心---评价管理，点击右上角"遇到恶意差评怎么办"<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2）进入在线申诉页面---点击页面下方"我要申诉"，填写以下内容：<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a）订单号：差评对应的订单号码，可在卖家交易---订单管理中查看<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b）申诉原因：勾选需要申诉的评价所属的原因类型。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c）情况说明：勾选是否与买家取得联系、达成服务意向、提供服务等选项。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d）详细理由：描述从买家预约到服务完成并收到评价的事情经过，指出评价内容中与事实不相符的描述，以及其他删除评价的理由。<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e）上传凭证：凭证内容包括但不限于收据、合同、短信记录、帮帮记录、现场照片等，凭证内容为申诉说明提供论据，且凭证材料需一次性提交<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;充足，不接受后续补充。<br />
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="div_bottom">
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">关于信息小镇</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">联系我们</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">友情链接</span>
        </div>
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">推广服务</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">客户服务中心</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">Copyright&nbsp;©&nbsp;&nbsp;www.infotownlet.com</span>
        </div>
    </div>
    <div class="div_rtop" id="div_rtop" onClick="GoToTop()"></div>
</body>
</html>
