@{
    Layout = "~/Areas/Business/Views/Shared/BZZX.cshtml";
}
@section Section_Head {
    <link href="@Url.Content("~/Areas/Business/Css/BZZX/BZZX_SY.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/BZZX/BZZX_SY.js")"></script>
}
@section Section_Body {
    <div class="div_left_box_bottom">
        <div class="div_left_box_bottom_nav">
            <span class="span_left_box_bottom_nav">常见问题快速导航</span>
        </div>
        <table class="table_left_box_bottom">
            <tr class="tr_left_box_bottom">
                <td class="td_left_box_bottom_left">用户注册与登录：</td>
                <td class="td_left_box_bottom_right">
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_rhzczh">如何注册账户</span>
                    <em class="em_left_box_bottom_right"></em>
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_rhdlzh">如何登录账户</span>
                    <em class="em_left_box_bottom_right"></em>
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_rhxgyhmhmm">如何修改用户名和密码</span>
                    <em class="em_left_box_bottom_right"></em>
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_rhghbddsjh">如何更换绑定的手机号</span>
                    <em class="em_left_box_bottom_right"></em>
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_zhdshbdlzmb">账户丢失或被盗了怎么办</span>
                </td>
            </tr>
            <tr class="tr_left_box_bottom">
                <td class="td_left_box_bottom_left">信息发布与管理：</td>
                <td class="td_left_box_bottom_right">
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_rhfbxx">如何发布信息</span>
                    <em class="em_left_box_bottom_right"></em>
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_rhcxyfbxx">查询已发布信息</span>
                    <em class="em_left_box_bottom_right"></em>
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_rhxghscyfbxxx">修改或删除已发布信息</span>
                    <em class="em_left_box_bottom_right"></em>
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_fbxxstscfzmb">发布信息时提示重复怎么办</span>
                    <em class="em_left_box_bottom_right"></em>
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_xxmfsxcs">信息免费刷新次数</span>
                    <em class="em_left_box_bottom_right"></em>
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_xxshgf">信息审核规范</span>
                </td>
            </tr>
            <tr class="tr_left_box_bottom">
                <td class="td_left_box_bottom_left">认证相关的问题：</td>
                <td class="td_left_box_bottom_right">
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_rhjxrz">如何进行认证</span>
                    <em class="em_left_box_bottom_right"></em>
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_yyzzrzxz">营业执照认证须知</span>
                    <em class="em_left_box_bottom_right"></em>
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_yyzzrzynxhc">营业执照认证有哪些好处</span>
                    <em class="em_left_box_bottom_right"></em>
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_grsfrzxz">个人身份认证须知</span>
                    <em class="em_left_box_bottom_right"></em>
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_grsfrzynxhc">个人身份认证有哪些好处</span>
                    <em class="em_left_box_bottom_right"></em>
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_gdrzwt">更多认证问题</span>
                </td>
            </tr>
            <tr class="tr_left_box_bottom">
                <td class="td_left_box_bottom_left">账户等级与信用：</td>
                <td class="td_left_box_bottom_right">
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_smsxy">什么是信用</span>
                    <em class="em_left_box_bottom_right"></em>
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_xysrhxsd">信用是如何显示的</span>
                    <em class="em_left_box_bottom_right"></em>
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_rhzjxy">如何增加信用</span>
                    <em class="em_left_box_bottom_right"></em>
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_xywsmhjs">信用为什么会减少</span>
                    <em class="em_left_box_bottom_right"></em>
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_xjfwxy">信息小镇现金服务协议</span>
                </td>
            </tr>
            <tr class="tr_left_box_bottom">
                <td class="td_left_box_bottom_left">防骗提示与案例：</td>
                <td class="td_left_box_bottom_right">
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_qzfpts">求职防骗提示</span>
                    <em class="em_left_box_bottom_right"></em>
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_zffpts">租房防骗提示</span>
                    <em class="em_left_box_bottom_right"></em>
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_pcfpts">拼车防骗提示</span>
                    <em class="em_left_box_bottom_right"></em>
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_cwfpts">宠物防骗提示</span>
                    <em class="em_left_box_bottom_right"></em>
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_esjyfpts">二手交易防骗提示</span>
                    <em class="em_left_box_bottom_right"></em>
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_kssbxjxx">快速识别虚假信息</span>
                    <em class="em_left_box_bottom_right"></em>
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_gdfpts">更多防骗提示</span>
                </td>
            </tr>
            <tr class="tr_left_box_bottom">
                <td class="td_left_box_bottom_left">如何举报与申诉：</td>
                <td class="td_left_box_bottom_right">
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_xxxzjbslyczbf">信息小镇举报受理与处置办法</span>
                    <em class="em_left_box_bottom_right"></em>
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_rhjbxx">如何举报信息</span>
                    <em class="em_left_box_bottom_right"></em>
                    <span class="span_left_box_bottom_right" id="span_left_box_bottom_right_xxbscrhss">信息被删除如何申诉</span>
                </td>
            </tr>
        </table>
    </div>
}