@{
    ViewBag.Title = "BZZX_LXKF";
    Layout = "~/Areas/Business/Views/Shared/_ListLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/BZZX/BZZX_LXKF.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/BZZX/BZZX_LXKF.js")"></script>
</head>
<body>
    <div class="div_body">
        <div class="div_content" style="margin-top:20px;">
            <span class="span_step span_step_first"></span>
            <span class="span_step_text">请选择问题类型：</span>
        </div>
        <div class="div_content div_content_wtlx">
            <div class="div_wtlx">
                <table class="table_wtlx">
                    <tr class="tr_wtlx">
                        <td class="td_wtlx_inner_left">信息问题</td>
                        <td class="td_wtlx_inner_right">
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_xxbsc">信息被删除</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_xxbfhxg">信息被返回修改</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_xxbflbd">信息被判分类不当</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_xxbxs">信息不显示/无法刷新</span>
                        </td>
                    </tr>
                    <tr class="tr_wtlx">
                        <td class="td_wtlx_inner_left"></td>
                        <td class="td_wtlx_inner_right">
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_tsjbxjxx">投诉举报虚假信息</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_mysjhm">冒用手机号码</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_qtxxmy">其它信息冒用</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_ssbts">申诉被投诉</span>
                        </td>
                    </tr>
                    <tr class="tr_wtlx">
                        <td class="td_wtlx_inner_left">账户问题</td>
                        <td class="td_wtlx_inner_right">
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_zhbdj">账户被冻结</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_bpwfczj">被判为房产中介</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_bpwessj">被判为二手商家</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_bpwzj">被判为职介</span>
                        </td>
                    </tr>
                    <tr class="tr_wtlx">
                        <td class="td_wtlx_inner_left"></td>
                        <td class="td_wtlx_inner_right">
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_ghrz">跟换认证</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_zhmm">找回密码</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_zhbd">账户被盗</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_czwt">充值问题</span>
                        </td>
                    </tr>
                    <tr class="tr_wtlx">
                        <td class="td_wtlx_inner_left">合作及其他</td>
                        <td class="td_wtlx_inner_right">
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_hzzx">合作咨询</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_zxzz">在线增值</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_xtwt">系统问题</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_tges">团购、二手等</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="div_content" style="margin-top:20px;">
            <span class="span_step span_step_second"></span>
            <span class="span_step_text">具体问题解决：</span>
        </div>
        <div class="div_content div_content_wtjj">
            <div class="div_wtjj">
                <div id="div_xxbsc">
                    <table class="table_wtjj">
                        <tr class="tr_wtjj">
                            <td class="td_wtjj_inner_left">请输入您的信息编号：</td>
                            <td class="td_wtjj_inner_right">
                                <input type="text" id="inputXSJ" class="input_content" placeholder="请输入信息编号">
                                <input class="btn btn-info" id="btnHQXSJYZM" type="button" style="margin-top: -3px; width: 123px;" value="查看被删除原因" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
