@{
    ViewBag.Title = "BZZX_SY_ZDJS";
    Layout = "~/Areas/Business/Views/Shared/QT.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/BZZX/BZZX_SY_ZDJS.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/BZZX/BZZX_SY_ZDJS.js")"></script>
</head>
<body>
    <div class="div_head">
        <div class="div_head_main">
            <span class="span_head_main_logo"></span>
            <span class="span_head_main_bzzx">帮助中心</span>
        </div>
        <div class="div_head_nav">
            <div class="div_head_nav_info">
                <span class="span_head_nav_info" id="span_head_nav_info_sy">帮助中心首页 > 置顶介绍</span>
            </div>
        </div>
    </div>
    <div class="div_body">
        <div class="div_body_nav">
            <span class="span_body_nav" id="1">1、<span class="span_body_nav_inner">置顶是什么？</span></span>
            <span class="span_body_nav" id="2">2、<span class="span_body_nav_inner">置顶有什么好处？</span></span>
            <span class="span_body_nav" id="3">3、<span class="span_body_nav_inner">计划置顶是什么？</span></span>
            <span class="span_body_nav" id="4">4、<span class="span_body_nav_inner">置顶怎么展示？</span></span>
            <span class="span_body_nav" id="5">5、<span class="span_body_nav_inner">立即置顶怎么操作？</span></span>
            <span class="span_body_nav" id="6">6、<span class="span_body_nav_inner">立即置顶怎么扣费？</span></span>
            <span class="span_body_nav" id="7">7、<span class="span_body_nav_inner">计划置顶怎么操作？</span></span>
            <span class="span_body_nav" id="8">8、<span class="span_body_nav_inner">计划置顶怎么扣费？</span></span>
            <span class="span_body_nav" id="9">9、<span class="span_body_nav_inner">简历置顶规则</span></span>
            <span class="span_body_nav" id="10">10、<span class="span_body_nav_inner">置顶规则与协议</span></span>
            <span class="span_body_nav" id="11">11、<span class="span_body_nav_inner">用户余额怎么提现？</span></span>
            <span class="span_body_nav" id="12">12、<span class="span_body_nav_inner">信息小镇推广用户服务协议</span></span>
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_1">1.置顶是什么？</div>
        <div class="div_body_nav_text">
            &nbsp;&nbsp;&nbsp;&nbsp;信息置顶是信息小镇为用户提供的一项<a class="highlight">增值服务</a>,用户可通过账户余额或第三方支付来购买该服务。信息置顶后，在同类别中显示在列表<span class="highlight">最靠前的位置</span>,，该信息不因为有新的帖子发布额往后排。
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_2">2.置顶有什么好处？</div>
        <div class="div_body_nav_text">
            &nbsp;&nbsp;&nbsp;&nbsp;置顶的好处在于信息<a class="highlight">不因为有新的帖子发布而往后排</a>,这样能保证用户的帖子在同类信息中<a class="highlight">受到最多的关注</a>。因为网友在浏览信息时都会先浏览靠前的内容，这样您发布信息的有效性就得到了保障。
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_3">3.计划置顶是什么？</div>
        <div class="div_body_nav_text">
            &nbsp;&nbsp;&nbsp;&nbsp;计划置顶是系统根据您的置顶计划自动完成周期性置顶操作，您可以按星期设置循环持续的置顶时段，在您设置的置顶时间段内，系统自动帮您完成操作，获得更长期更持续的推广效果，省时省力更省心。
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_4">4.置顶怎么展示？</div>
        <div class="div_body_nav_text">
            &nbsp;&nbsp;&nbsp;&nbsp;置顶后信息将智能投放在与您信息发布类别高相关页面，不跨类别情况下至少展示了32个相关频道页面 。最大化的实现高智能（自动）+高精准（相关） 频道页面投放。置顶信息将以轮播的方式，动态更新置顶区域排序，让每条置顶信息获得更平均的展示机会。<br />
            &nbsp;&nbsp;&nbsp;&nbsp;当<a class="highlight">购买数量＞展示数量</a>,时，超出展示数量的置顶信息将会进入隐藏队列，等待<a class="highlight">轮播展示</a>；已经在展示中的置顶信息，在列表页轮播一段时间后也会再次进入隐藏队列，等待下一轮的展现。
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_5">5.立即置顶怎么操作？</div>
        <div class="div_body_nav_text">
            &nbsp;&nbsp;&nbsp;&nbsp;当您成功发布信息或在个人中心管理信息时，进入立即置顶设置页面，根据提示选择您所需的置顶时长，确定提交即可。设置置顶会扣除对应业务线的推广币（不足时也会扣小镇现金），如果您的业务线推广币和小镇现金仍然不够，您可以选择用微信、支付宝支付剩余的钱，或者选择在线充值推广币和小镇现金。
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_6">6.立即置顶怎么扣费？</div>
        <div class="div_body_nav_text">
            &nbsp;&nbsp;&nbsp;&nbsp;选择置顶天数后点击“立即置顶”按钮，系统会自动扣除您账户中相应的费用。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;对于正在置顶中的信息，当您点击“结束置顶”并确认后，系统将根据您的已置顶时长<a class="highlight">（立即置顶不足1小时按1小时算）</a>返还您不同比例的剩余费用，具体为：<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;当置顶时长<a class="highlight">小于2小时</a>时，返还您<a class="highlight">40%</a>剩余费用；当置顶时长<a class="highlight">大于2小时且小于12小时</a>时，返还您<a class="highlight">50%</a>剩余费用；当置顶时长<a class="highlight">大于12小时且小于24小时</a>时，返还您<a class="highlight">75%</a>剩余费用；当置顶时长<a class="highlight">大于24小时且小于72小时</a>时，返还您<a class="highlight">90%</a>剩余费用；当置顶时长<a class="highlight">大于72小时</a>时，返还您<a class="highlight">95%</a>剩余费用。
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_7">7.计划置顶怎么操作？</div>
        <div class="div_body_nav_text">
            &nbsp;&nbsp;&nbsp;&nbsp;当您成功发布信息或在个人中心管理信息时，进入计划置顶设置页面，根据提示选择您选择星期一到星期日的置顶时段，然后设置计划置顶的开始时间和结束时间，确定提交即可。设置置顶会扣除对应业务线的推广币（不足时也会扣小镇现金），如果您的业务线推广币和58现金仍然不够，您可以选择用微信、支付宝支付剩余的钱，或者选择在线充值推广币和小镇现金。
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_8">8.计划置顶怎么扣费？</div>
        <div class="div_body_nav_text">
            &nbsp;&nbsp;&nbsp;&nbsp;设置好计划置顶并提交后，页面会提示您预计需支付的钱并一次性扣除计划置顶推广费用。对于正在置顶中的信息，当您点击“结束置顶”并确认后，系统将根据您的已置顶时长<a class="highlight">（计划置顶时间不足1天按1天算）</a>返还您剩余推广余额的<a class="highlight">95%</a>。
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_9">9.简历置顶扣费规则</div>
        <div class="div_body_nav_text">
            &nbsp;&nbsp;&nbsp;&nbsp;对于置顶中的简历，当用户自己操作结束置顶、删除简历、将简历信息状态变更为对认证企业公开、保密（只对投递的企业公开）或 简历信息状态变更为敏感（审核中）、返回修改时，简历置顶结束，并且不退款；当系统审核用户简历违规时，简历置顶结束，并且不退款。
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_10">10.置顶规则与协议</div>
        <div class="div_body_nav_text">
            &nbsp;&nbsp;&nbsp;&nbsp;在您使用信息小镇置顶服务前，请您仔细阅读以下规则，您需要理解并同意以下规则才能享受信息小镇置顶服务：<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;（1）当您对置顶中信息进行删除或关闭时，该信息的置顶状态将自动结束，返还费用规则<a class="highlight">同结束置顶</a>。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;（2）当您对置顶中或计划置顶中信息进行修改时，该信息会<a class="highlight">重新进行审核</a>，审核中的信息将不再显示置顶。信息小镇建议您一般不要修改置顶中信息，以免影响您置顶信息的显示。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;（3）当您的置顶中或计划置顶中信息未通过审核时，置顶中信息系统将自动返还剩余置顶时长对应的推广余额（立即置顶按小时计算，计划置顶按天计算）。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;（4）当您在使用信息小镇置顶服务时，<a class="highlight">必须遵守信息小镇信息发布的相关规定（包含但不限于《信息小镇推广用户协议》）、中国有关法律法规、其他有关国家和地区的法律规定以及国际法的有关规定</a>。若您的行为不符合以上提到的规定及法规，信息小镇将作出独立判断立即取消您的置顶信息，暂停或终止为您提供服务，同时您的账户余额作为罚金将不予返还。<a class="highlight">如您发布的信息造成信息小镇被第三方要求赔偿或发生纠纷、诉讼的，您应向信息小镇全额赔偿损失</a>。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;（5）请您保护好自己的账户名和密码，不要随意泄露给他人，在<a class="highlight">公共场合登录</a>使用小镇账户时<a class="highlight">注意及时退出</a>，以免账号被盗造成损失。
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_11">11.用户余额怎么提现？</div>
        <div class="div_body_nav_text">
            &nbsp;&nbsp;&nbsp;&nbsp;当用户小镇账户中有余额并<a class="highlight">想要提现</a>时，可联系小镇客服电话<a class="highlight">400-453-5838</a>申请提现。
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_12">12.信息小镇用户服务协议</div>
        <div class="div_body_nav_text">
            &nbsp;&nbsp;&nbsp;&nbsp;信息小镇用户服务协议（以下简称“本协议”）是信息小镇用户与信息小镇之间的法律协议。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;本协议是用户注册账号并充值支付,使用信息小镇网服务时适用的通用条款。因此，请您在注册信息小镇网账号并充值、支付，或接受使用信息小镇对信息小镇用户提供的相关服务之前，详细地阅读本协议的所有内容。信息小镇用户需要了解并同意以下条款所述事项才能完成充值支付,享受信息小镇的各项服务。无论您事实上是否认真阅读，只要您勾选同意或点击确认本协议,或者实际接受了信息小镇的相关服务，就表示您已接受了本协议及信息小镇网公布的各推广服务相关的服务协议和服务规则，并愿意受其约束。如果发生纠纷，您不能以未仔细阅读为由进行抗辩。<br/>
            一、定义<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;1、信息小镇用户：指符合本协议规定的条件并已通过代理商或直接向信息小镇网的账户中充值或向信息小镇支付服务费用，使用信息小镇网服务的单位或个人，本协议中也称“您”或“甲方”或“用户”。<br />
            &nbsp;&nbsp;&nbsp;&nbsp;2、信息小镇：指信息小镇网（www.infotownlet.com）的网络服务提供者，包括信息小镇网（www.infotownlet.com）的所有者及其关联服务提供方，本协议中也称“本公司”或“乙方”。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;3、服务：指信息小镇网为信息小镇用户提供的充值支付后可使用的网络营销推广、在线交易的服务，服务内容包括但不限于小镇交易宝服务、小镇余额服务、小镇推广余额服务、小镇置顶服务、小镇精准推广服务、小镇智能推广服务、小镇品牌推广服务、小镇QQ推广服务等。具体推广服务的类型、内容和规则见信息小镇网各充值类型、充值渠道、服务申请或其他相关页面的说明。信息小镇网推广服务类型、内容等有可能根据信息小镇需要随时做出更改。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;4、信息小镇网官方渠道：指信息小镇网提供给用户进行充值支付的渠道，包括用户在信息小镇网上的在线充值渠道，及用户从信息小镇处购买并能提供有效协议、发票等合法凭证后实现账户内充值的渠道。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;5、信息小镇充值类型：指信息小镇网根据不同的服务类型、服务对象等为用户提供的不同的充值类型和方式。包括小镇交易宝、小镇余额、小镇推广余额等，在信息小镇网和本协议中亦称“余额类型”。上述一种或多种充值类型通称为“余额”或“充值余额”。<br />
            二、本协议的组成、变更及生效<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;1、信息小镇网站及用户后台发布的推广服务相关的各服务协议、服务条款、操作规则、审核规则、帮助、名词解释等（本协议中统称“规则”）为本协议的有效组成部分，信息小镇按照本协议、推广服务相关的各项规则为广大用户提供信息小镇服务。本协议是《信息小镇使用协议》的有效组成部分，本协议未涉及的事项依照《信息小镇使用协议》处理。 <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;2、用户欲使用、接受信息小镇服务，请事先认真阅读本协议中各条款。您勾选同意或者点击确认即视为接受本协议内容，同意签署本协议。如果您不同意本协议的约定，应立即停止使用信息小镇服务。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;3、您确认信息小镇将有权对您提交的资质和相关内容进行审核，您了解并同意，如您提交的资质虚假或者您的推广内容违反国家法律法规的相关规定或者违反信息小镇的审核规则，信息小镇将有权拒绝为您提供服务。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;4、信息小镇有权根据国家法律法规的更新、产品和服务规则的调整需要不时地制订、修改本协议及/或相关规则，并以网站公示的方式进行公示。如您继续使用信息小镇的服务，即表示您接受经修订的协议和规则。如发生有关争议时，以最新的信息小镇用户服务协议为准。<br/>
            三、双方的权利与义务<br />
            1、甲方的权利与义务<br />
            &nbsp;&nbsp;&nbsp;&nbsp;（1）甲方保证系符合中华人民共和国法律法规的合法经营主体并已取得经营相关业务的合法资质。乙方有权对其主体资质真实性进行核查，甲方拒绝乙方核查或乙方有理由怀疑其真实合法性的，乙方有权拒绝为其提供服务。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;（2）甲方保证按照乙方的审核规则提供资质材料，且保证所提供的由其签字和/加盖公章的资质证明文件（包括但不限于营业执照、身份证、税务登记证、组织机构代码证、特殊行业经营许可证等）复印件均为原件的真实复制件，与原件内容、格式完全相符，并无任何增加、删减、修改或其他编辑；保证其提供的资质证明文件真实、有效、合法，不得冒用、盗用、仿造、变造，否则乙方有权终止提供服务，由此造成的一切法律后果由甲方独自承担。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;（3）甲方承诺拥有完全民事权利能力和民事行为能力签署并履行本协议，且签署并履行本协议不违反任何对其有约束力的适用法律的限制，也不会侵犯本协议以外任何第三方之合法权益；甲方对其在信息小镇网进行推广的产品或者服务，以及充值支付、交易等行为具有完整、合法的权利；甲方自身交易、经营活动合法、服务项目用途合法、所发布之信息内容不会损害乙方及关联公司的利益、商誉和品牌形象，否则乙方有权终止提供服务并有权要求甲方赔偿由此给乙方造成的包括商誉损失在内的全部损失，甲方同意乙方可从甲方充值余额中扣除相关损失。如因甲方原因造成乙方被第三方要求赔偿或发生纠纷、诉讼的，甲方应向乙方全额赔偿损失。 <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;（4）甲方承诺并保证：向乙方提供真实、合法、准确的信息，并根据实际情况的变化及时更新手机号码、电子邮件等联系信息，捆绑账户的手机号码和电子邮件发生变更、遗失等情况时，及时通知乙方并修改相关信息。否则，因此产生的不良后果由甲方自己承担。<br />
            &nbsp;&nbsp;&nbsp;&nbsp;（5）甲方应按照双方约定或信息小镇网提示的规则和方式向乙方支付服务费用或向其账户中充值支付。当甲方充值余额不足以支付推广服务费用时，甲方应及时充值，如因甲方或其代理商没有及时充值而造成甲方推广内容下线导致信息小镇推广服务终止的，乙方不承担任何责任。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;（6）甲方须根据本协议及各项规则的规定使用乙方推广服务，须按照国家法律法规、本协议的规定发布、推广信息，并对其发布信息和内容以及在线交易行为独自承担责任。甲方有权变更在信息小镇网上宣传、推广的图片及相关资料，但变更内容必须合法有效并符合本协议的相关约定。甲方不得通过修改推广内容、设置网站跳转、设置恶意代码、设置病毒等任何方式展现违反现行法律法规以及信息小镇推广服务规则的内容，否则乙方有权终止提供服务并有权要求甲方赔偿由此给乙方造成的包括商誉损失在内的全部损失，甲方同意乙方可从甲方充值余额中扣除相关损失。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;（7）甲方同意乙方通过信息小镇网（www.infotownlet.com）站内公告、站内信、手机短信、用户后台或甲方填写的其他联系方式向甲方发布产品规则、政策、通知等信息。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;（8）甲方同意乙方有权根据经营需要变更推广服务的具体形式和内容。乙方推广服务形式、内容发生变更前，乙方应通过站内公告、站内信、邮件、电话或短信、用户后台等方式(上述任一方式)通知甲方。甲方使用变更后的服务，视为甲方接受变更。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;（9）甲方应保证推广信息、财务信息与协议约定的主体一致或已经取得协议主体的授权，如因甲方原因导致推广内容与和协议主体不一致，由此导致的财务等风险由甲方承担，乙方不承担任何责任；由此给乙方造成损失的，甲方应予以赔偿。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;（10）甲方承诺不得在推广内容中为甲方以外的第三方进行推广，包括但不限于通过设置URL、BANNER链接等情形推广第三方网站或者信息。乙方有权在甲方违反上述承诺时终止向甲方提供服务。如甲方推广内容、信息或页面中通过设置链接或跳转方式可链至甲方自有网站，则甲方承诺其网站经营及内容合法、有效，甲方同意乙方有权随时根据自我判断、第三方投诉、主管部门或司法机关的通知、裁决等撤除上述链接或跳转，乙方对此不承担任何责任。 <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;（11）甲方对其在信息小镇网注册的用户名和密码负有妥善保管的义务，未经乙方书面同意不得将自身账号、密码、验证码等信息透露给第三方知晓或提供给任何第三方使用，并对以该用户名进行的所有活动和事件负全部责任。如因甲方自身不当行为造成的不良后果和损失，由甲方自行承担，乙方完全免责。甲方不当行为包括但不限于：1）登陆密码等信息保护不善，自己透露或提供给他人使用等情况，导致账户被冒用、盗用或造成余额损失的；2）不正当或非法使用信息小镇服务的行为；3）私自与他人、第三方对其充值余额进行交易的。 <br/>
            2、乙方的权利与义务<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;（1）乙方如发现甲方有如下行为之一：推广信息含有任何违反国家有关法律、法规及中国承认或加入的国际条约的内容（包括但不限于危害国家安全、淫秽色情、虚假、违法、诽谤、恐吓或骚扰、侵犯他人知识产权、人身权或其他合法权益或利益以及有违公序良俗的内容或指向这些内容的链接）；推广商品和/或服务违反国家、行业的质量标准；假冒、欺诈等欺骗乙方网站其他用户权益的行为；采取任何违法或者作弊的行为以提高推广点击率或获取不正当交易机会；其他违反本协议约定的行为，则乙方有权不予退还服务费用并有权：（a）屏蔽并要求甲方按照乙方要求修改甲方发布、推广信息，甲方不予修改的，乙方有权删除信息并终止提供服务；（b）直接删除信息并终止提供服务，并有权要求甲方赔偿由此给乙方造成的包括商誉损失在内的全部损失，甲方同意乙方可从甲方充值余额中扣除相关损失。 <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;（2）因乙方按审核规则进行资质审核、系统升级更新等原因有可能使推广服务开通晚于双方约定或乙方网页公布的时间，甲方给予理解。推广服务开始时间以实际开通为准。<br />
            &nbsp;&nbsp;&nbsp;&nbsp;（3）乙方信息小镇网是分类信息平台，乙方无法对甲方推广内容的真实性、准确性和完整性进行查证，对于甲方的推广内容不承担任何保证责任，甲方自行对其提供的推广内容、产品、服务等承担全部责任。甲方在推广时，不得擅自在推广内容中使用信息小镇推荐、授权等任何使公众认为该等推广内容经过信息小镇授权等字样。违反前述规定的，乙方有权解除本协议并追究甲方的法律责任。 <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;（4）乙方将尽力维护58推广服务的安全性和方便性，但对甲方使用推广服务过程中出现的信息删除或存储失败等不承担任何责任。<br />
            &nbsp;&nbsp;&nbsp;&nbsp;（5）乙方保留判定甲方行为是否符合信息小镇服务相关的协议、规则要求的权利，如果甲方违反了上述协议、规则的规定，乙方有权终止提供推广服务。<br />
            四、充值支付及推广服务使用约定<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;1、甲方可根据信息小镇网的服务类型和自身需求，选择不同的信息小镇充值渠道、充值类型。 <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;2、甲方进行充值支付和使用信息小镇服务属于自愿行为，甲方明确同意：不管以何种方式、充值渠道、充值类型进行充值后均不可要求退款，也不可兑换成现金，只能用于信息小镇服务、产品的消费抵扣。特殊情况下，如充值余额经乙方同意后兑换成现金的，乙方有权收取合理的手续费。 <br />
            &nbsp;&nbsp;&nbsp;&nbsp;3、乙方将在信息小镇网相关页面公布各充值类型的充值规则、使用规则、转换规则等，甲方应随时查看，一旦公布即视为甲方已知悉并需要遵守相关规则。<br />
            &nbsp;&nbsp;&nbsp;&nbsp;4、乙方对于任何甲方从非信息小镇网官方渠道获得的充值余额不予承认，并保持随时清零的权利。 <br />
            &nbsp;&nbsp;&nbsp;&nbsp;5、乙方不提供用户之间的充值余额互转服务。<br />
            &nbsp;&nbsp;&nbsp;&nbsp;6、为保证用户充值支付、使用推广服务的便捷性和安全性，用户在使用网上银行的充值方式时，乙方可能会随机或指定提供不同的第三方支付平台完成充值支付，用户对此表示同意和接受。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;7、根据甲方选择的不同的充值类型、服务类型，甲方还应遵守以下专用条款：<br />
            &nbsp;&nbsp;&nbsp;&nbsp;（1）【招聘业务专用条款】1)甲方发布的招聘信息所描述的职位、薪资、福利补助等需与实际工作完全一致。2)甲方不得扣押或以保管为名索要求职者的身份证、毕业证等证件。3)不具备职介性质的公司在招聘活动中不得向求职者收取任何费用；职介性质的公司，应在招聘信息中明确说明收取费用的明细。4)不具备劳务派遣资格或职介性质的公司，不得代为其他企业招聘。5)劳务派遣性质、职介性质的公司，只能签约HR版代为其他企业招聘，其代为招聘的企业如发生违反上述管理规定的行为时，该劳务派遣或职介公司应负连带责任。<br />
            &nbsp;&nbsp;&nbsp;&nbsp;（2）【金牌HR专用条款】甲方如购买信息小镇“金牌HR网邻通”推广服务的，应按本协议约定及信息小镇网站公示之“金牌HR”相关的全部规则、说明以在线支付/转账汇款/现金的方式向信息小镇支付保障金。 <br />
            &nbsp;&nbsp;&nbsp;&nbsp;（3）【汽车业务专用条款】  1)甲方不得发布下线车（出租车）、报废车等信息。 2)甲方不得发布违法车源信息（如套牌、走私、罚没车辆、重大事故车等违反国家法律的信息）。 3)甲方不得未经合法授权使用他人主体资格证明文件和相关经营资质开通或使用信息小镇服务。 4)甲方购买“汽车API”服务的，还应遵循如下条款：甲方承诺通过API接口提供的信息符合法律、法规、规范性文件及信息小镇相关规则及技术要求；该等信息不存在剽窃、抄袭、拷贝、擅自使用或其他任何侵犯他人合法权利（包括但不限于知识产权、肖像权、商标专用权等）的行为。甲方应对API接口信息的内容、技术支持等独立承担一切法律责任；如遇甲方系统中断使得API接口信息不能正常使用等情况，不视为信息小镇违约。 5)甲方使用“收车线索”服务的，应保证对于获取的乙方匹配发送的卖车信息发布者（以下简称“信息主体”）发布的的卖车信息的使用目的合法，不得利用该信息侵犯信息主体的合法权益。甲方不得将获取的收车线索信息以无偿或有偿的形式提供给其他任何第三方；不得用于除与信息主体开展车辆交易服务之外的其他任何目的。甲方确认对与信息主体利用乙方提供的收车线索在自行开展的咨询或沟通过程中的全部行为独立承担责任，甲方不得以乙方或乙方关联公司的名义向信息主体进行任何虚假或不实的承诺。甲方确认知悉乙方及乙方的关联公司仅就在收车线索产品服务中向甲方提供网络技术支持及服务，乙方非信息的发布者，不对信息内容的真实性、合法性、时效性等承担任何保证责任。 <br />
            &nbsp;&nbsp;&nbsp;&nbsp;（4）【房产业务专用条款】甲方同意履行如下义务： 1)甲方承诺上传于信息小镇网站诚信房源专区的房源信息真实有效，可以实地看房，并接受来自用户的点评及信息小镇的监督。2)甲方应在房源描述页面等所有信息小镇网站提供的渠道中，对房源进行如实描述，包括但不限于对房源的基本信息、地理位置、房屋图片、价格等信息进行真实、完整的描述，并对描述的房源信息负有举证责任。3)甲方承诺，所发布的房源信息中含有的照片为房源实景拍摄图，并保证该图片不会侵犯任何第三方的合法权益。4)甲方明确了解并同意乙方及其关联公司仅向甲方提供相关技术支持及服务，不对甲方的服务内容、发布信息内容承担任何保证责任。当发生买家评价图片虚假，价格虚假，房源描述与房源本身不符等内容时，甲方应积极处理。5)当甲方获得差评条数达到一定数量时，需无条件地接受乙方的违规处罚，乙方有权对差评评价规则及违规处罚规则进行调整。6)甲方根据本条款之约定，不可撤销地授权乙方及其关联公司根据信息小镇网站使用规则及信息小镇网站其他公示规则的规定，在不另行通知的情况下对甲方账户、甲方信息作出处理。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;（5）【保障计划专用条款】如甲方参加信息小镇网站的保障计划（包括但不限于诚信房源等信息小镇网站不定期推出的诚信保障计划），除需按本协议约定或信息小镇网站规定以在线支付/转账汇款/现金的方式支付保障金外（如有），还应该并且同意遵守信息小镇网站上所规定的服务规则、开通及处理规则、名词解释、活动规定、服务协议等与保障计划相关的各种规定。 <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;（6）【宠物产品专用条款】甲方在购买信息小镇宠物产品网络推广服务时，应按本协议约定及信息小镇网站公示之《信息小镇诚信犬舍诚信保障服务条款》等相关规定以在线支付/转账汇款/现金的方式向信息小镇支付保障金，并应遵守信息小镇网站公示的与“信息小镇诚信犬舍保障计划”相关的各种规则、说明。 <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;（8）【推广余额专用条款】1)甲方充值购买推广余额即视为已经购买信息小镇网站的相关服务，所支付的款项将不予退还，只能用于按照信息小镇网站的规定和设置开通使用乙方的相关产品和服务。2)甲方在充值购买推广余额之后，可以授权乙方操作甲方的推广余额账户。乙方可以根据甲方的授权对其推广余额账户进行如下调整操作：a,开通推广服务（推广服务类型：置顶、智能推广、精准推广、品牌推广）；b,暂停、终止推广服务；c,选择推广服务数量；d,变更推广区域等。3)甲方有义务对其推广余额账户进行有效管理，如甲方未将其推广余额账户转化为乙方提供的相关推广产品或服务进行消耗（即未消费行为）超过2年，乙方有权在2年期满后的当月一次性扣除上述期间甲方的账户管理费，扣除标准为未消费行为发生之日起每月收取其账户余额的5%，甲方推广余额产品服务时长视为期满。<br />
            &nbsp;&nbsp;&nbsp;&nbsp;8、甲方应保证是推广服务的内容及推广链接的网站的合法权利人，在本协议范围内使用推广内容不会侵害任何第三人的合法权益（该权益包括但不限于著作权、商标权、肖像权，专利权、商业秘密）。如甲方违反此保证导致任何法律纠纷，由甲方自行承担责任；给乙方及任何第三方造成损失的，还应予以赔偿。<br />
            &nbsp;&nbsp;&nbsp;&nbsp;9、甲方应保证发布的推广内容中涉及的文字、图片、链接、链接所指向网站等各个部分之间的一致性与相关性，且推广内容整体效果不会引起乙方网站用户误解。 <br />
            五、第三方投诉的处理<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;1、任何第三方投诉甲方在信息小镇网站推广的信息侵犯其合法权益，乙方将通知甲方与第三方妥善解决争议。乙方有权暂停对甲方的推广服务及/或屏蔽、删除信息直至甲方与第三方达成一致。<br />
            &nbsp;&nbsp;&nbsp;&nbsp;2、任何行政机关或者第三方对于信息小镇网站上甲方的推广内容提出质询（包括但不限于第三方以发函、媒体报道等形式指控侵权、提起诉讼、向相关主管机关举报使乙方遭受审查或质询等），并认为该内容涉嫌违反国家法律法规的相关规定或者侵犯了第三方的合法权益，在调查期间，乙方有权停止对甲方的推广服务及信息发布服务。甲方同意，在接到乙方通知后，甲方应以自己名义出面与第三方协商、应诉或接受相关主管机关审查或质询。甲方同意承担由此给乙方造成的损失，该等损失包括但不限于乙方为协调该事项实际支出的费用、诉讼费、罚款、律师费等。乙方有权从甲方充值余额中扣除相关损失，如甲方充值余额不足以弥补乙方损失的，乙方保留向甲方追偿的权利。 <br/>
            六、用户数据的使用及保护<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;1、为了履行本协议，乙方会在信息小镇的服务器上保留甲方的信息，包括但不限于注册信息、消费信息、推广内容等。甲方同意信息小镇基于系统升级、测试、更新等目的使用甲方的信息。 <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;2、用户理解并同意信息小镇可能会基于法律法规的相关规定向相应的司法或者行政机关提供用户的相关数据信息。<br/>
            七、反商业贿赂条款<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;甲乙双方均不得在签约过程中，为获得交易机会或有利的交易机会而向对方任何工作人员（包括其家属、朋友或有直接或间接关系人士）提供金钱的、实物的或其他任何形式的贿赂、回扣。甲方有义务就乙方人员任何形式的索取或收受财物行为及时向乙方举报（举报邮箱：mail@infotownlet.com）。<br/>
            八、知识产权及保密条款<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;1、双方均承诺各自提供的产品、品牌及其相关的全部知识产权不侵犯任何第三方的合法权益。双方因履行本协议约定义务而被授权接触或使用对方之商标专利、著作权或其他任何相关资料涉及的任何专有权均不视为转移上述权利的所有权，上述权利的所有者应属于提供方。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;2 、除本协议规定之工作所需外，未经对方事先书面同意，任何一方不得擅自使用、复制对方的商标、标志、商业信息、技术及其他资料。任何一方从对方获得的知识产权授权许可不得用于超出本协议约定的目的和范围以为的其他用途。 <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;3 、甲乙双方各自对其软件及技术享有专有权利，未经权利人的明确授权，任何一方不得更改、演绎、拆分、反解对方的技术和程序或以其他任何方式进行可能损害对方专有权利的行为。 <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;4 、甲方应对签署及履行本协议过程中所知悉的乙方及乙方用户的各类信息及资料（包括但不限于甲方通过线上收集到的乙方平台用户信息等）严格保密，积极维护乙方及乙方用户的合法权益，未经乙方及乙方用户书面同意，甲方不得向任何第三方透露，更不得将该等信息及资料用于任何商业用途。<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;5 、未经另一方的事先书面同意，一方不得向任何第三方披露或泄漏其基于本协议直接或间接从另一方获得的关于另一方的商业机密，但依据双方约定、有关法律、法规、政府部门、证券交易所或其他监管机构要求和甲乙双方为履行工作和职责而需要知道该种保密信息的雇员、管理人员、董事、代理商和或顾问除外。 <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;6 、本条款有效期为协议履行完毕或解除/终止后3年内。 <br/>
            九、免责声明<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;1、甲方了解并同意：<br />
            &nbsp;&nbsp;&nbsp;&nbsp;（1）甲方明确同意其使用信息小镇服务所存在的风险将完全由其自己承担；因其使用信息小镇服务而产生的一切后果也由其自己承担。<br />
            &nbsp;&nbsp;&nbsp;&nbsp;（2）甲方对其发布的推广内容的准确性、完整性和合法性负有全部责任。一旦发现甲方发布虚假信息，信息小镇网有权对甲方做出关闭账户、删除信息、要求甲方赔偿给乙方造成的包括商誉损失在内的全部损失等处理。由此导致信息小镇网站其他用户向乙方索赔的，乙方有权向甲方追偿。<br />
            &nbsp;&nbsp;&nbsp;&nbsp;（3）乙方对下列情形不承担任何责任：<br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（a）并非由于乙方的故意或过失而导致信息小镇推广服务未能注册成功；<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（b）由于甲方或其代理商的故意或过失导致甲方遭受损失的；<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;（c）由于乙方对信息小镇推广服务系统进行系统测试、升级、更新、服务抽样测试，对甲方产生的任何影响。<br />
            &nbsp;&nbsp;&nbsp;&nbsp;2、乙方对由于政府行为譬如政策或法规的变更、自然灾害或战争、通讯线路中断、黑客攻击、计算机病毒侵入或发作、电信部门技术调整、因政府管制而造成网站的暂时性关闭等任何影响网络正常运营的不可抗力事件，以及他人蓄意破坏、正常的系统维护、系统升级，或者因网络拥塞而导致本网站不能访问而造成的本网站所提供的信息及数据的延误、停滞或错误，以及使用者由此受到的一切损失不承担任何责任。<br />
            &nbsp;&nbsp;&nbsp;&nbsp;3、信息小镇服务不能保证以下事项：<br />
            &nbsp;&nbsp;&nbsp;&nbsp;（1）信息小镇推广服务上发布的推广服务相关信息的正确性、准确性、可靠性或其他方面；<br />
            &nbsp;&nbsp;&nbsp;&nbsp;（2）信息小镇推广服务不能保证网络服务一定能满足用户的要求，也不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。<br />
            &nbsp;&nbsp;&nbsp;&nbsp;（3）信息小镇推广服务不保证能够长期无错误运营，也不保证服务器不受病毒或其他故障的侵扰。<br />
            &nbsp;&nbsp;&nbsp;&nbsp;（4）信息小镇不对推广服务效果承担任何保证责任，推广效果主要基于推广产品的质量及用户体验等因素，故信息小镇无需对推广效果负责，推广效果亦不可作为影响本协议执行及各方履行合同义务的因素或理由。<br />
            十、损害赔偿<br />
            &nbsp;&nbsp;&nbsp;&nbsp;1 、由于甲方通过使用本协议项下推广服务提供、公布或传送的内容侵害他人任何权利而导致乙方遭受任何判决、行政处罚或支付任何赔偿金、律师费、诉讼费、差旅费等费用的，乙方有权从甲方充值余额中扣除相关损失，如甲方充值余额不足以弥补乙方损失的，乙方保留向甲方追偿的权利。<br />
            &nbsp;&nbsp;&nbsp;&nbsp;2 、协议生效后，若甲方单方解除协议，除应支付乙方实际损失（包含但不限于网站制作费300元、已消耗的推广优惠等）外，还应另行向乙方一次性支付协议总金额的10%作为违约金。甲方同意乙方可依据本协议从甲方已缴纳的服务费中扣除相关损失及违约金。 <br />
            &nbsp;&nbsp;&nbsp;&nbsp;3 、甲方违反法律法规及本协议任一条款约定损害乙方利益、商誉和品牌形象的，乙方有权终止提供服务，甲方应赔偿由此给乙方造成的包括商誉在内的全部损失，甲方同意乙方可从甲方已支付的服务费用中扣除相关损失。如该部分金额不足以弥补乙方损失的，乙方有权追偿。 <br />
            &nbsp;&nbsp;&nbsp;&nbsp;4、甲方在投诉其他用户有违法行为或违反本协议情形时，投诉者应承担不实投诉所产生的全部法律责任。如侵犯他人的合法权益，投诉人应独立承担全部法律责任。<br />
            十一、不可抗力<br />
            &nbsp;&nbsp;&nbsp;&nbsp;因战争、暴动、自然灾害、政府行政行为、电力中断、互联网不法攻击、第三方互联网通讯供应商原因、乙方操作平台及软件原因、网站服务器、数据库系统维护及系统升级而导致乙方服务器不能正常接入或临时性障碍无法履行或延迟履行本协议约定之义务时，不视为乙方违约。 <br />
            十二、法律适用和争议解决 <br />
            &nbsp;&nbsp;&nbsp;&nbsp;1、本协议之订立、生效、解释、修订、补充、终止、执行和争议解决均适用中华人民共和国法律。如法律无相关规定的，则应参照通用国际商业惯例和（或）行业惯例。<br />
            &nbsp;&nbsp;&nbsp;&nbsp;2、如本协议条款与国家法律相抵触时，则这些条款将完全按法律规定重新解释，其他条款则依旧保持对双方产生法律效力和影响。<br />
            &nbsp;&nbsp;&nbsp;&nbsp;3、因本协议产生之争议、纠纷，应由信息小镇与您友好协商；协商不成的，应依照中华人民共和国法律予以处理，并以福建省福州市鼓楼区人民法院为第一审管辖法院；按照中华人民共和国法律，因级别管辖的规定，福建省福州市鼓楼区人民法院无权管辖的，以其上级法院作为第一审管辖法院。 <br />
        </div>
    </div>
    <div class="div_rtop" id="div_rtop" onClick="GoToTop()"></div>
</body>
</html>
