@{
    ViewBag.Title = "BZZX_LXKF";
    Layout = "~/Areas/Business/Views/Shared/_ListLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/BZZX/BZZX_LXKF.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/BZZX/BZZX_LXKF.js")"></script>
</head>
<body>
    <div class="div_body">
        <div class="div_content" style="margin-top:20px;">
            <span class="span_step span_step_first"></span>
            <span class="span_step_text">请选择问题类型：</span>
        </div>
        <div class="div_content div_content_wtlx">
            <div class="div_wtlx">
                <table class="table_wtlx">
                    <tr class="tr_wtlx">
                        <td class="td_wtlx_inner_left">信息问题</td>
                        <td class="td_wtlx_inner_right">
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_xxbsc">信息被删除</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_xxbfhxg">信息被返回修改</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_xxbpflbd">信息被判分类不当</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_xxbxs">信息不显示/无法刷新</span>
                        </td>
                    </tr>
                    <tr class="tr_wtlx">
                        <td class="td_wtlx_inner_left"></td>
                        <td class="td_wtlx_inner_right">
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_tsjbxjxx">投诉举报虚假信息</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_mysjhm">冒用手机号码</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_qtxxmy">其它信息冒用</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_ssbts">申诉被投诉</span>
                        </td>
                    </tr>
                    <tr class="tr_wtlx">
                        <td class="td_wtlx_inner_left">账户问题</td>
                        <td class="td_wtlx_inner_right">
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_zhbdj">账户被冻结</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_bpwfczj">被判为房产中介</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_bpwessj">被判为二手商家</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_bpwzj">被判为职介</span>
                        </td>
                    </tr>
                    <tr class="tr_wtlx">
                        <td class="td_wtlx_inner_left"></td>
                        <td class="td_wtlx_inner_right">
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_ghrz">跟换认证</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_zhmm">找回密码</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_zhbd">账户被盗</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_czwt">充值问题</span>
                        </td>
                    </tr>
                    <tr class="tr_wtlx">
                        <td class="td_wtlx_inner_left">合作及其他</td>
                        <td class="td_wtlx_inner_right">
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_hzzx">合作咨询</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_zxzz">在线增值</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_xtwt">系统问题</span>
                            <span class="span_wtlx_inner_right" id="span_wtlx_inner_right_tges">团购、二手等</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="div_content" style="margin-top:20px;">
            <span class="span_step span_step_second"></span>
            <span class="span_step_text" id="span_step_text_second">请描述您遇到的问题：</span>
        </div>
        <div class="div_content div_content_wtjj">
            <div class="div_wtjj">
                <div class="div_wtjj_inner" id="div_xxbsc" style="display:none">
                    <table class="table_wtjj">
                        <tr class="tr_wtjj">
                            <td class="td_wtjj_inner_left">信息编号：</td>
                            <td class="td_wtjj_inner_right">
                                <input type="text" id="inputXXBH" class="input_content">
                                <input class="btn btn-info" id="btnCKBSCYY" type="button" style="margin-top: -3px; width: 123px;" value="查看被删除原因" />
                                <span class="span_ckxxbh">如何查看信息编号?</span>
                            </td>
                        </tr>
                        <tr class="tr_wtjj">
                            <td class="td_wtjj_inner_left"></td>
                            <td class="td_wtjj_inner_right" id="td_xxbhinfo"></td>
                        </tr>
                        <tr class="tr_wtjj">
                            <td class="td_wtjj_inner_left"></td>
                            <td class="td_wtjj_inner_right"></td>
                        </tr>
                    </table>
                </div>
                <div class="div_wtjj_inner" id="div_xxbfhxg">
                    <table class="table_wtjj">
                        <tr class="tr_wtjj" id="tr_xxbh">
                            <td class="td_wtjj_inner_left">信息编号：</td>
                            <td class="td_wtjj_inner_right">
                                <input type="text" id="inputXXBFHXG_XXBH" class="input_content">
                                <span class="span_ckxxbh">如何查看信息编号?</span>
                                <span class="span_xxbhinfo"></span>
                            </td>
                        </tr>
                        <tr class="tr_wtjj">
                            <td class="td_wtjj_inner_left" style="vertical-align:top;padding-top:15px;">问题描述：</td>
                            <td class="td_wtjj_inner_right">
                                <textarea class="textarea_mswt" id="textarea_mswt">请描述您的具体问题，字数在15至300之间</textarea>
                            </td>
                        </tr>
                        <tr class="tr_wtjj">
                            <td class="td_wtjj_inner_left">上传图片：</td>
                            <td class="td_wtjj_inner_right">
                                <input type="button" value="图片上传" />
                                <span>已上传图片1/5，最多可上传5张图片，支持：jpg/gif/png格式 </span>
                            </td>
                        </tr>
                        <tr class="tr_wtjj">
                            <td class="td_wtjj_inner_left"></td>
                            <td class="td_wtjj_inner_right">
                                <input class="button" type="button" value="提交问题" style="width:153px; height:44px" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="div_wtjj_inner" id="div_qtxxmy" style="display:none;">
                    <div style="display:block;height:75px;">
                        <span class="span_wtjj_inner" id="span_wtjj_inner_sfzbmy">1、身份证被冒用</span>
                        <span class="span_wtjj_inner" id="span_wtjj_inner_mygrxx">2、冒用个人肖像、公司名称等虚假信息</span>
                        <span class="span_wtjj_inner" id="span_wtjj_inner_gsxxbmy">3、公司信息被冒用</span>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_sfzbmy" id="div_wtjj_inner_sfzbmy" style="display:none;">
                        根据您的问题，我们建议您：
                        <div class="div_wtjj_inner_sfzbmy_inner">
                            建议您取消或更换实名认证，请点击下方的"填表单，联系客服"按钮，在“描述问题中”填写“相关冒用的信息页面或用户页面的链接”，在“上传照片”中上传公司营业执照、法人身份证原件数码照，以便及时为您提交处理。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_mygrxx" id="div_wtjj_inner_mygrxx" style="display:none;height:350px;">
                        根据您的问题，我们建议您：
                        <div class="div_wtjj_inner_mygrxx_inner">
                            建议您在您被冒用的对应的信息页面中点击“举报”按钮进行举报并详细说明情况以便核实后处理。具体的按钮位置为： <br />
                            <span class="span_wtjj_inner_mygrxx_inner"></span>
                            <input class="btn btn-info" type="button" style="margin-top: 10px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_gsxxbmy" id="div_wtjj_inner_gsxxbmy" style="display:none;">
                        根据您的问题，我们建议您：
                        <div class="div_wtjj_inner_gsxxbmy_inner">
                            若您的公司信息被冒用，请点击此处快速申诉。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 10px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                </div>
                <div class="div_wtjj_inner" id="div_ssbts" style="display:none">
                    <div style="display:block;height:75px;">
                        <span class="span_wtjj_inner" id="span_wtjj_inner_btswxjwfxx">1、被投诉为虚假违法信息</span>
                        <span class="span_wtjj_inner" id="span_wtjj_inner_xxbsczmb">2、信息被删除怎么办</span>
                        <span class="span_wtjj_inner" id="span_wtjj_inner_xxbxs">3、信息不显示/无法刷新怎么办</span>
                        <span class="span_wtjj_inner" id="span_wtjj_inner_rhscdgsdpj">4、如何删除对公司的评价</span>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_btswxjwfxx" id="div_wtjj_inner_btswxjwfxx" style="display:none">
                        根据您的问题，我们建议您：
                        <div>
                            如果您的信息被投诉为虚假违法信息，请您确认是否违反信息小镇发帖版规，若有，则请修改信息并重新发布。若查看后发现没有违反相关规定，则请点击下方的“填表单，联系客服”按钮，联系客服人员解决。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_xxbsczmb" id="div_wtjj_inner_xxbsczmb" style="display:none">
                        根据您的问题，我们建议您：
                        <div>
                            请您确认是否违反信息小镇发帖版规，若有，则请修改信息，重新发布。若没有，则建议您在分类上面选择“信息被删除”类型的问题，联系客服处理。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_xxbxs" id="div_wtjj_inner_xxbxs" style="display:none">
                        根据您的问题，我们建议您：
                        <div>
                            请您确认是否违反信息小镇发帖版规，若有，则请修改信息，重新发布。
                            出现这种情况的用户一般是由于使用多账户发布信息导致信息严重违规且信息靠后显示或删除，信息无法显示、刷新、置顶、推广，如果您有此行为，建议您七个工作日（不包含周六，周日）后固定一个账户及手机号码重新发布信息，给您带来不便请谅解。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_rhscdgsdpj" id="div_wtjj_inner_rhscdgsdpj" style="display:none">
                        根据您的问题，我们建议您：
                        <div>
                            用户给予的评价暂时无法删除，给您带来不便请您谅解。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                </div>
                <div class="div_wtjj_inner" id="div_zhbdj" style="display:none">
                    <div style="display:block;height:75px;">
                        <span class="span_wtjj_inner" id="span_wtjj_inner_fbxxstssjzhdj">1、发布信息时提示手机账号冻结是怎么回事</span>
                        <span class="span_wtjj_inner" id="span_wtjj_inner_zhbdjdyyssm">2、账户被冻结的原因是什么</span>
                        <span class="span_wtjj_inner" id="span_wtjj_inner_zhwfdl">3、账户无法登录</span>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_fbxxstssjzhdj" id="div_wtjj_inner_fbxxstssjzhdj" style="display:none">
                        根据您的问题，我们建议您：
                        <div>
                            请您点击下方的“填表单，联系客服”按钮，在信息描述中填写被冻结的手机号码，以便核实，给您带来不便敬请谅解。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_zhbdjdyyssm" id="div_wtjj_inner_zhbdjdyyssm" style="display:none;height:356px;">
                        根据您的问题，我们建议您：
                        <div>
                            &nbsp;&nbsp;&nbsp;&nbsp;您好，发布以下情况的信息，会无法解冻，建议您按照信息小镇发帖版规操作：<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;1、注册了多个公司信息，是严重违反版规的，针对该账户的公司资料是无法审核通过的，无法解冻。<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;2、发布的信息由于遭多用户投诉信息与实际描述不符，经过审核将账户电话被冻结无法解冻。<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;3、在此账户违规操作导致手机被冻结，无法解冻。<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;4、账户发布违反信息小镇发布版规的内容，将会暂时无法解冻。<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;以上情况下账户暂时无法解冻，建议按照信息小镇版规操作，去查看<span class="span_href">信息小镇发帖版规 >></span><br />
                            &nbsp;&nbsp;&nbsp;&nbsp;此外，账户由于冒用他人营业执照发布信息造成系统冻结账户，如需解冻请点击“填表单，联系客服”按钮在上传图片中提供：营业执照副本数码照、税务登记证、组织机构代码证、基本开户许可证及公司法人手持身份证，以上证件必须是原件数码照，否则将不予通过。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_zhwfdl" id="div_wtjj_inner_zhwfdl" style="display:none">
                        根据您的问题，我们建议您：
                        <div>
                            极有可能是您的密码错误，建议您现在去自助<span class="span_href">找回密码 >></span><br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                </div>
                <div class="div_wtjj_inner" id="div_bpwzj" style="display:none">
                    <div style="display:block;height:75px;">
                        <span class="span_wtjj_inner" id="span_wtjj_inner_bpwzjdyy">1、被判为职介的原因</span>
                        <span class="span_wtjj_inner" id="span_wtjj_inner_fbzpxxsbpwzj">2、发布招聘信息时被判为职介</span>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_bpwzjdyy" id="div_wtjj_inner_bpwzjdyy" style="display:none;height:210px;">
                        根据您的问题，我们建议您：
                        <div>
                            如果您的账户出现以下情况，会被判为职介：<br />
                            1.以不同公司名称发布过招聘信息，已经属于职介行为，该行为暂无法帮您修改身份；<br />
                            2.您发布的信息与您的公司经营范围不符，无法为您修改身份，给您带来的不便请谅解。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_fbzpxxsbpwzj" id="div_wtjj_inner_fbzpxxsbpwzj" style="display:none;height:210px;">
                        根据您的问题，我们建议您：
                        <div>
                            由于近期招聘类别发现虚假信息较多，发布信息暂时做了调整，发布信息时必须要通过营业执照以及组织机构代码证、税务登记证、开户许可证其中一项，验证成功后才可更改身份：<br />
                            1.若您的营业执照无法通过认证，并提示公司别名与公司名不一致。则建议您将公司别称填写为与公司名称相同即可；<br />
                            2.若您还未做营业执照认证，请您完成营业执照认证以便为您核实身份。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                </div>
                <div class="div_wtjj_inner" id="div_ghrz" style="display:none">
                    <div style="display:block;height:180px;">
                        <span class="span_wtjj_inner" id="span_wtjj_inner_ksghsjrz">1、快速更换/取消手机认证</span>
                        <span class="span_wtjj_inner" id="span_wtjj_inner_ksghyx">2、快速更换/取消邮箱</span>
                        <span class="span_wtjj_inner" id="span_wtjj_inner_qxsmrz">3、取消实名认证</span>
                        <span class="span_wtjj_inner" id="span_wtjj_inner_qxyyzzrz">4、取消/更换营业执照认证</span>
                        <span class="span_wtjj_inner" id="span_wtjj_inner_wfjssjdx">5、无法接收手机短信，怎么更换手机认证</span>
                        <span class="span_wtjj_inner" id="span_wtjj_inner_xyxggsm">6、想要修改公司名？</span>
                        <span class="span_wtjj_inner" id="span_wtjj_inner_yyzzrztbg">7、营业执照认证通不过</span>
                        <span class="span_wtjj_inner" id="span_wtjj_inner_rhtjyyzzrz">8、如何提交营业执照认证</span>
                        <span class="span_wtjj_inner" id="span_wtjj_inner_qxgrsfrz">9、取消个人身份认证</span>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_ksghsjrz" id="div_wtjj_inner_ksghsjrz" style="display:none;">
                        根据您的问题，我们建议您：
                        <div>
                            如需要更换或取消手机认证，您可以去自助快速更换/取消手机认证，立刻解决问题，无需等待。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_ksghyx" id="div_wtjj_inner_ksghyx" style="display:none;">
                        根据您的问题，我们建议您：
                        <div>
                            如需要更换或取消邮箱认证，您可以去自助快速更换/取消邮箱认证，立刻解决问题，无需等待。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_qxsmrz" id="div_wtjj_inner_qxsmrz" style="display:none;">
                        根据您的问题，我们建议您：
                        <div>
                            实名认证，一经认证后不可取消。如有与实名有关的其他问题可点击“填表单，联系客服”进行咨询。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_qxyyzzrz" id="div_wtjj_inner_qxyyzzrz" style="display:none;">
                        根据您的问题，我们建议您：
                        <div>
                            营业执照一经认证通过，无法取消，给您带来不便敬请谅解。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_wfjssjdx" id="div_wtjj_inner_wfjssjdx" style="display:none;">
                        根据您的问题，我们建议您：
                        <div>
                            如您的被绑定的手机号因为丢失、停用而无法接收手机验证短信或需要解绑原手机号，建议您直接点击自助更换/解绑手机，立刻解决问题，无需等待。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_xyxggsm" id="div_wtjj_inner_xyxggsm" style="display:none;height:205px;">
                        根据您的问题，我们建议您：
                        <div>
                            1、首先请您去认证管理查询您的营业执照是否被认证。<br />
                            2、如果您的营业执照没有经过验证，则可以通过进行营业执照认证过程中修改公司名称，系统审核通过后会为您自动更改过来（注，只有此一次修改机会）；<br />
                            3、如果您的营业执照已经认证，则无法更改公司名称，您可以留存该账户，去注册一个新的账户并认证新公司名称。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_yyzzrztbg" id="div_wtjj_inner_yyzzrztbg" style="display:none;height:323px;">
                        根据您的问题，我们建议您：
                        <div>
                            您好，认证审核时间为2-5个工作日，请您耐心等待。<br />
                            如果您超过5个工作日仍没有通过验证，请您对照看看是否出现以下问题，并采取对应的解决方案：<br />
                            （1）上传营业执照时填写的公司名称和别称与证书不符，建议您在上传时填写一致后重新提交；<br />
                            （2）证书图片不清晰或营业执照非原件副本数码照；<br />
                            （3）提交信息与证书不符，如，营业执照注册号错误；<br />
                            （4）证书没有年检章审核；<br />
                            （5）冒充他人企业，在没有提供证明之前其信息会做删除处理。<br />
                            如果您存在以上问题，请您修改后再重新上传。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_rhtjyyzzrz" id="div_wtjj_inner_rhtjyyzzrz" style="display:none;">
                        根据您的问题，我们建议您：
                        <div>
                            建议您直接去营业执照认证中填写相应信息上传营业执照照片。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_qxgrsfrz" id="div_wtjj_inner_qxgrsfrz" style="display:none;">
                        根据您的问题，我们建议您：
                        <div>
                            如您想取消实名认证，建议您点击下方的“填表单，联系客服按钮”，在文本框中输入您的身份证号，在“上传图片”选项上传手持身份证半身照，以便及时为您提交处理。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                </div>
                <div class="div_wtjj_inner" id="div_zhbd" style="display:none">
                    <div style="display:block;height:112px;">
                        <span class="span_wtjj_inner" id="span_wtjj_inner_tszhmmcw">1、提示账户密码错误</span>
                        <span class="span_wtjj_inner" id="span_wtjj_inner_sjbmyhbbrrz">2、手机被冒用或被别人认证</span>
                        <span class="span_wtjj_inner" id="span_wtjj_inner_qtbdqk">3、其它被盗情况</span>
                        <span class="span_wtjj_inner" id="span_wtjj_inner_zhbdxzx">4、账户被盗想注销</span>
                        <span class="span_wtjj_inner" id="span_wtjj_inner_rhfzzhbd">5、如何防止账户被盗</span>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_tszhmmcw" id="div_wtjj_inner_tszhmmcw" style="display:none;">
                        根据您的问题，我们建议您：
                        <div>
                            如果您的账户下绑定了手机和邮箱，直接去找回密码重新设置新的密码。此外，为了防止您的账户被盗用，请您不定期修改密码（使用较为复杂的密码）或进行<span class="span_href">实名认证</span>。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_sjbmyhbbrrz" id="div_wtjj_inner_sjbmyhbbrrz" style="display:none;">
                        根据您的问题，我们建议您：
                        <div>
                            如果您的手机号被冒用，建议您直接去自助删除被冒用信息，立即解决问题，无需等待。此操作还可以将号码做屏蔽，屏蔽后此号码则无法在网站中再次发布信息。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_qtbdqk" id="div_wtjj_inner_qtbdqk" style="display:none;">
                        根据您的问题，我们建议您：
                        <div>
                            如果存在其他账户被盗的情况，请您点击下方的“填表单，联系客服”按钮，填写被盗的账号、联系人、电话号码、被盗时间、是否有被盗资金（如有被盗资金请您提供资金总额、该订单号），并详细说明您的问题以便为您提交相关部门处理，给您带来的不便请谅解。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_zhbdxzx" id="div_wtjj_inner_zhbdxzx" style="display:none;">
                        根据您的问题，我们建议您：
                        <div>
                            账户一经注册是无法修改以及注销的，在网站中是具有唯一性的，如果您不再使用此账户，可以将信息删除后，将账户搁置，给您造成的不便请谅解。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                    <div class="div_qtxxmy_inner div_wtjj_inner_rhfzzhbd" id="div_wtjj_inner_rhfzzhbd" style="display:none;">
                        根据您的问题，我们建议您：
                        <div>
                            为了防止您的账户被盗用，请您不定期修改复杂的密码或进行实名认证。<br />
                            <input class="btn btn-info" type="button" style="margin-top: 3px; width: 140px;" value="填表单，联系客服" onclick="TBD()" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div_content div_content_tjkf" id="div_content_tjkf" style="margin-top:20px; display:none">
            <span class="span_step span_step_third"></span>
            <span class="span_step_text">描述具体问题提交至客服:（*为必填信息）</span>
        </div>
    </div>
</body>
</html>
