@{
    ViewBag.Title = "BZZX_SY_DHMYCX";
    Layout = "~/Areas/Business/Views/Shared/_ListLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/BZZX/BZZX_SY_DHMYCX.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/BZZX/BZZX_SY_DHMYCX.js")"></script>
</head>
<body>
    <div class="div_head">
        <div class="div_head_main">
            <span class="span_head_main_logo"></span>
            <span class="span_head_main_bzzx">帮助中心</span>
        </div>
    </div>
    <em class="em_split"></em>
    <div class="div_body">
        <div class="div_content_info">
            <span class="span_content_info">第一步：输入您的手机号码，点击查询按钮查找信息</span>
            <div class="div_content_info_inner">
                <span class="span_sjhm">
                    <input id="input_sjhm_cx" maxlength="11" class="input_sjhm" type="text"  placeholder="手机号" />
                    <span class="span_sjhm_cx"></span>
                </span>
                <input class="input_content" id="input_content_info_cx" value="点击查询" type="button" />
            </div>
        </div>
        <div class="div_content_info" style="padding-top:20px;">
            <span class="span_content_info">输入验证码</span>
            <div class="div_content_info_inner">
                <input id="TXYZM" type="text" style="width: 280px" class="input_yzm" placeholder="图片验证码" />
                <img class="img_content_info_yzm" id="imgTXYZM" title="看不清？点击图片换一张" src="@Url.Content("~/Areas/Business/Aspx/png.aspx")" />
                <span class="span_content_info_inner_yzm" id="span_content_info_inner_yzm">看不清？</span>
            </div>
        </div>
    </div>
</body>
</html>
