@{
    Layout = "~/Areas/Business/Views/Shared/BZZX.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Areas/Business/Css/BZZX/BZZX_SY_YHSYXY.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/BZZX/BZZX_SY_YHSYXY.js")"></script>
</head>
<body>
    <div class="div_head">
        <div class="div_head_main">
            <span class="span_head_main_logo"></span>
            <span class="span_head_main_bzzx">帮助中心</span>
        </div>
    </div>
    <em class="em_split"></em>
    <div class="div_body">
        <div class="div_body_nav_title" id="div_body_nav_title_1">信息小镇用户使用协议</div>
        <div class="div_body_nav_text">
            <span class="span_body_nav_text_title">&nbsp;&nbsp;&nbsp;&nbsp;您好，信息小镇是福建天问信息技术有限公司旗下的网站，为注册成为信息小镇的用户并使用信息小镇提供的服务，您应该仔细阅读并同意《信息小镇用户使用协议》。</span>
            <span class="span_body_nav_text_title">一、关于协议</span>
            <span class="span_body_nav_text_title">
                1、本协议是信息小镇与用户之间的法律协议，请您在注册之前，务必谨慎阅读并充分理解其中的条款。当您点击已阅读并同意《信息小镇用户使用协议》，注册成为信息小镇的用户并使用信息小镇提供的服务，即表示您自愿接受本协议，认可本协议全部条款内容,并自觉遵守协议的内容。<br />
                2、当您违反了《信息小镇用户使用协议》里的相关条约，您不应当以信息小镇未对本协议以合理方式提醒用户注意或未根据用户要求尽到说明义务为理由而声称或要求法院或其他任何第三方确认相关条款非法或无效。<br />
                3、当您注册成为信息小镇的用户或以其他信息小镇的方式实际使用信息小镇平台服务时，您应当是具备相应民事行为能力的自然人、法人或其他组织。若您不具备前述主体资格，则您及您的家长或法定监护人应承担因此而导致的一切后果，且信息小镇有权注销您的账户，并向您及您的监护人索偿<br />
                4、信息小镇有权根据国家法律变动或自身需要不时地修改本协议，并以在网站公示的方式进行通知；如用户不同意相关变更内容，请停止使用信息小镇服务。如果用户继续享用服务，则视为无条件接受本协议条款的变动。<br />
            </span>
            <span class="span_body_nav_text_title">二、关于账户管理</span>
            <span class="span_body_nav_text_title">
                1、在您同意本协议，并注册成功后，信息小镇会向您提供唯一账号与登录密码。您应对您的用户账号、登录密码、支付密码（如有）、验证码的安全，以及对通过您的账户和密码实施的行为负责；如因您的个人原因所导致的任何损失或损害，信息小镇无法也不承担任何责任。除非有法律规定或行政司法机关的指令，且征得信息小镇的同意，否则您的用户账户、登录密码、支付密码（如有）和验证码不得以任何方式转让、借用、赠与或继承（与账户相关的财产权益除外）。否则，由此给您（或信息小镇、任何第三方）造成的一切损失，一律由您自行承担。请您对密码加以妥善保管，切勿将密码告知他人，因密码保管不善而造成的所有损失由您自行承担。<br />
                2、当发现任何人不当使用您的账号或有任何其他可能危及您的账户安全的情形时，您应当立即以有效方式通知信息小镇，要求暂停相关服务。您理解信息小镇对您的请求采取行动需要合理时间，信息小镇对在采取行动前已经产生的后果（包括但不限于您的任何损失）不承担任何责任。<br />
                3、您在使用信息小镇服务的过程中，可能需要填写一些必要的信息。您需要填写您的真实的身份信息。若您填写的信息不完整，则无法使用信息小镇的服务或在使用过程中受到限制。<br />
                4、在下列情况下，信息小镇可以通过注销用户账号的方式单方解除本协议：<br />
                1) 在用户违反本协议相关规定时，信息小镇有权暂停或终止向该用户提供服务。<br />
                2) 一经发现用户注册信息中的内容是虚假的，信息小镇即有权终止向该用户提供服务；<br />
                3) 您不得通过任何手段恶意注册信息小镇帐号，包括但不限于以牟利、炒作、套现等为目的多个账号注册<br />
                4) 遭遇不可抗力时，信息小镇有权单方面终止提供服务。<br />
                5) 用户理解并同意，即便在本协议终止及用户的服务被终止后，信息小镇仍有权继续要求用户承担其在使用信息小镇平台服务期间因违反法律法规及本协议而应承担的责任。<br />
            </span>
            <span class="span_body_nav_text_title">三、关于服务使用规范</span>
            <span class="span_body_nav_text_title">
                1、通过信息小镇服务平台，您可以按照信息小镇的规则发布信息。但所发布的信息不得含有以下内容：<br />
                1) 反对宪法所确定的基本原则，煽动抗拒、破坏宪法和法律、行政法规实施的；<br />
                2) 煽动危害国家安全、泄露国家秘密、颠覆国家政权，推翻社会主义制度的；<br />
                3) 煽动分裂国家、破坏国家统一、损害国家荣誉和民族利益的；<br />
                4) 煽动民族仇恨、民族歧视，破坏民族团结的；<br />
                5) 捏造或者歪曲事实，散布谣言，扰乱社会秩序的；<br />
                6) 进行政治宣传或破坏国家宗教政策、宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；<br />
                7) 公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；<br />
                8) 损害国家机关信誉的；<br />
                9) 其他违反宪法和法律法规的；<br />
                2、在接受信息小镇服务的过程中，您不得从事下列行为：<br />
                1) 发表、传送、传播、储存、侵害他人拥有知识产权、商业秘密权等合法权利的内容；包含病毒、木马等可能对信息小镇系统造成伤害或影响其稳定性的内容或制造虚假身份以误导、欺骗他人；<br />
                2) 传送或散布或以其他方式实现传送的受到知识产权法律保护的文字、图像、相片、软件或其他资料的文件，作为举例（但不限于此）：包括著作权或商标权（或隐私权或公开权），除非用户已获得该知识产权权利人许可或授权；<br />
                3) 使用任何包含有通过侵犯商标、著作权、专利、商业机密或任何一方的其他专有权利的方式利用本“软件”获得的图像或相片的资料或信息；<br />
                4) 进行危害计算机网络安全的行为，包括但不限于：使用未经许可的数据或进入未经许可的服务器/帐号；未经允许进入公众计算机网络或者他人计算机系统并删除、修改、增加存储信息；未经许可，企图探查、扫描、测试本平台系统或网络的弱点或其他实施破坏网络安全的行为；企图干涉、破坏本平台系统或网站的正常运行，故意传播恶意程序或病毒以及其他破坏干扰正常网络信息服务的行为；伪造TCP/IP数据包名称或部分名称；<br />
                5) 修改或伪造软件作品运行中的指令、数据、数据包，增加、删减、变动软件的功能或运行效果，不得将用于上述用途的软件通过信息网络向公众传播或者运营；<br />
                6) 在未经信息小镇书面明确授权前提下，出售、出租、出借、散布、转移或转授权软件和服务或相关的链接或从使用软件和服务或软件和服务的条款中获利，无论以上使用是否为直接经济或金钱收益；<br />
                7) 违反信息小镇页面公布的活动规则，包括但不限于发布虚假信息、作弊或通过其他手段进行虚假交易。<br />
                3、您了解并同意，信息小镇有权应政府部门（包括司法及行政部门）的要求，向其提供您在信息小镇平台填写的注册信息和发布纪录等必要信息。<br />
                4、在使用信息小镇平台服务过程中，您承诺遵守以下约定：<br />
                1) 在使用信息小镇平台服务过程中实施的所有行为均遵守国家法律、法规等规范文件及信息小镇平台各项规则的规定和要求，不违背社会公共利益或公共道德，不损害他人的合法权益，不违反本协议及相关规则。您如果违反前述承诺，产生任何法律后果的，您应以自己的名义独立承担所有的法律责任，同时信息小镇保留向您追究法律责任的权利。<br />
                2) 不发布国家禁止发布的信息（除非取得合法且足够的许可），不发布涉嫌侵犯他人知识产权或其他合法权益的信息，不发布违背社会公共利益或公共道德、公序良俗的信息，不发布其他涉嫌违法或违反本协议及各类规则的信息。<br />
                3) 不对信息小镇平台上的任何数据作商业性利用，包括但不限于在未经信息小镇事先书面同意的情况下，以复制、传播等任何方式使用平台站上展示的资料。<br />
                4)不得使用任何装置、软件或例行程序干预或试图干预信息小镇平台的正常运作或正在信息小镇平台上进行的任何活动。您不得采取任何将导致不合理的庞大数据负载加诸信息小镇平台网络设备的行动。<br />
                5、您了解并同意以下条款：<br />
                1) 您违反上述承诺时，信息小镇有权依据本协议的约定，做出相应处理或终止向您提供服务，且无须征得您的同意或提前通知于您。<br />
                2) 根据相关法令的指定或者信息小镇服务规则的判断，您的行为涉嫌违反法律法规的规定或违反本协议和（或）规则的条款的，信息小镇有权采取相应措施，包括但不限于直接屏蔽、删除侵权信息、降低您的信用值或直接停止提供服务。<br />
                3) 对于您涉嫌违反承诺的行为对任意第三方造成损害的，您均应当以自己的名义独立承担所有的法律责任。<br />
                4) 如您涉嫌违反有关法律或者本协议之规定，使信息小镇遭受任何损失，或受到任何第三方的索赔，或受到任何行政管理部门的处罚，您应当赔偿信息小镇因此造成的损失及（或）发生的费用，包括合理的律师费及诉讼费用。<br />
            </span>
            <span class="span_body_nav_text_title">四、关于信息内容与侵权</span>
            <span class="span_body_nav_text_title">
                1、信息小镇仅向注册用户和非注册用户提供平台服务，信息小镇不对平台服务所涉及的技术及信息的有效性、准确性、正确性、可靠性、稳定性、完整性和及时性作出任何承诺和保证。用户应谨慎判断确定相关信息的真实性、合法性和有效性，并注意保留相应的证据以利于维权。如可能，尽量采用网站建议的交易方式进行。信息小镇不对信息的真实性，准确性，有效性和安全性负责。<br />
                2、您同意在使用信息小镇平台服务过程中显示信息小镇自行或由第三方服务商向您发送的推广或宣传信息（包括商业与非商业信息），其方式和范围可不经向您特别通知而变更。如您有异议可与信息小镇协商解决或停止使用信息小镇提供的服务，除法律法规明确规定外，您应自行对依该推广信息进行的交易负责，对用户因依该推广信息进行的交易或前述第三方服务商提供的内容而遭受的损失或损害，信息小镇不承担任何责任。<br />
                3、信息小镇对下列不可抗力行为免责：信息网络正常的设备维护，系统更新，信息网络连接故障，电脑、通讯或其他系统的故障，电力故障，罢工，劳动争议，暴乱，起义，骚乱，生产力或生产资料不足，火灾，地震，洪水，疫情，风暴，爆炸，战争，政府行为，司法行政机关的命令等而造成的不能服务或延迟服务。<br />
                4、您同意，在发现本网站任何内容不符合法律规定，或不符合本协议规定的，您有义务及时通知信息小镇。如果您发现您的个人信息被盗用、您的版权或者其他权利被侵害，请将此情况告知信息小镇并同时提供如下信息和材料：<br />
                1)侵犯您权利的信息的网址，编号或其他可以找到该信息的细节；<br />
                2)您是所述的版权或者其他权利的合法拥有者的权利证明；<br />
                3)您的联系方式，包括联系人姓名，地址，电话号码和电子邮件；<br />
                4)您的身份证复印件、营业执照等其他相关资料。<br />
                经审查得到证实的，我们将及时删除相关信息。我们仅接受邮寄、电子邮件或传真方式的书面侵权通知。情况紧急的，您可以通过客服电话先行告知，我们会视情况采取相应措施。<br />
            </span>
            <span class="span_body_nav_text_title">五、关于服务与费用</span>
            <span class="span_body_nav_text_title">
                1、信息小镇对于大多数用户免费提供分类信息的平台服务，但针对信息小镇的特定服务收费。若用户所使用的服务需支付费用，用户有权决定是否使用并接受该收费服务。信息小镇上的收费服务以人民币计价，定价上可能随时调整。我们将以网站公告的方式，来通知用户收费政策的变更。信息小镇也可选择在促销或新服务推出时，暂时调整我们的服务收费，该调整于我们公布促销或新服务时开始生效。付费服务是在系统接收到用户的付款后才开始。若因个人行为（如:自行删除）或发布信息内容违反信息小镇公约（公约以付费实际发生时的公约为准）而被转移类目或被删除，信息小镇将不予退款。<br />
                2、信息小镇因网站自身需要进行改版的，若涉及付费产品的实质性变化，包括但不限于产品取消、服务内容发生增加或减少、登载页面变更、发布城市变更的，信息小镇有权提前单方终止服务并及时通知客户，将客户已付款但未履行服务部分款项退还客户，此类情况不视为信息小镇违约。<br />
                3、信息小镇账户余额是信息小镇内部使用的现金账户，方便用户进行付费产品的购买，或者享受更多的优惠。用户可以使用充值的方式增加信息小镇账户的余额，同时信息小镇也会通过活动的方式奖励一定的现金到用户的信息小镇账户中。所有账户余额中的部分都仅限于在信息小镇内部进行使用，不能提现或退款。<br />
            </span>
            <span class="span_body_nav_text_title">六、关于隐私</span>
            <span class="span_body_nav_text_title">
                1、信息小镇将在本平台公布并不时修订隐私权条款，隐私权条款构成本协议的有效组成部分。<br />
                2、您知悉并认可：信息小镇可能会与第三方合作向用户提供相关的网络服务，在此情况下，如该第三方同意承担与本网站同等的保护用户隐私的责任，则信息小镇有权将用户的注册资料等提供给该第三方。另外，在不透露单个用户隐私资料的前提下，信息小镇有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。<br />
                3、信息小镇会运用各种安全技术和程序建立完善的管理制度来保护您的个人信息，以免遭受未经授权的访问、使用或披露。对此您表示理解和认同。<br />
                4、信息小镇不会将您的个人信息转移或披露给任何非关联的第三方，除非：<br />
                1) 经您同意，向第三方披露；<br />
                2) 当第三方因知识产权进行投诉或提起诉讼时，因投诉或诉讼需要而披露；<br />
                3) 相关法律法规或法院、政府机关要求；<br />
                4) 为完成合并、分立、收购或资产转让而转移<br />
                5) 为提供您要求的服务所必需；<br />
                您知悉并认可：为保护您的个人信息的安全。我们使用各种安全技术和程序来保护您的个人信息不被未经授权的访问、使用或泄漏。对此您表示理解和认同。<br />
            </span>
            <span class="span_body_nav_text_title">七、关于知识产权</span>
            <span class="span_body_nav_text_title">
                1.用户保证和声明对其所提供的文本、图片、图形、音频和/或视频等信息/作品拥有完整的合法的著作权或完整的合法的授权可以用于其在信息小镇上从事的活动，保证信息小镇使用该内容不违反国家的法律法规，也不侵犯第三方的合法权益或承担任何义务。用户应对其所提供信息因形式、内容及授权的不完善、不合法所造成的一切后果承担完全责任。<br />
                2.信息小镇保留对其网站所有内容进行实时监控的权利，并有权依其独立判断对任何违反本协议约定的作品、内容、信息实施删除。信息小镇对于删除用户作品作品、内容、信息引起的任何后果或导致用户的任何损失不负任何责任。<br />
                3.因用户提交的作品、内容、信息的违法或侵害第三人的合法权益而导致信息小镇或其关联公司对第三方承担任何性质的赔偿、补偿或罚款而遭受损失（直接的、间接的、偶然的、惩罚性的和继发的损失），用户对于信息小镇或其关联公司蒙受的上述损失承担全面的赔偿责任。<br />
                4.用户同意许可信息小镇对其创作发布的作品享有无偿合法使用的权利，用户理解并确认该等使用不构成对其作品的任何侵权。<br />
            </span>
            <span class="span_body_nav_text_title">八、法律适用与管辖</span>
            <span class="span_body_nav_text_title">
                1、本协议之订立、生效、解释、修订、补充、终止、执行与争议解决均适用中华人民共和国法律，如法律无相关规定的，则应参照通用国际商业惯例和（或）行业惯例。<br />
                2、因本协议产生之争议、纠纷，应由信息小镇与您友好协商解决；协商不成的，应依照中华人民共和国法律予以处理，并应以福州市鼓楼区人民法院作为管辖法院提起诉讼。<br />
                3、本协议自2018年1月1日起执行。<br />
            </span>
        </div>
    </div>
    <div class="div_bottom">
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">关于信息小镇</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">联系我们</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">友情链接</span>
        </div>
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">推广服务</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">客户服务中心</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">Copyright&nbsp;©&nbsp;&nbsp;www.infotownlet.com</span>
        </div>
    </div>
    <div class="div_rtop" id="div_rtop" onclick="GoToTop()"></div>
</body>
</html>
