@{
    ViewBag.Title = "BZZX_SY_XXWFFB";
    Layout = "~/Areas/Business/Views/Shared/QT.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/BZZX/BZZX_SY_XXWFFB.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/BZZX/BZZX_SY_XXWFFB.js")"></script>
</head>
<body>
    <div class="div_head">
        <div class="div_head_main">
            <span class="span_head_main_logo"></span>
            <span class="span_head_main_bzzx">帮助中心</span>
        </div>
    </div>
    <em class="em_split"></em>
    <div class="div_body">
        <div class="div_body_nav_title" id="div_body_nav_title_1">为什么我发布不了帖子（账户被冻结怎么办）？</div>
        <div class="div_body_nav_text">
            <span class="span_body_nav_text_title">1、我们根据信用值划分出了不同的用户等级，每个等级拥有不同的发帖量。等级越高可免费发布的信息越多。</span>
            <span class="span_body_nav_text_title">2、信用为0或账户、手机被冻结后都将无法发布信息。</span>
            <span class="span_body_nav_text_title">3、为什么发布信息时提示我“发布信息太过频繁”？</span>
            为了防止部分用户的恶意发帖行为，我们对发帖速度进行了限制，这时建议大家稍微休息一下再发布^_^。<br />
            <span class="span_body_nav_text_title">4、为什么发布信息时提示我“信息里包含非法词”？ </span>
            非法词是指由司法机关、主管部门、网监提供的词汇表，请大家不要发布违法信息，填写完后检查一下发布内容避免无意行为。<br />
            <span class="span_body_nav_text_title">5、为什么信息发布成功后显示“审核中”？</span>
            疑似违法或者违反版规的信息需要审核后才会显示，并在个人中心标记为“审核中”，信息小镇审核人员在24小时内会提供给您审核结果。<br />
            <span class="span_body_nav_text_title">6、为什么发布信息时提示我“信息太过相似”或“信息重复”？</span>
            相同的信息不允许重复发布，建议您在发布时对信息进行修改。您还可以选择用户中心中的“刷新”来代替发布。<br />
            <span class="span_body_nav_text_title">7、提示“正确输入规定内容”： </span>
            您是否在非规定位置输入联系方式或您的浏览器需要清除缓存，清除方法见下文。<br />
            <span class="span_body_nav_text_title">8、为什么发布信息时提示我“违反《信息小镇信息质量控制规定》，暂不允许发布”？ </span>
            在严重违反《信息小镇信息质量控制规定》的情况下，账户会被冻结。账户被冻结后禁止发布和评论信息。<br />
            <span class="span_body_nav_text_title">9、为什么我评论成功后不能立即看到我的评论？  </span>
            疑似违法或者违反版规的评论需要审核后才会显示，信息小镇审核人员在24小时内会提供给您审核结果。<br />
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_2">为什么我发布不了帖子（怎么清除浏览器缓存）？</div>
        <div class="div_body_nav_text">
            <span class="span_body_nav_text_title">1、当您遇到以下问题时，可以尝试清除浏览器IE缓存后重试:</span>
            1.点击“发布”按钮无反应；<br />
            2.点击“发布”按钮后，按钮为灰色，页面不跳转；<br />
            3.提示可以发布0条信息；<br />
            4.无法上传图片，导致发布不了信息<br />
            <span class="span_body_nav_text_title">清理IE的流程图如下：</span>
            第一步：同时按下键盘ctrl+shift+delete
            <span class="span_body_nav_img_jp"></span>
            第二步：在弹出的“删除浏览历史记录”窗口，勾选要删除的选项（一般勾选前6个），最后点击“删除”
            <span class="span_body_nav_img_tck"></span>
        </div>
    </div>
    <div class="div_bottom">
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">关于信息小镇</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">联系我们</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">友情链接</span>
        </div>
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">推广服务</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">客户服务中心</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">Copyright&nbsp;©&nbsp;&nbsp;www.infotownlet.com</span>
        </div>
    </div>
</body>
</html>
