@{
    ViewBag.Title = "BZZX_SY_XXBSC";
    Layout = "~/Areas/Business/Views/Shared/_ListLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/BZZX/BZZX_SY_XXBSC.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/BZZX/BZZX_SY_XXBSC.js")"></script>
</head>
<body>
    <div class="div_head">
        <div class="div_head_main">
            <span class="span_head_main_logo"></span>
            <span class="span_head_main_bzzx">帮助中心</span>
        </div>
    </div>
    <em class="em_split"></em>
    <div class="div_body">
        <div class="div_body_nav">
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="1">1、<span class="span_body_nav_inner">房产行业审核信息的原因判定</span></span>
                <span class="span_body_nav" id="1_1"><span class="span_body_nav_inner childnode">标题内容违规说明</span></span>
                <span class="span_body_nav" id="1_2"><span class="span_body_nav_inner childnode">无意义内容违规说明</span></span>
                <span class="span_body_nav" id="1_3"><span class="span_body_nav_inner childnode">联系方式违规说明</span></span>
                <span class="span_body_nav" id="1_4"><span class="span_body_nav_inner childnode">分类不当违规说明</span></span>
                <span class="span_body_nav" id="1_5"><span class="span_body_nav_inner childnode">图片违规原因说明</span></span>
                <span class="span_body_nav" id="1_6"><span class="span_body_nav_inner childnode">信息虚假非法原因</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="2">2、<span class="span_body_nav_inner">本地服务行业审核信息的原因判定</span></span>
                <span class="span_body_nav" id="2_1"><span class="span_body_nav_inner childnode">站内禁止信息说明</span></span>
                <span class="span_body_nav" id="2_2"><span class="span_body_nav_inner childnode">标题内容违规说明</span></span>
                <span class="span_body_nav" id="2_3"><span class="span_body_nav_inner childnode">图片违规详细说明</span></span>
                <span class="span_body_nav" id="2_4"><span class="span_body_nav_inner childnode">分类不当详细说明</span></span>
                <span class="span_body_nav" id="2_5"><span class="span_body_nav_inner childnode">无意义内容违规说明</span></span>
                <span class="span_body_nav" id="2_6"><span class="span_body_nav_inner childnode">信息虚假非法说明</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="3">3、<span class="span_body_nav_inner">招聘行业审核信息的原因判定</span></span>
                <span class="span_body_nav" id="3_1"><span class="span_body_nav_inner childnode">内容违规说明</span></span>
                <span class="span_body_nav" id="3_2"><span class="span_body_nav_inner childnode">图片违规说明</span></span>
                <span class="span_body_nav" id="3_3"><span class="span_body_nav_inner childnode">分类不当说明</span></span>
                <span class="span_body_nav" id="3_4"><span class="span_body_nav_inner childnode">地址不详说明</span></span>
                <span class="span_body_nav" id="3_5"><span class="span_body_nav_inner childnode">违禁信息说明</span></span>
                <span class="span_body_nav" id="3_6"><span class="span_body_nav_inner childnode">职位虚假说明</span></span>
                <span class="span_body_nav" id="3_6"><span class="span_body_nav_inner childnode">薪资虚假说明</span></span>
                <span class="span_body_nav" id="3_6"><span class="span_body_nav_inner childnode">涉黄信息说明</span></span>
                <span class="span_body_nav" id="3_6"><span class="span_body_nav_inner childnode">虚假信息说明</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="4">4、<span class="span_body_nav_inner">二手市场审核信息的原因判定</span></span>
                <span class="span_body_nav" id="4_1"><span class="span_body_nav_inner childnode">图片违规说明</span></span>
                <span class="span_body_nav" id="4_2"><span class="span_body_nav_inner childnode">内容违规说明</span></span>
                <span class="span_body_nav" id="4_3"><span class="span_body_nav_inner childnode">分类不当说明</span></span>
                <span class="span_body_nav" id="4_4"><span class="span_body_nav_inner childnode">价格虚假说明</span></span>
                <span class="span_body_nav" id="4_5"><span class="span_body_nav_inner childnode">虚假灌水说明</span></span>
                <span class="span_body_nav" id="4_6"><span class="span_body_nav_inner childnode">站内禁止信息</span></span>
                <span class="span_body_nav" id="4_7"><span class="span_body_nav_inner childnode">信息虚假说明</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="5">5、<span class="span_body_nav_inner">车辆市场审核信息的原因判定</span></span>
                <span class="span_body_nav" id="5_1"><span class="span_body_nav_inner childnode">图片违规说明</span></span>
                <span class="span_body_nav" id="5_2"><span class="span_body_nav_inner childnode">分类不当说明</span></span>
                <span class="span_body_nav" id="5_3"><span class="span_body_nav_inner childnode">广告信息说明</span></span>
                <span class="span_body_nav" id="5_4"><span class="span_body_nav_inner childnode">内容违规说明</span></span>
                <span class="span_body_nav" id="5_5"><span class="span_body_nav_inner childnode">价格违禁信息说明</span></span>
            </div>
        </div>
    </div>
    <div class="div_bottom">
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">关于信息小镇</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">联系我们</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">友情链接</span>
        </div>
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">推广服务</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">客户服务中心</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">Copyright&nbsp;©&nbsp;&nbsp;www.infotownlet.com</span>
        </div>
    </div>
</body>
</html>
