@{
    ViewBag.Title = "BZZX_SY_KSDH_WLFPCS";
    Layout = "~/Areas/Business/Views/Shared/_ListLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/BZZX/BZZX_SY_KSDH_WLFPCS.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/BZZX/BZZX_SY_KSDH_WLFPCS.js")"></script>
</head>
<body>
    <div class="div_head">
        <div class="div_head_main">
            <span class="span_head_main_logo"></span>
            <span class="span_head_main_bzzx">帮助中心</span>
        </div>
    </div>
    <em class="em_split"></em>
    <div class="div_body">
        <div class="div_body_nav">
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="1"><span class="span_body_nav_inner_first">1、拼车防骗指南</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="1_1"><span class="span_body_nav_inner childnode">1_1.拼车注意事项</span></span>
                <span class="span_body_nav" id="1_2"><span class="span_body_nav_inner childnode">1_2.拼车协议</span></span>
                <span class="span_body_nav" id="1_3"><span class="span_body_nav_inner childnode">1_3.拼车被骗实例</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="2"><span class="span_body_nav_inner_first">2、本地服务行业审核信息的原因判定</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="2_1"><span class="span_body_nav_inner childnode">2_1.站内禁止信息说明</span></span>
                <span class="span_body_nav" id="2_2"><span class="span_body_nav_inner childnode">2_2.标题内容违规说明</span></span>
                <span class="span_body_nav" id="2_3"><span class="span_body_nav_inner childnode">2_3.图片违规详细说明</span></span>
                <span class="span_body_nav" id="2_4"><span class="span_body_nav_inner childnode">2_4.分类不当详细说明</span></span>

            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="2_5"><span class="span_body_nav_inner childnode">2_5.无意义内容违规说明</span></span>
                <span class="span_body_nav" id="2_6"><span class="span_body_nav_inner childnode">2_6.信息虚假非法说明</span></span>
            </div>
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_1">1.拼车防骗指南</div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_1_1">1_1.拼车注意事项</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_title">司机篇：</td>
                </tr>
                <tr>
                    <td class="td_content">
                        1、要确认好拼车人信息。详细记录拼车者 姓名、年龄、身份证、个人及家庭联系方式等，最好有认识的人一起拼车。<br />
                        2、与乘客约好出发时间，出发前1天最好给乘客通一次电话提醒对方。<br />
                        3、要明确拼车所需的费用。尤其是一旦发生交通违章造成罚款的分担，以及车辆发生问题所带来的维修费用的承担。<br />
                        4、要和乘客明确是上车前支付还是上车后支付，还应明确额外费用的支付方式。<br />
                        5、合理规划时间，总路程不宜超过十小时，不走夜路。 不要疲劳驾驶，同时保管好个人财物。<br />
                        6、车主和同车人应分别将了解到的对方信息发送给至少一名亲友，以备出现问题后联系使用，并有意让对方知道这个情况。<br />
                        7、事先确定好关于吸烟等细节的规则,特别是有女性和小孩在场的时候。<br />
                        8、签协议和买保险是非常有必要的。<br />
                    </td>
                </tr>
                <tr>
                    <td class="td_title">乘客篇：</td>
                </tr>
                <tr>
                    <td class="td_content">
                        1、拼车者最好是熟悉的。与陌生人拼车时，要注意预防骗子或劫车者，车主和乘车人有必要互相了解对方的真实身份及联系方式。<br />
                        2、车主和同车人应分别将了解到的对方信息发送给至少一名亲友，以备出现问题后联系使用，并有意让对方知道这个情况。<br />
                        3、搭车人应事先了解驾驶员的技术水平、所用车型。关键是有无 跑长途的经历。<br />
                        4、要和乘客明确是上车前支付还是上车后支付，还应明确额外费用的支付方式。<br />
                        5、总路程不宜超过10小时，不走夜路。避免心急赶路和疲劳驾驶，合理安排休息。<br />
                        6、车主对于没有驾驶过所乘车型的同车人，尽量不要让其参与驾驶。<br />
                        7、不要在途中向同车不熟悉的人炫耀自己的或者所携带财物 情况。<br />
                        8、女性车主或乘车人应有熟悉的男性成年亲友相伴。<br />
                        9、事先确定好关于吸烟等细节的规则,特别是有女性和小孩在场的时候 。<br />
                        10、签协议和买保险是非常有必要的。 <br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_1_2">1_2.拼车协议</div>
        <div class="div_body_nav_text">
            ;
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_1_3">1_3.分类不当违规说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2" style="width:100px">业务类</td>
                        <td class="td_content">不得跨大类发布信息（如在房产类别发布二手、招聘信息；买卖墓地投放到本地生活服务；连锁加盟投放到本地商务服务；转让公司（无论是否带有房产）投放到本地商务服务）</td>
                        <td rowspan="2" style="width:100px">信息返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得跨小类发布信息（如将一手新房、租房信息发到二手房出售类别等。注：租房、合租、求租类别可以发布品牌公寓类信息）</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_1_4">1_4.图片违规原因说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="16" style="width:100px">业务类</td>
                        <td class="td_content">不得在图片上加盖任何竞品水印（包括但不仅限于其他网站logo，网址，100%、真房源、佣金等广告字样），否则将做房源下架处理；对于非竞品中介公司名称和logo，要求白色、透明、所占图片面积小于25%三个条件必须同时满足，否则将做房源下架处理；对于非竞品中介公司名称+宣传语——房源下架处理</td>
                        <td rowspan="16" style="width:100px">信息返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布虚假的房源图片（与内部图片或本套房源不一致的房源图，装修情况不一致），否则将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得发布模糊、失真的房源图片（遮挡、拼接、马赛克、翻转等），否则将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得在房源描述中插入图片（包括网站logo，头像等），否则将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">上传的室内图大小限制在100K-10M之间，图片长或宽皆不得小于720px，否则将无法上传</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得上传gif格式或者其他格式的动态图，否则将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得盗用他人图片（未经同意擅自复制截取图片内容，例如安居客和安居客水印重叠，安居客和赶集重叠的水印、58和赶集的重叠水印），否则将做房源下架处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得在室内图类型中使用非房源图片；不得在小区图类型中使用非小区环境图片；不得在户型图类型中使用非户型图图片</td>
                    </tr>
                    <tr>
                        <td class="td_content">图片中不得出现纯文字介绍图片，宣传单页</td>
                    </tr>
                    <tr>
                        <td class="td_content">图片中不得出现文字、数字、联系方式（QQ、微信、电话、网址、二维码）</td>
                    </tr>
                    <tr>
                        <td class="td_content">图片中不得出现自拍照（不涉黄）、地图，路线图 ,车站牌</td>
                    </tr>
                    <tr>
                        <td class="td_content">图片不得出现含广告违禁词（如含“最，100%，百分之百”等属于广告违禁词的摆台）</td>
                    </tr>
                    <tr>
                        <td class="td_content">不得在图片周围添加任何形式的边框</td>
                    </tr>
                    <tr>
                        <td class="td_content">【商铺】【写字楼】【厂房/仓库/土地】类别，除门面（广告条幅，LED屏）中可含有电话外，其他情况按违规处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">【商铺】【写字楼】【厂房/仓库/土地】类别，图片为商品图，可以通过。其他类别不得发商品图</td>
                    </tr>
                    <tr>
                        <td class="td_content">【商铺】【写字楼】【厂房/仓库/土地】类别，图片为效果图（楼盘图、沙盘图等），可以通过，其他类别图片不能含效果图</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="div_body_nav_title" id="div_body_nav_title_2">2.本地服务行业审核信息的原因判定</div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_2_1">2_1.站内禁止信息说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>类别</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="57" class="td_bdfw_dl">业务类</td>
                        <td rowspan="8" class="td_bdfw_xl">投资担保</td>
                        <td class="td_content">1.出现“仅凭、只需要身份证（或者“身份证、银行卡、学生证、住址、公积金密码”中任意组合）可贷款”或相同意思；个人信用贷款，如果内容中出现“不看征信不看流水”、“可办黑户”、“信用不良”、“取消黑名单”以及表达相近意思的</td>
                        <td rowspan="70" class="td_bdfw_clfs">信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.投资理财类别，出现‘刷单套利’信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.黄页-贷款类内容中出现“平安易贷、平安普惠、大华银行、大华小额贷款”，均属于未授权信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.内容中含有“垫资”及其变形文字（垫还/代还——不能确认是高利贷的贷款暂不限制）</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.深圳市前海鑫桂石油化工发布投资理财信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">6.内容中提及：股票配资、配资炒股、股指配资、证券配资、股票融资等相近词信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">7.投资理财类别出现原油贵金属投资信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">8.禁止发布高利贷相关如水钱等信息</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">礼品定制</td>
                        <td class="td_content">未验证资质的公司及个人禁止发布含刻公章类信息（如信息中含刻公章，需验证营业执照+特种行业许可证/中国印章行业协会证明）<br />注：所有刻章类信息仅限在“礼品定制”类别发布；公司注册类别可顺带公章服务</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="td_bdfw_xl">工商注册</td>
                        <td class="td_content">1.未验证营业执照的公司及个人禁止代办“食品流通许可证”、“食品卫生许可证（简称卫生许可证）”的信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.单独转让或回收执照交易类服务</td>
                    </tr>
                    <tr>
                        <td rowspan="4" class="td_bdfw_xl">网络布线/维护</td>
                        <td class="td_content">1.有偿删帖消息</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.蹭网卡、永久免费上网类信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.禁止发布发帖机，发帖软件信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.禁止发布约车第三方作弊信息(如加速器、抢单/拒单/卡单器、定位模拟器、代注册、账号解封等)，以及淘宝刷钻、app刷单、提供微信投票、点赞、买卖粉丝等作弊信息</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">律师</td>
                        <td class="td_content">取保候审，看守所放人、监狱放人、保外就医及类似描述的此类信息，信息小镇允许有资质的发布但不允许承诺字样</td>
                    </tr>
                    <tr>
                        <td rowspan="7" class="td_bdfw_xl">招商加盟</td>
                        <td class="td_content">1.买卖（含回收）、加盟 “军供、特供酒”的</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.禁止发布烟草信息。酒类买卖、招商加盟都可以发布</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.禁止发布泰国红牛、越南红牛招商信息(牛磺酸超标)</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.禁止发布“卡盟”招商加盟信息（利用黑卡进行QQ刷钻业务）</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.禁止发布“原油贵金属”、“微盘/微交易（原油贵金属交易平台）”招商加盟信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">6.禁止发布淘宝招商加盟（网店加盟里有品牌的可以通过）、网店培训、一件代发、商城返利网站等信息（微店可以通过）</td>
                    </tr>
                    <tr>
                        <td class="td_content">7.维卡币、摩根币、DGC等数字货币信息</td>
                    </tr>
                    <tr>
                        <td rowspan="3" class="td_bdfw_xl">二手回收</td>
                        <td class="td_content">1.禁止发布易燃易爆危险品类以及烟花爆竹的买卖回收信息（汽油、柴油类可以发布）</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.禁止发布“烟草回收”、“烟草买卖”以及相近意思的信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.回收酒可以发布；但都仅限发布在二手回收-礼品回收类别，不能多选其他类别</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">批发采购</td>
                        <td class="td_content">1.禁止发布出售电话卡、物联卡信息</td>
                    </tr>
                    <tr>
                        <td rowspan="5" class="td_bdfw_xl">美容美体/养生保健/医疗</td>
                        <td class="td_content">1.禁止发布有治病功效的医院及药品（减肥药、壮阳药不行）、药械信息（医用的不行，家用的可以，如眼保姆，轮椅、护理床等）；保健品、保健功能产品买卖（可以发布如VC，人参、枸杞等）；“根治乙肝 、 乙肝转阴”等夸大治疗效果的信息、祖传秘方治病信息拒绝</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.禁止发布处方药、禁止发布白加黑、康泰克等限制性非处方药，且发布药品信息，必须具有食品药品监管部门核发的《互联网药品交易服务资格证》，且必须为实体药品零售连锁企业；发布保健品信息，要求商家所发布的保健品需要具有国家食品药品监督管理局颁发的保健品批准文号，可在食品药品监督管理局网站查询</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.允许发布各类整容医院的“非破皮”性质的美容养生服务，涉及到医疗手术的，禁止发布（微整、割双眼皮、隆鼻、瘦脸等涉及“破皮”的信息，也属于医疗手术范畴，禁止发布）；纹身/纹眉（绣眉）/纹眼线/纹唇这些类目，只要内容不写“针刺”等破皮的字样，可以通过</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.禁止发布上门输液打针等医疗广告</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.信息中禁止出现成药（中草药、保健品可以）</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">驾校</td>
                        <td class="td_content">1. 禁止发布驾校免指纹芯片、电子围栏破解等代刷学时等作弊信息</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">长途专车</td>
                        <td class="td_content">禁止发布出发地点与终点涉及出入境的路线（如内地至港澳台、内地至国外）等无意义信息</td>
                    </tr>
                    <tr>
                        <td rowspan="3" class="td_bdfw_xl">汽车服务</td>
                        <td class="td_content">1.信息小镇的学车、陪练业务类别，全部在线推广信息创意标题及描述、显示在信息小镇列表页的内容不能含信息小镇等引起客户误解为信息小镇自营服务的字样，如“信息小镇学车”</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.过户/验车类别允许发布买卖车牌、出租车牌、代办车牌、代拍车牌、指标转让、免摇号、违章代办、违章处理、收消驾照、代扣驾照分、无车年检/验车、人不来验车、改装车验车、疑难验车、老旧车验车、无车过户、无车报废、无车提档、代办进京证等信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.通过假结婚等不正当途径买卖车牌信息</td>
                    </tr>
                    <tr>
                        <td rowspan="7" class="td_bdfw_xl">教育培训-学历培训</td>
                        <td class="td_content">1.免考试、免成考、免统考、免试入学（不含自考）均不合格；有特殊条件的可以“如学历、荣誉称号、大赛获奖情况以各类奖项证书等”；1-3个科目以内免考信息可以通过</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.毕业院校是中国地质大学的（会有北京、武汉两个不同学校）</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.内容必须有培训课程或机构介绍合格，如果不符合要求删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.出现“全程托管”或类似内容禁止</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.内容出现只考一次、本人只参加一次考试，或类似内容禁止</td>
                    </tr>
                    <tr>
                        <td class="td_content">6.发布的内容中不能含有“包过、保过、协议包过、100%拿证、100%通过、100%取证、包拿证、包通过、包取证”等相近意思的词语</td>
                    </tr>
                    <tr>
                        <td class="td_content">7.毕业时间要求：公立学历、私立教育、民办教育、国家承认大专证、本科证等院校毕业时间必须一年以上，不能多于8 年；如出现半年、一个月毕业、一年左右等字样,则不合格</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">教育培训-外语培训</td>
                        <td class="td_content">广告性质的英语在线试听网站禁止发布，如太平洋</td>
                    </tr>
                    <tr>
                        <td rowspan="5" class="td_bdfw_xl">教育培训-留学签证</td>
                        <td class="td_content">1.1）留学移民里面出现有关购置国外物业，房产办理移民的信息<br />1.2）出国结婚、介绍外国对象的信息<br />1.3）出国含有绿卡、大马卡、枫叶卡<br />1.4）代办存款证明，代写商业计划书的信息<br />1.5）禁止留学移民办理处描述提供资金证明</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.留学移民类，代申请流程可以，代办技术移民或是学历证书不可以</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.禁止代办护照、永久居留证、港澳商务签证、港澳通行证以及出入境加急办理</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.办理外国人在华证件的， 禁止发布代办外国人就业、签证及续签手续，若出现与之相关的信息描述，如“代办护照加急取证”、“外国人签证”、“外国人就业签证”、“外国人续签手续”等信息，或与之相近、相仿的描述，包括异形字体、 变形字体、拼音字母等，一律做删除处理</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.禁止出现双认证信息</td>
                    </tr>
                    <tr>
                        <td rowspan="7" class="td_bdfw_xl">同城交友</td>
                        <td class="td_content">1.同城交友中内容不得涉及金钱、禁止发布淫秽敏感和诋毁他人的负面言语</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.技能交换中交换淘宝开店技能属于无效信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.禁止商家发布的交易或宣传类信息属于无效信息或类别误置到相应二手类别</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.可用技能换物品或住房属于违法信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.寻人寻友：寻失踪多年不见的人或朋友、丢失的物品均可且可提供报酬，但内容中不可出现身份证号</td>
                    </tr>
                    <tr>
                        <td class="td_content">6.禁止发布寻找宠物或寻骗子信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">7.献爱心及无偿为他人做贡献的活动，禁止发布涉及金钱和物品的交易类信息</td>
                    </tr>
                    <tr>
                        <td rowspan="13" class="td_bdfw_dl">违法类</td>
                        <td rowspan="4" class="td_bdfw_xl">投资担保</td>
                        <td class="td_content">1.禁止发布承兑汇票、汇票贴现、公积金提取信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.违规车辆抵押贷款（违规车辆包含套牌车、走私车、海关罚没车、脱审车、盗抢车、报废车、军车、警车、救护车、抵押车、黑车、顶账车、查封车、无手续车、贷款分期车等所有不能过户上牌的车辆）</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.公用房、未还清贷款的房等不能过户的房不能进行抵押贷款</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.内容中出现“安信惠鑫、兰花国际控股、东南亚联合银行、芝麻金融、惠仁财富、玖钰财富、一诺财富、e租宝、钰诚、钰申、金易融、中晋资产、融宜宝”。（金融欺诈企业《“e租宝”及其关联公司涉嫌非法集资》）</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="td_bdfw_xl">工商注册</td>
                        <td class="td_content">1.内容含有挂靠信息 （地址挂靠除外）</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.办理疑难及政府限制性批文、协助减免税务罚款、合理避税禁止（允许用“节税”一词描述，但不可含“避税”、“减税”、“免税点”等词句）</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="td_bdfw_xl">招商加盟</td>
                        <td class="td_content">1.POS机的售卖、诚聘代理、加盟、手机pos机类等类似pos机形式的信息（常见pos变形信息：支付者可以通过扫码等线上付款的交易方式支付，过程可使用信用卡，交易成功后会收取一定手续费或者提供可提供支付硬件设备如扫码枪等）</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.非法生产生物醇油等易燃易爆危险化学品加盟信息</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">二手回收</td>
                        <td class="td_content">回收车辆：套牌车、走私车、海关罚没车、脱审车、盗抢车、报废车、军车、警车、救护车、抵押车、无手续车等所有不能过户上牌的车辆信息</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="td_bdfw_xl">汽车服务</td>
                        <td class="td_content">1.利用喷涂、反光、折射物质导致电子设备无法拍摄达到躲避违章效果的信息。包含不限于遥控遮挡车牌托、智能同步曝光器、遥控自动换号器、隐形车牌架、自动翻牌架、牌隐形改号魔贴、车牌磁贴号、车牌反光剂等</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.北京地区禁止发布小客车指标出租、出售等相关信息</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">教育培训-通用</td>
                        <td class="td_content">帖子中出现挂靠信息</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">教育培训-学历教育</td>
                        <td class="td_content">外国大学、高中不允许直接在中国招生（中国可以对外申请、或者合作国内中介通过留学招生）</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_2_2">2_2.标题内容违规说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>类别</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="9" class="td_bdfw_dl">业务类</td>
                        <td rowspan="2" class="td_bdfw_xl">通用</td>
                        <td class="td_content">1.标题：标题中禁止含有联系方式、网址、特殊字符（如：★ ◆ ❀ 等键盘上没有的）；标题中禁止只有数字、字母、数字字母等组合</td>
                        <td rowspan="2" class="td_bdfw_clfs">信息返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.信息小镇所有类型的信息内容禁止出现微信、QQ、电话号码、二维码等联系方式（“微信同电话的”参照此条执行）</td>
                    </tr>
                    <tr>
                        <td rowspan="7" class="td_bdfw_xl">信息小镇黄页找人</td>
                        <td class="td_content">1.找人类别中，所有信息发布者的身份都应该是上述服务的提供者（个人）或者是代理人（如代母亲发帖一类），所有信息的内容（包括标题、简介）都应该为服务提供者的描述</td>
                        <td rowspan="7" class="td_bdfw_clfs">信息返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.禁止发布一切与上述服务类别无关的信息——标题或内容与上述类别的服务无关，如标题或内容包含测试、信用卡服务等无关信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.禁止发布一切招聘信息</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.所有头像图片必须是人物头像</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.头像图片核心要求必须是正面人物头像，头像角度较偏（如出现侧脸等）、头像明显为名人头像、非人物头像等返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">6.头像图片中不得出现明显的联系方式，如QQ、电话等</td>
                    </tr>
                    <tr>
                        <td class="td_content">7.头像图片中不得出现明显的中介、公司等字眼/背景</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_2_3">2_3.图片违规详细说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>类别</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td_bdfw_dl">业务类</td>
                        <td class="td_bdfw_xl">搬家</td>
                        <td class="td_content">信息小镇-家政服务-搬家类目，VIP帖、在线推广帖（包含精准、置顶等）首图及精准创意图片不允许带电话</td>
                        <td class="td_bdfw_clfs">信息单条删除</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_2_4">2_4.分类不当详细说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>类别</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="17" class="td_bdfw_dl">业务类</td>
                        <td class="td_bdfw_xl">代驾/司机</td>
                        <td class="td_content">标题、内容的描述应与“代驾/司机”相符，如果出现纯租车相关描述的属于类别误置</td>
                        <td class="td_bdfw_clfs">信息返回修改</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="td_bdfw_xl">拼车/顺风车</td>
                        <td class="td_content">1.拼车顺路可以拼货的可以发布，但是不能提到其他货运服务（以盈利为目的货运拼车、搬家，平时拉货等）</td>
                        <td rowspan="2" class="td_bdfw_clfs">信息返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.拼车里面提到平时拼车，描述中说明周末或节假日租车或包车的不可以发布</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">保姆</td>
                        <td class="td_content">1.招聘保姆月嫂等招聘相关信息需发布至招聘类别</td>
                        <td class="td_bdfw_clfs">信息返回修改</td>
                    </tr>
                    <tr>
                        <td rowspan="5" class="td_bdfw_xl">教育培训-通用</td>
                        <td class="td_content">1.这6种培训类别：职业培训、文体培训、IT培训、外语培训、中小学教育、婴幼儿教育 之间的小类不可混发，除非能对应上，比如it中的工程师培训，也可以发在职业培训中的其他职业培训类别，外语培训中的外语导游培训，也可以发在职业培训中的导游培训类别。这6种培训类别如果是相关信息，都可以发到学历教育大类下</td>
                        <td rowspan="5" class="td_bdfw_clfs">信息返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.其他培训—其他 可以发布任何培训类信息，包括学历教育</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.留学签证信息只允许发布在留学签证相应类别，不能发在培训类别下</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.家教信息可以发布在中小学教育和相应的类别</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.转让学习卡，学习资料信息，类别误置到二手物品，转让课程可保留在相应类别</td>
                    </tr>
                    <tr>
                        <td rowspan="5" class="td_bdfw_xl">教育培训-通用</td>
                        <td class="td_content">1.这6种培训类别：职业培训、文体培训、IT培训、外语培训、中小学教育、婴幼儿教育 之间的小类不可混发，除非能对应上，比如it中的工程师培训，也可以发在职业培训中的其他职业培训类别，外语培训中的外语导游培训，也可以发在职业培训中的导游培训类别。这6种培训类别如果是相关信息，都可以发到学历教育大类下</td>
                        <td rowspan="5" class="td_bdfw_clfs">信息返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.其他培训—其他 可以发布任何培训类信息，包括学历教育</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.留学签证信息只允许发布在留学签证相应类别，不能发在培训类别下</td>
                    </tr>
                    <tr>
                        <td class="td_content">4.家教信息可以发布在中小学教育和相应的类别</td>
                    </tr>
                    <tr>
                        <td class="td_content">5.转让学习卡，学习资料信息，类别误置到二手物品，转让课程可保留在相应类别</td>
                    </tr>
                    <tr>
                        <td rowspan="2" class="td_bdfw_xl">教育培训-职业培训</td>
                        <td class="td_content">1.标题中不可含有“加盟”描述，大篇幅阐述加盟的信息属于类别误置-应投放本地商务服务/招商加盟</td>
                        <td rowspan="2" class="td_bdfw_clfs">信息返回修改</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.驾校类信息属于类别误置-应投放本地生活服务/驾校</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">教育培训-家教</td>
                        <td class="td_content">1.教育培训机构出现招聘信息，属于类别误置，应投放招聘</td>
                        <td class="td_bdfw_clfs">信息返回修改</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_2_5">2_5.无意义内容违规说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>类别</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td_bdfw_dl" rowspan="3">业务类</td>
                        <td class="td_bdfw_xl" rowspan="4">通用</td>
                        <td class="td_content">1.宣传语：没有任何文字说明，纯电话，网址，微信号，QQ号等</td>
                        <td class="td_bdfw_clfs" rowspan="3">信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content">2.联系方式：明显虚假电话号码</td>
                    </tr>
                    <tr>
                        <td class="td_content">3.店铺无服务项目、无标题、无内容描述；内容没有任何关于服务的描述，只留下简单的联系方式或者联系人</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_2_6">2_6.信息虚假非法说明</div>
        <div class="div_body_nav_text">
            <table>
                <thead>
                    <tr>
                        <th>违规类型</th>
                        <th>类别</th>
                        <th>违规内容</th>
                        <th>处理方式</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td_bdfw_dl" rowspan="2">违法类</td>
                        <td class="td_bdfw_xl">律师</td>
                        <td class="td_content"> 如侦探、保镖、调查、暴力清债类服务及相关的侵害个人隐私行为、手机定位、监听器、偷拍设备、摄像录音笔、买卖客户资料</td>
                        <td class="td_bdfw_clfs">禁止当前类别发帖+信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">美容美体/养生保健/医疗</td>
                        <td class="td_content"> 含有尖锐湿疣、梅毒、淋病、软下疳、牛皮癣、银屑病、艾滋病、癫痫、乙型肝炎、乙肝、白癜风、红斑狼疮，十二类禁止推广的病症名称</td>
                        <td class="td_bdfw_clfs">禁止当前类别发帖+信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_dl" rowspan="14">欺诈类</td>
                        <td class="td_bdfw_xl" rowspan="4">通用</td>
                        <td class="td_content"> 1.涉枪、涉赌信息</td>
                        <td class="td_bdfw_clfs" rowspan="4">禁止全类别发帖+信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content"> 2.涉黄信息（“种子出售、百度网盘在线播放、男人必备作品、月刊隆行通信”此类言语可视为色情信息）</td>
                    </tr>
                    <tr>
                        <td class="td_content"> 3.刻假章办假证（代开工作证明、银行工资流水）、代接银行或出入境等部门回访电话，提供虚假工作证明、代开/买卖发票、提供出售住宿餐饮发票等报销凭证</td>
                    </tr>
                    <tr>
                        <td class="td_content"> 4.代人复仇、了仇、代打架信息</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl" rowspan="2">投资担保</td>
                        <td class="td_content"> 1.收购银行卡（借“银行卡包”的幌子）、办银行卡、办信用卡、买卖医保卡、信用卡/医保卡套现、信用卡垫还/代还、空卡翻倍出售、冒名信用卡、黑卡。<br />办理信用卡特征：全国各地均可办理；条件松，有无工作均可办理；选择最低还款额还款，享受银行循环信用；先消费后还款，享受最长56天的免息还款期；没有稳定收入的朋友也可以办理</td>
                        <td class="td_bdfw_clfs" rowspan="2">禁止全类别发帖+信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content"> 2.网络信贷（包含但不限于京东白条、蚂蚁花呗/借呗/微粒贷、苏宁任性付等）回收、信用贷款（含强开、提额等）、信用套现/提现</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl" rowspan="3">招商加盟</td>
                        <td class="td_content"> 1. 非法传销类服务（分销模式通过发展下线：一级会员推荐二级会员获取提成或者佣金加盟信息——描述不合格冻结），如：科士威、避风塘、隆力奇、浙江三生、通和商城、搜乐商城、微信朋友圈微商、盛大华天、民间互助理财等；-- 描述不合格冻结;出现“屈臣氏”、“维迈VMart”招商加盟的——描述不合格冻结；注：有直销牌照的可以通过</td>
                        <td class="td_bdfw_clfs" rowspan="3">禁止当前类别发帖+信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content"> 2.云在指尖、e租宝、大大集团传销信息</td>
                    </tr>
                    <tr>
                        <td class="td_content"> 3.建材加盟、特色加盟、礼品/小商品加盟、教育/母婴加盟等类别，禁止手工制作/手工活外发加工加盟信息。<br />特点：收取部分押金，用户带回家完成一定的工作量，由商家统一回收，但在回收过程中故意挑刺、刁难，诈取押金，信息中常出现“带回家做”、“手工制作”、“适合老人、小孩、主妇”等描述</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl" rowspan="2">美容美体/养生保健/医疗</td>
                        <td class="td_content"> 1.禁止发布黄牛类服务，如 医院代挂号</td>
                        <td class="td_bdfw_clfs" rowspan="2">禁止当前类别发帖+信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_content"> 2.禁止发布各类提供上门按摩及养生服务（上门推拿不行，小儿推拿可以）</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">驾校</td>
                        <td class="td_content"> 禁止发布驾校代办驾驶证，包括但不限于百分百包过、包过、包通过、包拿证、免学车、有驾驶基础学员培训、40天以内拿证等信息</td>
                        <td class="td_bdfw_clfs">禁止当前类别发帖+信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">教育培训-学历教育</td>
                        <td class="td_content">代办证件代考试信息，如 代考、免考取证、买卖答案、替考作弊、代办文凭户口身份证、代办存款证明、代写论文、代写作业等违法信息</td>
                        <td class="td_bdfw_clfs">禁止全类别发帖+信息单条删除</td>
                    </tr>
                    <tr>
                        <td class="td_bdfw_xl">教育培训-职业培训</td>
                        <td class="td_content">海员，船员的相关出国劳务，签证信息</td>
                        <td class="td_bdfw_clfs">禁止当前类别发帖+信息单条删除</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="div_bottom">
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">关于信息小镇</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">联系我们</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">友情链接</span>
        </div>
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">推广服务</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">客户服务中心</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">Copyright&nbsp;©&nbsp;&nbsp;www.infotownlet.com</span>
        </div>
    </div>
    <div class="div_rtop" id="div_rtop" onClick="GoToTop()"></div>
</body>
</html>
