@{
    Layout = "~/Areas/Business/Views/Shared/BZZX.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Areas/Business/Css/BZZX/BZZX_SY_KSDH_JBYSS.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/BZZX/BZZX_SY_KSDH_JBYSS.js")"></script>
</head>
<body>
    <div class="div_head">
        <div class="div_head_main">
            <span class="span_head_main_logo"></span>
            <span class="span_head_main_bzzx">帮助中心</span>
        </div>
    </div>
    <em class="em_split"></em>
    <div class="div_body">
        <div class="div_body_nav">
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="1"><span class="span_body_nav_inner_first">1、信息小镇举报受理与处置办法 </span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="1_1"><span class="span_body_nav_inner childnode">1_1.什么是预约</span></span>
                <span class="span_body_nav" id="1_2"><span class="span_body_nav_inner childnode">1_2.预约的好处</span></span>
                <span class="span_body_nav" id="1_3"><span class="span_body_nav_inner childnode">1_3.如何预约</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="2"><span class="span_body_nav_inner_first">2、如何举报信息</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="2_1"><span class="span_body_nav_inner childnode">2_1.如何开通预约</span></span>
                <span class="span_body_nav" id="2_2"><span class="span_body_nav_inner childnode">2_2.如何确认预约</span></span>
                <span class="span_body_nav" id="2_3"><span class="span_body_nav_inner childnode">2_3.如何查看预约</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="3"><span class="span_body_nav_inner_first">3、信息被删除如何申诉</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="3_1"><span class="span_body_nav_inner childnode">3_1.申诉流程</span></span>
                <span class="span_body_nav" id="3_2"><span class="span_body_nav_inner childnode">3_2.申诉范围</span></span>
                <span class="span_body_nav" id="3_3"><span class="span_body_nav_inner childnode">3_3.特别说明</span></span>
            </div>
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_1">1.信息小镇举报受理与处置办法</div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_1_1">1_1.什么是预约</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content">
                        &nbsp;&nbsp;&nbsp;&nbsp;预约就是您在咨询商家后，约定好服务时间和服务项目，在线免费登记，登记后商家确认，预约生效。我们会记录您所接受的服务，遇到了问题信息小镇也可保障您的权益，服务结束之后还可对服务进行评价
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_2">2.如何举报信息</div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_2_1">2_1.申诉流程</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content">
                        &nbsp;&nbsp;&nbsp;&nbsp;预约就是您在咨询商家后，约定好服务时间和服务项目，在线免费登记，登记后商家确认，预约生效。我们会记录您所接受的服务，遇到了问题信息小镇也可保障您的权益，服务结束之后还可对服务进行评价
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_3">3.信息被删除如何申诉</div>
        <div class="div_body_nav_title div_body_nav_title_child" id="div_body_nav_title_3_1">3_1.申诉流程</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td class="td_content">
                        &nbsp;&nbsp;&nbsp;&nbsp;预约就是您在咨询商家后，约定好服务时间和服务项目，在线免费登记，登记后商家确认，预约生效。我们会记录您所接受的服务，遇到了问题信息小镇也可保障您的权益，服务结束之后还可对服务进行评价
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="div_bottom">
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">关于信息小镇</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">联系我们</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">友情链接</span>
        </div>
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">推广服务</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">客户服务中心</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">Copyright&nbsp;©&nbsp;&nbsp;www.infotownlet.com</span>
        </div>
    </div>
    <div class="div_rtop" id="div_rtop" onClick="GoToTop()"></div>
</body>
</html>
