@{
    ViewBag.Title = "BZZX_SY_KSDH_XSSYZN";
    Layout = "~/Areas/Business/Views/Shared/_ListLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/BZZX/BZZX_SY_KSDH_XSSYZN.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/BZZX/BZZX_SY_KSDH_XSSYZN.js")"></script>
</head>
<body>
    <div class="div_head">
        <div class="div_head_main">
            <span class="span_head_main_logo"></span>
            <span class="span_head_main_bzzx">帮助中心</span>
        </div>
    </div>
    <em class="em_split"></em>
    <div class="div_body">
        <div class="div_body_nav">
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="1"><span class="span_body_nav_inner">1、成为注册用户</span></span>
                <span class="span_body_nav" id="2"><span class="span_body_nav_inner">2、如何发布信息</span></span>
                <span class="span_body_nav" id="3"><span class="span_body_nav_inner">3、如何管理信息</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="4"><span class="span_body_nav_inner">4、如何查找信息</span></span>
                <span class="span_body_nav" id="5"><span class="span_body_nav_inner">5、信息审核规范</span></span>
                <span class="span_body_nav" id="6"><span class="span_body_nav_inner">6、买家入门</span></span>
            </div>
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_1">1.成为注册用户<div class="div_fhdb"><span class="span_fhdb_img"></span><span class="span_fhdb">返回顶部</span></div></div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td colspan="2" class="td_content">首先，在任意页面的上部点击“注册”，跳转到注册新用户的页面，按照提示填写好个人资料，阅读并同意服务条款后点击“同意服务条款并注册”，在注册资料填写正确的前提下，会提示您注册成功。您就成为信息小镇的用户了！ 注册成为用户后，可以直接进行身份认证，可以获得相应的积分和信用。 </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_2">2.如何发布信息<div class="div_fhdb"><span class="span_fhdb_img"></span><span class="span_fhdb">返回顶部</span></div></div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td colspan="2" class="td_content">登录信息小镇后，在首页的又上方有个免费发布信息按钮，点击进入，即可发布信息。 </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_3">3.如何管理信息<div class="div_fhdb"><span class="span_fhdb_img"></span><span class="span_fhdb">返回顶部</span></div></div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td colspan="2" class="td_content">登录信息小镇后，点击我的中心，在我的信息中即可管理信息。 </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_4">4.如何查找信息<div class="div_fhdb"><span class="span_fhdb_img"></span><span class="span_fhdb">返回顶部</span></div></div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td colspan="2" class="td_content">选择分类，搜索关键字，对查找的信息进行筛选 </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_5">5.信息审核规范<div class="div_fhdb"><span class="span_fhdb_img"></span><span class="span_fhdb">返回顶部</span></div></div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td colspan="2">
                        <span class="span_body_nav_text_title" style="font-weight:bold;">基本原则和适用范围</span>
                    </td>
                </tr>
                <tr>
                    <td class="td_title">（一）</td>
                    <td class="td_content">为了提高信息小镇的信息质量，打击违法和虚假信息，保护信息小镇用户的根本利益和体验，结合实际经验，制定本规定。</td>
                </tr>
                <tr>
                    <td class="td_title">（二）</td>
                    <td class="td_content">信息本身的质量是我们判定一切的基本出发点和目标。而所有的账号，手机号，IP以及本规定提到的各种处理方法都是保证信息真实性的一种手段。信息小镇从根本上鼓励用户的发帖行为。</td>
                </tr>
                <tr>
                    <td class="td_title">（三）</td>
                    <td class="td_content">信息质量的根本判定标准是看该信息是不是绝大多数信息小镇浏览用户所需求的，基本要求是：穷极相关性、完整性、真实性、合法性。</td>
                </tr>
                <tr>
                    <td class="td_title">（四）</td>
                    <td class="td_content">所有infotownlet.com的免费发帖用户都适用于本规定。信息小镇用户发表的评论不在此范围内。</td>
                </tr>
                <tr>
                    <td class="td_title">（五）</td>
                    <td class="td_content">对于信息小镇的商业付费用户，除非公司有额外规定，原则上参照本规定。</td>
                </tr>
                <tr>
                    <td class="td_title">（六）</td>
                    <td class="td_content">根据会员的信用级别不一样、各城市的发展不一样，不同的类别实行不同的审贴规则。但任何规则跟本规定的相关条款冲突的，以本条款为依据。</td>
                </tr>
                <tr>
                    <td class="td_title">（七）</td>
                    <td class="td_content">对于本规定正式生效前的发布的信息，如果当时已经通过我们系统规定的，不做任何处理。但如果按照现在的规定，认为是不违规，或者可以从轻处理的。按照本规定执行。</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span class="span_body_nav_text_title" style="font-weight:bold;">审核信息的原因判定</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span class="span_body_nav_text_title" style="font-weight:bold;">（一）无意义信息</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="td_content">
                        <span class="span_red">判定标准：</span><br />
                        1、在标题和内容里堆积关键词，严重影响用户浏览体验的信息。<br />
                        2、标题、内容、图片之间没有任何关联，明显偏离主题的信息。<br />
                        3、主题不明或描述不清，可能会引起读者过多猜测的信息。<br />
                        4、无法确定意图或影响用户浏览的信息，如：输入无意义的文字、符号等。<br />
                        <span class="span_green">处理办法：</span><br />
                        此类信息一律删除
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span class="span_body_nav_text_title" style="font-weight:bold;">（二）灌水信息</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="td_content">
                        <span class="span_red">判定标准：</span><br />
                        同一用户注册多个账户在一个或多个城市发布大量相同性质的信息，则视为灌水信息。<br />
                        <span class="span_green">处理办法：</span><br />
                        只保留同一账户下不同的信息，锁定其余账户并删除锁定账户下的所有信息
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <span class="span_body_nav_text_title" style="font-weight:bold;">（三）重复信息</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="td_content">
                        <span class="span_red">判定标准：</span><br />
                        同一账户或同一手机在一个自然天内发布的多条信息中，只变动对同一事、物的描述或根本没有任何变动的信息，一律删除。<br />
                        <span class="span_green">处理办法：</span><br />
                        一个自然天内同一张图片用来发布多条信息，保留最新发布的一张，其他图片删除
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <span class="span_body_nav_text_title" style="font-weight:bold;">（四）非法/虚假信息</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="td_content">
                        <span class="span_green">虚假信息</span><br />
                        <span class="span_red">判定标准：</span><br />
                        1、提供的电话、QQ、Eamil等联系方式根本不存在，信息一律删除。<br />
                        2、标题、内容、图片（如在二手手机里发布美女图片）不相符或是物品的图片与实物严重不符，删除信息或者图片。<br />
                        3、其他刻意隐瞒事实的行为，情节严重者直接删除信息。<br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_6">6.买家入门<div class="div_fhdb"><span class="span_fhdb_img"></span><span class="span_fhdb">返回顶部</span></div></div>
        <div class="div_body_nav_text">

        </div>
    </div>
    <div class="div_bottom">
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">关于信息小镇</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">联系我们</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">友情链接</span>
        </div>
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">推广服务</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">客户服务中心</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">Copyright&nbsp;©&nbsp;&nbsp;www.infotownlet.com</span>
        </div>
    </div>
</body>
</html>
