@{
    ViewBag.Title = "BZZX_SY_KSDH_XXFBYSC";
    Layout = "~/Areas/Business/Views/Shared/Other.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/BZZX/BZZX_SY_KSDH_XXFBYSC.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/BZZX/BZZX_SY_KSDH_XXFBYSC.js")"></script>
</head>
<body>
    <div class="div_head">
        <div class="div_head_main">
            <span class="span_head_main_logo"></span>
            <span class="span_head_main_bzzx">帮助中心</span>
        </div>
    </div>
    <em class="em_split"></em>
    <div class="div_body">
        <div class="div_body_nav">
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="1"><span class="span_body_nav_inner">1、信息在列表不显示</span></span>
                <span class="span_body_nav" id="2"><span class="span_body_nav_inner">2、提示信息相识或重复</span></span>
                <span class="span_body_nav" id="3"><span class="span_body_nav_inner">3、如何修改/删除信息?</span></span>
            </div>
            <div class="div_body_nav_inner">
                <span class="span_body_nav" id="4"><span class="span_body_nav_inner">4、什么是刷新?</span></span>
            </div>
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_1">1.信息为什么不显示？</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td colspan="2" class="td_content">
                        1、发布的信息违反《信息小镇信息质量控制规定》已被删除，具体查看用户中心我发布的信息中的已删除信息。<br />
                        2、如果信息含有敏感词汇、特殊字符或其他信息小镇版规限制的内容，就需要工作人员审核通过后才能显示（审核时间为24小时之内）。<br />
                        3、修改过的信息时间会更新但在列表中的位置不会变。如果想信息再次排到该类别列表页面的靠前位置，您可以尝试“<span class="span_content_sx" id="span_content_sx">刷新</span>”。<br />
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_2">2.如果提示您发布的信息相似或者重复，有以下几种情况：</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td colspan="2" class="td_content">
                        1、同一账户或同一手机在一个自然天内发布的多条信息中，只变动对同一事、物的描述或根本没有任何变动的信息，一律删除。<br />
                        2、一个自然天内同一张图片用来发布多条信息，保留最新发布的一张，其他图片删除。 根据《信息小镇信息质量控制规定》的相关规则，只要发布过相同或相近的信息（包括已删除信息）都不能再次发布，建议您修改信息。 <br />
                        <span class="span_green">建议您重新修改标题或信息内容再发布。</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_3">3.如何修改/删除信息？</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td colspan="2" class="td_content">
                        在用户中心修改和/删除信息。<br />
                        操作如下，在信息小镇登录您的账号，点击网页右上角的“个人中心”，在新页面的左侧点击“显示中的信息”，然后在右侧找到需要修改或删除的信息标题，点击后面的修改/删除按钮即可。<br/>
                    </td>
                </tr>
            </table>
        </div>
        <div class="div_body_nav_title" id="div_body_nav_title_4">4.什么是刷新?</div>
        <div class="div_body_nav_text">
            <table>
                <tr>
                    <td colspan="2" class="td_title">（一）产品介绍</td>
                </tr>
                <tr>
                    <td colspan="2" class="td_content">
                        刷新推广分为会员刷新、非会员刷新，通过刷新操作，会更新帖子的发帖时间，让帖子在相应展示区域排名更靠前。<br />
                        刷新推广有哪些优势？价格低廉，每次低至1元；更加灵活，刷新时间由你定；更加高效，曝光量倍增。<br />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="td_title">（二）使用流程</td>
                </tr>
                <tr>
                    <td colspan="2" class="td_content">
                        第一步，登录信息小镇，进入vip中心<br />
                        第二步，进入帖子列表页，找到“刷新”入口<br />
                        第三步，点击“刷新”，可以根据自己需求，灵活设置预约刷新或者进行立即刷新<br />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="div_bottom">
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">关于信息小镇</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">联系我们</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">友情链接</span>
        </div>
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">推广服务</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">客户服务中心</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">Copyright&nbsp;©&nbsp;&nbsp;www.infotownlet.com</span>
        </div>
    </div>
    <div class="div_rtop" id="div_rtop" onClick="GoToTop()"></div>
</body>
</html>
