.div_head {
    width: 900px; 
    text-align: center;
    height: 48px;
}

.div_head_inner {
    width: 600px;
    margin-left: 16%;
}

.divstep {
    width: 196px;
    text-align: center;
    height: 48px;
    float: left;
    cursor: default;
}

.spanstep {
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 40px;
    color: #cccccc;
}

.emstep {
    width: 196px;
    height: 2px;
    float: left;
    background: #cccccc;
}

.div_content {
    width: 900px;
    margin-top: 20px;
    text-align: center;
}

.table {
    margin-left: 26%;
}

.table tr {
    height: 80px;
}

.table tr td {
    vertical-align: middle !important;
}

.input_content {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 34px;
    padding: 4px 12px;
    display: inline-block;
    cursor: text;
}

:-ms-input-placeholder.input_content {
    color: #999;
}

.Info {
    font-family: 微软雅黑 !important;
    vertical-align: middle !important;
    text-align: left !important;
}

.div_csyj {
   
}

.span_yx {
    cursor: pointer;
    font-size: 18px;
    color: #595757;
    line-height: 1.8;
    font-weight: 700;
}

.span_yx:hover {
    color: #bc6ba6;
}

.span_yxrz {
    color: #000;
    font-size: 18px;
    font-weight: 700;
}