@{
    ViewBag.Title = "HFCZ";
    Layout = "~/Areas/Business/Views/Shared/_ListLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/HFCZ/HFCZ.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/HFCZ/HFCZ.js")"></script>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
