.file {float: left;width: 195px;height: 145px;opacity: 0;cursor: pointer;}

.div_upload {width: 195px;height: 145px;display: inline-block;border: 1px solid #cccccc;background-image: url(../images/upload_small2.png);}

.imgTip {width: 18px;height: 18px;margin-right: 2px;}

.li_img {display: inline-block;width: 150px;height: 150px;float: left;margin-right: 10px;}

.divImg {width: 150px;height: 120px;display: inline-block;overflow: hidden;cursor: move;}

.div_toolbar_wrap {width: 150px;height: 30px;display: none;display: block;bottom: 0;left: 0;background-color: #eeeff1;}

.toolbar {position: absolute;left: 10px;right: 0;bottom: 0;width: 100%;height: 30px;z-index: 901;cursor: default;}

.edit {background-color: #bc6ba6;width: 40px;height: 24px;margin-top: 3px;font-size: 14px;color: #ffffff;padding: 1px 6px;display: inline-block;cursor: pointer;float: right;margin-right: 5px;}

.edit:hover {background-color: #ad5b97;}

.delete {background-color: #bc6ba6;width: 40px;height: 24px;margin-top: 3px;font-size: 14px;color: #ffffff;padding: 1px 6px;display: inline-block;cursor: pointer;float: right;margin-right: 0;}

.delete:hover {background-color: #ad5b97;}

#editImgWindow {display: none;width: 936px;height: 562px;position: fixed;top: 50%;left: 50%;z-index: 1101;background: #fff;margin-top: -290px;margin-left: -467px;}

#editImgHead {width: 100%;height: 65px;position: absolute;top: 0;left: 0;font-size: 14px;cursor: default;}

#editImgHead span {font-size: 16px;font-weight: 700;position: absolute;top: 20px;left: 25px}

#editImgHead div {height: 17px;width: 17px;position: absolute;right: 25px;top: 25px;background-image: url(../images/close.png);cursor: pointer}

#canvasFrame {z-index: 1001;position: absolute;left: 75.5px;top: 56px;width: 785px;height: 435px;background-color: #E1E1E1;}

#canvas {left: 0px;top: 0px;position: absolute;}

#toolBar {position: absolute;left: 76px;top: 495px;width: 785px;height: 60px;}

#editToolBar {position: absolute;left: 50%;margin-left: -60px;}

.editToolButton {height: 60px;width: 60px;display: inline-block;cursor: pointer;color: gray;}

.editToolButton span {display: inline-block;bottom: 3px;left: 15px}

.editButtonIcon {height: 30px;width: 30px;margin-left: 5px;margin-bottom: 5px;}

.div_shadow {display: none;background-color: #000;opacity: 0.5;position: fixed;top: 0;left: 0;z-index: 999;width: 100%;height: 100%;}
