











.img_SNSB {
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: none !important;
    margin-right: 5px;
}

.liSNSB {
    display: inline-block;
    width: 105px;
    height: 30px;
    text-align: left;
    margin-top: 4px;
    cursor: pointer;
}







.span_spaninput {
    border: 1px solid #cccccc;
    display: inline-block;
    width: 150px;
    height: 34px;
    border-radius: 4px;
    font-size: 14px;
}








































