@{
    ViewBag.Title = "CL_GCC";
    Layout = "~/Areas/Business/Views/Shared/HTFB.cshtml";
}
@section Section_Head {
    <link href="@Url.Content("~/Areas/Business/Css/HTFB/CL/CL_GCC.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/HTFB/CL/CL_GCC.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/HTFB/CL/CL_GCCYZ.js")"></script>
}
@section Section_Body {
    <div id="myTabContent" class="div_content">
        <div id="divLeiBXZ" class="div_split" style="display: block; text-align: left">
            <span class="span_split">类别选择</span>
            <em class="em_split"></em>
        </div>
        <div id="divGCCLB" class="div_row">
            <div class="div_row_left" style="margin-left: 128px;">
                <span class="span_required">*</span>
                <span class="spanFWCZ">类别</span>
            </div>
            <div class="div_row_right">
                <div class="div_radio" id="div_lb_clmm">
                    <img class="img_radio" id="img_lb_clmm" /><label class="label_radio">车辆买卖</label>
                </div>
                <div class="div_radio" id="div_lb_pj">
                    <img class="img_radio" id="img_lb_pj" /><label class="label_radio">配件</label>
                </div>
                <div class="div_radio" id="div_lb_wxby">
                    <img class="img_radio" id="img_lb_wxby" /><label class="label_radio">维修/保养</label>
                </div>
            </div>
            <div id="divGCCLBTip" class="Warn"></div>
        </div>
        <div id="divJBXX" class="div_split" style="display: block; text-align: left">
            <span class="span_split">基本信息</span>
            <em class="em_split"></em>
        </div>
        <div id="divGCCCX" class="div_row" style="z-index: 999">
            <div class="div_row_left" style="margin-left: 128px;">
                <span class="span_required">*</span>
                <span class="spanFWCZ">车型</span>
            </div>
            <div class="div_row_right">
                <div id="divCXText" class="div_select_out SRK" style="position: relative; z-index: 998;">
                    <div id="divCXSpan" class="div_select_in" style="border: none; margin-top: 6px;">
                        <span id="spanCX" class="span_select spaninput_fontcolor" style="margin-top: 0">请选择车型</span>
                        <div class="span_select_arrow"></div>
                    </div>
                    <div id="divCX" class="div_bqss" style="display: none;">
                        <div class="div_bqss_head">
                            <input class="input_content" type="text" placeholder="输入名称快速搜索" style="cursor: text" />
                            <input class="btn btn-info" type="button" value="快速搜索" />
                        </div>
                        <div class="div_bqss_body">
                            <div class="div_bqss_body_mc" id="div_content_gccmc">
                            </div>
                            <div class="div_bqss_body_bq" id="div_content_gccbq">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="divGCCCXTip" class="Warn" style="z-index: 997; position: relative;"></div>
        </div>
        <div id="divGCCPP" class="div_row" style="z-index: 996; display: none">
            <div class="div_row_left" style="margin-left: 128px;">
                <span class="span_required">*</span>
                <span class="spanFWCZ">品牌</span>
            </div>
            <div class="div_row_right">
                <div id="divPPText" class="div_select_out SRK" style="position: relative; z-index: 995;">
                    <div id="divPPSpan" class="div_select_in" style="border: none; margin-top: 6px;">
                        <span id="spanPP" class="span_select spaninput_fontcolor" style="margin-top: 0">请选择品牌</span>
                        <div class="span_select_arrow"></div>
                    </div>
                    <div id="divPP" class="div_bqss" style="display: none;">
                        <div class="div_bqss_head">
                            <input class="input_content" type="text" placeholder="输入名称快速搜索" style="cursor: text" />
                            <input class="btn btn-info" type="button" value="快速搜索" />
                        </div>
                        <div class="div_bqss_body">
                            <div class="div_bqss_body_mc" id="div_bqss_body_mc">
                            </div>
                            <div class="div_bqss_body_bq" id="div_bqss_body_bq">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="divGCCPPTip" class="Warn" style="z-index: 994; position: relative;"></div>
        </div>
        <div id="divDW" class="div_row" style="z-index: 993;">
            <div class="div_row_left" style="margin-left: 128px;">
                <span class="span_required">*</span>
                <span class="spanFWCZ">吨位</span>
            </div>
            <div class="div_row_right">
                <span id="spanDW" class="span_spaninput SRK" style="display: inline-block;">
                    <input class="input_spaninput spaninput_fontcolor" id="DW" maxlength="9" column="DW" type="text" style="width: 100px" />
                    <span class="spaninput_fontcolor" style="margin-left: 15px;">吨</span>
                </span>
            </div>
            <div id="divDWTip" class="Warn" style="z-index: 992; position: relative;"></div>
        </div>
        <div id="divXSS" class="div_row" style="z-index: 991;">
            <div class="div_row_left" style="margin-left: 114px;">
                <span class="span_required">*</span>
                <span class="spanFWCZ">小时数</span>
            </div>
            <div class="div_row_right">
                <span id="spanXSS" class="span_spaninput SRK" style="display: inline-block;">
                    <input class="input_spaninput spaninput_fontcolor" id="XSS" maxlength="9" column="XSS" type="text" style="width: 100px" />
                    <span class="spaninput_fontcolor">小时</span>
                </span>
            </div>
            <div id="divXSSTip" class="Warn" style="z-index: 990; position: relative;"></div>
        </div>
        <div id="divGCCCCNF" class="div_row" style="z-index: 989;">
            <div class="div_row_left" style="margin-left: 101px;">
                <span class="span_required">*</span>
                <span class="spanFWCZ">出厂年份</span>
            </div>
            <div class="div_row_right">
                <div id="divCCNFText" class="div_select_out SRK" style="z-index: 988;">
                    <div id="divCCNFSpan" class="div_select_in" style="border: none; margin-top: 6px;">
                        <span id="spanCCNF" class="span_select spaninput_fontcolor" style="margin-top: 0">请选择出厂年份</span>
                        <div class="span_select_arrow"></div>
                    </div>
                    <div id="divCCNF" class="div_select_dropdown" style="margin-top: -7px; margin-left: -1px;">
                    </div>
                </div>
                <div id="divCCYFText" class="div_select_out SRK" style="z-index: 987;">
                    <div id="divCCYFSpan" class="div_select_in" style="border: none; margin-top: 6px;">
                        <span id="spanCCYF" class="span_select spaninput_fontcolor" style="margin-top: 0">请选择出厂月份</span>
                        <div class="span_select_arrow"></div>
                    </div>
                    <div id="divCCYF" class="div_select_dropdown" style="margin-top: -7px; margin-left: -1px;">
                    </div>
                </div>
            </div>
            <div id="divGCCCCNFTip" class="Warn" style="z-index: 986; position: relative;"></div>
        </div>
        <div id="divJG" class="div_row" style="z-index: 985;">
            <div class="div_row_left" style="margin-left: 101px;">
                <span class="span_required">*</span>
                <span class="spanFWCZ">转让价格</span>
            </div>
            <div class="div_row_right">
                <span id="spanJG" class="span_spaninput SRK" style="display: inline-block;">
                    <input class="input_spaninput spaninput_fontcolor" id="JG" maxlength="9" column="JG" type="text" style="width: 100px" />
                    <span class="spaninput_fontcolor">万元</span>
                </span>
            </div>
            <div id="divJGTip" class="Warn" style="z-index: 984; position: relative;"></div>
        </div>
        <div id="divSZQY" class="div_row" style="z-index: 983;">
            <div class="div_row_left" style="margin-left: 101px;">
                <span class="span_required">*</span>
                <span class="spanFWCZ">交易地点</span>
            </div>
            <div class="div_row_right">
                <div id="divQYText" class="div_select_out SRK">
                    <div id="divQYSpan" class="div_select_in" style="border: none; margin-top: 6px;">
                        <input type="hidden" id="QYCode" />
                        <span id="spanQY" class="span_select spaninput_fontcolor" style="margin-top: 0">请选择区域</span>
                        <div class="span_select_arrow"></div>
                    </div>
                    <div id="divQY" class="div_select_dropdown" style="margin-top: -7px; margin-left: -1px;">
                    </div>
                </div>
                <div id="divDDText" class="div_select_out SRK">
                    <div id="divDDSpan" class="div_select_in" style="border: none; margin-top: 6px;">
                        <span id="spanDD" class="span_select spaninput_fontcolor" style="margin-top: 0">请选择地段</span>
                        <div class="span_select_arrow"></div>
                    </div>
                    <div id="divDD" class="div_select_dropdown" style="margin-top: -7px; margin-left: -1px;">
                    </div>
                </div>
            </div>
            <div id="divSZQYTip" class="Warn" style="z-index: 982; position: relative;"></div>
        </div>
        <div id="divXXXX" class="div_split" style="display: block; text-align: left;">
            <span class="span_split">详细信息</span>
            <em class="em_split"></em>
        </div>
        <div id="divFYBT" class="div_row" style="margin-top: 22px;">
            <div class="div_row_left" style="margin-left: 128px;">
                <span class="span_required">*</span>
                <span id="spanFYBT">标题</span>
            </div>
            <div class="div_row_right">
                <input id="BT" maxlength="50" column="BT" class="input_input SRK"  type="text" placeholder="吸引人的标题可让更多的人看您的信息喔" />
                <div id="divBTTip"></div>
            </div>
        </div>
        <div id="divBCMS" class="div_row" style="height: 253px; z-index: 981;">
            <div class="div_row_left" style="height: 170px; vertical-align: top;">
                <span class="span_required" style="vertical-align: top">*</span>
                <span id="spanBCMS" style="vertical-align: top">补充描述</span>
            </div>
            <div class="div_row_right">
                <script id="BCMS" type="text/plain" style="width: 594px; height: 200px; display: inline-block;">
                </script>
                <div id="divBCMSTip" class="Warn"></div>
            </div>
        </div>
        <div id="divFWZP" class="div_row_zp">
            <div class="div_row_left" style="height: 170px; vertical-align: top;">
                <span class="span_required" style="vertical-align: top">*</span>
                <span id="spanFWZP" style="vertical-align: top">上传照片</span>
            </div>
            <div class="div_row_right">
                <div id="div_upload" class="div_upload">
                    <form action="" enctype="multipart/form-data" id="myform" method="post">
                        <input id="input_upload" unselectable="on" type="file" multiple="multiple" class="file" />
                    </form>
                </div>
                <div style="margin-left: 214px; font-size: 14px; color: #999999;">
                    <span>最多可上传16张，可多选上传，最大10mb。有图可使浏览量增加3倍，并会在推荐位显示。</span>
                </div>
                <div id="divTPTip" style="margin-top: 10px; margin-left: 210px;"></div>
            </div>
        </div>
        <div id="divFWZPValue" class="div_row_zp" style="display: none; text-align: left;">
            <div class="div_row_left" style="height: 170px; vertical-align: top;">
                <span class="span_required"></span>
                <span id="spanFWZP" style="width: 56px; display: inline-block;"></span>
            </div>
            <div id="divImgs1" class="div_row_right" style="display: inline-block; width: 670px;">
                <ul id="ulImgs1" class="ulImgs" style="padding-left: 0px;"></ul>
            </div>
            <div class="div_row_left" style="height: 170px; vertical-align: top;">
                <span class="span_required"></span>
                <span id="spanFWZP" style="width: 56px; display: inline-block;"></span>
            </div>
            <div id="divImgs2" class="div_row_right" style="display: inline-block; width: 670px;">
                <ul id="ulImgs2" class="ulImgs" style="padding-left: 0px;"></ul>
            </div>
        </div>
        <div id="divLXRXX" class="div_split" style="display: block; text-align: left;">
            <span class="span_split">联系人信息</span>
            <em class="em_split"></em>
        </div>
        <div id="divLXR" class="div_row" style="z-index: 993">
            <div class="div_row_left" style="margin-left: 114px;">
                <span class="span_required">*</span>
                <span id="spanLXDH">联系人</span>
            </div>
            <div class="div_row_right">
                <input id="LXR" column="LXR" class="input_input SRK" type="text" placeholder="请输入联系人" />
                <div id="divLXRTip"></div>
            </div>
        </div>
        <div id="divLXDH" class="div_row" style="z-index: 993">
            <div class="div_row_left">
                <span class="span_required">*</span>
                <span id="spanLXDH">联系电话</span>
            </div>
            <div class="div_row_right">
                <input id="LXDH" maxlength="11" column="LXDH" class="input_input SRK" type="text" placeholder="请输入联系电话" />
                <div id="divLXDHTip"></div>
            </div>
        </div>
        <div id="divQQ" class="div_row" style="margin-top: -12px;" style="z-index: 993">
            <div class="div_row_left" style="margin-left: 133px;">
                <span class="span_required"></span>
                <span id="spanQQ">QQ</span>
            </div>
            <div class="div_row_right">
                <input column="QQ" class="input_input SRK" type="text" placeholder="请输入微信号" />
            </div>
        </div>
        <div id="divFB" class="div_split" style="display: block; text-align: center; margin-top: 40px;">
            <input type="button" class="btn btn-info input_text" style="height: 50px; font-size: 24px;" id="btnFB" value="发布" />
        </div>
    </div>
}