.span_spaninput {
    border: 1px solid #cccccc;
    display: inline-block;
    width: 150px;
    height: 34px;
    border-radius: 4px;
    font-size: 14px;
}

.div_clys {
    width: 70px;
    height: 35px;
    border: 1px solid #cccccc;
    display: inline-block;
    padding: 5px 6px;
    border-radius: 4px;
    position: relative;
    margin-right: 10px;
}

    .div_clys:hover {
        background-color: #87B53B;
        cursor: pointer;
    }

.span_clys_left {
    width: 18px;
    height: 18px;
    display: inline-block;
    border: 1px solid #cccccc;
}

.span_clys_right {
    display: inline-block;
    left: 34px;
    bottom: 10px;
    position: absolute;
    font-size: 14px;
}
