@{
    ViewBag.Title = "ZHMM";
    Layout = "~/Areas/Business/Views/Shared/_ListLayout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/ZHMM.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/ZHMM.js")"></script>
</head>
<body>
    <div>
        <table class="table" style="width: 600px;">
            <tr>
                <td class="headtd">
                    <div style="width: 432px;">
                        <div class="zhmm_divstep" id="divQRZH">
                            <span class="zhmm_spanstep" id="spanQRZH">确认账户</span>
                            <em class="zhmm_emstep" id="emQRZH"></em>
                        </div>
                        <div class="zhmm_divstep" id="divYZZH">
                            <span class="zhmm_spanstep" id="spanYZZH">验证账户</span>
                            <em class="zhmm_emstep" id="emYZZH"></em>
                        </div>
                        <div class="zhmm_divstep" id="divCZMM">
                            <span class="zhmm_spanstep" id="spanCZMM">重置密码</span>
                            <em class="zhmm_emstep" id="emCZMM"></em>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="myTabContent" class="tab-content">
        <div id="divFirst" style="display: block">
            <table class="table" style="width: 600px;">
                <tr>
                    <td style="width: 50%"><input type="text" class="form-control input_text" id="YHM" column="YHM" placeholder="用户名/手机号"></td>
                    <td class="Info" id="YHMInfo" style="width: 50%"></td>
                </tr>
                <tr>
                    <td>
                        <input id="TXYZM" type="text" style="width: 284px" class="form-control input_text" placeholder="图片验证码">
                        <img id="imgTXYZM" style="height: 34px; vertical-align: top; cursor:pointer" title="看不清？点击图片换一张" src="@Url.Content("~/Areas/Business/Aspx/png.aspx")" />
                    </td>
                    <td class="Info" id="TXYZMInfo" style="width: 50%"></td>
                </tr>
                <tr>
                    <td><input type="button" class="btn btn-info input_text" id="btnFirst" value="下一步" /></td>
                </tr>
            </table>
        </div>
        <div id="divSecond" style="display: none">
            <table class="table" style="width: 600px;">
                <tr>
                    <td>
                        <input type="text" id="SJ" class="form-control input_text" style="width: 266px;" placeholder="请输入手机号">
                        <input type="button" class="btn btn-info" id="btnHQYZM" value="获取验证码"/>
                    </td>
                    <td class="Info" id="SJInfo" style="width: 50%"></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input_text" id="YZM" placeholder="请输入验证码"></td>
                    <td class="Info" id="YZMInfo" style="width: 50%"></td>
                </tr>
                <tr>
                    <td><input type="button" class="btn btn-info input_text" id="btnSecond" value="下一步"/></td>
                </tr>
            </table>
        </div>
        <div id="divThird" style="display: none">
            <table class="table" style="width: 600px;">
                <tr>
                    <td>
                        <input type="password" id="MM" class="form-control input_text" placeholder="新密码">
                    </td>
                    <td class="Info" id="MMInfo" style="width: 50%"></td>
                </tr>
                <tr>
                    <td><input type="password" id="QRMM" class="form-control input_text" placeholder="确认新密码"></td>
                    <td class="Info" id="QRMMInfo" style="width: 50%"></td>
                </tr>
                <tr>
                    <td><input type="button" class="btn btn-info input_text" id="btnThird" value="确定" /></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
