@{
    Layout = "~/Areas/Business/Views/Shared/QT.cshtml";
}
@section Section_Head {
    <link href="@Url.Content("~/Areas/Business/Css/HTGL/WDZH/ZHMM.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/HTGL/WDZH/ZHMM.js")"></script>
}
@section Section_Body {
    <div class="div_head">
        <div class="div_head_main">
            <span class="span_head_main_logo"></span>
            <span class="span_head_main_bzzx">找回密码</span>
        </div>
    </div>
    <em class="em_split"></em>
    <div class="div_head_inner">
        <div class="divstep" id="divQRZH">
            <span class="spanstep" id="spanQRZH">确认账户</span>
            <em class="emstep" id="emQRZH"></em>
        </div>
        <div class="divstep" id="divYZZH">
            <span class="spanstep" id="spanYZZH">验证账户</span>
            <em class="emstep" id="emYZZH"></em>
        </div>
        <div class="divstep" id="divCZMM">
            <span class="spanstep" id="spanCZMM">重置密码</span>
            <em class="emstep" id="emCZMM"></em>
        </div>
    </div>
    <div id="myTabContent" class="div_content">
        <div id="divFirst" style="display: block">
            <table class="table" style="width: 600px;">
                <tr>
                    <td style="width: 50%"><input type="text" class="form-control input_text" id="YHM" column="YHM" placeholder="用户名/手机号"></td>
                    <td class="Info" id="YHMInfo" style="width: 50%"></td>
                </tr>
                <tr>
                    <td>
                        <input id="TXYZM" type="text" style="width: 284px" class="form-control input_text" placeholder="图片验证码">
                        <img id="imgTXYZM" style="height: 34px; vertical-align: top; cursor: pointer" title="看不清?点击图片换一张" src="@Url.Content("~/Areas/Business/Aspx/png.aspx")" />
                    </td>
                    <td class="Info" id="TXYZMInfo" style="width: 50%"></td>
                </tr>
                <tr>
                    <td><input type="button" class="btn btn-info input_text" id="btnFirst" value="下一步" /></td>
                </tr>
            </table>
        </div>
        <div id="divSecond" style="display: none">
            <table class="table" style="width: 600px;">
                <tr>
                    <td>
                        <input type="text" id="SJ" class="form-control input_text" style="width: 266px;" placeholder="请输入手机号">
                        <input type="button" class="btn btn-info" id="btnHQYZM" value="获取验证码" />
                    </td>
                    <td class="Info" id="SJInfo" style="width: 50%"></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control input_text" id="YZM" placeholder="请输入验证码"></td>
                    <td class="Info" id="YZMInfo" style="width: 50%"></td>
                </tr>
                <tr>
                    <td><input type="button" class="btn btn-info input_text" id="btnSecond" value="下一步" /></td>
                </tr>
            </table>
        </div>
        <div id="divThird" style="display: none">
            <table class="table" style="width: 600px;">
                <tr>
                    <td>
                        <input type="password" id="MM" class="form-control input_text" placeholder="新密码">
                    </td>
                    <td class="Info" id="MMInfo" style="width: 50%"></td>
                </tr>
                <tr>
                    <td><input type="password" id="QRMM" class="form-control input_text" placeholder="确认新密码"></td>
                    <td class="Info" id="QRMMInfo" style="width: 50%"></td>
                </tr>
                <tr>
                    <td><input type="button" class="btn btn-info input_text" id="btnThird" value="确定" /></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="div_bottom">
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">关于风铃网</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">联系我们</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">友情链接</span>
        </div>
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">推广服务</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">客户服务中心</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">Copyright&nbsp;©&nbsp;&nbsp;www.915fl.com</span>
        </div>
    </div>
}