body {width: 100%;height: 100%;overflow-x: hidden;background-color: #eeeff1;}

/*首页_头部*/
.div_head {background-color: #ffffff;width: 1200px;height: 100px;padding-top: 10px;}

/*首页_头部_左侧*/
.div_head_left {float: left;width: 120px;margin-top: 5px;}
.div_head_left .img_head_left_logo {width: 100%;text-align: center;color: white;font-size: 25px;float: left;width: 155px;height: 55px;}

/*首页_头部_右侧*/
.div_head_right {float: right;width: 1080px;margin-top: 5px;}
.div_head_right .ul_head_right {width: 450px;height: 80px;display: block;float: left;margin-top: 20px;vertical-align: middle;}
.div_head_right .ul_head_right .li_head_right {width: 130px;color: white;height: 40px;font-size: 16px;display: inline;margin-left: 30px;cursor: pointer;}
.div_head_right .div_head_right_ss {display: inline-block;width: 600px;height: 80px;float: left;margin-left: 200px;}
.div_head_right .div_head_right_ss .span_spaninput_out {border: none;display: block;width: 500px;height: 40px;font-size: 14px;margin-top: 10px;}
.div_head_right .div_head_right_ss .span_spaninput_out .span_spaninput_in {border: 1px solid #5bc0de;display: inline-block;width: 410px;height: 40px;font-size: 14px;padding: 6px 12px;}
.div_head_right .div_head_right_ss .span_head_right_ss {font-size: 12px;color: #999;cursor: pointer;margin-left: 4px;}
.div_head_right .div_head_right_ss .span_head_right_ss:hover {color: #ef6100;}
.div_head_right .div_head_right_ss .span_spaninput_out .span_ss {width: 90px;height: 40px;background: #5bc0de;float: right;display: inline-block;color: #fff;font-size: 16px;padding: 6px 26px;cursor: pointer;}
.div_head_right .span_fbxx {width: 180px;border: 1px solid #5bc0de;height: 40px;background: #5bc0de;float: left;display: inline-block;color: #fff;font-size: 16px;padding-top: 6px;text-align: center;cursor: pointer;margin-top: 10px;margin-left: 10px;}
.div_head_right .span_fbxx:hover {background: #31b0d5;}

/*首页_头部_导航*/
.div_nav { width: 1200px;height: 28px;display: block;}
.div_nav .ul_nav { width: 100%;padding: 0;}
.div_nav .ul_nav .li_nav_font{ float: left;font-size: 13px;}
.div_nav .ul_nav .li_nav_split{ float: left;margin-left: 10px;margin-right: 10px;}

/*首页_头部_查询条件*/
.div_condition{background-color: #ffffff;display: block;width: 1200px;height: 180px;border: 1px solid #cccccc;}
.div_condition .ul_condition_head{display: block;width: 100%;height: 40px;padding: 0;}
.div_condition .ul_condition_head .li_condition_head{display: inline-block;float: left;text-align: center;color: #999999;font-size: 16px;width: 100px;height: 40px;padding: 8px 10px;background-color: #eeeff1;cursor: pointer;}
.div_condition .div_condition_body{ width: 100%;height: 40px;}
.div_condition .div_condition_body .ul_condition_body{ padding: 0;width: 1110px;height: 100%;}
.div_condition .div_condition_body .ul_condition_body .li_condition_body_first{ font-weight: 700;color: #999999;float: left;font-size: 13px;display: inline-block;width: 80px;height: 100%;padding-left: 20px;}
.div_condition .div_condition_body .ul_condition_body .li_condition_body{ float: left;display: inline-block;width: auto;height: 100%;margin-right: 20px;font-size: 12px;}
.div_condition .div_condition_body .ul_condition_body .li_condition_body:hover{ cursor: pointer;color: #5bc0de;text-decoration: underline;}
.div_condition .div_condition_body .ul_condition_body .li_condition_body_active{color: #5bc0de;}
.div_condition_select{background-color: #ffffff;display: none;width: 1200px;height: 40px;border-bottom: 1px solid #cccccc;border-right: 1px solid #cccccc;border-left: 1px solid #cccccc;padding-top: 8px;}
.div_condition_select .ul_condition_select{display: block;width: 100%;height: 40px;padding: 0;}
.div_condition_select .ul_condition_select .li_condition_select_first{ font-weight: 700;color: #999999;float: left;font-size: 13px;display: inline-block;width: 80px;height: 100%;padding-left: 20px;}
.div_condition_select .ul_condition_select .li_condition_select{ float: left;display: inline-block;margin-top: -4px;width: auto;margin-right: 20px;font-size: 12px;border: 1px solid #cccccc;padding: 6px;}
.div_condition_select .ul_condition_select .li_condition_select:hover{ cursor: pointer;background-color: #eeeff1;}
.div_condition_select .ul_condition_select .li_condition_select em{ margin-left: 10px;color: #999999;}

/*首页_主体_头部*/
.div_body{display: block;width: 1200px;height: 1800px;margin-top: 20px;background-color: #ffffff;}
.div_body .ul_body_head {height: 40px;display: block;padding: 0;width: 100%;border-bottom: 1px solid #cccccc;}
.div_body .ul_body_head .li_body_head {text-align: center;color: #999999;height: 40px;font-size: 16px;float: left;display: inline-block;padding: 6px 20px;}
.div_body .ul_body_head .li_body_head:hover{ cursor: pointer;}

/*首页_主体_左部*/
.div_body .div_body_left{display: inline-block;width: 980px;height: 1760px;background-color: #ffffff;float: left;}
.div_body .div_body_left .ul_body_left{ width: 100%;padding: 0;}
.div_body .div_body_left .ul_body_left .li_body_left{ width: 100%;height: 180px;border-bottom: 1px solid #e6e6e6;padding: 10px;}
.div_body .div_body_left .ul_body_left .li_body_left:hover{ background-color: #f9f9f9;}
.div_body .div_body_left .ul_body_left .li_body_left .div_li_body_left_left{height: 155px;width: 180px;float: left;display: inline-block;position: relative;}
.div_body .div_body_left .ul_body_left .li_body_left .div_li_body_left_left:hover{ cursor: pointer;}
.div_body .div_body_left .ul_body_left .li_body_left .div_li_body_left_left .img_li_body_left{ width: 180px;height: 135px;}
.div_body .div_body_left .ul_body_left .li_body_left .div_li_body_left_left .div_img_li_body_left_count{ padding: 0px 6px;background:rgba(0,0,0,.6);position: absolute;width: 35px;height: 20px;left: 0;bottom: 20px;}
.div_body .div_body_left .ul_body_left .li_body_left .div_li_body_left_left .div_img_li_body_left_count span{ color: #ffffff;}
.div_body .div_body_left .ul_body_left .li_body_left .div_li_body_left_center{ width: 660px;height: 100%;padding: 10px;float: left;display: inline-block;}
.div_body .div_body_left .ul_body_left .li_body_left .div_li_body_left_center .p_li_body_left_center_bt{ font-size: 20px;font-weight: 700;height: 35px;}
.div_body .div_body_left .ul_body_left .li_body_left .div_li_body_left_center .p_li_body_left_center_bt:hover{ cursor: pointer;color: #5bc0de;text-decoration: underline;}
.div_body .div_body_left .ul_body_left .li_body_left .div_li_body_left_center .p_li_body_left_center_cs{ color: #999999;height: 35px;}
.div_body .div_body_left .ul_body_left .li_body_left .div_li_body_left_center .p_li_body_left_center_dz{ color: #999999;height: 35px;}
.div_body .div_body_left .ul_body_left .li_body_left .div_li_body_left_right{ width: 120px;height: 100%;display: inline-block;float: left;padding-top: 10px;}
.div_body .div_body_left .ul_body_left .li_body_left .div_li_body_left_right .p_li_body_left_right{color: #ef6100;font-size: 16px;}
.div_body .div_body_left .ul_body_left .li_body_left .div_li_body_left_right .p_li_body_left_right .span_zj{font-size: 28px;font-weight: 700;margin-right: 5px;}

/*首页_主体_左部_分页*/
.div_body .div_body_left .div_main_info_bottom {background-color: #fff;text-align: center;height: 38px;color: #333;font-size: 14px;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;padding-left: 10px;padding-top: 8px;}
.div_body .div_body_left .div_main_info_bottom .div_main_info_bottom_fy { width: 100%;}
.div_body .div_body_left .div_main_info_bottom .div_main_info_bottom_fy .a_main_info_bottom_fy {line-height: 18px;cursor: pointer;text-decoration: none;font-size: 16px;background-color: #ffffff;border: 1px solid #dee3e7;padding: 10px 10px;display: inline-block;margin: 0 6px;color: #333;}
.div_body .div_body_left .div_main_info_bottom .div_main_info_bottom_fy .a_main_info_bottom_fy:hover {background-color: #5bc0de;text-decoration: none;color: #ffffff;}
.div_body .div_body_left .div_main_info_bottom .div_main_info_bottom_fy .a_main_info_bottom_fy_current {background-color: #5bc0de;color: #ffffff;}

/*首页_主体_右部*/
.div_body .div_body_right{display: inline-block;width: 200px;height: 1760px;}
.div_body .div_body_right .p_div_body_right{ font-size: 18px;float: left;display: block;margin-left: 18px;}
.div_body .div_body_right .ul_body_right{height: 100%;width: 100%;padding: 0;}
.div_body .div_body_right .ul_body_right .li_body_right{width: 180px;height: 210px;border: 1px solid #e6e6e6;padding: 8px;float: left;margin-left: 18px;margin-bottom: 10px;}
.div_body .div_body_right .ul_body_right .li_body_right:hover{ cursor: pointer;}
.div_body .div_body_right .ul_body_right .li_body_right .img_li_body_right{ height: 120px;width: 100%;margin-bottom: 10px;}
.div_body .div_body_right .ul_body_right .li_body_right .p_li_body_right_xq{ width: 100%;height: 20px;display: block;margin-bottom: 2px;font-size: 12px;}
.div_body .div_body_right .ul_body_right .li_body_right .p_li_body_right_cs{ width: 100%;height: 20px;display: block;color: #999999;margin-bottom: 2px;font-size: 13px;}
.div_body .div_body_right .ul_body_right .li_body_right .p_li_body_right_jg{width: 100%;height: 20px;display: block;color: #ef6100;font-size: 16px;margin-bottom: 2px;}
