body {
    width: 100%;
    height: 100%;
    font-family: 微软雅黑;
}

.div_head {
    margin-top: 20px;
    z-index: 1001;
    position:relative;
}

.div_row {
    width: 900px;
    text-align: left;
    padding-top: 2px;
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 62px;
    position: relative;
    display: block;
}