body {
    width: 100%;
    height: 100%;
    font-family: 微软雅黑;
}

.div_head {
    margin-top: 20px;
    z-index: 1001;
    position: relative;
}

.divSplit {
    display: block; 
    text-align: left
}

.div_row {
    width: 900px;
    text-align: left;
    padding-top: 2px;
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 62px;
    position: relative;
    display: block;
}

.div_row_left {
    color: black;
    text-align: right;
    margin-left: 100px;
    display: inline;
    font-size: 14px;
}

.div_row_right {
    display: inline;
    margin-left: 30px;
    position: relative;
}

.div_radio {
    cursor: pointer;
    display: inline-block;
}

.label_radio {
    font-weight: normal;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}

.img_radio {
    width: 18px;
    height: 18px;
    cursor: pointer;
    border: none !important;
}

.div_select_out {
    display: inline-block;
    width: 128px;
    height: 34px;
}

.div_select_in {
    border: 1px solid #cccccc;
    display: inline-block;
    width: 128px;
    height: 34px;
    border-radius: 4px;
    font-size: 14px;
}

.div_select_dropdown {
    float: left;
    width: 129px;
}

.span_select {
    display: inline-block;
    width: 105px;
    height: 30px;
    text-align: center;
    margin-top: 4px;
}

.span_select_arrow {
    background-image: url(../images/arrow_down.png);
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.input_spaninput {
    width: 100px;
    margin-top: 1px;
    border: none;
    height: 30px;
    text-align: center;
}

.span_spaninput {
    border: 1px solid #cccccc;
    display: inline-block;
    width: 128px;
    height: 34px;
    border-radius: 4px;
    font-size: 14px;
}

.spaninput_fontcolor {
    color: #333333;
}
