.input_text {
    width: 390px;
}

#tdSJ {
    text-align: left !important;
}

#btnHQYZM {
    vertical-align: top !important;
    width: 120px !important;
}

tr {
    text-align: center;
    border-top: 0px !important;
}

td {
    text-align: center;
    border: 0px !important;
}

.title {
    font-family: "宋体";
    font-size: 30px;
}

.form-control {
    display: inline !important;
}

.error {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) box-shadow：inset 0px 1px 1px rgba(0,0,0,0.075) color：#999;
}

.Info {
    font-family: 微软雅黑 !important;
    vertical-align: middle !important;
    text-align: left !important;
}

.tooltip-inner {
    max-width: 330px !important;
    background-color: #fff;
    border: 1px solid #999;
    color: #000;
}

li {
    list-style-type: none;
}

.box {
    position: relative;
    width: 300px;
    height: 34px;
    border-radius: 4px;
    background: #cccccc;
    line-height: 30px;
    overflow: hidden;
    color: #fff;
    font-size: 12px;
    border: 1px solid #cccccc;
}

.dragEle {
    position: absolute;
    top: 0;
    left: 0;
    height: 34px;
    width: 40px;
    background: #fff;
    color: #ccc;
    border-radius: 4px;
    text-align: center;
    cursor: move;
    z-index: 99;
}

.dragTip {
    position: absolute;
    top: 0;
    left: 0;
    height: 34px;
    width: 40px;
    background: #5bc0de;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    font-size: 14px;
}

.dragTipInner {
    width: 300px;
}

.tips {
    text-align: center;
    font-size: 14px;
}

.spanZDDD {
    vertical-align: top;
    margin-left: 1px;
    font-size: 14px;
    color: #999;
}

#aWJMM {
    cursor: pointer;
    text-decoration: none;
    color: #666;
    vertical-align: top;
    font-size: 14px;
    float: right;
}

.imgstep {
    width: 30px;
    height: 30px;
    display: block;
    margin-left: 30%;
    margin-bottom: 5px;
}

.divstep {
    width: 300px;
    text-align: center;
    height: 30px;
    float: left;
    cursor: default;
}

.spanstep {
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 40px;
    color: #333333;
}

.emstep {
    width: 300px;
    height: 2px;
    float: left;
    background: #cccccc;
}

.liHead {
    width: 130px;
    color: white;
    height: 40px;
    font-size: 18px;
    display: inline;
    margin-left: 30px;
    cursor: pointer;
}

.liRightHead {
    width: 120px;
}

.spanFontColor {
    color: #333333;
}

.input_spaninput {
    margin-top: 1px; 
    border: none; 
    height: 30px; 
    text-align: center;
    width: 100px;
}

/*清除谷歌浏览器下的 search 叉号*/
/*input::-webkit-search-cancel-button{
  display: none;
}*/
/*清除IE下的 search 叉号*/
input[type=text]::-ms-clear{
  display: none;
}