@{
    Layout = "~/Areas/Business/Views/Shared/HTFB.cshtml";
}
@section Section_Head {
    <link href="@Url.Content("~/Areas/Business/Css/HTFB/QZZP/QZZP_QZZP.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/HTFB/QZZP/QZZP_QZZP.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/HTFB/QZZP/QZZP_QZZPYZ.js")"></script>
}
@section Section_Body {
    <div id="myTabContent" class="div_content">
        <div id="divJBXX" class="div_split" style="display: block; text-align: left">
            <span class="span_split">职位信息</span>
            <em class="em_split"></em>
        </div>
        <div id="divBT" class="div_row" style="margin-top: 22px;">
            <div class="div_row_left font_two">
                <span class="span_required">*</span>
                <span id="spanBT">标题</span>
            </div>
            <div class="div_row_right">
                <input id="BT" maxlength="50" column="BT" class="input_input SRK" type="text" placeholder="吸引人的标题可让更多的人看您的信息喔" />
                <div id="divBTTip"></div>
            </div>
        </div>
        <div id="divOUTLB" class="div_row" style="z-index: 999">
            <div class="div_row_left font_four">
                <span class="span_required">*</span>
                <span class="spanFWCZ">职位类别</span>
            </div>
            <div class="div_row_right">
                <div id="divLBText" class="div_select_out SRK">
                    <div id="divLBSpan" class="div_select_in" style="border: none; margin-top: 6px;">
                        <span id="spanLB" class="span_select spaninput_fontcolor" style="margin-top: 0">请选择职位类别</span>
                        <div class="span_select_arrow"></div>
                    </div>
                    <div id="divLB" class="div_select_dropdown" style="margin-top: -7px; margin-left: -1px;">
                    </div>
                </div>
            </div>
            <div id="divOUTLBTip" class="Warn"></div>
        </div>
        <div id="divOUTXL" class="div_row" style="z-index: 998">
            <div class="div_row_left font_four">
                <span class="span_required">*</span>
                <span class="spanFWCZ">职位名称</span>
            </div>
            <div class="div_row_right">
                <div id="divXLText" class="div_select_out SRK">
                    <div id="divXLSpan" class="div_select_in" style="border: none; margin-top: 6px;">
                        <span id="spanXL" class="span_select spaninput_fontcolor" style="margin-top: 0">请选择职位名称</span>
                        <div class="span_select_arrow"></div>
                    </div>
                    <div id="divXL" class="div_select_dropdown" style="margin-top: -7px; margin-left: -1px;">
                    </div>
                </div>
            </div>
            <div id="divOUTXLTip" class="Warn"></div>
        </div>
        <div id="divZPRS" class="div_row" style="margin-top: 22px; z-index: 997;">
            <div class="div_row_left">
                <span class="span_required">*</span>
                <span class="spanFWCZ">招聘人数</span>
            </div>
            <div class="div_row_right">
                <span id="spanZPRS" class="span_spaninput SRK" style="display: inline-block;">
                    <input class="input_spaninput spaninput_fontcolor" id="ZPRS" maxlength="9" column="ZPRS" type="text" style="width: 120px" />
                    <span class="spaninput_fontcolor">人</span>
                </span>
            </div>
            <div id="divZPRSTip"></div>
        </div>
        <div id="divZPMYXZ" class="div_row" style="z-index: 996;">
            <div class="div_row_left">
                <span class="span_required">*</span>
                <span class="spanFWCZ">薪资待遇</span>
            </div>
            <div class="div_row_right">
                <div id="divMYXZText" class="div_select_out SRK">
                    <div id="divMYXZSpan" class="div_select_in" style="border: none; margin-top: 6px;">
                        <span id="spanMYXZ" class="span_select spaninput_fontcolor" style="margin-top: 0">请选择每月薪资</span>
                        <div class="span_select_arrow"></div>
                    </div>
                    <div id="divMYXZ" class="div_select_dropdown" style="margin-top: -7px; margin-left: -1px;">
                    </div>
                </div>
            </div>
            <div id="divZPMYXZTip" class="Warn" style="z-index: 995;"></div>
        </div>
        <div id="divZWFL" class="div_row" style="z-index: 994;">
            <div class="div_row_left">
                <span class="span_required">&nbsp;</span>
                <span id="spanZWFL">福利待遇</span>
            </div>
            <div id="divZWFLText" class="div_row_right">
            </div>
        </div>
        <div id="divZPXLYQ" class="div_row" style="z-index: 993;">
            <div class="div_row_left">
                <span class="span_required">*</span>
                <span class="spanFWCZ">学历要求</span>
            </div>
            <div class="div_row_right">
                <div id="divXLYQText" class="div_select_out SRK">
                    <div id="divXLYQSpan" class="div_select_in" style="border: none; margin-top: 6px;">
                        <span id="spanXLYQ" class="span_select spaninput_fontcolor" style="margin-top: 0">请选择学历要求</span>
                        <div class="span_select_arrow"></div>
                    </div>
                    <div id="divXLYQ" class="div_select_dropdown" style="margin-top: -7px; margin-left: -1px;">
                    </div>
                </div>
            </div>
            <div id="divZPXLYQTip" class="Warn" style="z-index: 992;"></div>
        </div>
        <div id="divZPGZNX" class="div_row" style="z-index: 991;">
            <div class="div_row_left">
                <span class="span_required">*</span>
                <span class="spanFWCZ">工作年限</span>
            </div>
            <div class="div_row_right">
                <div id="divGZNXText" class="div_select_out SRK">
                    <div id="divGZNXSpan" class="div_select_in" style="border: none; margin-top: 6px;">
                        <span id="spanGZNX" class="span_select spaninput_fontcolor" style="margin-top: 0">请选择工作年限</span>
                        <div class="span_select_arrow"></div>
                    </div>
                    <div id="divGZNX" class="div_select_dropdown" style="margin-top: -7px; margin-left: -1px;">
                    </div>
                </div>
            </div>
            <div id="divZPGZNXTip" class="Warn" style="z-index: 990;"></div>
        </div>
        <div id="divSZQY" class="div_row" style="z-index: 991;">
            <div class="div_row_left">
                <span class="span_required">*</span>
                <span class="spanFWCZ">工作地址</span>
            </div>
            <div class="div_row_right">
                <div id="divQYText" class="div_select_out SRK" style="z-index: 990;">
                    <div id="divQYSpan" class="div_select_in" style="border: none; margin-top: 6px;">
                        <input type="hidden" id="QYCode" />
                        <span id="spanQY" class="span_select spaninput_fontcolor" style="margin-top: 0">请选择区域</span>
                        <div class="span_select_arrow"></div>
                    </div>
                    <div id="divQY" class="div_select_dropdown" style="margin-top: -7px; margin-left: -1px;">
                    </div>
                </div>
                <div id="divDDText" class="div_select_out SRK" style="z-index: 990;">
                    <div id="divDDSpan" class="div_select_in" style="border: none; margin-top: 6px;">
                        <span id="spanDD" class="span_select spaninput_fontcolor" style="margin-top: 0">请选择地段</span>
                        <div class="span_select_arrow"></div>
                    </div>
                    <div id="divDD" class="div_select_dropdown" style="margin-top: -7px; margin-left: -1px;">
                    </div>
                </div>
                <input id="JTDZ" column="JTDZ" class="span_spaninput input_input SRK" type="text" placeholder="请填写具体地址" style="width: 300px" />
            </div>
            <div id="divSZQYTip" class="Warn"></div>
        </div>
        <div id="divXXXX" class="div_split" style="display: block; text-align: left;">
            <span class="span_split">职位描述</span>
            <em class="em_split"></em>
        </div>
        <div id="divBCMS" class="div_row" style="height: 253px; z-index: 989;">
            <div class="div_row_left" style="height: 170px; vertical-align: top;">
                <span class="span_required" style="vertical-align: top">*</span>
                <span id="spanBCMS" style="vertical-align: top">职位描述</span>
            </div>
            <div class="div_row_right">
                <script id="BCMS" type="text/plain" style="width: 594px; height: 200px; display: inline-block;">
                </script>
                <div id="divBCMSTip" class="Warn"></div>
            </div>
        </div>
        <div id="divLXRXX" class="div_split" style="display: block; text-align: left;">
            <span class="span_split">联系人信息</span>
            <em class="em_split"></em>
        </div>
        <div id="divLXR" class="div_row" style="z-index: 990">
            <div class="div_row_left font_three">
                <span class="span_required">*</span>
                <span id="spanLXR">联系人</span>
            </div>
            <div class="div_row_right">
                <input id="LXR" column="LXR" class="input_input SRK" type="text" placeholder="请输入联系人" />
                <div id="divLXRTip"></div>
            </div>
        </div>
        <div id="divLXDH" class="div_row" style="z-index: 989">
            <div class="div_row_left">
                <span class="span_required">*</span>
                <span id="spanLXDH">联系电话</span>
            </div>
            <div class="div_row_right">
                <input id="LXDH" maxlength="11" column="LXDH" class="input_input SRK" type="text" placeholder="请输入联系电话" />
                <div id="divLXDHTip"></div>
            </div>
        </div>
        <div id="divQQ" class="div_row" style="margin-top: -12px;" style="z-index: 988">
            <div class="div_row_left font_three">
                <span class="span_required"></span>
                <span id="spanQQ">微信号</span>
            </div>
            <div class="div_row_right">
                <input column="QQ" maxlength="25" class="input_input SRK" type="text" placeholder="请输入微信号" />
            </div>
        </div>
        <div id="divFB" class="div_split" style="display: block; text-align: center; margin-top: 40px;">
            <input type="button" class="btn btn-info input_text" style="height: 50px; font-size: 24px;" id="btnFB" value="发布" />
        </div>
    </div>
}