@{
    ViewBag.Title = "信息小镇_房产详细信息";
    Layout = "~/Areas/Business/Views/Shared/XXXX.cshtml";
}
@section Section_Head {
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/XXXX/CL/CLXX_MTC.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/XXXX/CLXX/CLXX_SLC.js")"></script>
}
@section Section_Body {
    <div id="divNav" class="div_nav">
    </div>
    <div id="divBody" class="div_body">
        <div id="div_body_left" class="div_body_left">
        </div>
        <div id="div_body_right" class="div_body_right">
        </div>
    </div>
}
