.div_body {
    width: 100%;
    height: 640px;
    display: block;
    border: 1px solid #DEDEDE;
    margin-top: 20px;
    background-color: #FBFBFB;
}

.div_content {
    width: 100%;
    height: 45px;
    display: block;
    padding-left: 40px;
}

.div_content_wtlx {
    height: 240px;
}

.span_step_text {
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    vertical-align: top;
    margin-top: 2px;
    margin-left: 10px;
    display: inline-block;
}

.span_step_first {
    width: 30px;
    height: 30px;
    margin-left: 18px;
    display: inline-block;
    background-image: url(../images/one-blue.png);
}

.span_step_second {
    width: 30px;
    height: 30px;
    margin-left: 18px;
    display: inline-block;
    background-image: url(../images/two-blue.png);
}

.div_wtlx {
    width: 770px;
    height: 100%;
    display: block;
    margin-left: 60px;
    background-color: #fff;
    border: 1px solid #DEDEDE;
}

.div_wtjj {
    width: 770px;
    height: 100%;
    display: block;
    margin-left: 60px;
}

.table_wtlx {
    width: 100%;
    height: 100%;
}

.tr_wtlx {
    height: 30px;
    width: 100%;
}

.td_wtlx_inner_left {
    font-weight: 700;
    width: 100px;
}

.td_wtlx_inner_right {
    width: 670px;
}

.span_wtlx_inner_right {
    width: 157px;
    height: 35px;
    display: inline-block;
    float: left;
    background-color: #eBeBeB;
    cursor: pointer;
    padding-top: 6px;
    margin-right: 10px;
}

.table_wtjj {
    width: 100%;
    height: 100%;
}

.tr_wtjj {
    height: 40px;
    width: 100%;
}

.td_wtjj_inner_left {
    font-weight: 700;
    width: 150px;
    text-align: right;
}

.td_wtjj_inner_right {
    width: 620px;
    text-align: left;
}

.input_content {
    width: 270px;
    cursor: default;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 34px;
    padding: 4px 12px;
    display: inline-block;
    cursor: text;
}

.btn_info {
    background-color: #31b0d5;
}

:-ms-input-placeholder.input_content {
    color: #999;
}

.span_ckxxbh {
    color: #333;
    font-size: 12px;
    cursor: pointer;
}

    .span_ckxxbh:hover {
        color: #ff6a00;
    }

.div_bscyy {
    width: 500px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #DEDEDE;
}
