@{
    Layout = "~/Areas/Business/Views/Shared/HTFB.cshtml";
}
@section Section_Head {
    <link href="@Url.Content("~/Areas/Business/Css/HTFB/PFCG/PFCG_AFSB.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/HTFB/PFCG/PFCG_AFSB.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/HTFB/PFCG/PFCG_AFSBYZ.js")"></script>
}
@section Section_Body {
    <div id="myTabContent" class="div_content">
        <div id="divJBXX" class="div_split" style="display: block; text-align: left">
            <span class="span_split">基本信息</span>
            <em class="em_split"></em>
        </div>
        <div id="divBT" class="div_row" style="margin-top: 22px;">
            <div class="div_row_left font_two">
                <span class="span_required">*</span>
                <span id="spanBT">标题</span>
            </div>
            <div class="div_row_right">
                <input id="BT" maxlength="50" column="BT" class="input_input SRK"  type="text" placeholder="吸引人的标题可让更多的人看您的信息喔"/>
                <div id="divBTTip"></div>
            </div>
        </div>
        <div id="divOUTLB" class="div_row" style="z-index: 999">
            <div class="div_row_left font_two">
                <span class="span_required">*</span>
                <span class="spanFWCZ">类别</span>
            </div>
            <div class="div_row_right">
                <div id="divLBText" class="div_select_out SRK">
                    <div id="divLBSpan" class="div_select_in" style="border: none; margin-top: 6px;">
                        <input type="hidden" id="LBID" />
                        <span id="spanLB" class="span_select spaninput_fontcolor" style="margin-top: 0">请选择类别</span>
                        <div class="span_select_arrow"></div>
                    </div>
                    <div id="divLB" class="div_select_dropdown" style="margin-top: -7px; margin-left: -1px;">
                    </div>
                </div>
            </div>
            <div id="divOUTLBTip" class="Warn"></div>
        </div>
        <div id="divXL" class="div_row" style="z-index: 996; display: none;">
            <div class="div_row_left font_two">
                <span class="span_required">&nbsp;</span>
                <span id="spanXL">小类</span>
            </div>
            <div id="divXLText" class="div_row_right">
            </div>
            <div id="divXLTip" class="Warn" style="z-index: 998;"></div>
        </div>
        <div id="divFWFW" class="div_row" style="z-index: 984;">
            <div class="div_row_left">
                <span class="span_required">&nbsp;</span>
                <span id="spanFWFW">服务范围</span>
            </div>
            <div id="divFWFWText" class="div_row_right">
            </div>
            <div id="divFWFWTip" class="Warn" style="z-index: 983;"></div>
        </div>
        <div id="divXXXX" class="div_split" style="display: block; text-align: left;">
            <span class="span_split">特色描述</span>
            <em class="em_split"></em>
        </div>
        <div id="divBCMS" class="div_row" style="height: 253px; z-index: 995;">
            <div class="div_row_left" style="height: 170px; vertical-align: top;">
                <span class="span_required" style="vertical-align: top">*</span>
                <span id="spanBCMS" style="vertical-align: top">服务介绍</span>
            </div>
            <div class="div_row_right">
                <script id="BCMS" type="text/plain" style="width: 594px; height: 200px; display: inline-block;">
                    </script>
                <div id="divBCMSTip" class="Warn"></div>
            </div>
        </div>
        <div id="divFWZP" class="div_row_zp">
            <div class="div_row_left" style="height: 170px; vertical-align: top;">
                <span class="span_required" style="vertical-align: top">*</span>
                <span id="spanFWZP" style="vertical-align: top">上传照片</span>
            </div>
            <div class="div_row_right">
                <div id="div_upload" class="div_upload">
                    <form action="" enctype="multipart/form-data" id="myform" method="post">
                        <input id="input_upload" unselectable="on" type="file" multiple="multiple" class="file"/>
                    </form>
                </div>
                <div class="div_row_right_zp_info">
                    <span>最多可上传16张，支持多选上传，图片格式jpg/png/jpeg等。有图可使浏览量增加。</span>
                </div>
                <div id="divTPTip" class="Warn"></div>
            </div>
        </div>
        <div id="divFWZPValue" class="div_row_zp div_row_zp_value">
            <div class="div_row_left">
                <span class="span_required"></span>
                <span class="span_row_left_fwzp"></span>
            </div>
            <div id="divImgs1" class="div_row_right div_row_right_zp">
                <ul id="ulImgs1" class="ulImgs"></ul>
            </div>
            <div class="div_row_left">
                <span class="span_required"></span>
                <span class="span_row_left_fwzp"></span>
            </div>
            <div id="divImgs2" class="div_row_right div_row_right_zp">
                <ul id="ulImgs2" class="ulImgs"></ul>
            </div>
            <div class="div_row_left">
                <span class="span_required"></span>
                <span class="span_row_left_fwzp"></span>
            </div>
            <div id="divImgs3" class="div_row_right div_row_right_zp">
                <ul id="ulImgs3" class="ulImgs"></ul>
            </div>
            <div class="div_row_left">
                <span class="span_required"></span>
                <span class="span_row_left_fwzp"></span>
            </div>
            <div id="divImgs4" class="div_row_right div_row_right_zp">
                <ul id="ulImgs4" class="ulImgs"></ul>
            </div>
        </div>
        <div id="divLXRXX" class="div_split" style="display: block; text-align: left;">
            <span class="span_split">联系人信息</span>
            <em class="em_split"></em>
        </div>
        <div id="divSZQY" class="div_row" style="z-index: 991;">
            <div class="div_row_left">
                <span class="span_required">*</span>
                <span class="spanFWCZ">详细地址</span>
            </div>
            <div class="div_row_right">
                <div id="divQYText" class="div_select_out SRK" style="z-index: 990;">
                    <div id="divQYSpan" class="div_select_in" style="border: none; margin-top: 6px;">
                        <input type="hidden" id="QYCode"/>
                        <span id="spanQY" class="span_select spaninput_fontcolor" style="margin-top: 0">请选择区域</span>
                        <div class="span_select_arrow"></div>
                    </div>
                    <div id="divQY" class="div_select_dropdown" style="margin-top: -7px; margin-left: -1px;">
                    </div>
                </div>
                <div id="divDDText" class="div_select_out SRK" style="z-index: 990;">
                    <div id="divDDSpan" class="div_select_in" style="border: none; margin-top: 6px;">
                        <span id="spanDD" class="span_select spaninput_fontcolor" style="margin-top: 0">请选择地段</span>
                        <div class="span_select_arrow"></div>
                    </div>
                    <div id="divDD" class="div_select_dropdown" style="margin-top: -7px; margin-left: -1px;">
                    </div>
                </div>
                <input id="JTDZ" column="JTDZ" class="span_spaninput input_input SRK" type="text" placeholder="请填写具体地址" style="width: 300px"/>
            </div>
            <div id="divSZQYTip" class="Warn" style="z-index: 989;"></div>
        </div>
        <div id="divLXR" class="div_row" style="z-index: 990">
            <div class="div_row_left font_three">
                <span class="span_required">*</span>
                <span id="spanLXR">联系人</span>
            </div>
            <div class="div_row_right">
                <input id="LXR" column="LXR" class="input_input SRK" type="text" placeholder="请输入联系人"/>
                <div id="divLXRTip"></div>
            </div>
        </div>
        <div id="divLXDH" class="div_row" style="z-index: 989">
            <div class="div_row_left">
                <span class="span_required">*</span>
                <span id="spanLXDH">联系电话</span>
            </div>
            <div class="div_row_right">
                <input id="LXDH" maxlength="15" column="LXDH" class="input_input SRK" type="text" placeholder="请输入联系电话"/>
                <div id="divLXDHTip"></div>
            </div>
        </div>
        <div id="divQQ" class="div_row" style="margin-top: -12px;" style="z-index: 988">
            <div class="div_row_left font_three">
                <span class="span_required"></span>
                <span id="spanQQ">微信号</span>
            </div>
            <div class="div_row_right">
                <input column="QQ" class="input_input SRK" type="text" placeholder="请输入微信号"/>
            </div>
        </div>
        <div id="divFB" class="div_split" style="display: block; text-align: center; margin-top: 40px;">
            <input type="button" class="btn btn-info input_text" style="height: 50px; font-size: 24px;" id="btnFB" value="发布"/>
        </div>
    </div>
}