<?xml version="1.0" encoding="utf-8"?>
<ArrayOfDataSource xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                   comment="数据源配置信息，可以配置多个数据源，至少需要配置一个默认的数据源。">


  <!--<DataSource>
    <SourceName>JHBA</SourceName>
    <SourceFile>Bin\hibernate2.cfg.xml</SourceFile>
    <AssemblyName>Teleware.JHBA</AssemblyName>
  </DataSource>
  <DataSource>
    <SourceName>YSBA</SourceName>
    <SourceFile>Bin\hibernate3.cfg.xml</SourceFile>
    <AssemblyName>Teleware.YSBA</AssemblyName>
  </DataSource>-->

  <DataSource>
    <SourceName>Default</SourceName>
    <SourceFile>Bin\hibernate.cfg.xml</SourceFile>
    <AssemblyName>TianWen.XiaoZhen1Qu.Entities</AssemblyName>
    <IsExportTo>false</IsExportTo>
    <ExportPath>E:\temp\</ExportPath>
  </DataSource>
</ArrayOfDataSource>