@{
    ViewBag.Title = "WDFB";
    Layout = "~/Areas/Business/Views/Shared/_ListLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/WDFB.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/Business/Scripts/jquery-ui-1.12.1.custom/jquery-ui.min.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/WDFB.js")"></script>
</head>
<body>
    <div class="wdfb_right_head">
        <div class="divstep" id="divZXXX">
            <span class="spanstep" id="spanZXXX">最新信息</span>
            <em class="emstep" id="emZXXX"></em>
        </div>
        <div class="divstep" id="divXSZXX">
            <span class="spanstep" id="spanXSZXX">显示中的信息</span>
            <em class="emstep" id="emXSZXX"></em>
        </div>
        <div class="divstep" id="divSHZXX">
            <span class="spanstep" id="spanSHZXX">审核中的信息</span>
            <em class="emstep" id="emSHZXX"></em>
        </div>
        <div class="divstep" id="divYSCXX">
            <span class="spanstep" id="spanYSCXX">已删除的信息</span>
            <em class="emstep" id="emYSCXX"></em>
        </div>
        <div class="divstep" id="divWXSXX">
            <span class="spanstep" id="spanWXSXX">未显示信息</span>
            <em class="emstep" id="emWXSXX"></em>
        </div>
        <div class="divstep">
            <span class="spanstep" id="spanOther">&nbsp;</span>
            <em class="emstep" id="emOther" style="width: 250px;"></em>
        </div>
    </div>
    <div id="div_main_info" class="div_main_info">
        
    </div>
</body>
</html>
