







.label_radio {
    font-weight: normal;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}



.img_KCTSLB {
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: none !important;
    margin-right: 5px;
}














































.img_CWKJPGLB {
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: none !important;
    margin-right: 5px;
}

.liCWKJPGLB {
    display: inline-block;
    width: 105px;
    height: 30px;
    text-align: left;
    margin-top: 4px;
    cursor: pointer;
}

.div_radio {
    cursor: pointer;
    display: inline-block;
}