







.label_radio {
    font-weight: normal;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}
















































.img_JXSBWXLB {
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: none !important;
    margin-right: 5px;
}

.liJXSBWXLB {
    display: inline-block;
    width: 150px;
    height: 30px;
    text-align: left;
    margin-top: 4px;
    cursor: pointer;
}

.div_radio {
    cursor: pointer;
    display: inline-block;
}



















