@{
    ViewBag.Title = "SWFW_HYZX";
    Layout = "~/Areas/Business/Views/Shared/HTFB.cshtml";
}
@section Section_Head {
    <link href="@Url.Content("~/Areas/Business/Css/HTFB/SWFW/SWFW_HYZX.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/HTFB/SWFW/SWFW_HYZX.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/HTFB/SWFW/SWFW_HYZXYZ.js")"></script>
}
@section Section_Body {
    <div id="myTabContent" class="div_content">
    <div id="divJBXX" class="div_split" style="display: block; text-align: left">
        <span class="span_split">基本信息</span>
        <em class="em_split"></em>
    </div>
    <div id="divYSFW" class="div_row">
        <div class="div_row_left">
            <span class="span_required">*</span>
            <span class="spanFWCZ">运送范围</span>
        </div>
        <div class="div_row_right">
            <div id="div_ysfw_gnhyzx" class="div_radio">
                <img class="img_radio" id="img_ysfw_gnhyzx"/><label class="label_radio">国内货运专线</label>
            </div>
            <div id="div_ysfw_gjhyzx" class="div_radio">
                <img class="img_radio" id="img_ysfw_gjhyzx"/><label class="label_radio">国际货运专线</label>
            </div>
        </div>
        <div id="divYSFWTip"></div>
    </div>
    <div id="divSZQY" class="div_row" style="z-index: 999;">
        <div class="div_row_left" style="margin-left: 114px;">
            <span class="span_required">*</span>
            <span class="spanFWCZ">出发地</span>
        </div>
        <div class="div_row_right">
            <div id="divQYText" class="div_select_out SRK" style="z-index: 997;">
                <div id="divQYSpan" class="div_select_in" style="border: none; margin-top: 6px;">
                    <input type="hidden" id="QYCode"/>
                    <span id="spanQY" class="span_select spaninput_fontcolor" style="margin-top: 0">请选择区域</span>
                    <div class="span_select_arrow"></div>
                </div>
                <div id="divQY" class="div_select_dropdown" style="margin-top: -7px; margin-left: -1px;">
                </div>
            </div>
            <div id="divDDText" class="div_select_out SRK" style="z-index: 997;">
                <div id="divDDSpan" class="div_select_in" style="border: none; margin-top: 6px;">
                    <span id="spanDD" class="span_select spaninput_fontcolor" style="margin-top: 0">请选择地段</span>
                    <div class="span_select_arrow"></div>
                </div>
                <div id="divDD" class="div_select_dropdown" style="margin-top: -7px; margin-left: -1px;">
                </div>
            </div>
        </div>
        <div id="divSZQYTip"></div>
    </div>
    <div id="divDDD" class="div_row" style="z-index: 998">
        <div class="div_row_left" style="margin-left: 114px;">
            <span class="span_required">*</span>
            <span id="spanDDD">到达地</span>
        </div>
        <div class="div_row_right">
            <input id="DDD" column="DDD" class="span_spaninput input_input SRK" type="text" placeholder="请输入到达地"/>
            <div id="divDDDTip"></div>
        </div>
    </div>
    <div id="divHYTD" class="div_row">
        <div class="div_row_left">
            <span class="span_required">*</span>
            <span class="spanFWCZ">货运通道</span>
        </div>
        <div class="div_row_right">
            <div id="div_hytd_gl" class="div_radio">
                <img class="img_radio" id="img_hytd_gl"/><label class="label_radio">公路</label>
            </div>
            <div id="div_hytd_tl" class="div_radio">
                <img class="img_radio" id="img_hytd_tl"/><label class="label_radio">铁路</label>
            </div>
            <div id="div_hytd_hk" class="div_radio">
                <img class="img_radio" id="img_hytd_hk"/><label class="label_radio">航空</label>
            </div>
            <div id="div_hytd_hey" class="div_radio">
                <img class="img_radio" id="img_hytd_hey"/><label class="label_radio">河运</label>
            </div>
            <div id="div_hytd_haiy" class="div_radio">
                <img class="img_radio" id="img_hytd_haiy"/><label class="label_radio">海运</label>
            </div>
        </div>
        <div id="divHYTDTip"></div>
    </div>
    <div id="divSFWF" class="div_row">
        <div class="div_row_left">
            <span class="span_required">*</span>
            <span class="spanFWCZ">是否往返</span>
        </div>
        <div class="div_row_right">
            <div id="div_sfwf_dx" class="div_radio">
                <img class="img_radio" id="img_sfwf_dx"/><label class="label_radio">单向</label>
            </div>
            <div id="div_sfwf_sx" class="div_radio">
                <img class="img_radio" id="img_sfwf_sx"/><label class="label_radio">双向</label>
            </div>
        </div>
        <div id="divSFWFTip"></div>
    </div>
    <div id="divYWZZ" class="div_row">
        <div class="div_row_left">
            <span class="span_required">*</span>
            <span class="spanFWCZ">有无中转</span>
        </div>
        <div class="div_row_right">
            <div id="div_ywyz_zd" class="div_radio">
                <img class="img_radio" id="img_ywzz_zd"/><label class="label_radio">直达</label>
            </div>
            <div id="div_ywyz_yzz" class="div_radio">
                <img class="img_radio" id="img_ywzz_yzz"/><label class="label_radio">有中转</label>
            </div>
            <div id="div_ywyz_ly" class="div_radio">
                <img class="img_radio" id="img_ywzz_ly"/><label class="label_radio">联运</label>
            </div>
        </div>
        <div id="divYWZZTip"></div>
    </div>
    <div id="divBC" class="div_row">
        <div class="div_row_left" style="margin-left: 128px;">
            <span class="span_required">*</span>
            <span class="spanFWCZ">班次</span>
        </div>
        <div class="div_row_right">
            <div id="div_bc_gdbc" class="div_radio">
                <img class="img_radio" id="img_bc_gdbc"/><label class="label_radio">固定班次</label>
            </div>
            <div id="div_bc_bgdbc" class="div_radio">
                <img class="img_radio" id="img_bc_bgdbc"/><label class="label_radio">不固定班次</label>
            </div>
        </div>
        <div id="divBCTip"></div>
    </div>
    <div id="divTZSJ" class="div_row" style="z-index: 990">
        <div class="div_row_left">
            <span class="span_required">*</span>
            <span id="spanTZSJ">途中时间</span>
        </div>
        <div class="div_row_right">
            <input id="TZSJ" column="TZSJ" class="span_spaninput input_input SRK" type="text" placeholder="请输入途中时间"/>
        </div>
        <div id="divTZSJTip"></div>
    </div>
    <div id="divZHFS" class="div_row" style="z-index: 997;">
        <div class="div_row_left">
            <span class="span_required">*</span>
            <span id="spanZHFS">组货方式</span>
        </div>
        <div id="divZHFSText" class="div_row_right" style="position: relative;">
        </div>
        <div id="divZHFSTip"></div>
    </div>
    <div id="divHWZL" class="div_row" style="z-index: 996;">
        <div class="div_row_left">
            <span class="span_required">*</span>
            <span id="spanHWZL">货物种类</span>
        </div>
        <div id="divHWZLText" class="div_row_right" style="position: relative;">
        </div>
        <div id="divHWZLTip"></div>
    </div>
    <div id="divFWYS" class="div_row" style="z-index: 995;">
        <div class="div_row_left">
            <span class="span_required">*</span>
            <span id="spanFWYS">服务延伸</span>
        </div>
        <div id="divFWYSText" class="div_row_right" style="position: relative;">
        </div>
        <div id="divFWYSTip"></div>
    </div>
    <div id="divYSJG" class="div_row" style="z-index: 994">
        <div class="div_row_left">
            <span class="span_required">*</span>
            <span id="spanYSJG">运输价格</span>
        </div>
        <div class="div_row_right">
            <input id="YSJG" column="YSJG" class="span_spaninput input_input SRK" type="text" placeholder="请输入运输价格" style="width: 150px;"/>
            <div id="divYSJGDWText" class="div_select_out SRK" style="z-index: 997;">
                <div id="divYSJGDWSpan" class="div_select_in" style="border: none; margin-top: 6px;">
                    <span id="spanYSJGDW" class="span_select spaninput_fontcolor" style="margin-top: 0">元/吨</span>
                    <div class="span_select_arrow"></div>
                </div>
                <div id="divYSJGDW" class="div_select_dropdown" style="margin-top: -7px; margin-left: -1px;">
                </div>
            </div>
            <div id="divYSJGTip"></div>
        </div>
    </div>
    <div id="divXXXX" class="div_split" style="display: block; text-align: left; z-index: 993;">
        <span class="span_split">特色描述</span>
        <em class="em_split"></em>
    </div>
    <div id="divBCMS" class="div_row" style="height: 253px; z-index: 992;">
        <div class="div_row_left" style="height: 170px; vertical-align: top;">
            <span class="span_required" style="vertical-align: top">*</span>
            <span id="spanBCMS" style="vertical-align: top">服务介绍</span>
        </div>
        <div class="div_row_right">
            <script id="BCMS" type="text/plain" style="width: 594px; height: 200px; display: inline-block;">
                    </script>
            <div id="divBCMSTip" class="Warn"></div>
        </div>
    </div>
    <div id="divFWZP" class="div_row_zp">
        <div class="div_row_left" style="height: 170px; vertical-align: top;">
            <span class="span_required" style="vertical-align: top">*</span>
            <span id="spanFWZP" style="vertical-align: top">上传照片</span>
        </div>
        <div class="div_row_right">
            <div id="div_upload" class="div_upload">
                <form action="" enctype="multipart/form-data" id="myform" method="post">
                    <input id="input_upload" unselectable="on" type="file" multiple="multiple" class="file"/>
                </form>
            </div>
            <div style="margin-left: 214px; font-size: 14px; color: #999999;">
                <span>最多8张，可多选上传，最大10mb。有图可使浏览量增加3倍，并会在推荐位显示。</span>
            </div>
            <div id="divTPTip" style="margin-top: 10px; margin-left: 210px;"></div>
        </div>
    </div>
    <div id="divFWZPValue" class="div_row_zp" style="display: none; text-align: left;">
        <div class="div_row_left" style="height: 170px; vertical-align: top;">
            <span class="span_required"></span>
            <span id="spanFWZP" style="width: 56px; display: inline-block;"></span>
        </div>
        <div id="divImgs1" class="div_row_right" style="display: inline-block; width: 670px;">
            <ul id="ulImgs1" class="ulImgs" style="padding-left: 0px;"></ul>
        </div>
        <div class="div_row_left" style="height: 170px; vertical-align: top;">
            <span class="span_required"></span>
            <span id="spanFWZP" style="width: 56px; display: inline-block;"></span>
        </div>
        <div id="divImgs2" class="div_row_right" style="display: inline-block; width: 670px;">
            <ul id="ulImgs2" class="ulImgs" style="padding-left: 0px;"></ul>
        </div>
    </div>
    <div id="divLXRXX" class="div_split" style="display: block; text-align: left;">
        <span class="span_split">联系人信息</span>
        <em class="em_split"></em>
    </div>
    <div id="divLXR" class="div_row" style="z-index: 990">
        <div class="div_row_left" style="margin-left: 114px;">
            <span class="span_required">*</span>
            <span id="spanLXDH">联系人</span>
        </div>
        <div class="div_row_right">
            <input id="LXR" column="LXR" class="input_input SRK" type="text" placeholder="请输入联系人"/>
            <div id="divLXRTip"></div>
        </div>
    </div>
    <div id="divLXDH" class="div_row" style="z-index: 989">
        <div class="div_row_left">
            <span class="span_required">*</span>
            <span id="spanLXDH">联系电话</span>
        </div>
        <div class="div_row_right">
            <input id="LXDH" maxlength="11" column="LXDH" class="input_input SRK" type="text" placeholder="请输入联系电话"/>
            <div id="divLXDHTip"></div>
        </div>
    </div>
    <div id="divQQ" class="div_row" style="margin-top: -12px;" style="z-index: 988">
        <div class="div_row_left" style="margin-left: 133px;">
            <span class="span_required"></span>
            <span id="spanQQ">QQ</span>
        </div>
        <div class="div_row_right">
            <input column="QQ" class="input_input SRK" type="text" placeholder="请输入QQ"/>
        </div>
    </div>
    <div id="divFB" class="div_split" style="display: block; text-align: center; margin-top: 40px;">
        <input type="button" class="btn btn-info input_text" style="height: 50px; font-size: 24px;" id="btnFB" value="发布"/>
    </div>
    </div>
}