@{
    ViewBag.Title = "YXYZCG";
    Layout = "~/Areas/Business/Views/Shared/_ListLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/Areas/Business/Css/YXYZCG.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/YXYZCG.js")"></script>
</head>
<body style="width: 100%; height: 100%;">
    <div id="divTop" class="div_top">
        <div class="div_top_right">
            
        </div>
    </div>
    <div id="divHead" class="div_head">
        <div class="div_head_left">
            <img class="img_head_left" src="@Url.Content("~/Areas/Business/Css/images/logo.png")" />
            <span class="span_head_left">infotownlet.com</span>
        </div>
    </div>
    <div class="div_split" id="divSplit">
    </div>
<div id="divContent" class="div_content">
    <div class="div_content_tip">
        <img class="img_content_tip" src="@Url.Content("~/Areas/Business/Css/images/ok.png")" />
        <span class="span_content_tip">恭喜您，邮箱认证成功!</span>
    </div>
    
</div>
</body>
</html>