@{
    Layout = "~/Areas/Business/Views/Shared/QT.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>邮箱验证通过</title>
    <link href="@Url.Content("~/Areas/Business/Css/HTGL/WDZH/YXYZCG.css")" rel="stylesheet"/>
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/HTGL/WDZH/YXYZCG.js")"></script>
</head>
<body style="width: 100%; height: 100%;">
    <div id="divTop" class="div_top">
        <div class="div_top_right">

        </div>
    </div>
    <div id="divHead" class="div_head">
        <div class="div_head_left">
            <img class="img_head_left" src="@Url.Content("~/Areas/Business/Css/images/logo.png")" />
            <span class="span_head_left">infotownlet.com</span>
        </div>
    </div>
    <em class="em_head_split"></em>
    <div id="divContent" class="div_content">
        <div class="div_content_tip">
            <img class="img_content_tip" id="img_content_tip" />
            <span class="span_content_tip" id="span_content_tip"></span>
        </div>
        <div class="div_content_tip_info">
            <span class="span_content_tip_left">用户名：</span>
            <span class="span_content_tip_right" id="span_content_tip_right_yhm"></span>
        </div>
        <div class="div_content_tip_info">
            <span class="span_content_tip_left">邮&nbsp;&nbsp;&nbsp;&nbsp;箱：</span>
            <span class="span_content_tip_right" id="span_content_tip_right_yx"></span><span class="span_content_tip_other">(此邮箱可用于登录) </span>
        </div>
        <div class="div_content_tip_info">
            <span class="span_content_tip_left">你的账户成功获得<span class="span_content_tip_xy">50</span>个信用！</span>
        </div>
        <em class="em_head_split" style="margin-top: 250px;"></em>
        <div class="div_content_tip_bottom">
            @@infotownlet.com <span class="span_content_tip_bottom">联系客服</span>
        </div>
    </div>
</body>
</html>