@{
    Layout = "~/Areas/Business/Views/Shared/QT.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Areas/Business/Css/HTGL/WDZH/WXBD.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/HTGL/WDZH/WXBD.js")"></script>
</head>
<body class="body">
    <div class="div_content">
        <div class="div_head">
            <span class="span_head"></span>
        </div>
        <div class="div_body">
            <div class="div_body_title">请用微信扫描下方二维码，在打开的页面中点击“关注”</div>
            <div class="div_body_info">
                <span class="span_body_info" id="span_body_info"></span>
            </div>
        </div>
    </div>
</body>
</html>
