body {
    text-align: center;
}

.div_head {
    display: block;
    width: 900px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    border-radius: 4px;
    height: 82px;
}

.span_content_info_left {
    display: inline-block;
    height: 30px;
    margin-left: 22px;
    margin-top: 10px;
}

.input_content {
    width: 220px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    height: 34px;
    padding: 4px 12px;
    display: inline-block;
    cursor: text;
    margin-left: 4px;
}

.span_content_info {
    margin-left: 10px;
}

.span_content_info_dy {
    margin-left: 10px;
}

:-ms-input-placeholder.input_content {
    color: #999;
}

.div_content {
    width: 900px;
    display: block;
    height: 50px;
    margin-top: 21px;
}

.divstep {
    width: 100px;
    text-align: center;
    height: 40px;
    float: left;
    cursor: pointer;
}

.spanstep {
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 40px;
    color: #cccccc;
}

.emstep {
    width: 100px;
    height: 1px;
    float: left;
    background: #cccccc;
}

.div_main_info {
    display: block;
    width: 100%;
    padding-left: 22px;
}

.div_main_info_body {
    display: block;
    width: 100%;
    height: 75px;
    padding-top: 20px;
}

.img_radio {
    width: 18px;
    height: 18px;
    cursor: pointer;
    border: none !important;
}

.img_radio_wyzf {
    width: 18px;
    height: 18px;
    cursor: pointer;
    border: none !important;
}

.div_main_info_zffs {
    width: 170px;
    height: 36px;
    border: 1px solid #ef6100;
    position: relative;
    padding-top: 1px;
}

.div_main_info_zffs_wyzf {
    width: 136px;
    height: 36px;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    position: relative;
    padding-top: 1px;
    float: left;
    cursor: pointer;
}

.bottom {
    border-bottom: 1px solid #cccccc;
}
.right {
    border-right: 1px solid #cccccc;
}

.div_main_info_tip {
    width: 100%;
    height: 36px;
    display: block;
    text-align: left;
    font-size: 12px;
}

.span_main_info_tip {
    color: #ef6100;
}

.img_select {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.input_main_info_ljzf {
    position: absolute;
    font-size: 14px;
    width: 135px;
    height: 40px;
    cursor: pointer;
    background-color: #31b0d5;
    z-index: 102;
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.input_main_info_right_button:hover {
    background-color: #20a5cc;
}

.div_main_info_body td {
    display: inline-block;
    margin-right: 3px;
    vertical-align: top;
}

.span_main_info_body_bottom {
    font-size: 12px;
}

.span_main_info_body_bottom_xy {
    color: #666;
}

    .span_main_info_body_bottom_xy:hover {
        cursor: pointer;
        text-decoration: underline;
        color: #ef6100;
    }
