@{
    Layout = "~/Areas/Business/Views/Shared/QT.cshtml";
}
@section Section_Head {
    <link href="@Url.Content("~/Areas/Business/Css/Other/YHDL.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Areas/Business/Scripts/Business/Other/YHDL.js")"></script>
}
@section Section_Body {
    <div class="div_head">
        <span class="span_head_main_logo"></span>
    </div>
    <em class="em_head_split"></em>
    <div class="div_body">
        <div class="div_body_yhdl">
            <table class="table" style="width: 300px;">
                <tr>
                    <td class="headtd"><span class="title">欢迎来到风铃网</span></td>
                </tr>
                <tr>
                    <td>
                        <ul id="myTab" class="nav nav-tabs" style="width: 390px">
                            <li id="liMMDL" style="width: 195px" class="active"><a href="#username" data-toggle="tab">用户名密码登录</a></li>
                            <li id="liSJDL" style="width: 195px;"><a href="#cellphone" data-toggle="tab">手机验证码登录</a></li>
                        </ul>
                    </td>
                </tr>
            </table>
            <div id="myTabContent" class="tab-content">
                <div id="username" style="display: block">
                    <table class="table" style="width: 405px;">
                        <tr>
                            <td>
                                <input type="text" class="form-control input_text" id="YHM" column="YHM" placeholder="请输入用户名">
                            </td>
                        </tr>
                        <tr>
                            <td class="Info" id="YHMInfo"></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="password" class="form-control input_text" id="MM" column="MM" placeholder="请输入登录密码">
                            </td>
                        </tr>
                        <tr>
                            <td class="Info" id="MMInfo"></td>
                        </tr>
                        <tr>
                            <td style="text-align: left">
                                <input id="checkMMSFZDDL" type="checkbox" />
                                <span class="spanZDDD">下次自动登录</span>
                                <a class="spanWJMM" id="aWJMM">忘记密码</a>
                                <a class="spanSplit">|</a>
                                <a class="spanYHZC" id="aYHZC1">用户注册</a>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="button" class="btn btn-info input_text" id="MMDL" value="登录" /></td>
                        </tr>
                    </table>
                </div>
                <div id="cellphone" style="display: none">
                    <table class="table" style="width: 405px; ">
                        <tr>
                            <td id="tdSJ">
                                <input class="form-control input_text" id="SJ" maxlength="11" type="text" style="width: 266px;" column="SJ" placeholder="请输入手机号">
                                <input type="button" class="btn btn-info" id="btnHQYZM" value="获取验证码" />
                            </td>
                        </tr>
                        <tr>
                            <td class="Info" id="SJInfo"></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control input_text" id="YZM" column="YZM" placeholder="请输入验证码"></td>
                        </tr>
                        <tr>
                            <td class="Info" id="YZMInfo"></td>
                        </tr>
                        <tr>
                            <td style="text-align: left">
                                <input id="checkSJSFZDDL" type="checkbox" />
                                <span class="spanZDDD">下次自动登录</span>
                                <a class="spanYHZC" id="aYHZC2">用户注册</a>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="button" class="btn btn-info input_text" id="SJDL" value="登录" /></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="div_bottom">
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">关于风铃网</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">联系我们</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">友情链接</span>
        </div>
        <div class="div_bottom_inner">
            <span class="span_div_bottom_inner">推广服务</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">客户服务中心</span>
            <em class="em_div_bottom_inner"></em>
            <span class="span_div_bottom_inner">Copyright&nbsp;©&nbsp;&nbsp;www.infotownlet.com</span>
        </div>
    </div>
}